.choose-file {
    width: 57%;
}
.btn-bottom {
    margin-top: 10px;
    margin-left: 21%;
}
.table-bordered td,.table-bordered tr {
    border: 2px solid #bac2cd;
}
.table-bordered th{
    border: 2px solid #bac2cd;
}
mat-label{
    font-size: 17px;
  }