<div style="margin-left: 50px;margin-right: 80%;margin-top: 3%; width: 100%;">
    <h1 style="font-size: 23px;font-family: 'Times New Roman', Times, serif;color: blue;">
        CCBS Edit
    </h1>
    <div>
        <form [formGroup]="ccbsMappingEditForm" (ngSubmit)="submitForm()">
            <table>
                <tr>
                    <td>
                        <mat-form-field style="width: 200px;">
                            <mat-label> Select BS Name</mat-label>
                            <input #bsInput placeholder="Select BS Name" matInput formControlName="businesssegment"
                                [matAutocomplete]="bs" (focusout)="patch()">
                            <mat-autocomplete #bs="matAutocomplete" [displayWith]="displayFnbs" (opened)="autocompletebsScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let bs of bsList" [value]="bs">{{bs.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width: 200px;margin-left: 50px;">
                            <mat-label>Select CC Name</mat-label>
                            <input #ccInput placeholder="Select CC Name" matInput formControlName="costcentre"
                                [matAutocomplete]="cc" (focusout)="patch()">
                            <mat-autocomplete #cc="matAutocomplete" [displayWith]="displayFncc" (opened)="autocompleteccScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let cc of ccList" [value]="cc">{{cc.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width: 200px;margin-left: 50px;">
                            <mat-label>CCBS Name</mat-label>
                            <input matInput placeholder="CCBS Name" formControlName="name" autocomplete="off" readonly>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field style="width: 200px;margin-top: 20px;">
                            <mat-label>CCBS No</mat-label>
                            <input matInput placeholder="CCBS No" formControlName="no" required readonly>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width: 200px;margin-top: 20px;margin-left: 50px;">
                            <mat-label>Glno</mat-label>
                            <input matInput placeholder="Glno" formControlName="glno" required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width: 200px;margin-top: 20px;margin-left: 50px;">
                            <mat-label>Description</mat-label>
                            <textarea matInput placeholder="Description" formControlName="description" required></textarea>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width: 200px;margin-left: 50px;margin-top: 20px;margin-left: 50px;">
                            <mat-label>Remarks</mat-label>
                            <textarea matInput placeholder="Remarks" formControlName="remarks"></textarea>
                        </mat-form-field>
                    </td>  
                </tr>
            </table>
            <button type="submit" style="border-radius: 40px;margin-left: 10px;" class="btn btn-outline-success">Submit</button>
            <button (click)="cancelCCBSedit()"  class="btn btn-outline-danger"
            style="border-radius: 40px;margin-left: 10px;">Cancel</button>
        </form>
    </div>
</div>


