<div style="margin-left: 10px;" class="container">
    <h1 style="color:blue;font-family:'Times New Roman', Times, serif;font-size:23px">Employee Branch Details</h1>
</div>
<hr>
<div style="margin-left: 30px;">
    <form [formGroup]="Empview">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field style="width: 230px;">
                    <mat-label>Branch Code</mat-label>
                    <input type="text" matInput formControlName="code" readonly required autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 230px;">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name" readonly required autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 230px;">
                    <mat-label>Tan No</mat-label>
                    <input type="text" matInput formControlName="tanno" readonly required autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 230px;">
                    <mat-label>GL No</mat-label>
                    <input type="text" matInput formControlName="glno" readonly required autocomplete="off">
    
                </mat-form-field>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field style="width: 230px;">
                    <mat-label>STD No</mat-label>
                    <input type="text" matInput formControlName="stdno" readonly required autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 230px;">
                    <mat-label>Incharge Name</mat-label>
                    <input type="text" matInput formControlName="incharge" required autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 230px;">
                    <mat-label>Entity</mat-label>
                    <input type="text" matInput formControlName="entity" readonly required autocomplete="off">
    
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 230px;">
                    <mat-label>GST No</mat-label>
                    <input type="text" matInput formControlName="gstin" readonly required autocomplete="off">
                </mat-form-field>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Control Branch Name</mat-label>
                    <input type="text" matInput formControlName="branch" readonly required autocomplete="off" #branchInput>
                </mat-form-field>
            </div>
        </div>
        <h2 style="font-family: 'Times New Roman', Times, serif;font-weight: bold;color: blue;">Address</h2>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Address Line1</mat-label>
                    <input type="text" matInput formControlName="line1" readonly required autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Adderss Line2</mat-label>
                    <input type="text" matInput formControlName="line2" readonly required autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Address Line3</mat-label>
                    <input type="text" matInput formControlName="line3" readonly required autocomplete="off">
                </mat-form-field>
    
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>PinCode</mat-label>
                    <input type="text" matInput formControlName="pincode" readonly required autocomplete="off"
                        #pincodeInput>
    
                </mat-form-field>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>City</mat-label>
                    <input type="text" matInput formControlName="city" readonly required autocomplete="off" #cityInput>
    
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>District</mat-label>
                    <input type="text" matInput formControlName="district" readonly required autocomplete="off"
                        #districtInput>
                </mat-form-field>
    
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>State</mat-label>
                    <input type="text" matInput formControlName="state" readonly required autocomplete="off" #stateInput>
    
                </mat-form-field>
            </div>
        </div>
        <h2 style="color:blue;font-family:'Times New Roman', Times, serif;font-weight:bold">Contact</h2>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Person Name</mat-label>
                    <input type="text" matInput formControlName="personname" readonly required autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Designation</mat-label>
                    <input type="text" matInput formControlName="condesignation" readonly required autocomplete="off"
                        autocomplete="off" #designInput>
    
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Landline1</mat-label>
                    <input matInput formControlName="landline1" readonly required autocomplete="off" autocomplete="off">
                </mat-form-field>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Landline2</mat-label>
                    <input matInput formControlName="landline2" readonly autocomplete="off" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput formControlName="contactnumber" readonly autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Mobile Number2</mat-label>
                    <input matInput formControlName="contactnumber2" readonly autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>EmailId</mat-label>
                    <input type="email" matInput formControlName="conemailid" readonly required autocomplete="off">
                </mat-form-field>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
    
                <mat-form-field style="width: 250px;">
                    <mat-label>Date Of Birth</mat-label>
                    <input type="text" matInput readonly formControlName="condob" autocomplete="off" required>
    
                </mat-form-field>
    
            </div>
            <div class="col-md-3">
    
                <mat-form-field style="width: 250px;">
                    <mat-label>Wedding Day</mat-label>
                    <input type="text" matInput readonly formControlName="conwedday" autocomplete="off">
                </mat-form-field>
            </div>
        </div>
        <div style="text-align:center">
        <button type="button" class="btn btn-danger" style="border-radius:40px;margin-left:15px" (click)="exit_empbranchview()">Back</button>

        </div>
    </form>

</div>
