<div class="container">
    <div style="margin-left: 19px;margin-right: 80%;margin-top: 1%;">
        <h2> LoanChargeType </h2>
        <div>
            <form [formGroup]="loanchargetypeForm" (ngSubmit)="loanchargetypeCreateForm()" autocomplete="off">
                <table>
                    <div>
                        <tr>
                            <td>
                                <mat-form-field style="width: 175px;">
                                    <mat-label>Loan Application</mat-label>
                                    <mat-select formControlName="Loan_Application_id" required>
                                        <mat-option *ngFor="let loanap of LoanAp" [value]="loanap.id"
                                            (click)="getid(loanap.id)">
                                            {{loanap.ApplNo}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field style="width: 175px; margin-left: 50px;">
                                    <mat-label>Vendor Name</mat-label>
                                    <mat-select formControlName="Vendor_Name_id" required>
                                        <mat-option *ngFor="let vendor of vendorList" [value]="vendor">
                                            {{vendor.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field style="width: 175px; margin-left: 50px">
                                    <mat-label>Charge Type</mat-label>
                                    <mat-select formControlName="Charge_Type" required>
                                        <mat-option *ngFor="let loanapp of LoanApp" [value]="loanapp.ChargeType"
                                            (click)="getchargetype(loanapp)">
                                            {{loanapp.ChargeType}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <div *ngIf='amount !="" && amount !=undefined'>
                                    <div style="width: 175px;margin-left: 50px; ">
                                        Amount-{{amount}}
                                    </div>
                                </div>
                                <mat-form-field style="width: 175px;margin-left: 50px; ">
                                    <mat-label>Charge Amount</mat-label>
                                    <input matInput placeholder="Charge Amount" formControlName="Charge_Amount"
                                        type="text" autocomplete="off" required>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field style="width: 175px;margin-left: 50px; ">
                                    <mat-label>Customer ID</mat-label>
                                    <input matInput placeholder="Customer ID" formControlName="CustomerID" type="text"
                                        autocomplete="off" required>
                                </mat-form-field>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <mat-form-field style="width: 175px; ">
                                    <mat-label>Branch Code</mat-label>
                                    <input matInput placeholder="Branch Code" formControlName="BranchCode" type="text"
                                        autocomplete="off" required>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field style="width: 175px;margin-left: 50px; ">
                                    <mat-label>Branch Name</mat-label>
                                    <input matInput placeholder="Branch Name" formControlName="BranchName" type="text"
                                        autocomplete="off" required>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field style="width: 175px;margin-left: 50px; ">
                                    <mat-label>Dr Account No</mat-label>
                                    <input matInput placeholder="Dr Account No" formControlName="DrAcctNo" type="text"
                                        autocomplete="off" required>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field style="width: 175px;margin-left: 50px; ">
                                    <mat-label>Dr Account Name</mat-label>
                                    <input matInput placeholder="Dr Account Name" formControlName="DrAcctName"
                                        type="text" autocomplete="off" required>
                                </mat-form-field>
                            </td>
                            <td>
                                <!-- <mat-form-field style="width: 175px;margin-left: 50px; ">
                                <mat-label>Loan Collateral</mat-label>
                                <input matInput placeholder="Loan Collateral" formControlName="Loan_Collateral_id"   type="text"  autocomplete="off" required>
                            </mat-form-field> -->
                                <!-- <mat-form-field style="width: 175px; margin-left: 50px">
                                <mat-label>Loan Collateral</mat-label>
                                <mat-select formControlName = "Loan_Collateral_id" required>
                                    <mat-option *ngFor="let loancol of LoanCol" 
                                        [value]="loancol.CollateralName">
                                        {{loancol.CollateralName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->
                            </td>
                            <td>
                                <!-- <mat-form-field style="width: 175px;margin-left: 50px; ">
                                <mat-label>Loan Application No</mat-label>
                                <input matInput placeholder="Loan Application No" formControlName="Loan_Appl_no"   type="text"   autocomplete="off" required>
                            </mat-form-field> -->
                            </td>
                        </tr>

                    </div>

                </table>
                <div style="margin-bottom: 30%;">
                    <button type="submit" style="border-radius: 40px;margin-left: 10px;"
                        class="btn btn-outline-primary" [disabled]="loanchargetypeForm.invalid">Add</button>
                    <button type="button" class="btn btn-outline-primary" (click)="onCancelClick()"
                        style="border-radius: 40px;margin-left: 10px;">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive" style="margin-top: 2%;width: 100%;overflow-x: hidden;">
            <table class="table">
                <thead class="table_header">
                    <tr>
                        <th>S. No</th>
                        <th>Application Number</th>
                        <th>Vendor Name</th>
                        <th>Customer ID</th>
                        <th>Branch Name</th>
                        <th>BranchCode</th>
                        <th>Charge Type</th>
                        <th>Charge Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let los of multiple_application_data; index as i">
                        <td> {{(this.currentpage - 1)*pageSize +i+1 }} </td>
                        <td>{{los.Loan_Appl_no}}</td>
                        <td>{{los.vendor_name}}</td>
                        <td>{{los.CustomerID}}</td>
                        <td>{{los.BranchName}}</td>
                        <td>{{los.BranchCode}}</td>
                        <td>{{los.Charge_Type}}</td>
                        <td>{{los.Charge_Amount}}</td>
                        <td>
                            <button mat-icon-button color="warn">
                                <mat-icon class="mat-18" (click)="delete_single_loan_number(los,i)">delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="multiple_application_data ?.length == 0">
                <h3>Records Not Found.. </h3>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-1">
                <div class="example-button-row">
                    <button mat-stroked-button color="primary" [disabled]="multiple_application_data.length==0"
                        (click)="submit_loan_app()">Submit</button>
                </div>
            </div>  
            <div class="col-md-1">
                <div class="example-button-row">
                    <button mat-stroked-button >Back</button>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>