<br>

<h2 style="margin-left: 40px;">
    View Electricity Details 
</h2>
<div class="main-content">
 
    <div>
        <form [formGroup]="viewElectricityForm" (ngSubmit)="viewElectricitySubmit()">
            <table>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>State Name</mat-label>
                            <mat-select formControlName="consumer_state">
                                <mat-option *ngFor="let state of stateName" [value]="state.name">
                                    {{state.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Electricity Board</mat-label>
                            <mat-select formControlName="consumer_board">
                                <mat-option *ngFor="let electricity of electricityBoard" [value]="electricity.name">
                                    {{electricity.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2" (click)="branchname()">
                            <mat-label>Region</mat-label>
                            <input placeholder="branch" matInput formControlName="regioncode" #branchContactInput
                            [matAutocomplete]="branchtype">
                        <mat-autocomplete #branchtype="matAutocomplete" [displayWith]="displaydiss2"
                        (opened)="autocompletebranchnameScroll()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let branch of branchlist"
                                [value]="branch">
                                ({{branch.code}}){{branch.name+ " " }}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2" (click)="premisename()">
                            <mat-label>Premises Name</mat-label>
                                <input placeholder="Site" matInput formControlName="premises_id"  #PremiseContactInput
                                    [matAutocomplete]="producttype">
                                <mat-autocomplete #producttype="matAutocomplete" [displayWith]="displaydiss1"
                                (opened)="autocompletePremisenameScroll()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let premise of premiselistt"
                                        [value]="premise">
                                        ({{premise.code}}){{premise.name+ " " }}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Occupancy Type</mat-label>
                            <input matInput placeholder="Occupancy Type" formControlName= "occupancy_name" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Premises Type</mat-label>
                            <input matInput placeholder="Premises Type" formControlName= "premise_type" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Contact Person</mat-label>
                            <input matInput placeholder="Contact Person" formControlName= "personname"  autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Contact No</mat-label>
                            <input matInput placeholder="Contact No" formControlName="contactno" autocomplete="off">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Consumer No</mat-label>
                            <input matInput placeholder="Consumer No" formControlName="consumer_no" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Consumer Name</mat-label>
                            <input matInput placeholder="Consumer Name" formControlName="consumer_name" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Billing Cycle</mat-label>
                            <input matInput placeholder="Billing Cycle" formControlName="billingcycle" autocomplete="off">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Site ID</mat-label>
                            <input matInput placeholder="Site ID" formControlName="siteid" autocomplete="off">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Remarks</mat-label>
                            <input matInput placeholder="Remarks" formControlName="remarks" autocomplete="off">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div class="btn-bottom">
                <button type="submit" class="btn btn-outline-primary">Submit</button>&nbsp;&nbsp;&nbsp;
                <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary">Close</button>
            </div>
        </form>
    </div>
</div>

