<div style="margin-left: 2%" class="body">
    <mat-tab-group (selectedTabChange)="onChange($event)" >
        <mat-tab id="vendor" label="Vendor Login"></mat-tab>
        <mat-tab id="client" label="Client Login"> </mat-tab>
        <mat-tab id="nonemployee" label="Non Employee Login"> </mat-tab> 
       

    </mat-tab-group>
  
    <div id="login1" *ngIf="vendor">
        
        <div class="center">
        <h1>Vendor Login </h1>
        <form [formGroup]="Vendorlogin" (ngSubmit)="VendorSubmitForm()" >
            <div class="text_field">
                <input formControlName="username" type="text" required />
                <span></span>
                <label>Username</label>
            </div>
            <div class="text_field">
                <input formControlName="password" type="password" required />
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass">Forget password ?</div>
            <input type="submit" (click)="VendorSubmitForm()" name="" value="Sign Up">
            <div class="signup_link">
               
            </div>
        </form>
        </div>
    </div>  

    <div id="login2" *ngIf="client">
        <div class="center">
        <h1>Client Login </h1>
        <form [formGroup]="clientlogin" (ngSubmit)="ClientSubmitForm()">
            <div class="text_field">
                <input type="text" formControlName="username"   required />
                <span></span>
                <label>Username</label>
            </div>
            <div class="text_field">
                <input type="password"  formControlName="password"  required />
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass">Forget password ?</div>
            <input type="submit" (click)="ClientSubmitForm()" name="" value="Sign Up">
            <div class="signup_link">
            
            </div>
        </form>
        </div>
    </div> 

    <div id="login1" *ngIf="nonemp">
        <div class="center">
        <h1>Non Employee Login</h1>
        <form [formGroup]="Nonemplogin" (ngSubmit)="NonempSubmitForm()">
            <div class="text_field">
                <input type="text" formControlName="username"required />
                <span></span>
                <label>Username</label>
            </div>
            <div class="text_field">
                <input type="password" formControlName="password" required />
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass">Forget password ?</div>
            <input type="submit" name="" (click)="NonempSubmitForm()" value="Sign Up">
            <div class="signup_link">
              
            </div>
        </form>
        </div>
    </div> 

</div>