.table_header {
  
    text-align: center;
    font-size: 13px;
}

.filter-btn {
    margin-left: 30px;
}
th{
    text-align:center;
    font-size: 14px;
  }
  tbody td {
    padding: 0.5em 0.1em 1.1em;
}
.container{
    overflow: none;
}
.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    background-color: white !important;
  }
  
//   .first-col {
//     width: 100px;
//     min-width: 100px;
//     max-width: 100px;
//     left: 0px;
//   }
  
//   .second-col {
//     width: 50px;
//     min-width: 50px;
//     max-width: 50px;
//     left: 0px;
//   }
//   .third-col {
//     width: 200px;
//     min-width: 200px;
//     max-width: 200px;
//     left: 100px;
//   }

// tr>th:first-child,tr>td:first-child {
//     position: sticky;
//     left: 0;
//   }
  
//   tr:nth-child(odd) td {
//      background: white;
//   }
  
//   tr:nth-child(even) td {
//      background: gray-200;
//   }