.main-content {
    margin-left: 25px;
    margin-right: 80%;
    margin-top: 3%;
    width: 100%;
}
.input-style {
    width: 175px;
}
.input-style2 {
    width: 175px;
    margin-left: 20px;
}
.btn-bottom {
    margin-bottom: 5%;
}
.btn-outline-primary {
    border-radius: 40px;
}
.btn-link {
    border-radius: 40px;
    margin-left: 10px;
}

