<div class="modal-body">
  <div class="timeline">
    <div class="changes-container">
      <div class="content-new">
        <!-- <div *ngIf="modificationdata.action == 2"> -->
        <div>
          <h3>New data</h3>
        </div>
        <ol>
          <li>
            <div class="li-div">
              <code>Document Group</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.new_data.docgroup_id !=
                    modificationdata.old_data.docgroup_id
                "
              >
                {{ modificationdata.new_data.docgroup_id.name }}</span
              >
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Partner ID</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.new_data.partner_id !=
                    modificationdata.old_data.partner_id
                "
                >{{ modificationdata.new_data.partner_id }}</span
              >
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Period</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.new_data.period !=
                    modificationdata.old_data.period
                "
              >
                {{ modificationdata.new_data.period }}</span
              >
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Remarks</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.new_data.remarks !=
                    modificationdata.old_data.remarks
                "
              >
                {{ modificationdata.new_data.remarks }}</span
              >
            </div>
          </li>
          <li>
            <!-- <div class="li-div">
              <code>Files</code>:<br />
              <span *ngFor="let files of multifile; index as i">
                <tr>
                  <td>{{ i + 1 }}</td>
                  &nbsp;&nbsp;
                  <a (click)="dataa(files)">{{ files.file_name }}</a>
                </tr>
                <br />
                
                <td *ngIf="files.date != 'None'">
                  Date:{{ files.date | date : "dd-MMM-yyyy" }}
                </td>
                <br />
                <td *ngIf="files.date == 'None'">Date:NA</td>
                <br />
              </span>
            </div> -->

            <div class="files-view-in-popup">
              <code>Files</code>
              <div class="change-popup-downlaods">
                <span
                *ngFor="let files of multifile; index as i"
                  class="change-popup-chip"
              
                >
                <!-- (click)="dataa(files)" -->
                <div class="chip-content" >
                  <span>{{ i + 1 }}. </span>
                  <span>{{ files.file_name }}</span>
                  <span *ngIf="files.date != 'None'">
                    Date:{{ files.date | date : "dd-MMM-yyyy" }}
                  </span>
                  <span *ngIf="files.date == 'None'">Date:NA</span>
                  <button
                    matTooltip="download"
                    class="iconbutton"
                    color="primary"
                  >
                    <mat-icon
                      matTooltip="Download"
                      class="material-icons"
                      (click)="dataa(files)"
                      >file_download</mat-icon
                    >
                  </button>
                </div>
                </span>
              </div>
            </div>
          </li>
        </ol>
      </div>

      <div class="content-old" *ngIf="modificationdata.action == 2">
        <div *ngIf="modificationdata.action == 2">
          <h3>Old data</h3>
        </div>
        <ol>
          <li>
            <div class="li-div">
              <code>Document Group</code>:&nbsp;{{
                modificationdata.old_data.docgroup_id.name
              }}
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Partner ID</code>:&nbsp;{{
                modificationdata.old_data.partner_id
              }}
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Period</code>:&nbsp;{{ modificationdata.old_data.period }}
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Remarks</code>:&nbsp;{{ modificationdata.old_data.remarks }}
            </div>
          </li>
          <li>
            <!-- <div class="li-div">
              <code>Files</code>:<br />
              <span *ngFor="let file of multifiles; index as i">
                <tr>
                  <td>{{ i + 1 }}</td>
                  &nbsp;&nbsp;
                  <a (click)="dataa(file)">{{ file.file_name }}</a>
                </tr>
                <br />
               
                <td *ngIf="file.date != 'None'">
                  Date:{{ file.date | date : "dd-MMM-yyyy" }}
                </td>
                <br />
                <td &ngIf="file.date == 'None'">
                  Date:{{ file.date | date : "dd-MMM-yyyy" }}
                </td>
                <br />
              </span>
            </div> -->

            <div class="files-view-in-popup">
              <code>Files</code>
              <div class="change-popup-downlaods">
                <span
                *ngFor="let file of multifiles; index as i"
                  class="change-popup-chip"
              
                >
                <!-- (click)="dataa(file)" -->
                <div class="chip-content" >
                  <span>{{ i + 1 }}. </span>
                  <span>{{  file.file_name }}</span>
                  <span *ngIf="file.date != 'None'">
                    Date:{{ file.date | date : "dd-MMM-yyyy" }}
                  </span>
                  <span *ngIf="file.date == 'None'">  Date:{{ file.date | date : "dd-MMM-yyyy" }}</span>
                  <button
                    matTooltip="download"
                    class="iconbutton"
                    color="primary"
                  >
                    <mat-icon
                      matTooltip="Download"
                      class="material-icons"
                      (click)="dataa(file)"
                      >file_download</mat-icon
                    >
                  </button>
                </div>
                </span>
              </div>
            </div>
          </li>
        </ol>
      </div>

      <div style="clear: both"></div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-primary"
    style="border-radius: 40px"
    (click)="Cancel()"
  >
    Cancel
  </button>
</div>
