<main style="margin-top:1%;margin-left:15px">
    <h2>Aging Report</h2>
</main>
<form [formGroup]="removalsummary" style="margin-top:1%;margin-left:15px">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <mat-label>Barcode No.</mat-label>
                <input matInput formControlName="barcode_num">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="picker1" placeholder="Date" autocomplete="off"
                    formControlName="fromDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="picker1" placeholder="Date" autocomplete="off"
                    formControlName="toDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-label>Expires In</mat-label>
            <mat-form-field>
                
                <mat-select matInput formControlName="expires" required>
                    <mat-option>In 1 Day</mat-option>
                    <mat-option>In 5 Days</mat-option>
                    <mat-option>In 15 Days</mat-option>
                    <mat-option>In 30 Days</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <mat-label>Action</mat-label>
                <mat-select matInput formControlName="actions">
                    <mat-option>-=
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <button matTooltip="Search Records" class="btn btn-outline-success" style="margin-left:5%" 
                color="primary"><i class="fa fa-search" aria-hidden="true"></i></button>
            <button class="btn btn-outline-dark" matTooltip="Clear Entries" style="margin-left:20px"
                id="rmubtn">Clear</button>
        </div>
    </div>


</form>
<div id="archsummary" class="table-responsive">
    <!--Maker Summary-->
    <table class="table table-bordered" id="archivetable">
        <thead class="table_header">
            <th>S.No</th>
            <th>Barcode Number</th>
            <th>Department</th>
            <th>Product</th>
            <th>Expiration Date</th>            
            <th>Action</th>
        </thead>
        <tbody>
            <td>1</td>
            <td>NP098987767</td>
            <td>ECF</td>
            <td>File</td>            
            <td>30/07/2022</td>
            <td style="text-align:center;">
                <mat-icon  matTooltip="Send Notification">notifications_active</mat-icon>
            </td>
        </tbody>
    </table>