:host ::ng-deep .mat-grid-tile .mat-figure {
    justify-content: space-between !important;
    display: flow-root !important;
}

.heading {
    font-size: 90%;
    font-weight: bold;
}

.subheading {
    font-size: 80%;
    font-weight: bold;
}
