<div class="container">
    <h1 style="font-family: 'Times New Roman', Times, serif;font-size: 23px;color: blue;">Electricity Details CO & DO Approval Summary</h1>
</div><hr>
<div class="container">
    <form [formGroup]="codosearchform">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Consumer No</mat-label>
                    <input type="text" matInput formControlName="consumerno">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Choose Branch</mat-label>
                    <input type="text" matInput formControlName="branch">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Status</mat-label>
                    <!-- <input type="text" matInput formControlName="branch"> -->
                    <mat-select formControlName="status">
                        <mat-option value="Modified">Modified</mat-option>
                        <mat-option value="Submitted">Submitted</mat-option>
                        <mat-option value="Resubmitted">Resubmitted</mat-option>
                        <mat-option value="Approved">Approved</mat-option>
                        <mat-option value="Rejected">Rejected</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <button mat-mini-fab type="button" (click)="searchsummarydata()" style="background-color: rgb(130, 182, 130);"><mat-icon>search</mat-icon></button>
                <button type="button" class="btn btn-outline-danger" style="border-radius: 40px;height: 40px;">Reset</button>
                <!-- <button mat-mini-fab type="button" style="background-color:rgb(130, 182, 130) ;margin-left: 10px;" (click)="navigaredata()"><mat-icon>add</mat-icon></button> -->
            </div>
        </div>
    </form>
    <table class="table table-bordered" style="width: 95%;font-size: 14px;">
        <thead class="table_header">
            <tr>
                <th>S.No</th>
                <th>Consumer No</th>
                <th>Consumer Name</th>
                <th>Branch Name</th>
                <th>State</th>
                <th>Board Name</th>
                <th>Circle</th>
                <th>Active/Deactive</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of summarydata;let i=index">
                <td>{{(presentpage-1)*pagesize+i+1}}</td>
                <td><a style="text-decoration: none;color: blue;" (click)="uploaddata(d)">{{d.consumer_no}}</a></td>
                <td>{{d.consumer_name}}</td>
                <td>{{d['branch_id'].name}}</td>
                <td>{{d.consumer_state}}</td>
                <td>{{d.consumer_board}}</td>
                <td></td>
                <td>{{d.status==1?'Active':'Inactive'}}</td>
                <td>{{d['consumer_status'].status}}</td>
            </tr>
            <tr *ngIf="summarydata.length==0">
                <td colspan="9">
                    No Records Found..
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <div>
                        <button type="button" mat-icon-button (click)="previousdata()" [disabled]="!has_previous" color="primary"><mat-icon>arrow_back</mat-icon></button>
                        {{presentpage}}
                        <button type="button" mat-icon-button (click)="nextdata()" [disabled]="!has_next" color="primary"><mat-icon> arrow_forward</mat-icon></button>
                    </div>
                </td>
                <td colspan="2">
                    Total Count:
                </td>
            </tr>
        </tbody>
    </table>
</div>