<div class="container-fluid" id="maindiv">
    <!-- <div class="bgcolor"> -->
    <!-- <nav id="navshow">
            <div class="nav nav-tabs">
                <span #myDiv class="nav-item nav-link" id="subname" [ngClass]="(selectedtab == tabs[i].name)?'active':''"  data-toggle="tab"
                    (click)="submodule(sub)" role="tab" *ngFor="let sub of tabs;index as i"
                    style="color: black;font-size: medium;">
                    {{sub.name}}
                </span>
            </div>
        </nav> -->
    <nav id="navshow" class="cus-tmsNavContainer">
        <div class="nav nav-tabs cus-tmsNav">

            <a class="nav-item nav-link" style="color:black;cursor: pointer;"
                [ngClass]="(selectedtab == tabs[ind].name)?'active':''" data-toggle="tab"
                *ngFor="let tab of tabs;let ind=index" (click)="submodule(ind)" #tabelem>{{tab.name}}</a>
        </div>
    </nav>
    <h2 *ngIf="branch" style="float:right;height: 1px;"><span>Branch/Dept:</span><label style="color:green">{{
            branch}}</label> </h2>
    <!-- <ng-container *ngIf="tab1 == selectedtab">
        <app-barcode-request-summary></app-barcode-request-summary>
    </ng-container> -->

    <!-- <ng-container *ngIf="tab2 == selectedtab">
        <app-barcode-assign-summary></app-barcode-assign-summary>
    </ng-container> -->
    <ng-container *ngIf="tab3 == selectedtab">
        <app-archival-summary></app-archival-summary>
    </ng-container>

    <ng-container *ngIf="tab4 == selectedtab">
        <app-retrieval-summary></app-retrieval-summary>
    </ng-container>
    <ng-container *ngIf="tab6 == selectedtab">
        <app-culling-processed-summary></app-culling-processed-summary>
    </ng-container>

    <!-- <ng-container *ngIf="tab6 == selectedtab">
        <app-return></app-return>
    </ng-container> -->

    <ng-container *ngIf="tab8 == selectedtab">
        <app-adminpage></app-adminpage>
    </ng-container>
    <ng-container *ngIf="tab9 == selectedtab">
        <app-vendorpage></app-vendorpage>
    </ng-container>
    <ng-container *ngIf="tab10 == selectedtab">
        <app-destroy></app-destroy>
    </ng-container>
    <ng-container *ngIf="tab11 == selectedtab">
        <app-destroysummary></app-destroysummary>
    </ng-container>

    <ng-container *ngIf="tab5 == selectedtab">
        <app-culling-summary></app-culling-summary>
    </ng-container>

    <ng-container *ngIf="tab13 == selectedtab">
        <app-legitimate></app-legitimate>
    </ng-container>


    <ng-container *ngIf="tab14 == selectedtab">
        <app-destroyapprove></app-destroyapprove>
    </ng-container>
    <ng-container *ngIf="tabs15 == selectedtab">
        <app-agingbucket></app-agingbucket>
    </ng-container>

    <ng-container *ngIf="tab16 == selectedtab">
      <app-acacknowledgement></app-acacknowledgement>
   </ng-container>

   <ng-container *ngIf="tab17 == selectedtab">
    <app-archivalmaster></app-archivalmaster>
</ng-container>
    <!-- <h2 *ngIf="branch" style="float:right;height: 1px;">
       
    </h2> -->
<!-- 
    <div class="text-right chaticon">

        <button class="float-button"data-toggle="modal" (click)="popupopen_rmu_trans()" matTooltip="Open Notification"> <i
                class="float-icon fa fa-comment" style="cursor: pointer;"></i> <span class="badge">1</span>
        </button>
    </div> -->
</div>

<div
class="modal fade"
id="notifyModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content" style="width: 100%">
    <div class="modal-header">
      <p class="modal-title" id="exampleModalLabel">Notifications</p>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        #rmutranspopup
        aria-label="Close"
        (click)="closepopup()"
      >
        <i aria-hidden="true">&times;</i>
      </button>
    </div>

    <div class="modal-body">
        <div class="list-group"> <div class="list-group">
            <a  class="list-group-item list-group-item-action" >
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Notification 3</h5>
                <small>5 mins ago</small>
              </div>
              <p class="mb-1">TCF788989890 file will be returned today</p>
              <!-- <small>Sender Name</small> -->
            </a>
            <a  class="list-group-item list-group-item-action" >
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Notification 2</h5>
                <small>1 day ago</small>
              </div>
              <p class="mb-1">ECF9879865678 file overdue <span style="color: red;">1 day</span></p>
              <!-- <small>Sender Name</small> -->
            </a>
            <a  class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Notification 1</h5>
                <small>2 day ago</small>
              </div>
              <p class="mb-1">TCF090797676676 file overdue <span style="color: red;">2 days</span></p>
              <!-- <small>Sender Name</small> -->
            </a>
          </div>
         
        </div>
    </div>
  </div>
</div>
</div>