<div class="container">
    <br>
    <h2>LOS Branch Details</h2>
    <hr>
    <form class="example-form">
        <!-- <br> -->
        <div class="row">
            <div class="col-md-6">
                <table width="50%;">
                    <tbody>
                        <tr>
                            <td class="text_key_color">Loan Number:</td>
                            <td>{{single_application_data.ApplNo}}</td>
                        </tr>
                        <tr>
                            <td class="text_key_color">Branch Name:</td>
                            <td>{{single_application_data.BranchName}}</td>
                        </tr>
                        <tr>
                            <td class="text_key_color">Branch Code:</td>
                            <td>{{single_application_data.BranchCode}}</td>
                        </tr>
                        <tr>
                            <td class="text_key_color">Business Unit:</td>
                            <td>{{single_application_data.BusinessUnit}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table width="60%;">
                    <tbody>
                        <tr>
                            <td class="text_key_color">Tran Ref Number:</td>
                            <td>{{single_application_data.TranRefNo}}</td>
                        </tr>
                        <tr>
                            <td class="text_key_color">Customer ID:</td>
                            <td>{{single_application_data.CustomerID}}</td>
                        </tr>
                        <tr>
                            <td class="text_key_color"> Customer Account Name:</td>
                            <td>{{single_application_data.DrAcctName}}</td>
                        </tr>
                        <tr>
                            <td class="text_key_color">Customer Account Number:</td>
                            <td>{{single_application_data.DrAcctNo}}</td>
                        </tr>
                        <tr>
                            <td class="text_key_color">GST:</td>
                            <!-- <td>{{single_application_data.GST | number:'1.2-2'}}</td> -->
                            <td>{{single_application_data.GST}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
        </div>
        <hr>
        <div class="col-md-12">
            <p class="text_key_color">Charge Details</p>
            <div class="table-responsive">
                <table class="table  table scrolltable table-bordered" style="width: 99%;">
                    <thead class="table_header" fixed-header>
                        <tr>
                            <th style="width: 50px;">S. No</th>
                            <th style="width: 100px;">Charge Type</th>
                            <th style="width: 100px;">Amount</th>
                            <th style="width: 100px;">GST</th>
                            <th style="width: 100px;">Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let los of Charges; index as i">
                            <td align="center"> {{(this.currentpage - 1)*pageSize +i+1 }} </td>
                            <td align="center">{{los.ChargeType}}</td>
                            <td align="right">{{los.Amount | number:'1.2-2'}}</td>
                            <td align="right">{{los.GST | number:'1.2-2'}}</td>
                            <td align="right">{{los.Amount + los.GST | number:'1.2-2'}}</td>
                        </tr>
                    </tbody>
                    <!-- <pre>{{Charges | json}}</pre> -->
                </table>
                <!-- <div *ngIf="multiple_application_data ?.length == 0">
                    <h3 style="">Records Not Found.. </h3>
                </div> -->
            </div>
        </div>
        <div class="col-md-12">
            <p class="text_key_color">Collateral Details</p>
            <div class="table-responsive">
                <table class="table table scrolltable table-bordered" style="width: 99%;">
                    <thead class="table_header" fixed-header>
                        <tr>
                            <th style="width: 50px;">S. No</th>
                            <th style="width: 100px;">Collateral ID</th>
                            <th style="width: 100px;">Collateral Name</th>
                            <th style="width: 100px;">Collateral Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let los of Collaterals; index as i">
                            <td align="center"> {{(this.currentpage - 1)*pageSize +i+1 }} </td>
                            <td align="center">{{los.CollateralID}}</td>
                            <td align="center">{{los.CollateralName}}</td>
                            <td align="right">{{los.CollateralValue | number:'1.2-2'}}</td>
                        </tr>
                    </tbody>
                    <!-- <pre>{{Charges | json}}</pre> -->
                </table>
                <!-- <div *ngIf="multiple_application_data ?.length == 0">
                    <h3 style="">Records Not Found.. </h3>
                </div> -->
            </div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5"></div>
                <!-- <div class="col-md-1">
                    <div class="example-button-row">
                        <button mat-stroked-button color="primary">Submit</button>
                    </div>
                </div> -->
                <!-- <div class="col-md-1">
                    <div class="example-button-row">
                        <button mat-stroked-button [disabled]="details_current_page!='is_los_branch_summary'"
                            (click)="los_summary('others')">Back</button>
                    </div>
                </div> -->
                <div class="col-md-1">
                    <div class="example-button-row">
                        <button type="button" style="border-radius:40px;margin-left: 5px;"
                                class="btn btn-outline-primary" [disabled]="details_current_page=='is_los_branch_summary'"
                                (click)="los_summary('is_los_branch_summary')">
                                Back</button>
                        <!-- <button mat-stroked-button [disabled]="details_current_page=='is_los_branch_summary'"
                            (click)="los_summary('is_los_branch_summary')">Back</button> -->
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </form>
    <br>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" [fullScreen]="true" type="ball-spin-clockwise">
    <p style="color: white">Loading... </p>
</ngx-spinner>