<section class="screen-padding screen-lm">
    <div class="comp-header">
        <span style="font-weight: 600;">Legal/Regulatory & Other Holds</span>
    </div>



    <!-- <form [formGroup]="legitimateSearch" style="margin-top:1%;margin-left:15px">
        <section class="row">

            <div class="col-md-3">

                <mat-form-field style="margin-left: 2%;width: 100%;" appearance="outline">
                    <mat-label>Document No</mat-label>
                    <input matInput formControlName="docNum">
                </mat-form-field>
            </div>
            <div class="col-md-2" style="margin-top: 1%;">

                <button matTooltip="Search Records" class="btn btn-outline-success" id="rmubtn" color="primary"><i
                        class="fa fa-search" aria-hidden="true"></i></button>
                <button class="btn btn-warning" matTooltip="Clear Entries" style="margin-left:20px"
                    id="rmubtn">Clear</button>


            </div>


        </section>


    </form> -->
    <div class="filter-aling-2">
    <lib-vs-search-cmp
    class="npm-mat-edit"
    [SearchArr]="legitmatedocs_search"
    [Outputtype]="searchvar"
    (dataoutput)="getLegitimatedocs($event)"
  >
  </lib-vs-search-cmp>
  </div>
    <lib-vs-cbox-summary
    [SummaryDetails]="legitmatedocs_summary"
    [SummaryApiObj]="legitmatedocs_summaryapi"
  ></lib-vs-cbox-summary>

    <!-- <div class="modal" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #DDEFDD;">
                    <h2 class="modal-title">Create Legitimate</h2>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="container"></div>
                <div class="modal-body">
                    <form [formGroup]="createLegitimates">
                        <br> -->
                        <!-- <section class="row">
        
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Product Barcode:</mat-label>
                                    <input matInput formControlName="barcode_no" required>
                                </mat-form-field>
                            </div>
                        </section> -->
                        <!-- <section class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Legitimate Date</mat-label>

                                    <input matInput readonly [matDatepicker]="picker3" placeholder="Date"
                                        autocomplete="off" formControlName="legitimate_date" required>
                                    <mat-datepicker-toggle  matSuffix [for]="picker3">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>

                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput formControlName="comment" required>

                                </mat-form-field>
                            </div>
                        </section>
                        <div class="row">
                            
                        </div>
                        <section class="row" style="text-align:center;margin-left:10px;" >
                            <button class="btn btn-outline-success" id="rmubtn" (click)="submitLegitimate()">Submit</button>

                            <button data-dismiss="modal" class="btn btn-outline-primary" id="rmubtn"
                                style="margin-left: 20px;" #closebtn>Close</button>
                        </section>



                    </form>
                </div>

            </div>
        </div>
    </div> -->
    <div
    class="modal fade"
    id="myModal2"
    tabindex="-1"
    aria-labelledby="myModal2"
    aria-hidden="true"
    >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" >
        <div class="modal-header">
          <p class="modal-title mb-0" id="myModal2" style="font-weight: 600;">Create Legitimate</p>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            #closeretrivalpopup
            aria-label="Close"
            (click)="close()"
          >
            <i aria-hidden="true">&times;</i>
          </button>
        </div>
    
        <div class="modal-body">
            <form [formGroup]="createLegitimates">
                <br>
                <section class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Legitimate Date</mat-label>

                            <input matInput readonly [matDatepicker]="picker3" placeholder="Date"
                                autocomplete="off" formControlName="legitimate_date" required>
                            <mat-datepicker-toggle  matSuffix [for]="picker3">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>

                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Comments</mat-label>
                            <input matInput formControlName="comment" required>

                        </mat-form-field>
                    </div>
                </section>
            </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-success"  (click)="submitLegitimate()">Submit</button>

                <button data-dismiss="modal" class="btn btn-outline-primary"  #closebtn>Close</button>
        </div>
      </div>
    </div>
    </div>

</section>