
.container {
    margin: 10px;
}
.headertitle{
    margin-left: 3%;
} 

.spacebtwfield{
    margin-left: 50px;
}
button[matTooltip]{
    margin-top: 20px;
}
.custom-tooltip{
    margin-top: -5px; /* Adjust this value to move the tooltip closer to the element */
    margin-bottom: -5px;
}
.history:hover{
    cursor: pointer;
}
::ng-deep .cdk-overlay-container {
    position: fixed;
    z-index: 10000 !important;
}

.buttonsize{
    border-radius:40px;
    margin-left: 50px;
}
.sub{
    color: black;
    font-size: 14px;
    margin-top: 3px;
}
.size{
    font-size: 15px;
    cursor: pointer;
}
ul{
    list-style-type: none;
    margin-bottom: 0;
    margin-left: -37px;
}
.create{
   color: black;
   font-weight: 500;
   font-size: 18px;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}
.pl{
    padding-left: 17rem !important;
    font-size: 11px;
}
.fileInput{
    width: 110px;
}
.mat-card-subtitle {
    position: sticky;
    top: -16px;
    height: 58px;
    width: 365px;
    background-color: white;
    z-index: 10;
    font-size: 18px;
    /* margin-top: 25px; */
    padding: 14px 12px 14px 10px;
    color: black;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
}

.modal-dialog.modal-dialog-comments {
    max-width: 70% !important; /* Adjust the width as needed */
  }
  
  /* Ensure the second modal remains at default width */
  .modal-dialog.modal-dialog-files {
    max-width: 50% !important; /* Adjust or remove this as needed */
  }
.modal-dialog{
    width: 66%;
}
::ng-deep .modal-large .modal-dialog {
    max-width: 66% !important;
}
::ng-deep .modal-small .modal-dialog{
    max-width: 45%;
    margin-top: 8%;
    overflow-y: auto;
}
::ng-deep .modal-pdf .modal-dialog{
    max-width: 680px;
    margin-top: 2%;
    overflow-y: auto;
}
.mat-card{
    height: 337px !important;
    width: 402px;
    margin-left: 30px;
    margin-top: 25px;
    max-height: 400px; 
    overflow-y: auto;
}
.cancel{
    color: gray;
    font-size: 17px;
    margin-top: 12px;
    cursor: pointer;
}
.table-responsive::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.table-responsive::-webkit-scrollbar-track {
    background: transparent;
  }
  .table-responsive::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: transparent;
  }
  .table-responsive:hover::-webkit-scrollbar-thumb {
    background: #a6a6a6;
  }
.bordercommentBefore::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.bordercommentBefore::-webkit-scrollbar-track {
    background: transparent;
  }
  .bordercommentBefore::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: transparent;
  }
  .bordercommentBefore:hover::-webkit-scrollbar-thumb {
    background: #a6a6a6;
  }
.mat-card::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .mat-card::-webkit-scrollbar-track {
    background: transparent;
  }
  .mat-card::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: transparent;
  }
  .mat-card:hover::-webkit-scrollbar-thumb {
    background: #a6a6a6;
  }

.radiobtnwdth{
    margin-left: 10px;
}

.plusreset{
    margin-top: -4%;
    margin-left: 51%;
}

th, td{
    text-align:center;
    white-space: nowrap;
    padding: 10px;
}

tbody td {
	padding: 0.5em 0.1em 0.1em;
    white-space: nowrap;
}
.cursor{
    cursor: pointer;
}
th, td{
    text-align:center;
}
.NodataAlign{
    text-align: center;
}

.table td.rightalign {
    text-align: right;
}

.table td.leftalign {
    text-align: left;
}


tbody td {
	padding: 0.5em 0.1em 0.1em;
}
.cursor{
    cursor: pointer;
}
th, td{
    text-align:center;
}


.chatbox{
    width: 85%;
    margin-left: 50px;
    margin-bottom: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f0f0f0;

}
.border-none{
    /* background-color: white !important; */
    border: none !important;
}

.comment{
    color: green;
    font-size: 20px;
    cursor: pointer;
}
.color{
    color: gray;
    font-size: 20px;
    cursor: not-allowed;
}
.bordercommentBefore{
   
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff;
    word-wrap: break-word;
    margin-left: 17px;
    margin-bottom: 20px;
    max-height: 100px; 
    border-bottom: 2px solid gray;
    overflow-y: auto;
}


.dateNtime{
    float: left;
    color: grey;
    font-size: 12px;
}



textarea {
    width: 100%;
    height:140px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
  }

.headerComment{

    text-align: center;
}


.NodataAlign{
    text-align: center;
}


.imageviewOnComments{
    /* border: 1px solid black; */
    background-color: #ffffff;
}

.pointer{
    cursor: pointer;
}

.hyperlinkClass{
    color: blue;
    cursor: pointer;
}

.hyperlinkClass:hover{
    text-decoration: underline;
}


.mandatory{
    color: red;
}
.popover {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    z-index: 1060; /* Ensure it's above other elements */
    width: 300px;
    right: 0; /* Adjust as needed to position the popover relative to the button */
}
.popover .popover-body {
    max-height: 200px;
    overflow-y: auto;
}

.mat-radio-group {
    display: flex;
    flex-direction: column;
  }
  
  .mat-radio-button {
    margin-bottom: 10px; 
  }
 
  /* .hide-option {
    display: none !important;
  } */
  
  
  .file-upload-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.file-input {
    display: none; /* Hide the default file input */
}

.file-upload-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
}

.file-upload-button:hover {
    background-color: #0056b3;
}
.fileLabel{
    color: black;
    font-weight: 500;
    /* margin-right: 10px; */
}
#fileName {
    font-size: 14px;
    color: #333;
}
.cancel{
    color: gray;
    font-size: 17px;
    margin-left: 6px;
    margin-top: -2px;
    cursor: pointer;
}
.input-wrapper {
    display: flex;
    align-items: center; /* Align items vertically */
}