
<main style="margin-top:1%;margin-left:35px;">
    <h2>Add Barcodes</h2>

    <br>
    <br>
 <form [formGroup]="addBarcodes">
    
    <section class="row">
    
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Vendor</mat-label>
                <mat-select matInput formControlName="vendor" required >
                    <mat-option *ngFor="let val of vendorlist" [value]="val.vendor_master_id">
                        {{val.name}}
                    </mat-option>
                </mat-select>

            </mat-form-field >
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Barcode Type</mat-label>
                <mat-select matInput formControlName="barcode_type" required>
                    <mat-option *ngFor="let val of barcodetype" [value]="val.value">
                        {{val.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Total Count</mat-label>
                <input matInput formControlName="total_count" type="number"
                (change)="changevalue(bcend.value)" required #totcounts>
            </mat-form-field>
        </div>
    </section>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Barcode startswith</mat-label>
                <input matInput formControlName="barcode_startswith" required>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Barcode Start</mat-label>
                <input matInput formControlName="from_series" required 
                #bcend (change)="changevalue(bcend.value)">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Barcode End</mat-label>
                <input matInput formControlName="to_series" required
                readonly="true"
                >
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        </div>
        <div class="col-md-8" id="sect">
        </div>
    
    </form>
  

<section style="text-align:center;">
    <button class="btn btn-outline-success" id="rmubtn" (click)="newBarcodes()" >Submit</button>
    <button  class="btn btn-outline-dark" id="rmubtn" style="margin-left:25px;" (click)="returnHome()">Back</button>
</section>




</main>

