<div class="modal-body">
  <!-- <h3>Activity/Product Form</h3> -->
  <form [formGroup]="ActivityAddForm" autocomplete="off">
    <!-- (ngSubmit)="submitForm()" -->
    <div class="flex-for-sepDate">
      <!-- <mat-form-field style="width: 250px;">
                                <mat-label>Activity Name</mat-label>
                                <input matInput placeholder="Activity Name" formControlName="name" type="text" (keypress)="namevalidation($event)" autocomplete="off" required>
                            </mat-form-field> -->
      <div>
        <lib-vs-dynamicform-cmp
          class="package-width"
          [formGroup]="ActivityAddForm"
          [InputFields]="departmentfield"
         
        ></lib-vs-dynamicform-cmp>
      </div>
      <!-- (dataEvent)="departmentdata($event)" -->
      <!-- <mat-form-field style="width: 250px;" (click)="activitynamedropdown()">
                                <mat-label>Department</mat-label>
                                <input #activitynameInput placeholder="Department" matInput formControlName="service_branch" autocomplete="off"
                                [matAutocomplete]="nameautcomplete" required>
                            <mat-autocomplete #nameautcomplete="matAutocomplete" [displayWith]="displayFnDesg" 
                            (opened)="activitynameauto()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let name of acitivitydropdowndata" [value]="name" title="{{name.name}}">{{name.name}} 
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                            </mat-form-field> -->

      <!-- <mat-form-field style="width: 350px;">
                                <mat-label>Department</mat-label>
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let d of chipSelectedEmployee" [selectable]=true
                                        [removable]=true (removed)="removeEmployee(d)">
                                        {{d.name}}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                    </mat-chip>
                                    <input #employeeInput formControlName="name" [matAutocomplete]="auto"
                                        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]=true>
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="employeeSelected($event)">
                                    <mat-option *ngFor="let thisEmployee of depdata" [value]="thisEmployee">
                                        {{thisEmployee.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field> -->

      <div>
        <lib-vs-dynamicform-cmp
          class="package-width"
          [formGroup]="ActivityAddForm"
          [InputFields]="activitype"
         
        ></lib-vs-dynamicform-cmp>
      </div>
      <!-- (dataEvent)="activitypesubmit($event)" -->
      <!-- <mat-form-field style="width: 250px;margin-left: 60px;" >
                                <mat-label>Activity Type</mat-label>
                                <mat-select formControlName="type" required>
                                    <mat-option *ngFor ="let activityType of activityTypeList" [value]="activityType">
                                        {{activityType}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->

      <!-- <td>
                            <mat-form-field appearance="outline">
                                <mat-label>Start Date</mat-label>
                                <input matInput readonly [matDatepicker]="picker2" (dateChange)="fromDateSelection($event.value)" 
                                autocomplete="off" formControlName="start_date" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </td>  -->

      <!-- <td>
                            <mat-form-field appearance="outline">
                                <mat-label>End Date</mat-label>
                                <input matInput readonly [matDatepicker]="picker3" [min]="select"  
                               autocomplete="off" formControlName="end_date" required>
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </td> -->

      <div>
        <lib-vs-sep-dates-cmp
          class="search-expand"
          [DateInput]="frtodate"
          (fromdate)="fromdatefun($event)"
          (todate)="todatefun($event)"
        ></lib-vs-sep-dates-cmp>
      </div>

      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Contract Spend</mat-label>
          <input
            matInput
            formControlName="contract_spend"
            (keypress)="numberOnly($event)"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </div>

      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Activity Header</mat-label>
          <input
            matInput
            formControlName="rm"
            [readonly]="true"
            autocomplete="off"
          />
        </mat-form-field>
      </div>

      <!-- <lib-vs-dynamicform-cmp
        class="package-width"
        [InputFields]="activitstatus"
        (dataEvent)="activitstatusubmit($event)"
      ></lib-vs-dynamicform-cmp> -->

      <div id="matInput-size">
        <mat-form-field  appearance="outline">
            <mat-label>Activity Status</mat-label>
            <mat-select formControlName="activity_status" required>
                <mat-option *ngFor="let activityStatus of activityStatusList" [value]="activityStatus">
                    {{activityStatus}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>

      <div>
        <label class="container">
          <input
            type="checkbox"
            formControlName="fidelity"
            data-md-icheck
            [checked]="Fidelity"
            (change)="Fidelity = !Fidelity"
          />Fidelity
          <span class="checkmark"></span>
        </label>
      </div>

      <div>
        <label class="container">
          <input
            type="checkbox"
            formControlName="bidding"
            data-md-icheck
            [checked]="Bidding"
            (change)="Bidding = !Bidding"
          />Bidding
          <span class="checkmark"></span>
        </label>
      </div>

      <!-- <mat-form-field style="width: 225%;">
                                <mat-label>Description</mat-label>
                                <input matInput placeholder="Description" formControlName="description" autocomplete="off"  type="text" (keypress)="addressvalidation($event)">
                            </mat-form-field> -->
      <lib-vs-dynamicform-cmp
        class="package-width"
        [formGroup]="ActivityAddForm"
        [InputFields]="descriptionfield"
        (dataEvent)="descriptiondata($event)"
      ></lib-vs-dynamicform-cmp>
      <!-- (dataEvent)="descriptiondata($event)" -->
      <!-- <mat-form-field  (click)="activitydesignationsearch('',activitydesign_currentpage=1)" appearance="outline">
                                <mat-label>Description</mat-label>
                                <input #activitydescriptioninput  (keyup)="activitydesignationsearch($event.target.value,activitydesign_currentpage=1)" matInput formControlName="description" autocomplete="off"
                                [matAutocomplete]="descriptionautocomplete" required>
                            <mat-autocomplete #descriptionautocomplete="matAutocomplete" [displayWith]="displayFnactdescrition" 
                            (opened)="activitydescriptionautocomplete()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option (click)="descriptionselected(name)" *ngFor="let name of activitydesignationdata" [value]="name" title="{{name.name}}">{{name.name}}
                                        
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                            </mat-form-field> -->
    </div>

    <div>
      <h3>Contact</h3>
      <!-- class="common-grid" -->
      <div [formGroup]="ActivityAddForm.controls.contact" class="flex-for-sepDate">
        
        <div id="matInput-size">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="name"
              type="text"
              (keypress)="namevalidation($event)"
              required
            />
          </mat-form-field>
        </div>

        <lib-vs-dynamicform-cmp
          class="package-width"
          [formGroup]="ActivityAddForm.controls.contact"
          [InputFields]="designationfield"
          
        ></lib-vs-dynamicform-cmp>
        <!-- (dataEvent)="designationdata($event)" -->
        <!-- <mat-form-field  (click)="designame()" appearance="outline">
                                                <mat-label>Designation</mat-label>
                                                <input #designationInput  matInput formControlName="designation_id" autocomplete="off"
                                                [matAutocomplete]="desg" required>
                                            <mat-autocomplete #desg="matAutocomplete" [displayWith]="displayFnDesg" 
                                            (opened)="designationScroll()">
                                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                    <mat-option *ngFor="let designation of designationList" [value]="designation" title="{{designation.name}}">{{designation.name}}
                                                      
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            </mat-form-field> -->

        <!-- <td>
                                            <mat-form-field style="width: 250px;margin-left: 60px;">
                                                <mat-label>Type</mat-label>
                                                <input #contactInput placeholder="Select Type" matInput formControlName="type_id" autocomplete="off"
                                                [matAutocomplete]="contactType">
                                            <mat-autocomplete #contactType="matAutocomplete" [displayWith]="displayFnContactType" (opened)="contactScroll()">
                                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                    <mat-option *ngFor="let contact of contactTypeList" [value]="contact">{{contact.name}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                            </mat-form-field>
                                        </td> -->


      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>DOB</mat-label>
          <input
            matInput
            readonly
            [matDatepicker]="picker1"
            autocomplete="off"
            [max]="futureDays"
            formControlName="dob"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>

      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="text"
            matInput
            formControlName="email"
            autocomplete="off"
            type="email"
          />
        </mat-form-field>
      </div>

      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>LandLine</mat-label>
          <input
            matInput
            formControlName="landline"
            autocomplete="off"
            (keypress)="numberOnly($event)"
            maxlength="10"
          />
        </mat-form-field>
      </div>

      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>LandLine 2</mat-label>
          <input
            matInput
            formControlName="landline2"
            (keypress)="numberOnly($event)"
            maxlength="10"
            autocomplete="off"
          />
        </mat-form-field>
      </div>

      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input
            matInput
            formControlName="mobile"
            autocomplete="off"
            pattern="\d{10}"
            (keypress)="numberOnly($event)"
            maxlength="10"
          />
        </mat-form-field>
      </div>

      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Mobile 2</mat-label>
          <input
            matInput
            formControlName="mobile2"
            autocomplete="off"
            pattern="\d{10}"
            (keypress)="numberOnly($event)"
            maxlength="10"
          />
        </mat-form-field>
      </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    (click)="onCancelClick()"
    class="btn btn-outline-primary"
  >
    Cancel
  </button>
  <button type="submit" (click)="submitForm()" class="btn btn-outline-primary">
    Submit
  </button>
</div>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  [fullScreen]="true"
  type="ball-spin-clockwise"
>
  <p>Please Wait.</p>
</ngx-spinner>
