<div class="container">
    <h2 style="margin-left: 20px; font-size: 14px;"><span class="material-icons alignvertical" (click)="gotoDatapage()">arrow_back</span><span
            class="highlights alignvertical" >Summary</span> Lead Details</h2>

    <div class="detailsside padings">
        <div class="row marginsize">
            <div class="col-sm-6 col-md-6 col-lg-6 borderright ">
                <div class="row">
                    <div style="margin-left: 10px">
                        <span class="material-icons iconemp alignvertical">
                            account_circle
                        </span>
                    </div>
                    <div class="col">
                        <!-- <h1 class="alignvertical aligns">{{EMPNAME | uppercase}}</h1>
                        <h3>  <span class="SubDetails">Designation: </span> {{EmployeeDetails?.designation}}   </h3>
                        <h3>  <span class="SubDetails">Date Of Join:</span> {{EmployeeDetails?.doj}}  </h3>
                        <h3>  <span class="SubDetails">Phone: </span>{{EmployeeDetails?.phone_no}} </h3>

                        <h3>  <span class="SubDetails">Blood Group: </span>    {{BasicInfoEmp?.blood_grp}}  </h3>

                        <h3>   <span class="SubDetails">Height: </span>  {{BasicInfoEmp?.height}}  </h3>

                        <h3>  <span class="SubDetails">Weight: </span>  {{BasicInfoEmp?.weight}}  </h3> -->

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="padings">
                    <!-- <h2>Basic Info <span class="material-icons marginleftclass alignvertical" title="Add/Edit">add_circle</span><span class="fontsizeOne highlights alignvertical" (click)="RouteToEmployeeCreate('Emp Info')">Add/Update</span></h2>
                    <h3>  <span class="SubDetails"> DOB:</span>{{EmployeeDetails?.dob}} </h3>
                    <h3>  <span class="SubDetails">   Gender: </span> </h3>
                    <h3>  <span class="SubDetails"> Marital Status: </span>   </h3>

                    <h3>  <span class="SubDetails">  Branch: </span>  </h3> -->

                    <address>
                       <h3> Address:</h3>
                        <!-- <span class="SubDetails" *ngIf="!EmployeeDetails?.address_id == null">
                            {{EmployeeDetails?.address_id?.line1}}, {{EmployeeDetails?.address_id?.line2}},
                            {{EmployeeDetails?.address_id?.line3}}
                            {{EmployeeDetails?.address_id?.city}}, {{EmployeeDetails?.address_id?.district}},
                            {{EmployeeDetails?.address_id?.state}}
                            {{EmployeeDetails?.address_id?.pincode}}.
                        </span> -->
                    </address>
                    <!-- <h3>  <span class="SubDetails"> Nationality: </span>    {{BasicInfoEmp?.nationality | uppercase}}  </h3> -->

                </div>




            </div>
        </div>




        <div class="container">

            

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div style="margin : 15px;" class="detailsside padings">
                        <h2 style="margin : 15px;">Education Info <span class="material-icons marginleftclass alignvertical" title="Add/Edit">add_circle</span><span class="fontsizeOne highlights alignvertical" >Add/Update</span></h2>



                        <table class="viewdetails">
                            <tr>
                                <th>Sl.No</th>
                                <th>Degree</th>
                                <th>Steam</th>
                                <th>Percentage</th>
                                <th>Passing Month</th>
                                <th>Passing Year</th>
                                <th>City</th>
                                <th>Institute Name</th>

                            </tr>

                            <tr>
                                
                            </tr>

                        </table>
                    </div>

                </div>



            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div style="margin : 15px;" class="detailsside padings">
                        <h2 style="margin : 15px;">Experience Info <span class="material-icons marginleftclass alignvertical" title="Add/Edit">add_circle</span><span class="fontsizeOne highlights alignvertical" >Add/Update</span></h2>

                        <table class="viewdetails">
                            <tr>
                                <th>Sl.No</th>
                                <th>Company</th>
                                <th>Role</th>
                                <th>Work Experience</th>
                                <th>DOJ</th>
                                <th>DOR</th>
                                <th>City</th>
                            </tr>
    
    
                            <tr >
                                <td>{{+1}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td> 
                            </tr>
                        </table>


                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div style="margin : 15px;" class="detailsside padings">
                        <h2 style="margin : 15px;">Family Details Info <span class="material-icons marginleftclass alignvertical" title="Add/Edit">add_circle</span><span class="fontsizeOne highlights alignvertical" >Add/Update</span></h2>



                        <table class="viewdetails">
                            <tr>
                                <th>Sl.No</th>
                                <th>Name</th>
                                <th>Relationship</th>
                                <th>DOB</th> 

                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td> 
                            </tr>

                        </table>
                    </div>

                </div>



            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div style="margin : 15px;" class="detailsside padings">
                        <h2 style="margin : 15px;">Emerency Contact Info <span class="material-icons marginleftclass alignvertical" title="Add/Edit">add_circle</span><span class="fontsizeOne highlights alignvertical"    >Add/Update</span></h2>

                        <table class="viewdetails">
                            <tr>
                                <th>Sl.No</th>
                                <th>Name</th>
                                <th>Relationship</th>
                                <th>Phone</th>
                                <th>Address</th> 
                            </tr> 
    
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td> 
                            </tr>
                        </table>


                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div style="margin : 15px;" class="detailsside padings">
                    

                        <h2 style="margin : 15px;">Bank Details Info <span class="material-icons marginleftclass alignvertical" title="Add/Edit">add_circle</span><span class="fontsizeOne highlights alignvertical"      >Add/Update</span></h2>

                        <table class="viewdetails">
                            <tr>
                                <th>Sl.No</th>
                                <th>Account name</th> 
                                <th>Account No</th> 
                                <th>Bank Branch</th> 
                                <th>IFSC</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </table>
                    </div>


                </div>

            </div>







        </div>



















    </div>

</div>