.input-style {
    width: 250px;
}

.btn-bottom {
    margin-bottom: 40px;
}

.main-content {
    margin-left: 100px;
    margin-right: 80%;
    margin-top: 1%;
    
}
.input-style2 {
    width: 250px;
    margin-left: 60px;
}
