<br>

<h2 style="margin-left: 40px;">
    Premises Edit</h2>
<div style="margin-left: 100px;margin-right: 80%;margin-top: 1%; width: 100%;">

    <div>
        <form [formGroup]="PremiseEditForm" (ngSubmit)="PremiseEditsubmitForm()">
            <table>
                <div>
                    <tr>
                        <td>
                            <mat-form-field class="input-style">
                                <mat-label>Premises Identification Number</mat-label>
                                <input matInput placeholder="code" (focusout)="identificationSearch()"
                                    autocomplete="off" formControlName="code" required id="premise-edit-0001">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="input-style2">
                                <mat-label>Premises Name</mat-label>
                                <input matInput placeholder="Name" (keypress)="omit_special_char($event)"
                                    autocomplete="off" formControlName="name" required id="premise-edit-0002">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="input-style2">
                                <mat-label>Type</mat-label>
                                <mat-select disabled formControlName="type" id="premise-edit-0003">
                                    <mat-option *ngFor="let pay of premiseType" [value]="pay.id">
                                        {{pay.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <!-- <td>
                            <mat-form-field class="input-style">
                                <mat-label>Approver</mat-label>
                                <input placeholder="Select Primary" matInput formControlName="rm_id"
                                    #primaryContactInput [matAutocomplete]="autoPrimary" id="premise-edit-0004">
                                <mat-autocomplete #autoPrimary="matAutocomplete" (opened)="autocompletePrimaryScroll()"
                                    [displayWith]="displayFn1">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let primary of primaryContactList" [value]="primary">
                                            {{primary.full_name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td> -->
                        <td>
                            <mat-form-field class="input-style">
                                <mat-label>Total Occupied Area</mat-label>
                                <input matInput placeholder="Total Occupied Area" formControlName="rent_area" autocomplete="off"
                                (keypress)="numberOnlyAndDot($event)" required id="premise-edit-0005">
                            </mat-form-field>
                        </td>
                        <!-- <td>
                            <mat-form-field style="width: 175px;margin-left: 50px;">
                                <mat-label>Controlling Office</mat-label>
                                <mat-select formControlName="controlling_office_id" id="premise-edit-0006">
                                    <mat-option *ngFor="let controlling_office of ControllingOfficeList" [value]="controlling_office.id">
                                        {{controlling_office.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td> -->

                        <td>
                            <mat-form-field class="input-style2">
                                <mat-label>Controlling Office</mat-label>
                                <input #office1Input placeholder="Select Controlling Office" matInput formControlName="controlling_office_id"
                                    [matAutocomplete]="cotype" required id="premise-edit-0007">
                                <mat-autocomplete #cotype="matAutocomplete" [displayWith]="displayFn" (opened)="priOffScroll()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let controlling_office of ControllingOfficeList"
                                            [value]="controlling_office">
                                            {{controlling_office.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="input-style2">
                                <mat-label>Latitude</mat-label>
                                <input matInput placeholder="Latitude" formControlName="latitude" autocomplete="off"
                                (keypress)="numberOnlyAndDot($event)" required id="premise-edit-0008">
                            </mat-form-field>
                        </td>
                       
                        <!-- <td>
                            <mat-form-field class="apcat-form" style="width:260px !important;margin-bottom: -1.25em;">
                                <input matInput formControlName="controlling_office_id" placeholder="Controlling Office Type"
                                [matAutocomplete]="cotype" style="font-size: small;" id="premise-edit-0009">
                                <mat-autocomplete #cotype="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                    <mat-option (onSelectionChange)="OnApcatChange($event)" *ngFor="let category of categoryList" [value]="category">{{category.name}}
                                    </mat-option>
                                </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td> -->
                        
                    </tr>
                    <tr>
                        <td>  
                            <mat-form-field class="input-style">
                                <mat-label>Longitude</mat-label>
                                <input matInput placeholder="Longitude" formControlName="longitude" autocomplete="off"
                                (keypress)="numberOnlyAndDot($event)" required id="premise-edit-0010">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="input-style2">
                                <mat-label>OwnerShip Type</mat-label>
                                <mat-select  formControlName="land_ownership" id="premise-edit-0011">
                                    <mat-option *ngFor="let pay of premiseType" [value]="pay.id">
                                        {{pay.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <mat-form-field class="input-style2">
                                <mat-label>OwnerShip Type</mat-label>
                                <input matInput [disabled]=true id="premise-edit-0012">{{land_ownership}}
                            </mat-form-field> -->
                        </td>
                    </tr>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div style="margin-top:2%">
                                    <h3 style="font-weight:500;font-size: 15px;">Address</h3>

                                    <div [formGroup]="PremiseEditForm.controls.address">
                        <tr>
                            <td>
                                <mat-form-field class="input-style">
                                    <mat-label>No</mat-label>
                                    <input matInput placeholder="No" formControlName="line1" autocomplete="off"
                                        required id="premise-edit-0013">
                                </mat-form-field>
                            </td>

                            <td>
                                <mat-form-field class="input-style2">
                                    <mat-label>Street</mat-label>
                                    <input matInput placeholder="Street" formControlName="line2" autocomplete="off"
                                        required id="premise-edit-0014">
                                </mat-form-field>
                            </td>
                            <!-- </tr>
                                    <tr> -->
                            <td>
                                <mat-form-field class="input-style2">
                                    <mat-label>Area</mat-label>
                                    <input matInput placeholder="Area" formControlName="line3" autocomplete="off"
                                        required id="premise-edit-0015">
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!-- <mat-form-field  style="width: 175px;margin-left: 50px;" >
                                                <mat-label>Pin Code</mat-label>
                                                <mat-select formControlName="pincode_id" id="premise-edit-0016">
                                                    <mat-option *ngFor="let pincode of pinCodeList" [value]="pincode.id">
                                                        {{pincode.no}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field> -->
                                <mat-form-field class="input-style">
                                    <mat-label>Pin Code</mat-label>
                                    <input placeholder="Select Pin Code" matInput formControlName="pincode_id"
                                        maxlength="6" [matAutocomplete]="pintype" required id="premise-edit-0017">
                                    <mat-autocomplete #pintype="matAutocomplete" [displayWith]="displayFnpin">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let pin of pinCodeList" (focusout)="pinCode(pin)"
                                                [value]="pin">
                                                {{pin.no}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                            <td>
                                <!-- <mat-form-field style="width: 175px;margin-left: 50px;">
                                                <mat-label>City</mat-label>
                                                <mat-select formControlName="city_id" id="premise-edit-0018">
                                                    <mat-option *ngFor="let city of cityList" [value]="city.id">
                                                        {{city.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field> -->
                                <mat-form-field class="input-style2">
                                    <mat-label>City</mat-label>
                                    <input placeholder="Select city" matInput formControlName="city_id"
                                        [matAutocomplete]="citytype" required id="premise-edit-0019">
                                    <mat-autocomplete #citytype="matAutocomplete" [displayWith]="displayFncity">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let city of cityList" (focusout)="citys(city)"
                                                [value]="city">
                                                {{city.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                            <td>
                                <!-- <mat-form-field>
                                                <mat-label>District</mat-label>
                                                <mat-select formControlName="district_id" id="premise-edit-0020">
                                                    <mat-option *ngFor="let district of districtList" [value]="district.id">
                                                        {{district.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field> -->
                                <mat-form-field class="input-style2">
                                    <mat-label>District</mat-label>
                                    <input placeholder="Select District" matInput formControlName="district_id"
                                        [matAutocomplete]="districttype" required id="premise-edit-0021">
                                    <mat-autocomplete #districttype="matAutocomplete" [displayWith]="displayFndistrict">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let district of districtList" [value]="district">
                                                {{district.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!-- <mat-form-field style="width: 175px;margin-left: 50px;">
                                                <mat-label>State</mat-label>
                                                <mat-select formControlName="state_id" id="premise-edit-0022">
                                                    <mat-option *ngFor="let state of stateList" [value]="state.id">
                                                        {{state.name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field> -->
                                <mat-form-field class="input-style">
                                    <mat-label>State</mat-label>
                                    <input placeholder="Select State" matInput formControlName="state_id"
                                        [matAutocomplete]="statetype" required id="premise-edit-0023">
                                    <mat-autocomplete #statetype="matAutocomplete" [displayWith]="displayFnstate">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let state of stateList" [value]="state">
                                                {{state.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                        </tr>
    </div>
</div>
</td>
</tr>
</tbody>
</table>
</table>
<div style="margin-bottom: 5%;">
    <button type="submit" style="border-radius: 40px;margin-left: 10px;" class="btn btn-outline-primary" [disabled]="PremiseEditbtn" id="premise-edit-0024">Submit</button>
    <button type="button" class="btn btn-outline-primary" (click)="onCancelClick()"style="height: 60px;"
        style="border-radius: 40px;margin-left: 10px;" id="premise-edit-0025">Cancel</button>
</div>
</form>
</div>
</div>