.mat-typography p {
  margin-bottom: 0;
}

.example-card {
  max-width: 300px;
  margin: 4px;
}

.rws {
  margin-left: 4%;
  // margin-right: 5%;
  width: 30%;
  font-size: small;
  height: 10%;
  overflow: hidden;
  margin-top: 5%;
}

.calc {
  margin-left: 10%;
}

.col {
  color: beige;
}

.tableHead {
  overflow-x: auto;
  height: 10%;
}

.formula {
  margin-left: 50%;
}

.btncls {
  margin-top: 10%;
}

.all_data {
  margin-left: 5%;
  width: 20%;
}

.rwss {
  margin-left: 40%;
  // margin-right: 5%;
  width: 30%;
  font-size: small;
  height: 10%;
  overflow: hidden;
  margin-top: 5%;
}

.icon-bar {
  // position: fixed;
  top: 50%;
  // -webkit-transform: translateY(-50%);
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
}

.icon-bar a {
  display: flex;
  text-align: center;
  // padding: 16px;
  // transition: all 0.3s ease;
  color: white;
  font-size: small;
}

//   .icon-bar a:hover {
//     background-color: #000;
//   }
.screen {
  margin: 0;
  height: 500px;
}

.content {
  text-align: left;
  margin-left: 75px;
  font-size: small;
}

.angletag {
  margin-top: 1%;
}

.symbols {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.169);
  // display: flex;
  align-items: center;
  // justify-content: center;
  font-size: 20px;
  background-color: rgb(126, 126, 243);
  border: none;
  color: white;
  font-weight: 500;
}

.add-text {
  background-color: white;
  color: rgb(55, 55, 55);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.169);
  border: none;
  border-radius: 4px;
  width: auto;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

// .containers {
//   font-family: Arial, Helvetica, sans-serif;
//   width: 100%;
//   display: flex;
//   align-items: flex-start;
//   gap: 20px;
//   padding: 20px;
// }
.containers {
  border: 1px solid black;
  width: 90%; /* Ensure the container spans the full width */
  height: 130px;
  // overflow: auto;
  margin-top: 8%;
  margin-left: 5%;
  // overflow-y: auto;
  // overflow-x: auto;
}
// .scrollable-table {
//   // max-height: 200px; /* Set max-height for the scrollable area */
//   // overflow-y: auto; /* Add vertical scroll if content overflows */
//   display: inline-block;
// }
.wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  // min-height: 1000px;  
}


// .view-div {
//   border: 1px solid #ccc;
//   padding: 10px;
//   width: 100%; 
//   box-sizing: border-box;

// up uncmd
  
//   // width: 75%;
//   // box-shadow: 0 0 4px rgba(0, 0, 0, 0.169);
//   // background-color: #fafafa;
//   // display: flex;
//   // align-items: center;
//   // justify-content: flex-start;
//   // flex-wrap: wrap;
//   // gap: 2px;
//   // padding: 20px;
// }

// .view-div span {
//   margin: 5px;
//   padding: 5px;
//   border: 1px solid #999;
//   border-radius: 5px;
// }

.addOn-div {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.symbols-div {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.169);
  background-color: #fafafa;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  // justify-content: center;
  gap: 20px;
  padding: 20px;
}

.text-div {
  height: 400px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.169);
  background-color: #fafafa;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  overflow-y: auto;
}

.text-div button {
  width: 100%;
}

.schedule-container {
  padding-left: 40px;
}

.schedule-form {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.schedule-form .mat-form-field {
  width: 100%;
}

.tableFixHead {
  // overflow: scroll; 
  // overflow-y: scroll;
  // height: 500px;
  // width: 100%;
  margin-left: 3%;
  margin-bottom: 5%;
  overflow: auto;
  max-height: 500px;

}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
table {
  width: 145%;
  border-collapse: collapse;
  table-layout: fixed;
  // overflow-y: auto; 

}

th,
td {
  padding: 14px 16px;
  word-wrap: break-word;
}



th {
  background: #DDEFDD;
}
// tbody {
//   overflow-x: auto;
// }
.element-map {
  margin-left: 10px;
  margin-top: 5px;
 
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgb(156, 221, 156) !important;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgb(156, 221, 156) !important;
}
::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color:rgb(156, 221, 156)!important;
}
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgb(156, 221, 156) !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  // margin-left: 10%;
  justify-content: space-between;
}
// .Create{
//   margin-left: 3%;
//   display: flex;
//   flex-wrap: wrap;
//   // justify-content: space-around;
// }
// .typeclass{
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;    
//   margin-left: 5%;
//   margin-bottom: 10px;
  

// }