<br>

<h2 style="margin-left: 50px; ">
    Arrears
</h2>
<div class="main-content">

    <div>
        <form [formGroup]="rentTermForm" (ngSubmit)="rentTermFormCreate()">
            <table>
                   

                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <input matInput [matDatepicker]="picker" formControlName="from_date"
                                (dateChange)="setDate($event.value)" [formControl]="defaultDate"
                                placeholder="Arrears From" id="owned-arrears-form-0001">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <input matInput [matDatepicker]="picker2" formControlName="to_date" [min]="toDate" (dateChange)="enddate($event.value)"
                                placeholder="Arrears To" id="owned-arrears-form-0002">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Arrears Period </mat-label>
                            <input matInput placeholder="Arrears Period" autocomplete="off" formControlName="term_period" [(ngModel)]="arrearsPeriod"
                                (keypress)="numberOnly($event)" required id="owned-arrears-form-0003">
                        </mat-form-field>
                    </td>
                    
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Rent Arrears</mat-label>
                            <input matInput placeholder="Rent Arrears" autocomplete="off" formControlName="rent_amount"
                                (keypress)="numberOnly($event)" required id="owned-arrears-form-0004">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Maintenanace Arrears</mat-label>
                            <input matInput placeholder="Maintenanace Arrears" autocomplete="off"
                                (keypress)="numberOnly($event)" formControlName="maintenance_amount" required id="owned-arrears-form-0005">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Amenities Amount</mat-label>
                            <input matInput placeholder="Amenities Amount" autocomplete="off"
                                (keypress)="numberOnly($event)" formControlName="amenities_amount" required id="owned-arrears-form-0006">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Remarks</mat-label>
                            <input matInput placeholder="Remarks" autocomplete="off" formControlName="remarks"
                                required id="owned-arrears-form-0007">
                        </mat-form-field>
                    </td>
                </tr>

            </table>
            <div class="btn-bottom">
                <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary" id="owned-arrears-form-0008">Submit</button>
                <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
                    style="border-radius: 40px;margin-left: 10px;" id="owned-arrears-form-0009">Cancel</button>
            </div>
        </form>
    </div>
</div>
