<div style="margin-left: 50px;margin-top: 3%; ">
    <h2 style="    margin-left: 2%;">
        Holiday Update
    </h2>
    <form [formGroup]="holidayUpdateForm" style="margin-left: 2%;width: 50%;">
    <table class="table table-bordered" style="text-align: center;" fixed-header>
        <thead class="table_header">
            <tr>
                <th>S.No</th>
                <th>Holiday Name</th>
                <th>Holiday Date</th>
            </tr>
        </thead>
        <tbody formArrayName="data">
            <tr *ngFor="let display of getholidayedit_controls();let i=index;" [formGroupName]="i">
                <td >{{i+1}}</td>
                <td>
                    <mat-form-field style="width: 200px; margin-top: -18px;margin-bottom: 0px;">
                    <input matInput formControlName="name"> 
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field style="width: 200px; margin-top: -18px;margin-bottom: 0px;">
                        <input matInput readonly [matDatepicker]="picker2" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
        </tbody>
        
    </table>
   
    <button  style="border-radius: 40px;margin-bottom: 5%;" class="btn btn-outline-primary" (click)="onSubmitHolidayupdate()" >Update</button>
    <button  style="border-radius: 40px;margin-bottom: 5%;    margin-left: 10px;" class="btn btn-outline-primary" (click)="oncancelHolidayupdate()" >Cancel</button>
</form> 



<!-- <pre>
    {{holidayUpdateForm.value | json}}
</pre> -->