<div class="main-content">
    <h3>
        Rent Arrear
    </h3>
    <div>
        <form [formGroup]="rentArrearForm" (ngSubmit)="rentArrearCreate()">
            <table>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Arrear No</mat-label>
                            <input matInput placeholder="Arrear No" autocomplete="off" (keypress)="numberOnly($event)"
                                formControlName="arrear_no" required id="rent-arrear-form-0001">
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Amount </mat-label>
                            <input matInput placeholder="Amount" autocomplete="off" formControlName="amount"
                                (keypress)="numberOnly($event)" required id="rent-arrear-form-0002">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <input matInput [matDatepicker]="picker" formControlName="from_date"
                                (dateChange)="setDate($event.value)" [formControl]="defaultDate"
                                placeholder="From Date" id="rent-arrear-form-0003">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <input matInput [matDatepicker]="picker2" formControlName="to_date" [min]="toDate"
                                [formControl]="defaultDate" placeholder="To Date" id="rent-arrear-form-0004">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>

                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Remarks</mat-label>
                            <input matInput placeholder="Remarks " autocomplete="off" formControlName="remarks"
                                required id="rent-arrear-form-0005">
                        </mat-form-field>
                    </td>
                </tr>

            </table>
            <div class="btn-bottom">
                <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary" id="rent-arrear-form-0006">Submit</button>
                <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
                    style="border-radius: 40px;margin-left: 10px;" id="rent-arrear-form-0007">Cancel</button>
            </div>
        </form>
    </div>
</div>