<div class="modal-body">
  <!-- <h3>Document Edit Form</h3> -->

  <form
    [formGroup]="DocumentEditForm"
    autocomplete="off"
    class="d-flex flex-column"
  >
    <div class="flex-for-sepDate">
      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Partner Id</mat-label>
          <input matInput autocomplete="off" formControlName="partner_id" />
        </mat-form-field>
      </div>

      <lib-vs-dynamicform-cmp
        class="package-width"
        [formGroup]="DocumentEditForm"
        [InputFields]="documentedit"
        
      ></lib-vs-dynamicform-cmp>
      <!-- (dataEvent)="docedit($event)" -->
      <!-- <mat-form-field  (click)="docgroupname()" appearance="outline">
                       
                            <mat-label>DocGroup </mat-label>
                            <input #docInput  matInput 
                            formControlName="docgroup_id"
                                [matAutocomplete]="parenttype" required>
                            <mat-autocomplete #parenttype="matAutocomplete" 
                            [displayWith]="displayFnparent" (opened)="parentScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let doc of Documentlist" 
                                     [value]="doc" title=" {{doc.name}}">
                                        {{doc.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field> -->
      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Period</mat-label>
          <input
            matInput
            (keypress)="numberOnly($event)"
            type="text"
            (keypress)="addressvalidation($event)"
            formControlName="period"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </div>

      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Remarks</mat-label>
          <input
            matInput
            autocomplete="off"
            formControlName="remarks"
            type="text"
            (keypress)="addressvalidation($event)"
          />
        </mat-form-field>
      </div>

         <!-- <label >
        <input
          type="file"
          #takeInput
          accept=".txt,.doc,.pdf,.ppt,.pot,.pps,.pptx,.odt,.odg,.odp,.ods,.docx,.docm,
                        .dotx,.dotm,.docb,
                        .xlsx,.xls,.xlt,.xlm,.xlsm,.xltx,.xltm,.jpg,.jpeg,.tiff,.tif,.png"
          multiple="true"
          formControlName="images"
          name="images"
          (change)="fileChange($event)"
        />
      </label>

      <div *ngFor="let upload of uploadList; index as i" class="btn-link">
        <span>{{ i + 1 }}. </span>
        {{ upload }}
        <button mat-icon-button type="button">
          <mat-icon aria-label="Edit" (click)="deleteUpload(upload, i)">
            delete</mat-icon
          >
        </button>
      </div>

      <div class="chip-content" *ngFor="let multifile of fileList; index as i">
        <span>{{ i + 1 }}. </span>
        <span (click)="data(multifile)">
          {{ multifile.file_name }}<mat-icon>get_app</mat-icon>
        </span>
        <span>
          <mat-icon (click)="fileDeletes(multifile, i)">delete</mat-icon>
        </span>
      </div> -->
<div class="fileselect" >

  <label class="filelabel">
    <input
      type="file"
      #takeInput
      accept=".txt,.doc,.pdf,.ppt,.pot,.pps,.pptx,.odt,.odg,.odp,.ods,.docx,.docm,
              .dotx,.dotm,.docb,
              .xlsx,.xls,.xlt,.xlm,.xlsm,.xltx,.xltm,.jpg,.jpeg,.tiff,.tif,.png"
      multiple
      formControlName="images"
      name="images"
      (change)="fileChange($event)"
    />
  </label>


  <div *ngFor="let upload of uploadList; index as i"  class="btn-link fileview">
    <span>{{ i + 1 }}.</span>
   {{ upload }}
    <button mat-icon-button type="button" (click)="deleteUpload(upload, i)" class="file-btn">
      <mat-icon class="file-button">delete</mat-icon>
    </button>
  </div>

</div>




      <div class="chip-cont" *ngFor="let multifile of fileList; index as i">
  <span class="file-index">{{ i + 1 }}.</span>

  <span class="file-link" (click)="data(multifile)">
    {{ multifile.file_name }}
    <mat-icon>get_app</mat-icon>
  </span>

  <span class="file-delete">
    <mat-icon (click)="fileDeletes(multifile, i)">delete</mat-icon>
  </span>
</div>

    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onCancelClick()"
  >
    Cancel
  </button>
  <button
    type="submit"
    style="border-radius: 40px"
    class="btn btn-outline-primary"
    (click)="documentEditCreateForm()"
  >
    Submit
  </button>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  [fullScreen]="true"
  type="ball-spin-clockwise"
>
  <p>Please Wait.</p>
</ngx-spinner>
