.tableshow{
    border: 1px solid rgba(0, 0, 0, 0.267);
}

.tableshow tr th, .tableshow tr td {
    padding: 10px;
    // empty-cells: show;
    // border: 1px solid black;
}

.tableshow tr td {
    width: 300px;
}


.Bracket {
    font-size: 50px;
}

.styleUlLi{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

// .styleUlLi{
//      padding: 10px; 
// }
// .styleUlLi ul li{ 
//     font-size: 20px;
// }
.styleUlLi p{
    margin: 10px; 
}

.styleUlLi .badge{
    // background-color: #fff;
    // border: #28a745;
    // color: #28a745;
    font-size: 16px;
}

.ulChilds li:last-child{
    float: right;
}


.alignbutn{
    display: block;
    margin: auto;
}


.iconColor{
    color: #28a745;
}

.alignTableCount{
    text-align: center;
    vertical-align: sub;
}