<div style="margin-left: 50px;margin-top: 3%;">

    <h2 style="margin-left: 10%;">
        Employment type Master 
    </h2>
    <div>
        <form [formGroup]="Employeetypeform"  (ngSubmit)="EmployeetypeSubmitForm()" style="margin-top: 3%;margin-bottom: 3%;margin-left: 10%;">
            <table style="margin-bottom: 3%;">
                <div> 
                    <tr>
                         
                        <td>
                            <!-- <mat-form-field style="width: 175px;">
                                <mat-label>Employment Catogory</mat-label>
                                <input  matInput placeholder="Employee Catogory"  formControlName="empcat_id" autocomplete="off" required>
                            </mat-form-field> -->

                            <mat-form-field class="input-style" (click)="productname()">
                                
                                <mat-label>Employment Catogory</mat-label>
                                <input placeholder="Employee Catogory" matInput formControlName="empcat_id"
                                    [matAutocomplete]="producttype"  required>
                                <mat-autocomplete #producttype="matAutocomplete"  [displayWith]="displaydis">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let empcat of empcatlist" 
                                            [value]="empcat" >
                                            {{empcat.empdesc}} 
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>

                        </td>
                        
                        <td style="padding-left: 8%;"> 
                            <mat-form-field style="width: 175px;">
                                <mat-label>Employment Type</mat-label>
                                <input  matInput   placeholder="Employee Type" (keypress)="keyPressAlphanumeric($event)" formControlName="emptype" autocomplete="off" required>

                            </mat-form-field>
                           

                        </td>
                        <td style="padding-left: 15%;">
                            <mat-form-field style="width: 250px;">
                                <mat-label>Employment type Description</mat-label>
                                <input  matInput placeholder="Employee type Description" (keypress)="keyPressAlphanumeric($event)" formControlName="emptypedesc" autocomplete="off" required>
                            </mat-form-field>
                        </td>
                        
                        
                        
                    </tr> 
                </div> 
            </table>
            <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary"(click)="EmployeetypeSubmitForm()"
                >Submit</button>
            <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
               style="border-radius: 40px;margin-left: 10px;">Cancel</button>    
        </form>
    </div>
</div>