// .row{
//     margin-left: 8%;
// }
// .modal-backdrop fade show{
//     // margin: 0;
//     opacity: 0;
// }
::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 80%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    justify-content: space-around;
  }
  .btn {
    display: flex;
    // border-radius: 30px;
    margin-right: 10%;
    margin-top: -7px;
    // justify-content: space-between;
    // min-inline-size: fit-content;
}
.Create{
    // margin-left: 3%;
    display: flex;
    flex-wrap: wrap;
}