.table-responsive {
    width: 95%;
    margin-top: 10px;
    margin-left: 25px;
}

.timeline {
    position: relative;
    margin-right: 40%;
}
.timeline2{
    margin-left: 1%;
}
.timeline:before {
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}
.timeline ul {
    padding: 0;
    margin: 0;
}
.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 4px 40px;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
}
.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
}
.content {
    padding-bottom: 20px;
}
code {
    font-size: 87.5%;
    color: gray;
    word-wrap: break-word;
}

.new-text{
    color: #3f65b9;
}
.close-popup{
    margin-left: 15rem;
}

.popupclose-modify{
    margin-left: 30rem;
}
.changes-text{
    margin-left: 15px;
}