
<div style="margin-left: 50px;margin-right: 80%;margin-top: 3%; width: 100%;">
    <h3 style="color:deeppink;">
          Tour
    </h3>
        <div>
            <form [formGroup]="taEditForm" (ngSubmit)="submitForm()">
                <table>
                    <tr>
                        
                        <td>
                            <mat-form-field  style="width: 175px;">
                                <mat-label>Tour No</mat-label>
                                <input  matInput placeholder="Tour No" formControlName="id"  autocomplete="off"  required>
                            </mat-form-field>
                        </td>
                          <td>
                              <mat-form-field  style="width: 175px;margin-left: 50px;">
                                <mat-label>Request Date</mat-label>
                                <input  matInput placeholder="Request Date"  formControlName="requestdate"[readonly]="true"  autocomplete="off"  required>
                            </mat-form-field>
                        </td>
                      </tr>
                      <h3 style="color:deeppink;">
                        TourDetails
                    </h3>
                  <tr>
                      
                    <td>
                      <mat-form-field style="width: 175px;">
                          <mat-label>Tour Reason</mat-label>
                          <mat-select formControlName="reason">
                              <mat-option *ngFor="let reason of reasonlist" [value]="reason.id">
                                  {{reason.name}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </td>
                    <!-- <td>
                    <mat-form-field style="width: 175px;">
                        <mat-label>Tour Reason</mat-label>
                        <input matInput placeholder="Tour Reason" formControlName="reason" autocomplete="off" required>
                    </mat-form-field>
                </td> -->
                <td>
                    <mat-form-field style="width:175px;margin-left: 50px;">
                      <mat-label>Tour StartDate</mat-label>
                      <input matInput [matDatepicker]="picker1" (dateChange)="fromDateSelection($event.value)" 
                      placeholder="Start Date" autocomplete="off" formControlName="startdate">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
            
              </td>
              <td>
             <mat-form-field style="width:175px;margin-left: 50px;">
              <mat-label>Tour EndDate</mat-label>
              <input matInput [matDatepicker]="picker2" (dateChange)="toDateSelection($event.value)" 
              placeholder="End Date" autocomplete="off"[min]="select" formControlName="enddate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
             </mat-form-field>
  
            </td>
            <td>
                <mat-form-field style="width: 175px;margin-left: 50px;">
                  <mat-label>No of TourDays</mat-label>
                  <input matInput placeholder="No of TourDays" formControlName="durationdays" [(ngModel)]="totall" autocomplete="off" required>
                </mat-form-field>
              </td>
              
            </tr>
            <tr>
              <td>
                <mat-form-field style="width: 175px;">
                  <mat-label>Order No or Remarks</mat-label>
                  <input matInput placeholder="Order No or Remarks" formControlName="ordernoremarks" autocomplete="off" required>
                </mat-form-field>
              </td> 
              <td> 
                 <mat-form-field style="width: 175px;margin-left: 50px;">
                  <mat-label>Permited By</mat-label>
                  <input matInput placeholder="Permited By" formControlName="permittedby" autocomplete="off" required>
                </mat-form-field>
              </td>
                </tr>
                </table>
  
        <div class="table-responsive" style="width:100%;margin-top: 1%; overflow-x: hidden;">
        <table class="table">
        <thead class="table_header">
        <tr>
        <th>S.No</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Starting Point </th>
        <th>Place of Visit</th>
        <th>Purpose of Visit</th>
        <th>Action</th>
        <th>Action</th>
        
        
        </tr>
        </thead>
        <!-- <div [formGroup]="taEditForm.controls.detail"> -->
        <tbody>
          <tr *ngFor="let directorName of overall;index as i">
            <!-- <div [formGroup]="taEditForm.controls.detail"> -->
             <td>{{i+1}}</td>
              <td>{{ directorName.startdate| date:'dd-MMM-yyyy'}}</td>
              <td>{{directorName.enddate| date:'dd-MMM-yyyy'}}</td>
              <td>{{directorName.startingpoint}}</td>
              <td>{{directorName.placeofvisit}}</td>
              <td>{{directorName.purposeofvisit}}</td>
              <td>
                <span class="fa fa-plus"></span>
            </td>
            <td>
              <span class="fa fa-trash"></span>
          </td>
          </tr>
      </tbody>
        
        <!-- </div> -->
        </table>
        </div>
        <div class="col-md-6">
          <h4 style="color:deeppink">Attachment</h4>            
          <div class="form-group">
              <input type="file" name="image"style="width:250px;" (change)="fileProgress($event)" />
          </div>
          <div *ngIf="fileUploadProgress">
              Upload progress:{{ fileUploadProgress }}
          </div>
          <div class="image-preview mb-3" *ngIf="previewUrl">
              <img [src]="previewUrl" height="300" />                 
          </div>
          <div class="mb-3" *ngIf="uploadedFilePath">
              {{uploadedFilePath}}
          </div>
      </div>
      <h3 style="color:deeppink;">
        To Approver
      </h3>
       <div>
          <mat-form-field style="width: 175px;">
           <mat-label>Branch</mat-label>
           <input matInput placeholder="Branch" formControlName="bank" autocomplete="off" required>
         </mat-form-field>
        
        <mat-form-field style="width: 175px;margin-left: 50px;">
         <mat-label>Employee</mat-label>
         <input matInput placeholder="Employee" formControlName="employee" autocomplete="off" required>
       </mat-form-field>
      </div>
         <button type="submit" style="border-radius: 40px;margin-left: 10px;" matTooltip="Submit"
             class="btn btn-outline-primary">Submit</button>
            <button type="button" class="btn btn-outline-primary" (click)="onCancelClick()" matTooltip="Cancel"
            style="border-radius: 40px;margin-left: 10px;">Cancel</button>
         <h3 style="color:deeppink ;">
           Approval View
         </h3>
         <div class="table-responsive"  style="margin-left: 7%;margin-top:8%;width: 100%;overflow-x: hidden;">
          <table class="table">
          <thead class="table_header">
          <tr>
          <th>S.No </th>
          <th>Employee Name</th>
          <th>Raised By</th>
          <th>Type</th>
          <th>Date</th>
          <th>Comment</th>
          <th>Status</th>
          
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let approve of getApproveList;index as i">
          <td scope="row"  style="vertical-align: middle;">{{(this.approvalsummarypage - 1)*pagesize +i+1 }}</td>
          <td>{{approve.tourgid}}</td>
          <td>{{approve.approvedby}}</td>
          <td>{{approve.apptype}}</td>
          <td>{{approve.approveddate}}</td>
          <td>{{approve.appcomment}}</td>
          <td>{{approve.status}}</td>
          
          
          
          </tr>
          </tbody>
          </table>
          <!-- <div class="row">
              <div class="col-sm-12" style="font-size: small;text-align:right;margin-bottom: 5%;">
                  <button mat-icon-button [disabled]="has_previous === false" color="primary"
                  (click)="viewadvancepreviousClick()">
                  <mat-icon >arrow_back</mat-icon>
                  </button>
                  {{viewadvancesummarypage}}
                  <button mat-icon-button [disabled]="has_next === false" color="primary"
                  (click)="viewadvancenextClick()">
                  <mat-icon >arrow_forward</mat-icon>
                  </button>
                  </div>
          </div> -->
          
          </div>
        
                
             </form>
        </div>
    </div> 
  
    <pre>
        {{taEditForm.value|json}}
    </pre> 
    
    
    
    