<div class="p-4">
  <!-- <nav class="main-nav">
    <div class="nav nav-tabs">
      <span
        class="nav-item nav-link"
        data-toggle="tab"
        (click)="subModuleData(sub)"
        role="tab"
        style="cursor: pointer"
        *ngFor="let sub of subModuleList"
      >
        {{ sub.name }}
      </span>
    </div>
  </nav> -->
  <div class="nav-container mb-2">
    <button class="scroll-button left" (click)="scrollLeft()">
        <mat-icon>arrow_left</mat-icon>
    </button>
    <nav class="nav-tabs" #navTabs>
        <p class="nav-item nav-link" [ngClass]="{ active: sub.active }" (click)="setActiveTab(sub)" role="tab"
        *ngFor="let sub of subModuleList">
            {{ sub.name }}
        </p>
    </nav>
    <button class="scroll-button right" (click)="scrollRight()">
        <mat-icon>arrow_right</mat-icon>
    </button>
</div>

  <div>
    <span *ngIf="isTemplateForm">
      <app-template-create
        (onCancel)="tempCancel()"
        (onSubmit)="tempSubmit()"
      ></app-template-create>
    </span>
  </div>

  <div>
    <span *ngIf="isAccountForm">
      <app-create-account
        (onCancel)="acountCancel()"
        (onSubmit)="acountSubmit()"
      ></app-create-account>
    </span>
  </div>

  <div>
    <span *ngIf="isRuleform">
      <app-define-rule-engine
        (onCancel)="ruleCancel()"
        (onSubmit)="ruleSubmit()"
      ></app-define-rule-engine>
    </span>
  </div>

  <div>
    <span *ngIf="isAgingform">
      <app-aging-bucket
        (onCancel)="agingCancel()"
        (onSubmit)="agingSubmit()"
      ></app-aging-bucket>
    </span>
  </div>

  <div class="search-summary" *ngIf="isTemplate">
    <form [formGroup]="TemplateForm" class="search-content">
      <!-- <section class="col-md-8">
                    <mat-label>Template Name</mat-label> <br>
                    <mat-form-field class="matformfield" appearance="outline">
                        <input [formControlName]="'template_name'" class="matformfieldinput" matInput
                            placeholder="New Template">
                    </mat-form-field>
                </section> -->
                <div class="search-auto-fit">
                  <lib-vs-search-cmp
                  id="matInput-size"
                  [SearchArr]="prooftempsearch"
                  [Outputtype]="searchprooftempsvar"
                  (dataoutput)="searchprooftempsupload($event)"
                  [ButtonArr]="tempbutton"
                >
                </lib-vs-search-cmp>
                </div>
      
      <!-- <button
        [matTooltip]="'Create New ' + makerNameBtn"
        (click)="addForm()"
        [matTooltipPosition]="'above'"
        matTooltipClass="custom-tooltip"
        class="btn btn-outline-success"
        style="border-radius: 40px; cursor: pointer"
      >
      <i class="fa fa-plus"></i>
      </button> -->
      <!-- <button mat-fab style="background-color: white;margin-top: 1rem;margin-left: 20px;" (click)="getTemplate()"
                        aria-label="Search">
                        <mat-icon>search</mat-icon>
                    </button> -->

      <!-- <button mat-fab (click)="templatereset()"
                        style="border-radius:40px;margin-left: 20px;background-color: white;color: black;margin-top: 1rem;">Clear
                    </button> -->
    </form>

   
    <!-- <div class="table-responsive">
      <lib-vs-cbox-summary
        [SummaryDetails]="SummarytemplatemasterData"
        [SummaryApiObj]="SummaryApitmpmasterObjNew"
      ></lib-vs-cbox-summary> 
    </div>-->
      <lib-vs-cbox-summary
        [SummaryDetails]="SummarytemplatemasterData"
        [SummaryApiObj]="SummaryApitmpmasterObjNew"
      ></lib-vs-cbox-summary>
      <!-- <table class="table table-bordered">
                <thead class="table_header">
                    <tr>
                        <th>S.No</th>
                        <th>File Type</th>
                        <th>Template</th>
                        <th>Edit</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let temp of templateList; index as i">
                        <th scope="row">{{ (currentpage-1) *10+i+1 }}</th>
                        <td>Excel</td>
                        <td>{{ temp.template}}</td>
                        <td>
                            <button mat-icon-button matTooltip=" Edit" class="iconbutton" (click)="templateEdit(temp)"
                                color="primary">
                                <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                            </button>
                        </td>
                        <td>
                            <mat-icon style="color: gray;" (click)="deleteTemplate(temp)">delete</mat-icon>
                        </td>
                    </tr>
                    <tr *ngIf="templateList.length==0" class="text-center">
                        <td colspan="5"> No Records Found</td>
                    </tr>

                </tbody>
            </table>
            <div *ngIf="templateList.length>0" class="col-sm-12" style="font-size: small;text-align: right;">
                <button mat-icon-button [disabled]="has_previous === false" color="primary"
                    (click)="previousClickTemplate()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                {{currentpage}}
                <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClickTemplate()">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div> -->
  </div>

  <div class="search-summary" *ngIf="isAccount">
    <form [formGroup]="AccountForm" class="search-content">
      <!-- <section class="col-md-8">
                    <mat-label>Account Number</mat-label> <br>
                    <mat-form-field class="matformfield" appearance="outline">
                        <input [formControlName]="'account_name'" class="matformfieldinput" matInput
                            placeholder="Account 1">
                    </mat-form-field>
                </section> -->
                <div class="search-auto-fit">
                  <lib-vs-search-cmp
                  [SearchArr]="proofaccsearch"
                  [Outputtype]="searchproofaccsvar"
                  (dataoutput)="searchproofaccupload($event)"
                  [ButtonArr]="addbutton"
                >
                </lib-vs-search-cmp>
                </div>
      

      <!-- <button
        [matTooltip]="'Create New ' + makerNameBtn"
        (click)="addForm()"
        [matTooltipPosition]="'above'"
        matTooltipClass="custom-tooltip"
        class="btn btn-outline-success"
        style="border-radius: 40px; cursor: pointer"
      >
      <i class="fa fa-plus"></i>
      </button> -->
      <!-- <button mat-fab style="background-color: white;margin-top: 1rem;margin-left: 20px;" (click)="getAccountList()"
                        aria-label="Search">
                        <mat-icon>search</mat-icon>
                    </button> -->

      <!-- <button mat-fab (click)="accountreset()"
                        style="border-radius:40px;margin-left: 20px;background-color: white;color: black;margin-top: 1rem;">Clear
                    </button> -->
    </form>
    <lib-vs-cbox-summary
        [SummaryDetails]="SummaryaccountmasterData"
        [SummaryApiObj]="SummaryApiaccountmasterObjNew"
      ></lib-vs-cbox-summary>
    <!-- <div class="table-responsive">
      <lib-vs-cbox-summary
        [SummaryDetails]="SummaryaccountmasterData"
        [SummaryApiObj]="SummaryApiaccountmasterObjNew"
      ></lib-vs-cbox-summary> -->
      <!-- <table class="table table-bordered">
                <thead class="table_header">
                    <tr>
                        <th>S.No</th>
                        <th>Account Number</th>
                        <th>Name</th>
                        <th>Excel Upload Template Name</th> 
                        <th>Data Fetch Template Name</th>              
                        <th>Edit</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accountList;index as i">
                        <th>{{ (currentpage-1) *10+i+1 }}</th>
                        <td>{{ account.account_number }}</td>
                        <td>{{ account.name }}</td>
                        <td>{{ account?.wisefin_template?.template}}</td>
                        <td>{{ account?.cbs_template?.template }}</td>
                        <td>
                            <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                                (click)="accountEdit(account)" color="primary">
                                <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                            </button>
                        </td>
                        <td>
                            <mat-icon style="color: gray;" (click)="deleteAccount(account)">delete</mat-icon>
                        </td>
                    </tr>
                    <tr *ngIf="accountList.length==0" class="text-center">
                        <td colspan="5">No Records Found</td>
                    </tr>
                </tbody>
            </table>
            <div class="row" *ngIf="accountList.length>0">
                <div class="col-sm-12" style="font-size: small;text-align: right;">
                    <button mat-icon-button [disabled]="has_previous === false" color="primary"
                        (click)="previousClickAccount()">
                        <mat-icon >arrow_back</mat-icon>
                    </button>
                    {{currentpage}}
                    <button mat-icon-button [disabled]="has_next === false" color="primary"
                        (click)="nextClickAccount()">
                        <mat-icon >arrow_forward</mat-icon>
                    </button>
                </div>
            </div> -->
    <!-- </div> -->
  </div>

  <div class="search-summary" *ngIf="isRule">
    <form [formGroup]="RuleForm" class="search-content">
      <!-- <section class="col-md-8">
                    <mat-label>Rule Name</mat-label> <br>
                    <mat-form-field class="matformfield" appearance="outline">
                        <input [formControlName]="'rulename'" class="matformfieldinput" matInput placeholder="New Rule">
                    </mat-form-field>
                </section> -->
                <div class="search-auto-fit">
                  <lib-vs-search-cmp
                  [SearchArr]="proofmastersearch"
                  [Outputtype]="searchproofmasvar"
                  (dataoutput)="searchproofmasupload($event)"
                  [ButtonArr]="rulebutton"
                >
                </lib-vs-search-cmp>
                </div>
     

      <!-- <button
        [matTooltip]="'Create New ' + makerNameBtn"
        (click)="addForm()"
        [matTooltipPosition]="'above'"
        matTooltipClass="custom-tooltip"
        class="btn btn-outline-success"
        style="border-radius: 40px; cursor: pointer"
      >
      <i class="fa fa-plus"></i>
      </button> -->
      <!-- <button (click)="getrulelist()" mat-fab
                        style="background-color: white;margin-top: 1rem;margin-left: 20px;" aria-label="Search">
                        <mat-icon>search</mat-icon>
                    </button>

                    <button mat-fab (click)="Rulereset()"
                        style="border-radius:40px;margin-left: 20px;background-color: white;color: black;margin-top: 1rem;">Clear
                    </button> -->
    </form>
    <!-- <div class="table-responsive">
      <lib-vs-cbox-summary
        [SummaryDetails]="SummaryrulesmasterData"
        [SummaryApiObj]="SummaryApirulesmasterObjNew"
      ></lib-vs-cbox-summary> -->
      <!-- <table class="table table-bordered">
                <thead class="table_header">
                    <tr>
                        <th>S.No</th>
                        <th>Rule Name</th>
                        <th>Date</th>
                        <th>Template Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rule of rulelist;index as i">
                        <th scope="col">{{ (currentpage-1) *10+i+1 }}</th>
                        <td>{{ rule.rule_name }}</td>
                        <td>{{ rule.date | date:"dd-MMM-yyyy" }}</td>
                        <td>
                            <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                                (click)="ruleedit(rule)" color="primary">
                                <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                            </button>
                        </td>
                        <td>
                            <mat-icon (click)="ruledelete(rule)" style="color: gray;">delete</mat-icon>
                        </td>
                    </tr>
                    <tr *ngIf="rulelist?.length==0" class="text-center">
                        <td colspan="5">No Records Found</td>
                    </tr>
                </tbody>
            </table> -->
      <!-- <div class="row" *ngIf="rulelist.length>0">
                <div class="col-sm-12" style="font-size: small;text-align: right;">
                    <button mat-icon-button [disabled]="has_previous === false" color="primary"
                        (click)="getrulelist(currentpage-1)">
                        <mat-icon >arrow_back</mat-icon>
                    </button>
                    {{currentpage}}
                    <button mat-icon-button [disabled]="has_next === false" color="primary"
                        (click)="getrulelist(currentpage+1)">
                        <mat-icon >arrow_forward</mat-icon>
                    </button>
                </div>
            </div> -->
    <!-- </div> -->
    <lib-vs-cbox-summary
    [SummaryDetails]="SummaryrulesmasterData"
    [SummaryApiObj]="SummaryApirulesmasterObjNew"
  ></lib-vs-cbox-summary>
  </div>

  <div class="search-summary" *ngIf="isAging">
    <form [formGroup]="AgingForm" class="search-content">
      <div class="search-auto-fit" >
      <lib-vs-search-cmp
        [SearchArr]="agingsearch"
        [Outputtype]="searchagingvar"
        (dataoutput)="searchagingsupload($event)"
        [ButtonArr]="agingbutton"
      >
      </lib-vs-search-cmp>
</div>
      <!-- <button
        [matTooltip]="'Create New ' + makerNameBtn"
        (click)="addForm()"
        [matTooltipPosition]="'above'"
        matTooltipClass="custom-tooltip"
        class="btn btn-outline-success"
        style="border-radius: 40px; cursor: pointer"
      >
          <i class="fa fa-plus"></i>
      </button> -->

      <!-- <mat-label>Bucket Name</mat-label> <br>
                    <mat-form-field class="matformfield" appearance="outline">
                        <input [formControlName]="'name'" class="matformfieldinput" matInput
                            placeholder="Bucket 0-100 days">
                    </mat-form-field> -->
      <!-- <button type="button" class="unique-btn-txt" (click)="agingReport()">
        Reports
      </button> -->

      <!-- <button
        type="button"
        class="unique-btn-txt"
        (click)="agingedit({ id: 'acc_matching' })"
      >
        Incorporate with Accounts
      </button> -->
      <!-- <button mat-fab style="background-color: white;margin-top: 1rem;margin-left: 20px;"
                        (click)="getaginglist()" aria-label="Search">
                        <mat-icon>search</mat-icon>
                    </button>

                    <button mat-fab (click)="Agingreset()"
                        style="border-radius:40px;margin-left: 20px;background-color: white;color: black;margin-top: 1rem;">Clear
                    </button> -->
    </form>
    <lib-vs-cbox-summary
    [SummaryDetails]="SummarymasterData"
    [SummaryApiObj]="SummaryApimasterObjNew"
  ></lib-vs-cbox-summary>
    <!-- <div class="table-responsive">
      <lib-vs-cbox-summary
        [SummaryDetails]="SummarymasterData"
        [SummaryApiObj]="SummaryApimasterObjNew"
      ></lib-vs-cbox-summary> -->
      <!-- <table class="table table-bordered">
                <thead class="table_header">
                    <tr>
                        <th>S.No</th>
                        <th>Bucket Name</th>
                        <th>Time Frames</th>
                        <th>Template Name</th>
                        <th>Edit</th>
                        <th>Report Download</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rule of agingbucketlist;index as i">
                        <th>{{ (currentpage-1) *10+i+1 }}</th>
                        <td>{{ rule?.name }}</td>
                        <td>{{ rule?.timeline }}</td>
                        <td>
                            <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                                (click)="agingedit(rule)" color="primary">
                                <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                            </button>
                        </td>
                        <td class="text-center">
                            <mat-icon  style="color: gray;" (click)="agingreportdownload(rule)">download</mat-icon>
                        </td>
                        <td>
                            <mat-icon (click)="agingdelete(rule)" style="color: gray;">delete</mat-icon>
                        </td>
                    </tr>
                    <tr *ngIf="agingbucketlist.length===0" class="text-center">
                        <td colspan="10">No Records Found</td>
                    </tr>
                </tbody>
            </table> -->
      <!-- <div  class="row" *ngIf="agingbucketlist.length>0">
                <div class="col-sm-12" style="font-size: small;text-align: right;">
                    <button mat-icon-button [disabled]="has_previous === false" color="primary"
                        (click)="getaginglist(currentpage-1)">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    {{currentpage}}
                    <button mat-icon-button [disabled]="has_next === false" color="primary"
                        (click)="getaginglist(currentpage+1)">
                        <mat-icon >arrow_forward</mat-icon>
                    </button>
                </div>
            </div> -->
    <!-- </div> -->
  </div>
  <div *ngIf="isAgingreport" class="screen-padding">
    <div class="comp-header">
      <p  (click)="backAgingreport()" class="comp-header-p">
        <i class="fa fa-arrow-left back-button"></i>
        <span>Aging Bucket Report</span>
      </p>
    </div>
    <!-- <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">With Bucket</mat-radio-button>
            <mat-radio-button value="2">Without Bucket</mat-radio-button>
          </mat-radio-group> -->
    <mat-radio-group
      [(ngModel)]="selectedRadioValue"
      style="
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        margin-bottom: 10px;
      "
    >
      <mat-radio-button
        *ngFor="let n of radiolist"
        [value]="n.id"
        (click)="clickreport(n.id, $event)"
      >
        {{ n.name }}
      </mat-radio-button>
    </mat-radio-group>

    <form [formGroup]="reportForm">
      <div *ngIf="iswithout">
        <mat-form-field
          appearance="outline"
          style="width: 400px; margin-right: 10px"
          (click)="check_para()"
        >
          <mat-label>Report Based Without Group</mat-label>
          <mat-chip-list #chipList>
            <mat-chip
              *ngFor="let chip of chiplist"
              [selectable]="selectable"
              [removable]="true"
              (removed)="remove(chip)"
            >
              {{ chip }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input 
              matInput
              formControlName="accountno"
              [matAutocomplete]="account"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              required
            />
          </mat-chip-list>
          <mat-autocomplete #account="matAutocomplete" [displayWith]="acc_show">
            <mat-option
              (click)="selectdropdown(acc)"
              *ngFor="let acc of chipSelected"
              [value]="acc"
              (mouseenter)="open()"
            >
              {{ acc.name }} --- {{ acc.account_number }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button
          matTooltip="Download"
          (click)="reportdownload()"
          [matTooltipPosition]="'above'"
          matTooltipClass="custom-tooltip"
          class="btn btn-outline-success"
          style="border-radius: 40px;cursor: pointer;"
        >
        <i class="fa fa-download"></i>

        </button>
      </div>
      <div *ngIf="iswith">
        <mat-form-field
          appearance="outline"
          (click)="check_para()"
          style="width: 400px; margin-right: 10px"
        >
          <mat-label>Report Based With Group</mat-label>
          <mat-chip-list #chipList>
            <mat-chip
              *ngFor="let chip of chiplist"
              [selectable]="selectable"
              [removable]="true"
              (removed)="remove(chip)"
            >
              {{ chip }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              #withoutreportInput
              formControlName="accountno"
              [matAutocomplete]="account"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              required
            />
          </mat-chip-list>
          <mat-autocomplete #account="matAutocomplete" [displayWith]="acc_show">
            <mat-option
              (click)="selectdropdown(acc)"
              *ngFor="let acc of chipSelected"
              [value]="acc"
              (mouseenter)="open()"
            >
              {{ acc.name }} --- {{ acc.account_number }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button id="btnDwnld"
          matTooltip="Download"
          (click)="report_withdownload()"
          [matTooltipPosition]="'above'"
          matTooltipClass="custom-tooltip"
          class="btn btn-outline-success"
          style="border-radius: 40px;cursor: pointer;"
        >
        <i class="fa fa-download"></i>
        </button>
      </div>
    </form>
  </div>
</div>
