<div class="container">
    <!-- <h3> Client Changes </h3> -->
    <div class="col-md-12 row">
        <div class=" col-md-5 ">
            <h3> Changes </h3>
        </div>
        <div class="col-md-7 text-right">
            <button type="button" class="btn btn-outline-primary" style="border-radius: 40px;margin-left: 10px;"
                (click)="Cancel()">Cancel</button>
        </div>
    </div>

    <body>

        <div class="timeline">
            <ul>
                <li>
                    <h3>New data</h3>
                </li>
                <li>
                    <h3>Old data</h3>
                </li>

                <li>
                    <div class="content">
                        <p><code>File Name</code>:&nbsp;<span>{{ modificationdata.new_data.file_name}}</span></p>
                                
                        <p><code>>Ref Type </code>:&nbsp;<span >{{ modificationdata.new_data.ref_type.text}}</span></p>
                       
                        
                    </div>

                </li>

                <li>
                    <div class="content" *ngIf="modificationdata.action==2">
                        <p><code>File Name</code>:{{ modificationdata.old_data.file_name}}</p>
                        <p><code>>Ref Type </code>:{{ modificationdata.old_data.ref_type.text}}</p>
                       
                    </div>

                </li>


                <div style="clear:both;"></div>
            </ul>
        </div>
    </body>



    
</div>