
.container {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.dashboard-card-wrapper {
  flex-grow: 1;
}

.dashboard-card {
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 30%; /* Flexbox for responsiveness */
  min-width: 150px; /* Minimum width for each card */
  max-width: 200px; /* Maximum width for each card */
}

.custom-hr {
  border: 0;
  height: 1px;
  background:green;
  margin: 10px 0;
}

.custom-paragraph {
  font-size: 14px;
  color: green;
}

.chart-nav {
  background-color: #f7f7f7;
  padding: 53px;
  height: auto;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-canvas {
  width: 100%;
  height: 300px; 
  min-height: 250px;
  max-height: 190px;
  border: 1px solid #ddd; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
}
.chart_1{
  padding: 39px;
  background-color: white;
}

.chart_2{
  padding: 35px;
  background-color: white;
}
.arrow-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  // margin-top: 10px;
}

.arrow-btns p {
  font-size: 28px;
}

.mat-h4, .mat-subheading-1, .mat-typography h4 {
  font: 400 15px / 24px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 30px 0 16px;
  /* gap: 50px; */
}
.margin_change{
  margin-left: 2px;
}
.marging_value{
  margin-left: 20px;
}

// dashboard 
.box {
  padding: 20px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -5px 1px 0px;
}

.graph-container {
  max-height: 350px;
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 10px;
}

.canvas-35 {
  flex: 35%;
}

.canvas-65 {
  flex: 65%;
}

#divChart1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas#myChart1 {
  height: 300px !important;
  width: 100% !important;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  max-height: 300px;  
}

@media only screen and (max-width: 768px) {
  .box {
      flex-basis: 100%; /* Each box takes 100% width on smaller screens */
  }
}

.card.card-img-holder .card-img-absolute {
  position: absolute;
  top: -1px;
  right: -1px;
  height: 105%;
}
.bg-gradient-danger {
  background: linear-gradient(to right, #439aee, #0316df) !important;
  color: #fff ;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.15) -2.05px 2.95px 12.6px;
}
.bg-gradient-blue {
  background: linear-gradient(to right, #b4d1ed, #0316df) !important;    color: #fff ;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.15) -2.05px 2.95px 12.6px;

}
.linior_gradiant{
// background: radial-gradient(circle at 10% 20%, rgba(238, 232, 232, 0.1) 0%, rgba(180, 224, 172, 0.37) 89.8%);
background: radial-gradient(circle at 10% 20%, rgba(121, 201, 218, 0.1) 0%, rgba(72, 189, 189, 0.63) 89.8%);
}

.card-body_con{
  flex: 1 1 auto;
  min-height: 1px;
}
.div_position{
  background: #e6e6e647;
}
.div_position_pdf{
  background: whitesmoke;
}
h4{
  font-size: xx-large;
  font-weight: 500;
}
// h3{
//     margin-left: 15%;
// }
.chart_back{
  display: flex;
  justify-content:space-between;
}
h2{
  font-size: xx-large;
  font-weight: 500;
}
.padding_six{
  padding-top: 10%;
}

.font_style {
  font-size: small;
  font-weight: 500;
  cursor: pointer;
}
.font_style_green {
  color: blue;
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}

.font_style:hover {
  color: blue;
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.icon-up {
  color: green;
}

.icon-down {
  color: red;
}

.equal-height-card {
  max-height: 95px;
}
.mat-card-header .mat-card-title {
  color: #7c7d90;
  font-weight: bold;
  font-size: 1rem;
  font-family: fangsong;
}
.felx{
  display: flex;
  justify-content: flex-end;
}


.total-text {
display: flex;
align-items: center;
margin-left: auto;
font-weight: 500;
}
.grand-total{
  font-size: x-large;
}
.grand-total-label {
font-weight:600;
color: #000;
}
.text_red{
  color: red;
  font-weight: 500;
}
.text_green{
  color: green;
  font-weight: 500;
}
.text_black{
  color: black;
  font-weight: 500;
}
.header{
  cursor: pointer;   
}
.lable_name{
  display: flex;
  justify-content: center;
  color: #464c51;
  background: white;
}
.lable_name_mb{
  display: flex;
  justify-content: center;
  color: #4e99d2;
  background: white;
}
.lable_name_dict{
  font-size: x-large;
  font-weight: 700;
  font-family: fangsong;
  position: absolute;
}
.pdfdownload{
  background-color: rgba(182, 229, 233, 0.907);
}
.padding-important {
  padding-left: var(--dynamic-padding) !important;
}
.alin_center{
  display: flex;
  align-items: center;
}
.margin_auto{
  margin-left: auto;
  cursor: pointer;
}
.lable_font_style{
  font-weight: 500;
  font-size: medium;
}
.pointer{
  cursor: pointer;
}
.max_width{
  max-width: 85%;
}
.clear{
background-color: #4dd9ce;
color: #fffafa;;
}
.mat-card-header-text{
  margin: 0px 0px !important;
  display: none !important;
}

// new
/* For mat-card */
/* For mat-card */
/* For mat-card */

.header {
  font-size: 1rem; /* Slightly smaller font size */
  cursor: pointer;
  color: #000000;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: fangsong;
}  
.grand-total {
  font-size: 1.1rem;
  color: #000;
}
.grand-green {
  font-size: 1.1rem;
  color: green;
}
.grand-red {
  font-size: 1.1rem;
  color:red;
}
.content-container {
  padding: 10px; /* Reduce padding */
  text-align: center;
}

p {
  margin: 0;
  font-size: 1rem; /* Default font size for regular text */
  color: #333; /* Text color */
}

.mt-2, .mt-3 {
  margin-top: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.main_row{
  display: flex !important;
  align-items: stretch !important;
}
.mat_new_card{
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}
.para{
  display: flex;
  justify-content: center;
}
.para_div{
  font-weight: 500;
  font-size: large;
  background: aliceblue;
  padding: 10px;
}
.f_sy{
  font-size: large;
}
.max-w{
  max-width: 20% !important;
}
.linerline{
  border-top: 1px solid #466ba5;
}
.downf{
  font-size: medium;
  font-family: fangsong;
  color: rgb(0, 0, 0);
}
.left_sticky{
  position: sticky;
  left: 0;
  background-color: #DDEFDD;
  z-index: 10;
  top: auto;
}
.table_div{
  width: 100%;
  overflow: auto;
}
.progess_div{
  border-top: 2px solid #e6e6e647;
  flex: 0 0 60%;
  max-width: 60%;
}

.rowofprogess{
  width: 100%;
  display: flex;
  gap: 26px;
}
#divChart {
flex: 0 0 38%;
max-width: 38%;
padding: 2%;
}
.brnone{
border-top: 2px solid #ffffff;
}
.middle{
vertical-align: middle;
}
.wigth_t{
width: 30%;
cursor: pointer;
}