  <mat-card #pdfContent class='div_position p-4' id="chart-summary" *ngIf="chart_show">
    <div class="row chart_back ml-2 mr-1" id="cardTextContent">
      <div class="row max_width ml-2">
        <h3 *ngIf="chart_shwown?.FinYear" class="mr-2 lable_font_style">Fin Year : <span
            style="color: rgb(67, 193, 186);">{{ chart_shwown.FinYear}}</span></h3>
        <h3 *ngIf="chart_shwown?.YearTerm" class="mr-2 lable_font_style">Year Term : <span
            style="color: rgb(67, 193, 186);">{{ chart_shwown.YearTerm}}</span></h3>
        <h3 *ngIf="chart_shwown?.AmountIn" class="mr-2 lable_font_style">Amount In : <span
            style="color: rgb(67, 193, 186);">{{ chart_shwown.AmountIn}}</span></h3>
        <h3 *ngIf="chart_shwown?.Branch" class="mr-2 lable_font_style">Branch : <span
            style="color: rgb(67, 193, 186);">{{ chart_shwown.Branch}}</span></h3>
        <h3 *ngIf="chart_shwown?.SectorID" class="mr-2 lable_font_style">Sector : <span
            style="color: rgb(67, 193, 186);">{{ chart_shwown.SectorID}}</span></h3>
        <h3 *ngIf="chart_shwown?.Business" class="mr-2 lable_font_style">Business : <span
            style="color: rgb(67, 193, 186);">{{ chart_shwown.Business}}</span></h3>
        <h3 *ngIf="chart_shwown?.BS" class="mr-2 lable_font_style">BS : <span
            style="color: rgb(67, 193, 186);">{{ chart_shwown.BS}}</span></h3>
        <h3 *ngIf="chart_shwown?.CC" class="mr-2 lable_font_style">CC : <span
          style="color: rgb(67, 193, 186);">{{ chart_shwown.CC}}</span></h3>
        <h3 *ngIf="chart_shwown?.FromMonth" class="mr-2 lable_font_style">From Month : <span
          style="color: rgb(67, 193, 186);">{{ chart_shwown.FromMonth}}</span></h3>
        <h3 *ngIf="chart_shwown?.ToMonth" class="mr-2 lable_font_style">To Month : <span
          style="color: rgb(67, 193, 186);">{{ chart_shwown.ToMonth}}</span></h3>
      </div>
      <div class="chart_back">
        <div>
          <button type="submit" class="btn coustom-button clear" (click)="chart_back()">Back</button>
        </div>
      </div>
    </div>
  
    <div class="row main_row">
      <div class="col-md-12 preformatted" id="pdf-content" #preformattedDiv>
  
        <div>
          <div class="row">
            <ng-container *ngFor="let item of dashboard_data">
              <ng-container>
                <div class="col-md-3 in mt-3 cardhover">
                  <mat-card class="linior_gradiant">
                    <div class="header" (click)="particular_data(item)">
                      <span>{{ item.name }}</span>
                    </div>
                    <mat-card-content class="mt-1">
                      <div class="content-container">
                              <span [ngClass]="{
                                        'grand-green': item.amount >= 0,
                                        'grand-red ': item.amount < 0
                                      }">{{ item.amount | number: '1.2-2': 'en-IN' }}</span>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="d-flex m-3 justify-content-center">        
          <h3 class="mr-2 lable_font_style" style="font-family: fangsong;font-weight: 600;">{{levelname}}</h3>
        </div>
  
        <div class="graph-container">
          <div class="box alin_center canvas-35">
            <canvas #chartCanvas1></canvas>
          </div>
          <div class="box alin_center canvas-65">
            <canvas #chartCanvas2></canvas>
          </div>
        </div>

      </div>
    </div>
  
  </mat-card>


<div *ngIf="ppr_report">
    <app-ppr-level></app-ppr-level>
</div>