
.heading_tag{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: blue;
    font-weight: bold;
} 
.summary_content{
    margin-left: 15px;
}
.btncreate{
    width: 100px;
    height:35px;
    border-radius: 30px;
}
.btnsearch{
    border-radius: 40px;
    margin-left: 15px;
  }
 .norecords{
    text-align: center;
 } 