<div class="main-content">
    <h3>
        Tax Rate
    </h3>
    <div>
        <form [formGroup]="taxRateForm" (ngSubmit)="taxRateFormCreate()">
            <table>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Code</mat-label>
                            <input matInput placeholder="Code" autocomplete="off" formControlName="code" required id="tax-rate-0001">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" autocomplete="off" formControlName="name" required id="tax-rate-0002">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Rate</mat-label>
                            <input matInput placeholder="Rate" autocomplete="off" formControlName="rate" required id="tax-rate-0003">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-select formControlName="tax_id" id="tax-rate-0004">
                                <mat-option *ngFor="let tax of taxList" [value]="tax.id">{{tax.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div class="btn-bottom ">
                <button type="submit" class="btn btn-outline-primary" id="tax-rate-0005">Submit</button>&nbsp;&nbsp;&nbsp;
                <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary" id="tax-rate-0006">Cancel</button>
            </div>
        </form>
    </div>
</div>