.refresh_status {
    border-radius: 50px;
    font-size: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
  }
  .header_font{
    font-size: 15px;
    font-weight: 500;
    font-family: poppins;
   }