<main style="margin-top:1%;margin-left:15px">
   <h2>Archival Request</h2>
</main>
<form [formGroup]="archivalrequestForm">
   
   <div class="row">
      <div class="col-sm-4">
         <mat-form-field appearance="outline">
            <mat-label>No. Of Boxes</mat-label>
            <input matInput formControlName="num_of_boxes" required type="number">
         </mat-form-field>
      </div>
      <div class="col-sm-4">
         <mat-form-field appearance="outline">
            <mat-label>Vendor</mat-label>
            <mat-select matInput formControlName="vendor" required >
                <mat-option *ngFor="let val of vendorlist" [value]="val.vendor_master_id">
                    {{val.name}}
                </mat-option>
            </mat-select>            
         </mat-form-field>
      </div>
      <div class="col-sm-4" >
         <mat-form-field appearance="outline">
            <mat-label>Comments</mat-label>
            <textarea  style="max-height:100px; " rows="1" matInput formControlName="comments" required></textarea>
         </mat-form-field>
      </div>
   </div>

   <div class="row">
      <div class="col-sm-6">
         <input style="border-bottom-style:none;" type="file" (change)="uploadchoose($event)"
         accept=".xls, .xlsx, .xlsm, .csv" name="filedata" formControlName="filedata">
      </div>
      <div class="col-sm-3">
         <mat-form-field appearance="outline" style="margin-top: -4%;">
            <mat-label>Products</mat-label>            
            <mat-select matInput formControlName="productlist" required>
                <mat-option *ngFor="let val of productlist" [value]="val.id">
                    {{val.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
         <button class="btn btn-light" matTooltip="Download Example Format"
                     matTooltipPosition="left" type="submit" style="border-radius:40px;margin-left:50px;"
                     color="primary" (click)="formatdownload()">
                     <i class="fa fa-download" aria-hidden="true"></i>
                 </button>
      </div>


   </div>

   <div class="row">
      <div class="col-sm-4">    
         <mat-form-field appearance="outline">
            <mat-label>Employee Code</mat-label>
            <input matInput formControlName="contact_person" required>
         </mat-form-field>
      </div>
      <div class="col-sm-4">        
         <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>            
            <input matInput formControlName="contact_no" type="number" required>            
        </mat-form-field>
      </div>
      <div class="col-sm-3">         
         <mat-form-field appearance="outline" >
            <mat-label>Pickup Address</mat-label>
            <textarea [readonly]="mychoice"  style="max-height:100px; " rows="4" cols="25" matInput formControlName="contact_address" [(ngModel)]="addrdetails" required></textarea>
         </mat-form-field>
      </div>
      <div class="col-sm-1">
         <mat-checkbox color="primary" style="margin-left:15px;" >
            <mat-label>Address Change</mat-label>
         </mat-checkbox>
      </div>
   
   </div>


</form>


<!-- <form [formGroup]="archivalrequestForm">

   <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <ng-template matStepperIcon="edit">
         <mat-icon>done</mat-icon>
      </ng-template>
      <mat-step [stepControl]="firstFormGroup" [editable]="true" >
         <form [formGroup]="firstFormGroup" class="reqForm">
            <ng-template matStepLabel>Archival Request Form</ng-template>
            <table class="max-widths">
                  <tr>
                  <td> 
                    
                  <mat-form-field class="max-widths">
                     <mat-label>No. Of Boxes</mat-label>
                     <input matInput formControlName="num_of_boxes" required type="number">
                     <mat-error *ngIf="firstFormGroup.controls['num_of_boxes'].hasError('required')">
                        No of Boxes is required!
                    </mat-error>
                  </mat-form-field>
                  </td>
                  </tr>
               <tr>
                  <td>
                     
                     <mat-form-field class="max-widths">
                        <mat-label>Vendor</mat-label>
                        <mat-select matInput formControlName="vendor" required >
                            <mat-option *ngFor="let val of vendorlist" [value]="val.vendor_master_id">
                                {{val.name}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="firstFormGroup.controls['vendor'].hasError('required')">
                           Choose a Vendor
                       </mat-error>
                        
                     </mat-form-field>
                  </td>
               </tr>
                  <tr>
                  <td>
                    
                     <mat-form-field class="max-widths">
                        <mat-label>Comments</mat-label>
                        <textarea  style="max-height:100px; " rows="1" matInput formControlName="comments" required></textarea>
                        <mat-error *ngIf="firstFormGroup.controls['comments'].hasError('required')">
                           Provide your comments!
                       </mat-error>
                     </mat-form-field>
                  </td>
               </tr>

            </table>

            <div style="float:right;">
               <button class="btn btn-info" mat-button matStepperNext>Next</button>
               <button class="btn btn-info" style="margin-left: 10px;" mat-button mat-dialog-close #closebtn>Close</button>
              
            </div>
         </form>
      </mat-step>
      
      <mat-step  [editable]="true">
         <form [formGroup]="uploadform" >
         <ng-template matStepLabel>Upload Archival Details</ng-template>
         <table class="mtable">
            <tr>
              
            </tr>
            <br><br>
            <tr>
               <td>
               
                  <input style="border-bottom-style:none;" type="file" (change)="uploadchoose($event)"
                            accept=".xls, .xlsx, .xlsm, .csv" name="filedata" formControlName="filedata">

               </td>
               <td>
               </td>
               
            </tr> 
            <br><br>
            <section>
               <tr>
               <td>
                   
                   <mat-form-field >
                     <mat-label> Products</mat-label>
                     
                     <mat-select matInput formControlName="productlist" required  >
                         <mat-option *ngFor="let val of productlist" [value]="val.id" 
                         >
                             {{val.name}}
                         </mat-option>
                     </mat-select>
                 </mat-form-field>
               </td>
   
               
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click here to download sample invoice format<button class="btn btn-light" matTooltip="Download Example Format"
                     matTooltipPosition="left" type="submit" style="border-radius:40px;margin-left:50px;"
                     color="primary" (click)="formatdownload()">
                     <i class="fa fa-download" aria-hidden="true"></i>
                 </button>
               </td>
            </tr>
               

           </section>
           <br>
         </table>
    
         <div style="float:right;">
            
            <button class="btn btn-info" mat-button matStepperNext>Next</button>
            <button class="btn btn-info" style="margin-left: 10px;" mat-button mat-dialog-close #closebtn>Close</button>
           
         </div>
      </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" >
         <form [formGroup]="secondFormGroup" class="sform">
            <ng-template matStepLabel>PickUp Address</ng-template>
            
            <table class="max-widths">
               <tr>
                 
                  <td> 
                  
                     <mat-label>Employee Code&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-label>
                  <mat-form-field class="max-widths">
                    

                     <input matInput formControlName="contact_person" required  pattern="">
                     <mat-error *ngIf="secondFormGroup.controls['contact_person'].hasError('required')">
                        Enter your Employee Code
                    </mat-error>
                  </mat-form-field>
                  </td>
                  </tr>
               <tr>
                  <td>
                     <mat-label>Phone Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-label>
                     <mat-form-field class="max-widths">
                        
                        <input matInput formControlName="contact_no" type="number" required>
                        <mat-error *ngIf="secondFormGroup.controls['contact_no'].hasError('required')">
                           Enter Phone Number!
                       </mat-error>
                       <mat-error *ngIf="secondFormGroup.controls['contact_no'].errors?.pattern">
                        Enter Valid Phone Number
                    </mat-error>                 
                        
                    </mat-form-field>
                  </td>
               </tr>
                  <tr>
                  <td>
                     <mat-label>Pickup Address</mat-label>
                     <mat-form-field class="max-widths" style="margin-left: 25px;" >
                        <textarea [readonly]="mychoice"  style="max-height:100px; " rows="4" cols="25" matInput formControlName="contact_address" [(ngModel)]="addrdetails" required></textarea>
                     </mat-form-field>
                     
                  </td>
                  
               </tr>
               <tr>
                  <td>
                     <mat-checkbox color="primary" style="margin-left:15px;" >
                        <mat-label> Change in Address </mat-label>
                       </mat-checkbox>
                  </td>
               </tr>

            </table>           
            
            <div style="float:right;">
               <button class="btn btn-info" style="margin-left: 10px;" mat-button (click)="submitArchivalrequest()" >Submit</button>
               <button class="btn btn-info" style="margin-left: 10px;" mat-button mat-dialog-close #closebtn>Close</button>
            </div>
         </form>
      </mat-step>
   </mat-horizontal-stepper>



</form>  -->
