 
  ::ng-deep .cdk-overlay-container {
    z-index: 999999099990909;
  }

  ::ng-deep .mat-select-panel {
    z-index: 999999999999999; 
  }


.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .mat-radio-button {
    margin-left: 16px;
  }
  .max-widths
  {
    width: 60%;
  }


  .reqForm, .sform, mtable{
    font-size: large;
  }

  

  .file-input
  {
    display: grid;
    grid-template-areas: "stack";
    width: 300px;
    height: 150px;
    background-color: #eeeeee;
    border-radius: 8px;
  }
  .file-input > *
  {
    grid-area: stack;
  }
  .file-input > input
  {
    opacity: 0;
  }
  .file-input > .drop-zone
  {
    margin: 12px;
    border : dashed 2px #aaaaaa;  
    border-radius: 4px;
    transition: margin 200ms;
  }
  .file-input.active> .drop-zone
  {
    margin: 14px;
    background-color: #dadada;
  }