.tableFixHead {
    overflow-y: auto;
    max-height: 400px; 

}

.tableFixHead thead th {
    position: sticky;
    top: 0; 
    z-index: 1; 
}

.table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    text-align: left;   
}
.amount{
    text-align: right;
}
.styl_widtn{
   width:11%;
}
.mat-icon-button.mat-primary{
    color:green;
   }

.table_end {
    text-align: center;
    /* border: blue; */
    box-sizing: border-box;
    background: #ddefdd;
}
.table_header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ddefdd;
}
.overallh3{
    font-weight: 555;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.span_color{
    color: rgb(27, 196, 30);
    font-size: larger;
}
.total_amount{
    display: flex;
    justify-content: flex-end;
    font-size: large;
}
.total_amount_child{
    display: flex;
    justify-content: space-between;
    font-size: large;
}
.font_style{
    font-size: smaller;
}
.table_header th {
    padding: 8px;
    text-align: left;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .column-name {
    flex: 1;
  }
  
  .sort-icons {
    display: flex;
    gap: 4px;
  }
  
  .sort-icon {
    cursor: pointer;
    font-size: large;
  }
  .th_wigth{
    width: 15%;
  }
  .right{
    text-align: right;
  }
  .font_weight{
    font-weight: 600;
}
.hidden {
  display: none;
}