<br>

<h2 style="margin-left: 40px; ">
    Document
</h2>
<div class="main-content">

    <div>
        <form [formGroup]="documentForm">
            <table>
               
                    <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Reference Type </mat-label>
                            <mat-select formControlName="reference_type">
                                <mat-option *ngFor="let preDocu of preDocumentType" (click)="documentid(preDocu.id)" [value]="preDocu.id">
                                    {{preDocu.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
              
                   
                   
                </tr>


                <tr>
                    <td>
                        <tr *ngIf="fileData">
                           
                            <span  class="btn-link" style="cursor: pointer;"
                            data-target="#my-modal" data-toggle="modal" >
                           

                        </span>
                           
                           
                           </tr>
                    </td>
                </tr>

            </table>
            <div *ngIf="isrc">
            <h3>RC</h3>
            <input  type="file" #fileInput id="uploadFile" class="choose-file" formControlName="images1"
            (change)="onFileSelected1($event)" name="uploadFile" multiple="multiple" /><br>
            </div>
            <div *ngIf="ispc">
            <h3>PC</h3>
                <input type="file" #fileInput id="uploadFile" class="choose-file" formControlName="images2"
            (change)="onFileSelected2($event)" name="uploadFile" multiple="multiple" /><br>
            </div>
            <div *ngIf="isfc">
            <h3>FC</h3>
                <input  type="file" #fileInput id="uploadFile" class="choose-file" formControlName="images3"
            (change)="onFileSelected3($event)" name="uploadFile" multiple="multiple" /><br>
            </div>
            <div *ngIf="isinsurance">
            <h3>Insurance</h3>
                <input  type="file" #fileInput id="uploadFile" class="choose-file" formControlName="images4"
            (change)="onFileSelected4($event)" name="uploadFile" multiple="multiple" /><br>
            </div>
            <div *ngIf="isservicebill">
            <h3>Service Bill</h3>
                <input type="file" #fileInput id="uploadFile" class="choose-file" formControlName="images5"
            (change)="onFileSelected5($event)" name="uploadFile" multiple="multiple" />
            </div>
            <div *ngIf="isinvoice">
                <h3>Invoice</h3>
                    <input type="file" #fileInput id="uploadFile" class="choose-file" formControlName="images6"
                (change)="onFileSelected6($event)" name="uploadFile" multiple="multiple" />
                </div>
                 <div *ngIf="isimage">
                <h3>Vehicle Image</h3>
                    <input type="file" #fileInput id="uploadFile" class="choose-file" formControlName="images7"
                (change)="onFileSelected7($event)" name="uploadFile" multiple="multiple" />
                </div>
            <div class="btn-bottom">
                <button type="submit" class="btn btn-outline-primary" (click)="submitForm()">Submit</button>&nbsp;&nbsp;&nbsp;
                <button type="button"  class="btn btn-outline-primary" (click)="back()">Cancel</button>
            </div>
        </form>
    </div>
 
    <div id="my-modal" class="modal fade" aria-labelledby="exampleModalLabel" aria-hidden="true"
    tabindex="-1" role="dialog">
    <div class="modal-dialog"  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" 
                    id="exampleModalLabel">
                  Attachment View
              </h5>
              
                <button type="button"
                        class="close"
                        data-dismiss="modal" 
                        aria-label="Close">
                    <span aria-hidden="true">
                      ×
                  </span>
                </button>
            </div>
            <div class="modal-body">
                <img src="">

            </div>
            <div class="modal-footer">
                        
            </div>
        </div>
    </div>
</div>
</div>



