.matformfieldstyle {
  font-size: 7px;
  margin-top: 5px
}

.matformfieldinputstyle {
  font-size: 16px;
}

.maticonsize {
  font-size: 15px;
}

table {
  width: 50%;
  cursor: pointer;
}

.mat-row.highlighted {
  background: rgb(175, 247, 175);
}

.leftalign {
  text-align: left;
}

.rightalign {
  text-align: right;
}

.centeralign {
  text-align: center;
}

.table_header{
  position:sticky;
  top: 0;
}

.tableFixHead {
  overflow: auto;
  max-height: 63vh;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex{
  width: 290px;
}