<section class="screen-padding">
  <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 18px;" *ngIf="!parentData?.value">
    <div class="comp-header" >
      <p (click)="backtoPrevious()" class="comp-header-p">
        <i class="fa fa-arrow-left back-button"></i>
        <span>Proofing Download View</span>
      </p>
    </div>
    <button
      type="button"
      (click)="refresh()"
      matTooltip="Back"
      class="btn btn-outline-success"
      style="border-radius: 40px;"
    >
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </button>
  </div>

  <div class="summmary">
    <lib-vs-cbox-summary
      [SummaryDetails]="Summarys3sumData"
      [SummaryApiObj]="Summarys3ApimasterObjNew"
    >
    </lib-vs-cbox-summary>
  </div>
</section>

<!-- <button
  type="button"
  (click)="backtoPrevious()"
  matTooltip="Refresh"
  class="btn btn-outline-success backsum"
>
  <i class="fa fa-arrow-left">Go Back</i>
</button>
<h3 class="heading"><b>Proofing Download View</b></h3>
<button
  type="button"
  (click)="refresh()"
  matTooltip="Back"
  class="btn btn-outline-success refresh"
>
<i class="fa fa-refresh" aria-hidden="true"></i>
</button>
<div class="tablesize">
  <lib-vs-cbox-summary    [SummaryDetails]="Summarys3sumData"
  [SummaryApiObj]="Summarys3ApimasterObjNew">
  
  </lib-vs-cbox-summary>
</div> -->
