
*,
h1,
h2,
h3,
h4 {
    font-family: "Poppins", sans-serif;
  }
  i {
    font-family: FontAwesome;
  }
  mat-icon {
    font-family: "Material Icons";
  }
  // .my-table , .my-table th ,.my-table td {
  //   border: 2px solid #bac2cd;
  // }
  
  // .table {
  //   text-align: left;
  // }

  .backsum{
    border-radius: 40px;
     margin-left: 90%; 
     margin-top: 20px
  }

  .refresh{
    border-radius: 40px;
    margin-left: 85%;
    margin-top: -89px;
  }

  .tablesize{
    width: 95%;
    margin-left: 41px;
    margin-top: 5px;
  }

  .heading{
    display: flex;
    margin-left: 40px;
    margin-top: -30px;
  }