<br>
<mat-card>
    <div class="mat-card">
<h2 style="margin-left: 30px;margin-top: 1%;">Schedule Approval</h2>
<div style="margin-left: 35px;">
    <form [formGroup]="SA_SearchForm" (ngSubmit)="SA_Search()">
        <mat-form-field class="input-style">
            <input class="toolbar-search" type="text" matInput autocomplete="off" formControlName="premise_code" id="schedule-approval-0002">
            <mat-placeholder>Premises Code</mat-placeholder>
        </mat-form-field>
        <mat-form-field class="input-style" style="margin-left: 5px;">
            <input class="toolbar-search" type="text" matInput autocomplete="off" formControlName="premise_name" id="schedule-approval-0003">
            <mat-placeholder>Premises Name</mat-placeholder>
        </mat-form-field>
        <mat-form-field class="input-style" style="margin-left: 5px;">
            <input class="toolbar-search" type="text" matInput autocomplete="off" formControlName="agreement_code" id="schedule-approval-0004">
            <mat-placeholder>Agreement code</mat-placeholder>
        </mat-form-field>
        <button class="btn btn-outline-primary" type="submit" style="border-radius:40px;margin-right: 400px;" 
        color="primary" id="schedule-approval-0005">
            <i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
</div>
<div class="table-responsive" style="margin-top: 2%;width: 92%; overflow-x: hidden;margin-left: 50px;">
    <table class="table table-bordered" fixed-header>
        <thead class="table_header">
            <tr>
                <th>Sl.No</th>
                <th>Premise Code </th>
                <th>Premise Name</th>
                <th>Recurring Amount</th>
                <th>Agreement Code</th>
                <th>Lease Period</th>
                <th>Area Occupied</th>
                <th>Floor Located</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let app of approvedList; index as i">
                <td> {{(this.paymentcurrentpage - 1)*pagesizepayment +i+1 }} </td>
                <td>{{ app.lease_agreement.premise.code }}</td>
                <td>{{ app.lease_agreement.premise.name }}</td>
                <td>{{ app.recurring_amount}}</td>
                <td>{{ app.lease_agreement.code}}</td>
                <td>{{ app.lease_agreement.lease_period}}</td>
                <td>
                    <span *ngIf="app.occupancy.data[0]">{{ app.occupancy.data[0].area_occupied}}</span>
                </td>
                <td>
                    <span *ngIf="app.occupancy.data[0]">{{ app.occupancy.data[0].floor_located}}</span>
                </td>
                <td>
                    <span matTooltip="view" class=" fa fa-eye create " (click)="scheduleApprovalView(app)"></span>
                    <!-- <button mat-icon-button matTooltip="view" data-toggle="modal" data-target="#rejectModalEstateCell" 
                    (click)="schedule(app)" class="iconbutton" color="primary" id="schedule-approval-0006">
                        <mat-icon class="enabled_icon" aria-label="view">visibility</mat-icon>
                    </button> -->
                </td>


            </tr>
        </tbody>
    </table>
    <div *ngIf="approvedList ?.length == 0" style="margin-left: 42%;">
        <h3>Sorry data not found!.. </h3>
    </div>
    <div class="row" *ngIf="ispaymentpage">
        <div class="col-sm-12" style="font-size: small;text-align: right; margin-bottom: 100px;">
            <button mat-icon-button [disabled]="has_paymentprevious === false" color="primary"
                (click)="previousClickPayment()" id="schedule-approval-0007">
                <mat-icon>arrow_back</mat-icon>
            </button>
            {{paymentpresentpage}}
            <button mat-icon-button [disabled]="has_paymentnext === false" color="primary" (click)="nextClickPayment()" id="schedule-approval-0008">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="schedule-approval-0001">
    <div class="modal-dialog modal-xl" style="width: 60%;">
        <div class="modal-content">
            <div class="modal-header" style="background:#DDEFDD;">
                <h2 class="modal-title" style="color:black ;">Approve</h2>
                <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close" id="schedule-approval-0009">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div style="margin-left: 70px;margin-right: 80%;margin-top: 3%; width: 80%;">
                <div>
                    <form [formGroup]="moveToEstateCellForm" (ngSubmit)="SubmitForMoveToEstateCell()">


                        <textarea class="form-control z-depth-1" rows="3" style="width: 99%;" formControlName="content"
                            placeholder="Your reply to the Documents..." id="schedule-approval-0010"></textarea>

                        <button type="submit" style="float: left; " data-toggle="modal"
                            data-target="#schedule-approval-0001" class="btn btn-outline-primary" id="schedule-approval-0011">
                            Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

</div>
</mat-card>
<!-- <pre>
    {{ SA_SearchForm.value | json }}
</pre> -->