<section class="screen-padding screen-lm">
    <div class="comp-header">
        <p  (click)="router.navigate(['rmu/rmu_summary'])" class="comp-header-p">
          <i class="fa fa-arrow-left back-button"></i>
          <span>Archival Summary Admin</span>
        </p>
      </div>

      <div class="filter-aling-2">
<lib-vs-search-cmp
class="npm-mat-edit"
[SearchArr]="archivalsearch"
[Outputtype]="archivalsearchvar"
(dataoutput)="archivalsummarysearch($event)"
></lib-vs-search-cmp>

      </div>
<!-- 
    <form [formGroup]="archivalform">
        <section role="search" class="row">
            
            <div class="col-md-2">

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Archival Code</mat-label>
                    <mat-select matInput formControlName="archCode">
                        <mat-option *ngFor="let item of summarylist" [value]="item.archival_code">
                            {{item.archival_code}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                
            </div>
            <div class="col-md-2">

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Archival Date</mat-label>
                    <input matInput readonly [matDatepicker]="picker3" placeholder="Date" autocomplete="off"
                        formControlName="archDate" required>
                    <mat-datepicker-toggle class="rmudatetoggle" matSuffix [for]="picker3">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    
                </mat-form-field>


                
            </div>
            <div class="col-md-2">

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Vendor</mat-label>
                    <mat-select matInput formControlName="vendor">
                        <mat-option *ngFor="let item of vendors" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                
            </div>

            <div class="col-md-2">
                <mat-form-field class="summaryformfield" appearance="outline" style="width: 100%;">
                    <mat-label>Archival Status</mat-label>
                    <mat-select matInput formControlName="archStatus">
                        <mat-option *ngFor="let item of summarylist" [value]="item.archival_status.id">
                            {{item.archival_status.value}}
                           
                        </mat-option>
                    </mat-select>
                </mat-form-field>                
            </div>
            <div class="col-md-2" style="margin-top: 1.2%;">
               
                    <button matTooltip="Search Records" matTooltipClass="rmutooltip" matTooltipClass="rmutooltip" class="btn btn-outline-success" style="margin-left:5%; border-radius: 15px;"
                        id="rmubtn" color="primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <button class="btn btn-warning" matTooltipClass="rmutooltip"  [matTooltip]="'Clear Entries'" style="margin-left:20px; border-radius: 15px;" 
                        id="rmubtn">Clear</button>
             
            </div>


        </section>
    </form> -->

    <lib-vs-cbox-summary
    [SummaryDetails]="archivalsummary"
    [SummaryApiObj]="archivalsummaryapi"
  ></lib-vs-cbox-summary>

<!-- <div  class="table-responsive">
    <table class="table table-bordered" id="barcodetable" style="text-align:center">
        <thead class="table_header">
            <th>S.No</th>
            <th>Archival Code</th>
            <th>Date</th>
            <th>No of Boxes</th> -->
            
            <!-- <th>Product</th> -->
            <!-- <th>Requested By</th>
            <th>Branch</th>
            <th>Status</th>
            <th>Action</th> -->
            <!-- <th>Free Count</th> -->
            

        <!-- </thead>
        <tbody *ngFor="let sum of summarylist;index as ind">
            <td>{{(pagination.index-1)*limit+ind+1}}</td>
            <td>{{sum.archival_code}}</td>
            <td>{{sum.archival_date |  date:'dd-MM-yyyy'}}</td>
            <td>{{sum.num_of_boxes}}</td>
           
            <td>{{sum.employee.name}}</td>
            <td>({{sum.branch.code}}) {{sum.branch.name}}</td>
            <td>{{sum.archival_status.value}}</td> -->
            <!-- <td>{{sum.free_count}}</td> -->
            <!-- <td> -->

                <!-- <div class="share-button">
                    <span>View</span>
                     <a data-toggle="modal" data-target="#singlerecordform" (click)="getsinglerecord(sum.id)"><i class="fa  fa-id-card-o " matTooltip="Single Record"></i></a>
                    <a data-toggle="modal" data-target="#boxlevelform" (click)="getboxlevel(sum.id, sum.barcode, sum.archival_date)"><i class="fa fa-archive" matTooltip="Box Level"></i></a>
                    <a data-toggle="modal" data-target="#filelevelform" (click)="getfilelevel(sum.id)"><i class="fa fa-file" matTooltip="File level"></i></a> -->
                    <!-- <a data-toggle="modal" data-target="#trackingArch" (click)="canceldata(sum)"><i class="fa fa-trash" matTooltip="Cancel"></i></a> -->

                    <!-- <a  *ngIf="archstatus[lists.archival_status.value] == 'SCHEDULED' " data-toggle="modal" data-target="#trackingArch" (click)="canceldata(lists)"><i class="fa fa-trash" matTooltip="Cancel"></i></a> -->
                <!-- </div>
            </td>
            
        </tbody>
    </table> -->
    <!-- <div *ngIf="!summarylist.length" style="margin-left: 42%;">
        <h3>Sorry no data found!... </h3>
    </div>

    <div class="col-sm-12" style="font-size: small;text-align:right;margin-bottom: 5%;">
        <button (click)="prevpage()" mat-icon-button [disabled]="pagination.has_previous === false" color="primary">
            <mat-icon>arrow_back</mat-icon>
        </button>
        {{pagination.index}}
        <button (click)="nextpage()" mat-icon-button [disabled]="pagination.has_next === false" color="primary">
            <mat-icon>arrow_forward</mat-icon>
        </button>

    </div> -->

<!-- </div> -->
<!-- <section style="text-align:center;">
    <button class="btn btn-outline-dark backbtn" (click)="returnHome()" id="rmubtn">Back</button>
    </section> -->
    <div
    class="modal fade"
    id="singlerecordform"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog  modal-lg modal-dialog-centered">
      <div class="modal-content" >
        <div class="modal-header">
          <p class="modal-title mb-0" id="exampleModalLabel" style="font-weight: 600;">Single Record</p>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            #closeaddpopup
            aria-label="Close"
            (click)="closedpopup()"
          >
            <i aria-hidden="true">&times;</i>
          </button>
        </div>
    
        <div class="modal-body">
            <lib-vs-cbox-summary
            [SummaryDetails]="archivalpopupsummary"
    [SummaryApiObj]="archivalpopupsummaryapi"></lib-vs-cbox-summary>
            </div>
      </div>
    </div>
    </div>

    <div
    class="modal fade"
    id="boxlevelform"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog  modal-lg modal-dialog-centered">
      <div class="modal-content" >
        <div class="modal-header">
          <p class="modal-title mb-0" id="exampleModalLabel" style="font-weight: 600;">Box Level View</p>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            #closeaddpopup
            aria-label="Close"
            (click)="closedpopup()"
          >
            <i aria-hidden="true">&times;</i>
          </button>
        </div>
    
        <div class="modal-body">
            <lib-vs-cbox-summary   [SummaryDetails]="archivalpopup1summary"
            [SummaryApiObj]="archivalpopup1summaryapi"></lib-vs-cbox-summary>
            </div>
      </div>
    </div>
    </div>

    <div
    class="modal fade"
    id="filelevelform"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog  modal-lg modal-dialog-centered">
      <div class="modal-content" >
        <div class="modal-header">
          <p class="modal-title mb-0" id="exampleModalLabel" style="font-weight: 600;">File Level View</p>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            #closeaddpopup
            aria-label="Close"
            (click)="closedpopup()"
          >
            <i aria-hidden="true">&times;</i>
          </button>
        </div>
    
        <div class="modal-body">
            <lib-vs-cbox-summary  [SummaryDetails]="archivalpopup2summary"
            [SummaryApiObj]="archivalpopup2summaryapi"></lib-vs-cbox-summary>
            </div>
      </div>
    </div>
    </div>


</section>
