.table_header {
  
    text-align: center;
    font-size: 13px;
  }
  
  .filter-btn {
    margin-left: 30px;
  }
  th{
    text-align:center;
    font-size: 15px;
  }
  tbody td {
    padding: 0.5em 0.1em 0.1em;
    font-size: 15px;
  }

  .example-button-row {
    display: table-cell;
    width: 250px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  // td {
  //   padding-right: 8px;
  // }