<div style="margin-left: 50px;">
    
    <div style="margin-top:1%;">
        <span
            style="margin-left: 1px; font-family:'Times New Roman', Times, serif;font-size:25px;font-weight:lighter;"><b>
                Branch Details </b></span>
                <!-- <button class="btn btn-outline-primary" style="height: 60px;" style="border-radius:40px;float:right;margin-right: 10px;"
                (click)="backToAgreementSummary()">Back</button> -->

    </div>
    <hr>


    <div>
		<form [formGroup]="branchcertification">
			<div class="table-responsive" style="margin-top: 2%;width:35%; overflow-x: hidden;margin-left: 31%;">
				<table class="table table-bordered" fixed-header>
					<thead class="table_header" style="text-align: center;">
						<tr>
							<th> Branch Certification Report</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
                                <label style="margin-left: 20px;color: blue;">Branch: </label>
                                <mat-form-field style="width: 250px;margin-left: 50px;margin-bottom: -16px;">
                                    <input matInput [readonly] = "true" formControlName="branch_id">
                                </mat-form-field>
							</td>
						</tr>
						<tr>
							<td>
								<label style="margin-left: 20px;color: blue;">Site: </label>
                                <mat-form-field style="width: 250px;margin-left: 70px;margin-bottom: -16px;">
                                    <input matInput [readonly] = "true" formControlName="premise_id">
                                </mat-form-field>
							</td>
						</tr>
						<tr>
							<td>
								<label style="margin-left: 20px;color: blue;">Month: </label>
                                <mat-form-field style="width: 250px;margin-left: 50px;margin-bottom: -16px;">
                                    <input matInput [readonly] = "true" formControlName="monthdate">
                                </mat-form-field>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div>
				<table>
					<div>
						<div class="table-responsive"
							style="margin-top: 2%;width: 100%; overflow-x: hidden;margin-left: 22%;">
							<table class="table table-bordered" fixed-header>
								<thead class="table_header" style="text-align: center;">
									<tr>
	
										<th>Criteria</th>
										<th>Yes/No</th>
										<th>Incidents/Hours</th>
										<th>Reason</th>
	
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div style="color: blue;text-align: left;">Last Month Salary Credited?</div>
										</td>
										<td>
											<mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
												<mat-select formControlName="is_salary_credited">
													<mat-option *ngFor="let branch of branchcert" [value]="branch.id">
														{{branch.name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td>
											<div>-</div>
										</td>
										<td>
											<div>-</div>
										</td>
									</tr>
									<tr>
										<td>
											<div style="color: blue;text-align: left;">Last Month ESI/EPF Remitted?</div>
										</td>
										<td>
											<mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
												<mat-select formControlName="is_esi_esf_remitted">
													<mat-option *ngFor="let branch of branchcert" [value]="branch.id">
														{{branch.name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td>
											<div>-</div>
										</td>
										<td>
											<div>-</div>
										</td>
									</tr>
									<tr>
										<td>
											<div style="color:blue;text-align: left;">Is there any overtime for Security Guard?</div>
										</td>
										<td>
											<mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
												<mat-select formControlName="is_overtimeunarmed">
													<mat-option *ngFor="let branch of branchcert" [value]="branch.id">
														{{branch.name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td>
											<mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
												<mat-label>hrs</mat-label>
												<input matInput placeholder="hrs" [readonly] = "true" formControlName="overtimeunarmed"
													autocomplete="off">
											</mat-form-field>
										</td>
										<td>
											<mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
												<mat-label>Reason</mat-label>
												<input matInput placeholder="Reason" [readonly] = "true" formControlName="overtime_reasonunarmed"
													autocomplete="off">
											</mat-form-field>
										</td>
									</tr>
									<tr>
										<td>
											<div style="color:blue;text-align: left;">Is there any overtime for Armed Guard?</div>
										</td>
										<td>
											<mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
												<mat-select formControlName="is_overtime">
													<mat-option *ngFor="let branch of branchcert" [value]="branch.id">
														{{branch.name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td>
											<mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
												<mat-label>hrs</mat-label>
												<input matInput placeholder="hrs" [readonly] = "true" formControlName="overtime"
													autocomplete="off">
											</mat-form-field>
										</td>
										<td>
											<mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
												<mat-label>Reason</mat-label>
												<input matInput placeholder="Reason" [readonly] = "true" formControlName="overtime_reason"
													autocomplete="off">
											</mat-form-field>
										</td>
									</tr>
									<tr>
										<td>
											<div style="color:blue;text-align: left;">Security Guard Operation is staisfied</div>
										</td>
										<td>
											<mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
												<mat-select formControlName="is_staisfied">
													<mat-option *ngFor="let branch of branchcert" [value]="branch.id">
														{{branch.name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td>
											<div>-</div>
										</td>
										<td>
											<div>-</div>
										</td>
									</tr>
									<tr>
										<td>
											<div style="color: blue;text-align: left;">Is there any leave for security?</div>
										</td>
										<td>
											<mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
												<mat-select formControlName="is_leaveunarmed">
													<mat-option *ngFor="let branch of branchcert" [value]="branch.id">
														{{branch.name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td>
											<div>-</div>
										</td>
										<td>
											<div>-</div>
										</td>
									</tr>
									<tr>
										<td>
											<div style="color: blue;text-align: left;">Is there any leave for armed?</div>
										</td>
										<td>
											<mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
												<mat-select formControlName="is_leave">
													<mat-option *ngFor="let branch of branchcert" [value]="branch.id">
														{{branch.name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td>
											<div>-</div>
										</td>
										<td>
											<div>-</div>
										</td>
									</tr>
									<tr>
										<td>
											<div style="color:blue ;">Sleeping while on duty for Armed Guard? </div>
										</td>
										<td>
											<mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
												<mat-select formControlName="is_sleeping">
													<mat-option *ngFor="let branch of branchcert" [value]="branch.id">
														{{branch.name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td>
											<div>-</div>
										</td>
										<td>
											<div>-</div>
										</td>
									</tr>
									<tr>
										<td>
											<div style="color: blue;text-align: left;">Sleeping while on duty for Security Guard? </div>
										</td>
										<td>
											<mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
												<mat-select formControlName="is_sleepingunarmed">
													<mat-option *ngFor="let branch of branchcert" [value]="branch.id">
														{{branch.name}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</td>
										<td>
											<div>-</div>
										</td>
										<td>
											<div>-</div>
										</td>
									</tr>
								</tbody>
							</table>
	
							<table>
								<div>
									<tr>
										<td>
											<mat-form-field style="width: 250px;">
											<mat-label>Approval Branch</mat-label>
											<input matInput [readonly] = "true" formControlName="approval_branch">											</mat-form-field>
										</td>
                                        <td>
                                            <mat-form-field style="width: 250px;margin-left: 50px;">
                                                <mat-label>Approver</mat-label>
                                                <input matInput [readonly] = "true" formControlName="approver">
                                            </mat-form-field>
                                        </td>
									</tr>
								</div>
							</table>
						</div>
					</div>
				</table>
			</div>
		</form>
	</div>




    <div>
            <button class="btn btn-outline-primary" style="border-radius:40px;margin-left: 394px;"
            (click)="backTobranchSummary()">Back</button>

            <button *ngIf="((this.branchView?.approval_status.status == 'Draft' ||
            this.branchView?.approval_status.status == 'Review') && this.branchView?.ismaker == true)" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#rejectModalMovetoApprover"
                style="border-radius: 40px;margin-left: 31px;">Submit To Approver
            </button>
            <button *ngIf="((this.branchView?.approval_status.status == 'Draft' || this.branchView?.approval_status.status == 'Pending checker' ||
            this.branchView?.approval_status.status == 'Review') && this.branchView?.ismaker == true)" type="button" class="btn btn-outline-success" (click)="updateButton()" 
            style="border-radius: 40px;margin-left: 30px;">Update
            </button>

            <button *ngIf="this.branchView?.approval_status.status == 'Pending checker' && this.branchView?.ischecker == true" 
            type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#rejectModalApprover"
                style="border-radius: 40px;margin-left: 31px;">
                Approve
            </button>
            <!-- <button *ngIf="this.branchView?.approval_status.status == 'Pending checker' && this.branchView?.ischecker == true"
             type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#rejectModalReject"
                style="border-radius: 40px;margin-left: 30px;">Reject
            </button> -->
			<!-- BUG ID:7112 -->
			<button *ngIf="this.branchView?.approval_status.status == 'Pending checker' && this.branchView?.ischecker == true"
             type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#rejectModalReject"
                style="border-radius: 40px;margin-left: 30px;">Return
            </button>
            <button *ngIf="this.branchView?.approval_status.status == 'Pending checker' && this.branchView?.ischecker == true"
            type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#rejectModalReview"
                style="border-radius: 40px;margin-left: 30px;">Return
            </button>
    </div>




    <!-- Transaction History summary -->
    <div style="margin-top:0%">
        <span class="tab-title">
            <h2>Transaction History</h2>
        </span>
    </div>

    <div class="center">
        <div class="table-responsive">
            <table class="table table-bordered" fixed-header
                style="width: 74%;margin-bottom: 50px;margin-left: 12%;">
                <thead class="table_header" style="text-align: left;">
                    <tr>
                        <th>Sl.No</th>
                        <th>Date</th>
                        <th>Raiser</th>
                        <th>Comments</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let info of historyData; index as i">
                        <td> {{i+1}} </td>
                        <td class="text-style">{{ info.action_date | date:'dd-MMM-yyyy '}}</td>
                        <td class="text-style">{{ info.action_taken.name}}</td>
                        <td class="text-style">{{ info.remarks}}</td>
                        <td class="text-style">{{ info.action}}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="historyData ?.length == 0" style="margin-left: 42%;margin-bottom: 40px;">
                <h3>Sorry data not found!.. </h3>
            </div>
        </div>
    </div>  




     <!-- move to approver popup -->
    <div class="modal fade" id="rejectModalMovetoApprover" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" style="width: 45%;">
            <div class="modal-content">
                <div class="modal-header" style="background:#DDEFDD;">
                    <h2 class="modal-title" style="color:black ;">Submit To Approver</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div style="margin-left: 70px;margin-right: 80%;margin-top: 3%; width: 80%;">
                    <form [formGroup]="moveToApproverForm" (ngSubmit)="moveToApproverPopupForm()">
                        <table>
                            <div>
                                <tr>
                                    <td>
                                        <mat-form-field style="width: 200px;">
                                            <mat-label>Remarks</mat-label>
                                            <input matInput placeholder="Remarks" formControlName="remarks"
                                                autocomplete="off">
                                        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </div>
                        </table>
                        <tr>
                            <button type="submit" style="float: left;" data-toggle="modal"
                                data-target="#rejectModalMovetoApprover" class="btn btn-outline-primary">
                                Submit</button>
                            <button type="button" data-dismiss="modal" class="btn btn-outline-primary"
                                style="margin-left: 10px;margin-bottom: 10px;">
                                Cancel</button>
                        </tr>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- approver popup -->
    <div class="modal fade" id="rejectModalApprover" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" style="width: 45%;">
            <div class="modal-content">
                <div class="modal-header" style="background:#DDEFDD;">
                    <h2 class="modal-title" style="color:black ;">Approver</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div style="margin-left: 70px;margin-right: 80%;margin-top: 3%; width: 80%;">
                    <form [formGroup]="ApproverForm" (ngSubmit)="ApproverPopupForm()">
                        <table>
                            <div>
                                <tr>
                                    <td>
                                        <mat-form-field style="width: 200px;">
                                            <mat-label>Remarks</mat-label>
                                            <input matInput placeholder="Remarks" formControlName="remarks"
                                                autocomplete="off">
                                        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </div>
                        </table>
                        <tr>
                            <button type="submit" style="float: left;" data-toggle="modal"
                                data-target="#rejectModalApprover" class="btn btn-outline-primary">
                                Submit</button>
                            <button type="button" data-dismiss="modal" class="btn btn-outline-primary"
                                style="margin-left: 10px;margin-bottom: 10px;">
                                Cancel</button>
                        </tr>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- reject popup -->
    <div class="modal fade" id="rejectModalReject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" style="width: 45%;">
            <div class="modal-content">
                <div class="modal-header" style="background:#DDEFDD;">
                    <!-- <h2 class="modal-title" style="color:black ;">Reject</h2> -->
					<!-- BUG ID:7112 -->
					<h2 class="modal-title" style="color:black ;">Return</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div style="margin-left: 70px;margin-right: 80%;margin-top: 3%; width: 80%;">
                    <form [formGroup]="rejectForm" (ngSubmit)="rejectPopupForm()">
                        <table>
                            <div>
                                <tr>
                                    <td>
                                        <mat-form-field style="width: 200px;">
                                            <mat-label>Remarks</mat-label>
                                            <input matInput placeholder="Remarks" formControlName="remarks"
                                                autocomplete="off">
                                        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </div>
                        </table>
                        <tr>
                            <button type="submit" style="float: left;" data-toggle="modal"
                                data-target="#rejectModalReject" class="btn btn-outline-primary">
                                Submit</button>
                            <button type="button" data-dismiss="modal" class="btn btn-outline-primary"
                                style="margin-left: 10px;margin-bottom: 10px;">
                                Cancel</button>
                        </tr>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- review popup -->
    <div class="modal fade" id="rejectModalReview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" style="width: 45%;">
            <div class="modal-content">
                <div class="modal-header" style="background:#DDEFDD;">
                    <h2 class="modal-title" style="color:black ;">Review</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div style="margin-left: 70px;margin-right: 80%;margin-top: 3%; width: 80%;">
                    <form [formGroup]="reviewForm" (ngSubmit)="reviewPopupForm()">
                        <table>
                            <div>
                                <tr>
                                    <td>
                                        <mat-form-field style="width: 200px;">
                                            <mat-label>Remarks</mat-label>
                                            <input matInput placeholder="Remarks" formControlName="remarks"
                                                autocomplete="off">
                                        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </div>
                        </table>
                        <tr>
                            <button type="submit" style="float: left;" data-toggle="modal"
                                data-target="#rejectModalReview" class="btn btn-outline-primary">
                                Submit</button>
                            <button type="button" data-dismiss="modal" class="btn btn-outline-primary"
                                style="margin-left: 10px;margin-bottom: 10px;">
                                Cancel</button>
                        </tr>
                    </form>
                </div>
            </div>
        </div>
    </div>

   
       
    



</div>
