.center th,.center td
{
    text-align:center;
}

.btn-outline-primary {
    border-radius: 40px;
}
.table-bordered td,.table-bordered tr {
    border: 2px solid #bac2cd;
}
.table-bordered th{
    border: 2px solid #bac2cd;
}
mat-label{
    font-size: 17px;
  }