.Container {
    padding: 20px;
}

.comp-table table th {
    text-wrap-mode: nowrap !important;
}

.Search {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.width170px {
    width: 170px !important;
}

.NoRecordsFound {
    display: flex;
    justify-content: center;
    padding: 10px;
}