<!-- <div class="main-content">
    <h3>
     Broker Details
    </h3>
    <div>
        <form [formGroup]="brokerDetailsForm" (ngSubmit)="brokerDetailsFormCreate()">
            <table>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" autocomplete="off" formControlName="name" required id="premise-broker-details-form-0001">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" autocomplete="off" formControlName="email_id" required id="premise-broker-details-form-0002">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Brokerage Amount</mat-label>
                            <input matInput placeholder="Brokerage Amount" autocomplete="off"
                                (keypress)="numberOnly($event)" formControlName="brokerage_amount" required id="premise-broker-details-form-0003">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Mobile</mat-label>
                            <input matInput placeholder="Mobile" autocomplete="off" formControlName="mobile"
                                (keypress)="numberOnly($event)" maxlength="10" required id="premise-broker-details-form-0004">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div class="btn-bottom">
                <button type="submit" class="btn btn-outline-primary" id="premise-broker-details-form-0005">Submit</button>&nbsp;&nbsp;&nbsp;
                <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary" id="premise-broker-details-form-0006">Cancel</button>
            </div>
        </form>
    </div>
</div> -->