
<div class="container" >

    <h2 style="font-family: 'Times New Roman', Times, serif;color: blue;font-size: 23px;">Electricity Details Approval Summary</h2>
</div><hr>
    <div class="container">
        <form [formGroup]="approvalDetailSearch" style="margin-left:2%;">
            <table style="margin-bottom: 2%;">
                <div>
                    <tr>
                        <td>
                            <mat-form-field style="width: 200px;">
                                <mat-label>Consumer No</mat-label>
                                <input matInput placeholder="Consumer No" autocomplete="off" formControlName="consumerno">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width: 200px;margin-left: 50px;" (click)="branchname()">
                                <mat-label>Choose Branch</mat-label>
                                <input placeholder="branch" matInput formControlName="branch_id" #branchContactInput
                                    [matAutocomplete]="branchtype">
                                <mat-autocomplete #branchtype="matAutocomplete" [displayWith]="displaydiss2"
                                (opened)="autocompletebranchnameScroll()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let branch of branchlist"
                                        [value]="branch">
                                        ({{branch.code}}){{branch.name+ " " }}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width: 200px;margin-left: 50px;">
                                <mat-label>Status</mat-label>
                                <!-- <input matInput placeholder="Status" autocomplete="off"> -->
                                <mat-select formControlName="status">
                                    <mat-option value="Modified">Modified</mat-option>
                                    <mat-option value="Submitted">Submitted</mat-option>
                                    <mat-option value="Resubmitted">Resubmitted</mat-option>
                                    <mat-option value="Approved">Approved</mat-option>
                                    <mat-option value="Rejected">Rejected</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                        <button class="btn btn-outline-primary" (click)="searchsummarydata()" type="submit" style="border-radius:40px;margin-left: 15px;"
                         color="primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </td>       
                        <td>
                        <button type="button" class="btn btn-outline-danger" style="border-radius: 40px;height: 40px;margin:0px 10px">Reset</button>
                    </td>
                    </tr>
                </div>
            </table>
        </form>
    </div>



    <div class="table-responsive container" style="width: 95%;">
        <table class="table table-bordered" fixed-header>
            <thead class="table_header">
                <tr>
    
                    <th>S.No</th>
                    <th>Consumer No</th>
                    <th>Consumer Name</th>
                    <th>Branch Name</th>
                    <th>State</th>
                    <th>Board Name</th>
                    <th>Circle</th>
                    <th>Active/Deactive</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of EleApprovalSummaryList; index as i">
                    <td> {{(paymentpresentpage - 1)*pagesizepayment +i+1 }} </td>
                    <td (click)="clickApprovalConsumerNo(list)" style="color: mediumblue;cursor: pointer;">{{list.consumer_no}}</td>
                    <td>{{list.consumer_name}}</td>
                    <td>{{list.branch_id.name}}</td>
                    <td>{{list.consumer_state?.name}}</td>
                    <td>{{list.consumer_board?.name}}</td>
                    <td>{{list?.regioncode}}</td>
                    <td>ACTIVE</td>
                    <td>{{list.consumer_status.status}}</td>
                    <!-- <td>{{mothfind(list.month,list.year) | date: 'MMM-yyyy'}}</td>
                    <td> ({{ list.branch.code}}){{" "+list.branch.name}} </td>
                    <td>({{ list.premise.code}}){{" "+list.premise.name}}</td>
                    <td>{{list.created_by.employe_name}}</td>
                    <td>
                        <div *ngIf="list.approver != null">
                            {{ list.approver.employe_name }}
                        </div>
                    </td>
                    <td>{{list.approval_status.status}}</td>
                    <td>
                        <span matTooltip="view" class=" fa fa-eye create " style="color: green;cursor: pointer;" (click)="summaryView(list)"></span>
                       
                    </td> -->
                </tr>
            </tbody>
        </table>
        <!-- <div *ngIf="summaryList ?.length == 0" style="margin-left: 42%;">
            <h3>Sorry data not found!.. </h3>
        </div>
        <div class="row" *ngIf="ispaymentpage">
            <div class="col-sm-12" style="font-size: small;text-align: right; margin-bottom: 50px;">
                <button mat-icon-button [disabled]="has_paymentprevious === false" color="primary"
                    (click)="previousClickPayment()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                {{paymentpresentpage}}
                <button mat-icon-button [disabled]="has_paymentnext === false" color="primary" (click)="nextClickPayment()">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>  -->
    </div>

