<div class="container">
    <!-- <h3> Client Changes </h3> -->
    <div class="col-md-12 row">
        <div class=" col-md-5 ">
            <h3> Changes </h3>
        </div>
        <div class="col-md-7 text-right">
            <button type="button" class="btn btn-outline-primary" style="border-radius: 40px;margin-left: 10px;"
                (click)="Cancel()">Cancel</button>
        </div>
    </div>

    <body>

        <div class="timeline">
            <ul>
                <li>
                    <h3>New data</h3>
                </li>
                <li>
                    <h3>Old data</h3>
                </li>

                <li>
                    <div class="content">
                        <p><code>Asset Id</code>:&nbsp;<span>{{ modificationdata.new_data.asset_id}}</span></p>
                                
                        <p><code>Purchase Value</code>:&nbsp;<span >{{ modificationdata.new_data.purchase_value}}</span></p>
                        <p><code>Capitalised Value</code>:&nbsp;<span >{{ modificationdata.new_data.capitalised_value}}</span></p>
                        <p><code>Asset Life</code>:&nbsp;<span >{{ modificationdata.new_data.asset_life}}</span></p>
                        <p><code>WDV</code>:&nbsp;<span >{{ modificationdata.new_data.wdv}}</span></p>
                        <p><code>Sale Value</code>:&nbsp;<span>{{ modificationdata.new_data.sale_value}}</span></p>
                        
                    </div>

                </li>

                <li>
                    <div class="content" *ngIf="modificationdata.action==2">
                        <p><code>Asset Id</code>:{{ modificationdata.old_data.asset_id}}</p>
                        <p><code>Purchase Value</code>:{{ modificationdata.old_data.purchase_value}}</p>
                        <p><code>Capitalised Value</code>:{{ modificationdata.old_data.asset_life}}</p>
                        <p><code>Asset Life</code>:&nbsp;<span >{{ modificationdata.new_data.wdv}}</span></p>
                        <p><code>WDV</code>:{{ modificationdata.old_data.wdv}}</p>
                        <p><code>Sale Value</code>:{{ modificationdata.old_data.sale_value}}</p>
                        
                    </div>

                </li>


                <div style="clear:both;"></div>
            </ul>
        </div>
    </body>



    
</div>
