*,
h1,
h2,
h3,
h4,
p {
  font-family: "Poppins", sans-serif;
}

i {
  font-family: FontAwesome;
}

mat-icon {
  font-family: 'Material Icons';
}

.content-adjust {
  padding: 20px !important;
}

.content {
  margin-left: 20px
}

h3 {
  font-weight: 500;
}

.searchs-expand {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 0;
}

.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.5s ease-in-out;
}

.table-responsive::-webkit-scrollbar {
  width: 1px;
  height: 12px;
}

/* Track */
.table-responsive::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.table-responsive::-webkit-scrollbar-thumb {
  background: #a09f9f4b;
}

.padsize th,
.padsize td {
  padding: 10px;
}

.header-adjust {
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid rgb(228, 228, 228);
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    margin: 0 !important;
  }

  .btn-outline-success {
    border-radius: 40px;
    // padding: 0 10px !important;
  }

}

.button-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
table {
  th {
    font-weight: 500 !important;
  }
}
.required-star {
  color: red;
  font-size: 20px;
  margin-left: 3px;
}