.data_padding{
    padding: 7%
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 0px solid #212529;
    font-weight: 500;
}

.table-bordered {
    border: 1px solid #2125291f;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #bdbcaf;
}
.mat_cardsize {
    padding-left: 100px;
    // display: flex;
    // justify-content: center; 
    // width: 160%;
  }
  
//   mat-card {
//     display: flex;
//     flex-direction: column;
//     align-items: stretch;
//     width: fit-content;
//     padding-left: 100px;
//   }

 .size{
    padding-left: 100px
 } 
//   .container {
//     height: 100vh;
//     // overflow-y: auto;
//   }

  .sticky-card {
//     position: -webkit-sticky; 
    position: sticky;
    top: 0;
//     margin-left: 2%;
//     width: 140%;
//     background-color: white;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//     z-index: 1000; 
  }

  .cardachart{
    border-radius: 40px;
}
::ng-deep .canvasjs-chart-credit{
    display: none !important;
}

.card.card-img-holder .card-img-absolute {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.bg-gradient-danger {
    background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096)) !important;
    background: linear-gradient(to right, #ffbf96, #fe7096) !important;
}
.bg-gradient-blue {
    background: -webkit-gradient(linear, left top, right top, from(#96e3ff), to(#70d3fe)) !important;
    background: linear-gradient(to right, #96a4ff, #8870fe) !important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card .card-body {
    padding: 2.5rem 2.5rem;
}

// 

.graph-container {
    width: 100%;
    // padding-top: 20px;
    display: flex;
    // flex-wrap: wrap;
    gap: 26px;
}

.box {
    padding: 20px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

#divChart {
    flex: 0 0 32%; /* First box takes 30% of the width */
    max-width: 32%; /* Added to ensure it doesn't exceed 30% */
}

#divChart1 {
    flex: 0 0 70%; /* Second box takes 70% of the width */
    max-width: 66%; /* Added to ensure it doesn't exceed 70% */
}
#divChart2 {
    flex: 0 0 23%; /* third box takes 70% of the width */
    max-width: 23%; /* Added to ensure it doesn't exceed 70% */
}

@media only screen and (max-width: 768px) {
    .box {
        flex-basis: 100%; /* Each box takes 100% width on smaller screens */
    }
}

.card.card-img-holder .card-img-absolute {
    position: absolute;
    top: -1px;
    right: -1px;
    height: 105%;
}
.bg-gradient-danger {
    background: linear-gradient(to right, #439aee, #0316df) !important;
    color: #fff ;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.15) -2.05px 2.95px 12.6px;
}
.bg-gradient-blue {
    background: linear-gradient(to right, #b4d1ed, #0316df) !important;    color: #fff ;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.15) -2.05px 2.95px 12.6px;

}

.card-body_con{
    flex: 1 1 auto;
    min-height: 1px;
}
.div_position{
    background: #e6e6e647;
}
.div_position_pdf{
    background: whitesmoke;
}
h4{
    font-size: xx-large;
    font-weight: 500;
}
// h3{
//     margin-left: 15%;
// }
.chart_back{
    display: flex;
    justify-content:space-between;
}
h2{
    font-size: xx-large;
    font-weight: 500;
}
.padding_six{
    padding-top: 10%;
}

.font_style {
    font-size: smaller;
    font-weight: 500;
    cursor: pointer;
}
.font_style_green {
    color: green;
    font-size: smaller;
    font-weight: 600;
    cursor: pointer;
}

.font_style:hover {
    color: green;
    font-size: smaller;
    font-weight: 600;
    cursor: pointer;
}

  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .icon-up {
    color: green;
  }
  
  .icon-down {
    color: red;
  }
  
  .equal-height-card {
    min-height: 110px; 
 }
  .mat-card-header .mat-card-title {
    color: green;
    font-weight: bold;
    font-size: 1rem;
    font-family: fangsong;
}
.felx{
    display: flex;
    justify-content: flex-end;
}


.content-container {
display: flex;
justify-content: flex-end;
align-items: center;
margin-bottom: -1%;
margin-top: -15px;
}

.total-text {
display: flex;
align-items: center;
margin-left: auto;
font-weight: 500;
}
.grand-total-label {
font-weight:600;
color: #000;
}
.text_red{
    color: red;
    font-weight: 500;
}
.text_green{
    color: green;
    font-weight: 500;
}
.text_black{
    color: black;
    font-weight: 500;
}
.header{
    border-bottom: 1px solid;
    cursor: pointer;   
}
.lable_name{
    display: flex;
    justify-content: center;
    color: green;
}
.lable_name_mb{
    display: flex;
    justify-content: center;
    color: green;
    margin-bottom: 2%;
}
.lable_name_dict{
    font-size: x-large;
    font-weight: 700;
    font-family: fangsong;
    position: absolute;
}
.linior_gradiant{
    background: radial-gradient(circle at 10% 20%, rgba(238, 232, 232, 0.1) 0%, rgba(180, 224, 172, 0.37) 89.8%);
}
.pdfdownload{
    background-color: rgba(227, 233, 226, 0.27);
}
.mat-card-header-text {
    margin: 0px !important;
}
.padding-important {
    padding-left: var(--dynamic-padding) !important;
}
.alin_center{
    display: flex;
    align-items: center;
}
.margin_auto{
    margin-left: auto;
    cursor: pointer;
}
.lable_font_style{
    font-weight: 500;
}
.pointer{
    cursor: pointer;
}
.max_width{
    max-width: 85%;
}
.clear{
    background-color: green;
}