<br>

<h2 style="margin-left: 50px; ">
    Recurring Schedule
</h2>
<div class="main-content">

    <div>
        <form [formGroup]="recurringScheduleForm" (ngSubmit)="recurringScheduleFormCreate()">
            <table>
               

                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Term Number</mat-label>
                            <input matInput placeholder="Term Number" autocomplete="off" (keypress)="numberOnly($event)"
                                formControlName="term_number" required id="recurring-form-0001">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <input matInput [matDatepicker]="picker" formControlName="from_date"
                                (dateChange)="setDate($event.value)" [formControl]="defaultDate"
                                placeholder="Start Date" id="recurring-form-0002">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <input matInput [matDatepicker]="picker2" formControlName="to_date" [min]="toDate"
                                placeholder="End Date" id="recurring-form-0003">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Term Period </mat-label>
                            <input matInput placeholder="Term Period" autocomplete="off" formControlName="term_period"
                                (keypress)="numberOnly($event)" required id="recurring-form-0004">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Rent Amount</mat-label>
                            <input matInput placeholder="Rent Amount" autocomplete="off" formControlName="rent_amount"
                                (keypress)="numberOnly($event)" required id="recurring-form-0005">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Maintenanace Amount</mat-label>
                            <input matInput placeholder="Maintenanace Aamount" autocomplete="off"
                                (keypress)="numberOnly($event)" formControlName="maintenance_amount" required id="recurring-form-0006">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Amenities Amount</mat-label>
                            <input matInput placeholder="Amenities Amount" autocomplete="off"
                                (keypress)="numberOnly($event)" formControlName="amenities_amount" required id="recurring-form-0007">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Others</mat-label>
                            <input matInput placeholder="Others" autocomplete="off" (keypress)="numberOnly($event)"
                                formControlName="others" required id="recurring-form-0008">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Recurring Schedule Amount</mat-label>
                            <input matInput placeholder="Recurring Schedule Amount" autocomplete="off" formControlName="recurring_amount"
                                (keypress)="numberOnly($event)" required id="recurring-form-0009">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Recurring Period</mat-label>
                            <mat-select formControlName="recurring_period" id="recurring-form-0010">
                                <mat-option *ngFor="let i of iList" [value]="i.id">
                                    {{i.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Recurring Date </mat-label>
                            <input matInput placeholder="Recurring Date" autocomplete="off" formControlName="recurring_date"
                                (keypress)="numberOnly($event)" required id="recurring-form-0011">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Remarks</mat-label>
                            <input matInput placeholder="Remarks " autocomplete="off" formControlName="remarks"
                                required id="recurring-form-0012">
                        </mat-form-field>
                    </td>
                </tr>

            </table>
            <div class="btn-bottom">
                <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary" id="recurring-form-0013">Submit</button>
                <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
                    style="border-radius: 40px;margin-left: 10px;" id="recurring-form-0014">Cancel</button>
            </div>
        </form>
    </div>
</div>