<div >
    <h1 style="font-family: 'Times New Roman', Times, serif;font-size: 20px;color: blue;">Electricity Details Query Summary</h1>
</div><hr>
<div >
    <!-- <form [formGroup]="codosearchform">
        <div class=" col-md-12 row">
            <div class="col-md-3">
                <mat-form-field class="input_width" >
                    <mat-label>Consumer No</mat-label>
                    <input type="text" matInput formControlName="consumerno">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="input_width">
                    <mat-label>Consumer Name</mat-label>
                    <input type="text" matInput formControlName="consumername">
                </mat-form-field>
            </div>
            <div class="col-md-3" >
                <mat-form-field style="width: 250px;" (click)="getstatelist('',state_presentpage=1)">
                    <mat-label>State</mat-label>
                    <input type="text" #typeinput  matInput formControlName="state"
                             autocomplete="off"
                        (keyup)="getstatelist($event.target.value,state_presentpage=1)"
                        [matAutocomplete]="typeauto">
                    <mat-autocomplete [panelWidth]="300" #typeauto="matAutocomplete"
                        [displayWith]="displaystate" >


                        <mat-option *ngFor="let type of statedata" [value]="type">
                            {{type.name}}</mat-option>

                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="col-md-3" >
                <mat-form-field style="width: 250px;"
                (click)="getboard('','',board_currentpage=1)">
                <mat-label>Electricity Board</mat-label>
              
                <input placeholder="Board"  matInput formControlName="board"
                    #boardinput [matAutocomplete]="boardtype"
                    (keyup)="getboard($event.target.value,'',board_currentpage=1)">
                <mat-autocomplete #boardtype="matAutocomplete" [displayWith]="displaywithboard"
                    >
                    
                        <mat-option *ngFor="let board of boarddata" [value]="board">
                           
                            {{board.name}}
                        </mat-option>
               
                </mat-autocomplete>
            </mat-form-field>
            </div>

            <div class="col-md-3" >
                <mat-form-field style="width: 250px;" (click)="getregion('')">
                    <mat-label>Region</mat-label>
                    <input placeholder="Region" formControlName="region"  matInput (keyup)="getregion($event.target.value)"
                         [matAutocomplete]="regiontype">
                    <mat-autocomplete #regiontype="matAutocomplete" [displayWith]="displayregion">
                      
                            <mat-option *ngFor="let region of regiondata" [value]="region">
                                
                                {{region.region_name}}
                            </mat-option>
                        
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-3">
               
                
                <mat-form-field class="input_width" (click)="getbranchdata('',branch_currentpage=1)">
                    <mat-label>Choose Branch</mat-label>
                    <input placeholder="branch" matInput (keyup)="getbranchdata($event.target.value,branch_currentpage=1)" formControlName="branch" #branchContactInput
                    [matAutocomplete]="branchtype">
                <mat-autocomplete #branchtype="matAutocomplete"  [displayWith]="displaydiss2"
                (opened)="autocompletebranchnameScroll()">
                    
                        <mat-option *ngFor="let branch of branchdata"
                        [value]="branch">
                        
                        ({{branch.code}}){{branch.name}}

                        </mat-option>
               
                </mat-autocomplete>
                </mat-form-field>


            </div>
            <div class="col-md-3">
                <mat-form-field class="input_width">
                    <mat-label>Status</mat-label>
                    
                    <mat-select formControlName="status" >
                        <mat-option *ngFor="let status of statusdata"  [value]="status.value" >
                            {{status.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-3" >
                <mat-form-field style="width: 250px;">
                    <mat-label>Active/Inactive</mat-label>
                   
                    <mat-select formControlName="active" >
                       
                        <mat-option value="1">Active</mat-option>
                       
                        <mat-option value="0">Inactive</mat-option>
                       
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div class="col-md-2">
              

                <button class="btn btn-outline-primary" type="submit" (click)="searchdata()" style="border-radius:40px;margin-left: 15px;"
                         color="primary"><i class="fa fa-search" aria-hidden="true"></i></button>
       
                        <button class="btn btn-outline-primary" (click)="resetdata()" type="button"
                         style="border-radius:40px;margin-left: 15px;" color="primary">Reset</button>
                     

            </div>
        </div>
    </form> -->
    
    <form [formGroup]="querysummaryform">
        <!-- <table style="margin-bottom: 2%;">
            
                <tr>
                    <td> -->
        <div class="col-md-12 row">
            <div class="col-md-3">
                <mat-form-field style="width: 200px;">
                    <mat-label>Consumer No</mat-label>
                    <input matInput formControlName="consumerno" autocomplete="off">
                </mat-form-field>
            </div>
            <!-- </td>
                    <td> -->

                        <div class="col-md-3" >
                            <mat-form-field style="width: 250px;" (click)="getstatelist('',state_presentpage=1)">
                                <mat-label>State</mat-label>
                                <input type="text" #typeinput  matInput formControlName="state"
                                         autocomplete="off"
                                    (keyup)="getstatelist($event.target.value,state_presentpage=1)"
                                    [matAutocomplete]="typeauto">
                                <mat-autocomplete [panelWidth]="300" #typeauto="matAutocomplete"
                                    [displayWith]="displaystate" >
            
            
                                    <mat-option *ngFor="let type of statedata" [value]="type">
                                        {{type.name}}</mat-option>
            
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
            
                        <div class="col-md-3" >
                            <mat-form-field style="width: 250px;"
                            (click)="getboard('','',board_currentpage=1)">
                            <mat-label>Electricity Board</mat-label>
                          
                            <input placeholder="Board"  matInput formControlName="board"
                                #boardinput [matAutocomplete]="boardtype"
                                (keyup)="getboard($event.target.value,'',board_currentpage=1)">
                            <mat-autocomplete #boardtype="matAutocomplete" [displayWith]="displaywithboard"
                                >
                                
                                    <mat-option *ngFor="let board of boarddata" [value]="board">
                                       
                                        {{board.name}}
                                    </mat-option>
                           
                            </mat-autocomplete>
                        </mat-form-field>
                        </div>
            
                        <div class="col-md-3" >
                            <mat-form-field style="width: 250px;" (click)="getregion('')">
                                <mat-label>Region</mat-label>
                                <input placeholder="Region" formControlName="region"  matInput (keyup)="getregion($event.target.value)"
                                     [matAutocomplete]="regiontype">
                                <mat-autocomplete #regiontype="matAutocomplete" [displayWith]="displayregion">
                                  
                                        <mat-option *ngFor="let region of regiondata" [value]="region">
                                            
                                            {{region.region_name}}
                                        </mat-option>
                                    
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        

                        <!-- <div class="col-md-3">
                            <mat-form-field class="input_width">
                                <mat-label>Status</mat-label>
                                
                                <mat-select formControlName="status" >
                                    <mat-option *ngFor="let status of statusdata"  [value]="status.value" >
                                        {{status.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->

                        <!-- <div class="col-md-3" >
                            <mat-form-field style="width: 250px;">
                                <mat-label>Active/Inactive</mat-label>
                               
                                <mat-select formControlName="active" >
                                   
                                    <mat-option value="1">Active</mat-option>
                                   
                                    <mat-option value="0">Inactive</mat-option>
                                   
                                </mat-select>
                            </mat-form-field>
                        </div> -->

            <div class="col-md-3">

                <mat-form-field style="width: 200px;" (click)="branchfirstget()">
                    <mat-label>Choose Branch</mat-label>
                    <input placeholder="branch" matInput (keyup)="branchname()" formControlName="branch" #branchContactInput
                        [matAutocomplete]="branchtype">
                    <mat-autocomplete [panelWidth]="300" #branchtype="matAutocomplete" [displayWith]="displaydiss2"
                        (opened)="autocompletebranchnameScroll()">
                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let branch of branchlist" [value]="branch">
                                ({{branch.code}}){{branch.name+ " " }}
                            </mat-option> 
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <!-- </td> -->
            <!-- <td>
                        <mat-form-field style="width: 200px;margin-left: 50px;">
                            <mat-label>Transaction From date</mat-label>
                            <input matInput formControlName="fromdate" [matDatepicker]="pick" autocomplete="off">
                            <mat-datepicker-toggle [for]="pick" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #pick></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width: 200px;margin-left: 50px;">
                            <mat-label>Transaction To date</mat-label>
                            <input matInput formControlName="todate" [matDatepicker]="picks" autocomplete="off">
                            <mat-datepicker-toggle [for]="picks" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #picks></mat-datepicker>
                        </mat-form-field>
                    </td> -->

            <!-- <td> -->


            <!-- <div class="col-md-3">

                <mat-form-field style="width: 200px;">
                    <mat-label>Bill Transaction Date</mat-label>
                    <input matInput readonly formControlName="billtransactiondate" [matDatepicker]="pick"
                        autocomplete="off">
                    <mat-datepicker-toggle [for]="pick" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #pick></mat-datepicker>
                </mat-form-field>
            </div> -->

            <div class="col-md-3">

                <mat-form-field style="width: 200px;">
                    <mat-label>Transaction From</mat-label>
                    <input matInput readonly (dateChange)="fromdateSelection($event.value)" formControlName="bill_txnfromdate" [matDatepicker]="pickfrom" autocomplete="off">
                    <mat-datepicker-toggle [for]="pickfrom" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #pickfrom></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-3">

                <mat-form-field style="width: 200px;">
                    <mat-label>Transaction To</mat-label>
                    <input matInput readonly  formControlName="bill_txntodate" [min]="select"
                      [matDatepicker]="pickto" autocomplete="off">
                    <mat-datepicker-toggle [for]="pickto" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #pickto></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-3">

                <mat-form-field style="width: 250px;" (click)="getoccupancydropdowndata('')">
                    <mat-label>Occupancy</mat-label>
                    <input placeholder="Occupancy"  matInput (keyup)="getoccupancydropdowndata($event.target.value)" formControlName="occupancy" #occupancyinput
                        [matAutocomplete]="occupancyautocomplete">
                    <mat-autocomplete  [panelWidth]="400" #occupancyautocomplete="matAutocomplete" [displayWith]="displayocc">
                     
                            <mat-option *ngFor="let occ of occupancydata" [value]="occ">
                                ({{occ?.occupancy_code}}) - {{occ.occupancy_name}}
                            </mat-option>
                        
                    </mat-autocomplete>
                </mat-form-field> 
            </div>
            <!-- <div class="col-md-3">

                <mat-form-field style="width: 200px;">
                    <mat-label>Ownership</mat-label>
                    <input formControlName="ownership" matInput autocomplete="off">

                </mat-form-field>
            </div> -->

            <!-- <div class="col-md-3">

                <mat-form-field style="width: 200px;">
                    <mat-label>Invoice Status</mat-label>
                    <input matInput autocomplete="off">

                </mat-form-field>
            </div> -->
            <!-- </td> -->

            <!-- <td> -->
                

            <div class="col-md-3">

                <mat-form-field style="width: 200px;">
                    <mat-label>Bill Payment Status</mat-label>
                    <!-- <input matInput placeholder="Billpaymentstatus" formControlName="billpaymentstatus"
                                autocomplete="off"> -->
                    <mat-select formControlName="billpaymentstatus">
                        <mat-option *ngFor="let status of billstatusdata" [value]="status.id">{{status.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-3" >
                <mat-form-field class="input-style">
                    <mat-label>Occupancy Type</mat-label>
                    <mat-select formControlName="invoice_type">
                        <mat-option *ngFor="let usage of usageList" [value]="usage.id">
                            {{usage.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
          
                <div class="col-md-3">
                    <mat-form-field style="width: 200px;">
                        <mat-label>Ownership</mat-label>
                        <mat-select formControlName="ownership_type">
                            <mat-option *ngFor="let premise of premisesTypeData" [value]="premise.id">
                                {{premise.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            
               

            <!-- </td> -->
            <!-- <td style="display: flex;" > -->
            <div class="col-md-3">

                <button class="btn btn-outline-primary" type="submit" (click)="searchsummary(presentpage=1)"
                    style="border-radius:40px;margin-left: 15px;" color="primary"><i class="fa fa-search"
                        aria-hidden="true"></i></button>
                <button class="btn btn-outline-danger" (click)="resetqueryfilter()" type="button"
                    style="border-radius:40px;margin-left: 15px;" color="primary">Reset</button>&nbsp;&nbsp;
                    <button class="btn btn-outline-primary" (click)="getexceldownloadforeb()"
                    style="border-radius:40px;margin-top: 0px;" color="primary">
                    <i matTooltip="Download Excel" class="fa fa-download"></i>
                </button>
            </div>
            <!-- </td> -->
            <!-- </tr>
                <tr> -->
            <!-- <td>
                        <mat-form-field style="width: 200px;">
                            <mat-label>Occupancy</mat-label>
                            <input matInput placeholder="Occupancy" formControlName="occupancy" autocomplete="off">
                        </mat-form-field>
                    </td> -->

            
            <!-- <td>
                        <mat-form-field style="width: 200px;margin-left: 50px;">
                            <mat-label>Ownership</mat-label>
                            
                            <mat-select formControlName="ownership">
                                <mat-option value="Leased">Leased</mat-option>
                                <mat-option value="Own">Own</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td> -->
            <!-- <td>
                        <mat-form-field style="width: 200px;margin-left: 50px;">
                            <mat-label>Payment Status</mat-label>
                           
                            <mat-select formControlName="paystatus">
                                <mat-option value="New">New</mat-option>
                                <mat-option value="Payment">Payment</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td> -->
            <!-- <td>
                        <mat-form-field style="width: 200px;margin-left: 50px;">
                            <mat-label>Invoice Status</mat-label>
                            <input matInput formControlName="invstatus" autocomplete="off">
                        </mat-form-field>
                    </td> -->
            <!--                        
                </tr>



        </table> -->
        </div>
    </form>


    <div style="margin: 1% 0%;width:100%" class="table-responsive" >
    <table class="table table-bordered" style="width: 150%;font-size: 14px;">
        <thead class="table_header">
            <tr>
                <th>S.No</th>
                <th>Consumer No</th>
                <th>Consumer Name</th>
                <th>Premise Name</th>
                <th>Branch Name</th>
                <th>Occupancy</th>
                <th>Ownership</th>

                <th>Occupancy Type</th>
                <th>State</th>
                <th>Board Name</th>
                <th>Region</th>
                <th>Transaction Date</th>
                <th>Bill Amount</th>
                <th>Status</th>
                <!-- <th>Reference No</th> -->
                <!-- <th>Active / Inactive</th> -->
                <th>CR No</th>

                <th>Payment Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of summarydata;let i=index">
                <!-- <td>{{(presentpage-1)*pagesize+i+1}}</td>
                <td (click)="clickConsumerNo(d)" style="color: mediumblue;cursor: pointer;" >{{d.consumer_no}}</td>
                <td>{{d.consumer_name}}</td>
                <td>({{d.branch_id?.code}})-{{d.branch_id?.name}}</td>
                <td>{{d.consumer_state?.name}}</td>
                <td>{{d.consumer_board?.name}}</td>
                <td>{{d.region_id?.region_name}}</td>
                <td>{{d.makerisactive == 1?'Active':'Inactive'}}</td>
                <td>{{d['consumer_status'].status}}</td> -->
                <td> {{(presentpage - 1)*10 +i+1 }} </td>
                    <!-- <td (click)="clickPaymentConsumerNo(d)" style="color: mediumblue;cursor: pointer;">{{01234556}}</td> -->
                    <td (click)="clickConsumerNo(d)" style="color: mediumblue;cursor: pointer;">{{d.consumer_no}}
                    </td>
                    <td>{{d.consumer_name}}</td>
                    <td>({{d?.premise?.code}})-{{d?.premise?.name}}</td>

                    <td>({{d.branch?.code}})-{{d.branch?.name}}</td>
                    <td>({{d?.occupancy?.code}})-{{d?.occupancy?.occupancy_name}}</td>
                   
                    <td>{{d?.invoice_type?.text}}</td>

                    <td>{{d?.occupancy_type?.occupancy_name}}</td>
                    <td>{{d?.consumer_state?.name}}</td>
                    <td>{{d?.consumer_board?.name}}</td>
                    <td>{{d?.region_data?.region_name}}</td>
                    <td>{{d?.bill?.transaction_date | date:'yyyy-MMM-dd'}}</td>
                    <td>{{d?.bill?.bill_amount}}</td>
                    <td>{{d?.bill?.bill_status}}</td>
                    <!-- <td>{{d['bill']?.refno}}</td> -->
                    <!-- <td>{{d.makerisactive==1?'Active':'Inactive'}}</td> -->

                    <td>{{d.invoiceheader_cron}}</td>

                    <td>{{d['bill']?.bill_payment_status?.status}}</td>
            </tr>
            <tr *ngIf="summarydata.length==0">
                <td colspan="16" style="text-align: center" >
                    No Records Found..
                </td>
            </tr>
            <tr>
                <td colspan="12"></td>
                    <td colspan="2" style="text-align: center" >Count: <code>{{count}}</code></td>
                <td colspan="2">
                    <div style="float: center;" >
                        <!-- <button type="button" mat-icon-button (click)="previousdata()" [disabled]="!has_previous" color="primary"><mat-icon>arrow_back</mat-icon></button>
                        {{presentpage}}
                        <button type="button" mat-icon-button (click)="nextdata()" [disabled]="!has_next" color="primary"><mat-icon> arrow_forward</mat-icon></button> -->

                        <button type="button" mat-icon-button (click)="pagination('previous')" [disabled]="!has_previous" color="primary"><mat-icon>arrow_back</mat-icon></button>
                        {{presentpage}}
                        <button type="button" mat-icon-button (click)="pagination('next')" [disabled]="!has_next" color="primary"><mat-icon> arrow_forward</mat-icon></button>

                    </div>
                </td>
                <!-- <td colspan="2">
                    Total Count:
                </td> -->
            </tr>
        </tbody>
    </table>
</div>
</div>