<div style="margin-left: 50px;margin-right: 80%;margin-top: 3%; width: 100%;">

    <h3 style="font-size: 23px;font-family: 'Times New Roman', Times, serif;color: blue;">
        UOM Creation
    </h3><hr>
    <div>
        <form [formGroup]="uomForm" (ngSubmit)="uomCreateForm()" autocomplete="off">
            <table>
                <div>
                    <tr>               
                        <td>
                            <mat-form-field style="width: 250px;">
                                <mat-label>UOM Code</mat-label>
                                <input type="text" matInput formControlName="code" autocomplete="off" required  maxlength="8" (keypress)="omit_special_char($event)">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width: 250px;margin-left: 50px;">
                                <mat-label>UOM Name</mat-label>
                                <input matInput placeholder="Name" formControlName="name" maxlength="128" autocomplete="off" required (keypress)="omit_special_char($event)">
                            </mat-form-field>
                        </td>
                      
                    </tr>
                </div>
            </table><br>
            <button type="submit" style="border-radius: 40px;margin-left: 10px;" class="btn btn-outline-success" >Submit</button>   

            <button type="button" (click)="onCancelClick()" class="btn btn-outline-danger" 
                style="border-radius: 40px;margin-left: 10px;">Cancel</button> 
            <!-- <button type="submit" style="border-radius: 40px;margin-left: 10px;" class="btn btn-outline-primary" [disabled] = "disableSubmit">Submit</button>    -->
        </form>
    </div>
</div>
