
.spinner-container {
    position: relative; 
    height: 50px; 
    text-align: center;
  }
  
  .spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; 
  }
  
 
  .spinner {
    width: 30px;
    height: 30px;
    border: 4px solid #ccc;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .highlight {
    background-color: #ff3f00d4 !important;
    transition: background-color 0.3s ease;
  }
  .custom_border{
    border-collapse: collapse;
    border: 1px solid #397d38;
    padding: 7px;
    border-radius: 20px;
    background-color: #ddefdd;
}
  