.main-content {
    margin-left: 4%;
}
.input-style {
    width: 250px;
}
.input-style2 {
    width: 250px;
    margin-left: 60px;
}
.btn-bottom {
    margin-bottom: 5%;
    margin-top: 29px;
    display: flex;
    justify-content: center;
}
.btn-outline-success {
    border-radius: 40px;
}

.btn-outline-danger{
    border-radius: 40px;
}

::ng-deep {
    .cdk-global-overlay-wrapper,
    .cdk-overlay-container {
        z-index: 9999 !important;
    }
}
.table-bordered td,.table-bordered tr {
    border: 2px solid #bac2cd;
}
.table-bordered th{
    border: 2px solid #bac2cd;
}
mat-label{
    font-size: 17px;
  }

  .gstdesign{
    display: flex;
    // margin-left: 60px;
    align-items: center;
  }

  .centerstyle{
    display: flex;
    justify-content: space-between;
  }