<br>

<h2 style="margin-left: 30px; ">
    EB Details
</h2>
<div style="margin-left: 40px;margin-top: 1%">

    <!-- <div>
        <form [formGroup]="ebdetailscreateAddForm" (ngSubmit)="submitForm()">
            <table>
                <div>
                    <tr>
                        <td>
                            <mat-form-field style="width: 250px;">
                                <mat-label>ID Type</mat-label>
                                <mat-select formControlName="ref_type" id="eb-details-create-0001">
                                    <mat-option *ngFor="let ref of refTypeList" [value]="ref.id"
                                        (focusout)="dependentid(ref.id)">
                                        {{ref.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <mat-form-field style="width: 250px;margin-left: 60px;">
                                <mat-label>ID</mat-label>
                                <mat-select formControlName="ref_id" id="eb-details-create-0002">
                                    <mat-option *ngFor="let refid of refidList" [value]="refid.id">
                                        {{refid.code}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <mat-form-field style="width: 250px;margin-left: 60px;">
                                <mat-label>EB Advance Borne By</mat-label>
                                <mat-select formControlName="borne_by" id="eb-details-create-0003">
                                    <mat-option *ngFor="let Borne of BorneidList" [value]="Borne.id"
                                        (click)="DropDown(Borne)">
                                        {{Borne.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td *ngIf="isECFno">
                            <mat-form-field style="width: 250px;margin-top: 20px">
                                <mat-label>ECF Ref No </mat-label>
                                <input matInput placeholder="ECF Ref No" maxlength="20" formControlName="ecf_no" autocomplete="off"
                                    (keypress)="omit_special_char($event)" id="eb-details-create-0004">
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <mat-form-field style="width: 250px;">
                                <mat-label>EB Consumer No </mat-label>
                                <input matInput placeholder="Consumer No" maxlength="16" formControlName="cosumer_number"
                                    autocomplete="off" (keypress)="omit_special_chars($event)" required id="eb-details-create-0005">
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <mat-form-field style="width: 250px;margin-top: 20px;margin-left: 60px;">
                                <mat-label>EB circle</mat-label>
                                <input #EBCircle placeholder="Select EB Circle Name" matInput formControlName="EB_circle_id"
                                    [matAutocomplete]="ebcirclename" (click)="clear()" id="eb-details-create-0006">
                                <mat-autocomplete #ebcirclename="matAutocomplete" [displayWith]="displayFnebcircle">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let ebcircle of ebdetailsidList" (focusout)="selectEBCircle(ebcircle)" [value]="ebcircle">
                                            {{ebcircle.circle_name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <mat-form-field style="width: 250px;margin-top: 20px;margin-left: 60px;">
                                <mat-label>EB Service Provider</mat-label>
                                <input #serviceInput placeholder="Select EB Service Provider" matInput formControlName="service_provider"
                                    [matAutocomplete]="serviceprovider" id="eb-details-create-0007">
                                <mat-autocomplete #serviceprovider="matAutocomplete" [displayWith]="displayFnserviceprovider">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let service of serviceproviderList" [value]="service">
                                            {{service.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                </div>
            </table>
            <button type="submit" style="border-radius: 40px;margin-left: 10px;"
                class="btn btn-outline-primary" [disabled]="EBdetailsBtn" id="eb-details-create-0008">Submit</button>
            <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
                style="border-radius: 40px;margin-left: 10px;" id="eb-details-create-0009">Cancel</button>
        </form>
    </div> -->

    <div class="table-responsive" >
        <form [formGroup]="addElectricityForm" (ngSubmit)="addElectricitySubmit()">
            <table>
                <tr>
                    <td>
                        <!-- <mat-form-field class="input-style">
                            <mat-label>State Name</mat-label>
                            <input matInput formControlName= "consumer_state" [readonly]="true" autocomplete="off" id="eb-details-create-0010">
                            
                        </mat-form-field> -->
                        <mat-form-field style="width: 250px;" (click)="getstatelist('',state_presentpage=1)">
                            <mat-label>State</mat-label>
                            <input type="text" #typeinput [readonly]="!disableform" matInput
                                formControlName="consumer_state" autocomplete="off" required
                                (keyup)="getstatelist($event.target.value,state_presentpage=1)"
                                [matAutocomplete]="typeauto" id="eb-details-create-0011">
                            <mat-autocomplete [panelWidth]="300" #typeauto="matAutocomplete"
                                [displayWith]="displaystate" (opened)="statescroll()">


                                <mat-option (click)="stateselection()" *ngFor="let type of statedata" [value]="type">
                                    {{type.name}}</mat-option>

                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2"
                            (click)="getboard('',addElectricityForm.value.consumer_state.id,board_currentpage=1)">
                            <mat-label>Electricity Board</mat-label>
                            <!-- <mat-select formControlName="consumer_board" id="eb-details-create-0012">
                                <mat-option *ngFor="let electricity of electricityBoard" [value]="electricity.name">
                                    {{electricity.name}}
                                </mat-option>
                            </mat-select> -->

                            <input placeholder="Board" [readonly]="!disableform" matInput
                                formControlName="consumer_board" #boardinput [matAutocomplete]="boardtype" required
                                (keyup)="getboard($event.target.value,addElectricityForm.value.consumer_state.id,board_currentpage=1)">
                            <mat-autocomplete #boardtype="matAutocomplete" [displayWith]="displaywithboard"
                                (opened)="autoboardscroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option (click)="boardselect()" *ngFor="let board of boarddata" [value]="board">
                                        <!-- ({{branch.code}}){{branch.name+ " " }} -->
                                        {{board.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2" (click)="branchname()">
                            <mat-label>Region</mat-label>
                            <input placeholder="Region" [readonly]="!disableform" matInput formControlName="region_id"
                                #branchContactInput [matAutocomplete]="branchtype" required  id="eb-details-create-0013">
                            <mat-autocomplete #branchtype="matAutocomplete" [displayWith]="displaydiss2"
                                (opened)="autocompleteregion()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let branch of branchlist" [value]="branch">
                                        <!-- ({{branch.code}}){{branch.name+ " " }} -->
                                        {{branch.region_name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Contact Person</mat-label>
                            <input matInput placeholder="Contact Person" required [readonly]="!disableform"
                                formControlName="personname" autocomplete="off" id="eb-details-create-0014">
                        </mat-form-field>
                    </td>

                    <!-- <td>
                        <mat-form-field class="input-style2" (click)="premisename()">
                            <mat-label>Premises Name</mat-label>
                                <input placeholder="Site" matInput formControlName="premises_id"  #PremiseContactInput
                                    [matAutocomplete]="producttype" id="eb-details-create-0015">
                                <mat-autocomplete #producttype="matAutocomplete" [displayWith]="displaydiss1"
                                (opened)="autocompletePremisenameScroll()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let premise of premiselistt"
                                        [value]="premise">
                                        ({{premise.code}}){{premise.name+ " " }}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                        </mat-form-field>
                    </td> -->

                </tr>
                <tr>

                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Contact No</mat-label>
                            <input matInput placeholder="Contact No" required [readonly]="!disableform" autocomplete="off"
                                formControlName="contactno" pattern="\d{10}"
                                (keypress)="numberOnly($event)"  maxlength="10" required id="eb-details-create-0016">
                        </mat-form-field>
                    </td>

                    <td>
                        <div class="centerstyle" >

                        <mat-form-field style="margin-left: 60px;width: 170px">
                            <mat-label>Consumer No</mat-label>
                            <input matInput placeholder="Consumer No" required [readonly]="!disableform"
                                 formControlName="consumer_no" autocomplete="off" id="eb-details-create-0017">
                        </mat-form-field>
                        <div>
                            <button type="button" (click)="consumervalidation()" class="btn btn-outline-success" id="eb-details-create-0018">Validate</button>
                        </div>
                       </div>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Consumer Name</mat-label>
                            <input matInput placeholder="Consumer Name" [readonly]="true"
                                formControlName="consumer_name" autocomplete="off" id="eb-details-create-0019">
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Premises Name</mat-label>
                            <input matInput formControlName="premise_name" [readonly]="true"
                                autocomplete="off" id="eb-details-create-0020">
                        </mat-form-field>

                    </td>

                    <!-- <td>
                        <button type="button" class="btn btn-outline-success" data-toggle="modal"
                        data-target="#findPremisesModal" style="border-radius:40px;margin-left: 25px;" id="eb-details-create-0021"><span class="fa fa-plus"></span></button>
                    </td> -->
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style" >
                            <mat-label>Occupancy</mat-label>
                            <mat-select  [disabled]="!disableform" formControlName="occupancy_id" required id="eb-details-create-0022">
                                
                                    <mat-option *ngFor="let occ of occupancy" (click)="occupancyselect(occ)" [value]="occ.id">
                                       
                                        {{occ.occupancy_name}}
                                    </mat-option>
                                
                                </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Occupancy Type</mat-label>
                            <input matInput placeholder="Occupancy Type"  formControlName="occupancy_name"  [readonly]="true"
                                autocomplete="off" id="eb-details-create-0023">
                        </mat-form-field>

                        <!-- <mat-form-field class="input-style" (click)="getoccupancy('',occupancy_currentpage=1)">
                            <mat-label>Occupancy Type</mat-label>
                            <input placeholder="Region" [readonly]="!disableform" (keyup)="getoccupancy($event.target.value,occupancy_currentpage=1)" matInput formControlName="occupancy_name"
                                #occupancyinput [matAutocomplete]="occupancytype" id="eb-details-create-0024">
                            <mat-autocomplete #occupancytype="matAutocomplete" [displayWith]="displayoccupancy"
                                (opened)="autocompleteoccupancy()">
                                
                                    <mat-option *ngFor="let occ of occupancydata" [value]="occ">
                                       
                                        {{occ.text}}
                                    </mat-option>
                                
                            </mat-autocomplete>
                        </mat-form-field> -->

                        <!-- <mat-form-field class="input-style2" >
                            <mat-label>Occupancy Type</mat-label>
                            <mat-select formControlName="occupancy_name"  id="eb-details-create-0025">
                                <mat-option  *ngFor="let occ of occupancydata" [value]="occ.text" >
                                    {{occ.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Premises Type</mat-label>
                            <input matInput placeholder="Premises Type" [readonly]="true" formControlName="premise_type"
                                autocomplete="off" id="eb-details-create-0026">
                        </mat-form-field>
                    </td>

                    <td>
                        <!-- <mat-form-field class="input-style2" (click)="getlandloarddetails('',1)" >
                            <mat-label>Supplier Code</mat-label>
                            <input matInput formControlName="supplier_code" autocomplete="off" id="eb-details-create-0027">
                        </mat-form-field> -->
                        <mat-form-field class="input-style2" (click)="getlandloarddetails('',landloard_currentpage=1)">
                            <mat-label>Supplier Name</mat-label>
                            <input placeholder="Supplier Code" [readonly]="!disableform" required (keyup)="getlandloarddetails($event.target.value,landloard_currentpage=1)" matInput formControlName="supplier_code"
                                #supplierinput [matAutocomplete]="suppliercode" id="eb-details-create-0028">
                            <mat-autocomplete [panelWidth]="400" #suppliercode="matAutocomplete" [displayWith]="displaylandloard"
                                (opened)="autocompletesupplier()">
                                
                                    <mat-option *ngFor="let land of landloarddata" (click)="getvendordetails(land.vendor_id,land.id)" [value]="land">
                                       
                                        ({{land.code}}) {{land.name}}
                                    </mat-option>
                                
                            </mat-autocomplete>
                        </mat-form-field> 
                    </td>

                   

                </tr>
                <tr>


                    <td class="input-style" class="gstdesign" >
                        <!-- <mat-form-field class="input-style2">
                            <mat-label>GST</mat-label>
                            <input matInput  formControlName= "is_gst" autocomplete="off" id="eb-details-create-0029">
                        </mat-form-field> -->

                        <mat-checkbox [disabled]="addElectricityForm.value.supplier_code?.gstno == '' || !disableform  " formControlName="is_gst"> GST </mat-checkbox>
                        <p style="margin-left: 20px;" *ngIf="addElectricityForm.value.is_gst" >GST NO: {{addElectricityForm.value.supplier_code?.gstno}}</p>
                    </td>


                    <td>
                        <!-- <mat-form-field class="input-style2">
                            <mat-label>BS</mat-label>
                            <input matInput formControlName="bs_id" autocomplete="off" id="eb-details-create-0030">
                        </mat-form-field> -->

                        <mat-form-field class="input-style2" (click)="getbs('')">


                            <mat-label>BS</mat-label>

                            <input #bsInput placeholder="BS"  [readonly]="!disableform" (keyup)="getbs($event.target.value)" matInput formControlName="bs_id"
                                [matAutocomplete]="bstype" required id="eb-details-create-0031">
                            <mat-autocomplete #bstype="matAutocomplete"  [displayWith]="displaybsFn"
                                (opened)="bsScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...
                                </mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option (click)="bsselect()" *ngFor="let bsname of bsNameData" [value]="bsname"
                                       >
                                        {{bsname.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>


                        </mat-form-field>

                    </td>

                    <td>

                        <!-- <mat-form-field class="input-style">
                            <mat-label>CC</mat-label>
                            <input matInput  formControlName="cc_id" autocomplete="off" id="eb-details-create-0032">
                        </mat-form-field> -->

                        <mat-form-field class="input-style2" (click)="ccget('',cc_currentpage=1)">
                            <mat-label>CC</mat-label>
                            <input #ccinput  [readonly]="!disableform" placeholder="CC" matInput
                                (keyup)="ccget($event.target.value,cc_currentpage=1)" formControlName="cc_id"
                                [matAutocomplete]="cctype" required id="eb-details-create-0033">
                            <mat-autocomplete #cctype="matAutocomplete" [displayWith]="displayccFn"
                                (opened)="ccScroll()">

                                <mat-option *ngFor="let ccname of ccNameData" [value]="ccname"
                                    >
                                    {{ccname.name}}
                                </mat-option>

                            </mat-autocomplete>

                        </mat-form-field>

                    </td>

                    <td>
                        <!-- <mat-form-field class="input-style2">
                            <mat-label>Billing Cycle</mat-label>
                            <input matInput placeholder="Billing Cycle" required [readonly]="!disableform"
                                formControlName="billingcycle" autocomplete="off" id="eb-details-create-0034">
                        </mat-form-field> -->

                        

                        <mat-form-field class="input-style2" >
                            <mat-label>Billing Cycle</mat-label>
                            <mat-select formControlName="billingcycle" required  id="eb-details-create-0035">
                                <mat-option *ngFor="let cycle of billcycledropdown" [value]="cycle.id" >{{cycle.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Site ID</mat-label>
                            <input matInput placeholder="Site ID" [readonly]="!disableform" formControlName="siteid"
                                autocomplete="off" id="eb-details-create-0036">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Remarks</mat-label>
                            <input matInput placeholder="Remarks" [readonly]="!disableform" formControlName="remarks"
                                autocomplete="off" id="eb-details-create-0037">
                        </mat-form-field>
                    </td>
                    
                    <td >
                        <!-- <mat-button-toggle-group  [value]="active" color="primary"  >
                            <mat-button-toggle color="primary"(change)="activatetoggle(1)"  value="1">Activate</mat-button-toggle>
                            <mat-button-toggle color="warn"(change)="activatetoggle(0)"  value="0">Deactivate</mat-button-toggle>
                          </mat-button-toggle-group> -->
                        <!-- <mat-slide-toggle *ngIf="addElectricityForm.value.id != ''" class="input-style2"  (change)="activatetoggle()" formControlName="makerisactive">
                            {{(addElectricityForm.value.makerisactive)? 'Activated':'Deactivated'}}</mat-slide-toggle> -->

                    </td>
                </tr>
                <br>
               
            </table>
            <div class="btn-bottom" >
            <tr>
                <td>
                    <button *ngIf="disableform"  type="submit" style="margin: 10px;"
                class="btn btn-outline-primary" id="eb-details-create-0038">Submit</button>
                </td> 
                <td>
                    <button  type="button" style="margin: 10px;" (click)="onCancelClick()" class="btn btn-outline-primary" id="eb-details-create-0039">Close</button>

                </td>
            </tr>
        </div>
            <!-- <div class="btn-bottom" style="text-align: center;" *ngIf="disableform"> -->
                
                <!-- <div class="btn-bottom" style="text-align: center;" >

                &nbsp;&nbsp;&nbsp;
            </div> -->

            <!-- </div>
            <div class="btn-bottom" style="text-align: center;" *ngIf="!disableform  ">
                <button type="button" *ngIf="addElectricityForm.value.consumer_status?.id ==1 "
                    (click)="approve_reject_consumer(2)" [disabled]="addElectricityForm.value.consumer_status?.id == 1"
                    class="btn btn-outline-success">Approve</button>&nbsp;&nbsp;&nbsp;
                <button type="button" *ngIf="addElectricityForm.value.consumer_status?.id == 1"
                    (click)="approve_reject_consumer(3)"
                    class="btn btn-outline-danger">Reject</button>&nbsp;&nbsp;&nbsp;

                <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary" id="eb-details-create-0040">Close</button>
            </div> -->
        </form>
    </div>
</div>

<!-- <pre>
    {{addElectricityForm.value | json}}
</pre> -->