th{
    font-size: 14px;
    padding: 0.25rem;
    // vertical-align: middle;
    // font-weight:normal;   
}
.card-body{
        /* height: inherit; */
        box-sizing: border-box;
}
// .card{
//     padding: 20px 50px 100px 300px;
// }
.border {
    border: 2px solid #01a85a !important;
    // width: fit-content;   
    font-size: 10px;
    box-sizing: 20px;  
}
.table-boder{
    border: 2px solid #01a85a;
    position: sticky;
    padding: 0.25rem;
    /* top: 0; */
    text-align: justify;
}
 .nopadding .mat-form-field-wrapper{
    margin: 0 !important;
    padding: 0rem 0 0.1rem 0;
    display: block;
    flex: auto;
    min-width: 0;
    width: 280px;
    font-size: 14px;
    line-height: 1.125;
    text-align: start;
   }
   input{
    text-align: start;   
   }
   
   .nopadding.mat-form-field-appearance-outline .mat-form-field-infix {
   padding: 0em 0 0.8em 0; 
   }
// .mat-form-field-infix {
    // display: block;
    // flex: auto;
    // min-width: 0;
    // width: 180px;
    // font-size: 14px;
// }
b, strong {
    font-weight: bolder;
    padding-right: 10px;
}
   .center_align{
    // display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}
// .example-margin{
//     color: blue;
// }
.mat-input-element, .mat-input-element::-webkit-search-cancel-button, .mat-input-element::-webkit-search-decoration, .mat-input-element::-webkit-search-results-button, .mat-input-element::-webkit-search-results-decoration {
    -webkit-appearance: auto;
    font-weight: bold;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #40a8ff;
}
.mat-input-element {
    font: inherit;
    background: transparent;
    color: currentColor;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    font-size: 13px;
}
.filedata{
    display: inline-block;
  background-color: #686fc5;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
.approve_save{
    margin-left: 6%;
    // margin-left: 5%;
    // border-radius: 20px;
    // margin-top: 5%;
    // margin-bottom: 10%;
}
.holestyle{
    margin-left:20px;margin-bottom: 2%;
}
.income_payment_style{
   padding: 0px 0px 0px 0px; 
   position: absolute;
   height: 10vh;top: 1px;
}
.trans_details{
    padding-top: 23%;
    position: absolute; 
    height: 10vh;
    width: 200px;  
    top: 5px;
}
.billing_details{
    padding: 0px 10px 0px 600px;
    top: 5px;
}
.walk_in_details{
    padding-left: 49.5%;
}
.table_headers{
    width: 45%;
}
.tabledata{
    padding: 0.15rem;
}
.table_data_income{
    padding: 0.25rem;
    width: 20%;
}
.table_header_width{
    width: 34%;
}
.w-auto{
    font-size: 15px;
}
.income_borader{
    width: 117%;
}
.trans_border{
    width: 260%;
    margin-top: 10%;
}
.billing_border{
    width: 101%;
    margin-left: 29%;
}
.walk_boarder{
    width: 122%;
    margin-top:7%;
    margin-left:14%;
}
.w-auto{
    font-size: 15px;
}
.save_style{
    margin-left: 5%;border-radius: 40px;margin-top: 10px;
}
.file_style{
    padding-bottom: 5%;
}
.file_form{
    margin-left: 5%;
}
.input_border{
    border-bottom-style: hidden;
}
.create_save{
    margin-left: 15%;margin-top: 1%; position: absolute;
}
.reset_style{
    margin-left: 10px;margin-top: 10px;border-radius: 40px;
}
.create_reset{
    border-radius: 40px;margin-left: 10px
}
.content_width{
    width: 900px;
}
.model_body_style{
margin-left: 50px;width:90%;height: 70%;
}
.file_input_div{
    margin-left: 30px;margin-right: 90%;margin-top: 3%; width: 100%;
}
.approve_return_btn{
    border-radius: 40px;
}
.income_table_header{
    width: 40%;
}
.billing_holestyle{
    margin-left: 10%;
}
::ng-deep .custom-panel {
    max-height: 200px; 
    overflow-y: auto; 
  }