<div class="container">
    <h1 style="font-family: 'Times New Roman', Times, serif;color: blue;">EB Details Transaction Summary</h1>
</div>
<div class="container">
    <form [formGroup]="electricityform">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Consumer No</mat-label>
                    <input type="text" matInput formControlName="consumerno">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Consumer Name</mat-label>
                    <input type="text" matInput formControlName="consumername">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Status</mat-label>
                    <input type="text" matInput formControlName="status">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <button type="button" mat-mini-fab color="primary"><mat-icon>search</mat-icon></button>
                <button type="button" style="border-radius: 40px;height: 40px;" class="btn btn-danger">Reset</button>
            </div>
        </div>
    </form>
    <br>
    <table class="table table-bordered">
        <thead class="table_header">
            <tr>
                <th>S.No</th>
                <th>Consumer No</th>
                <th>Consumer Name</th>
                <th>Branch Name</th>
                <th>State</th>
                <th>Board Name</th>
                <th>Transaction Date</th>
                <th>Bill Amount</th>
                <th>Caution Deposit Amount</th>
                <th>Status</th>
                <th>Payment Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of summarylist;let i=index">
                <td>{{(presentpage-1)*pagesize+i+1}}</td>
                <td>{{d.consumer_no}}</td>
                <td>{{d.consumer_name}}</td>
                <td>{{d['branch'].name}}</td>
                <td>{{d.state}}</td>
                <td>{{d.consumer_board}}</td>
                <td>{{d['bill'].transaction_date | date:'dd-MMM-yyyy'}}</td>
                <td>{{d['bill'].bill_amount}}</td>
                <td></td>
                <td>{{d['bill'].bill_status}}</td>
                <td>{{d['bill'].bill_paymentstatus}}</td>
                <td><button type="button" class="btn btn-success" (click)="opendialogbox()">Caution Deposit</button></td>
            </tr>
            <tr *ngIf="summarylist.length==0">
                <td colspan="12">
                    No Records Found...
                </td>
            </tr>
            <tr>
                <td colspan="9">
                    <div>
                        <button type="button" mat-icon-button [disabled]="!has_previous" color="primary"><mat-icon>arrow_back</mat-icon></button>
                        {{presentpage}}
                        <button type="button" mat-icon-button [disabled]="!has_next" color="primary"><mat-icon> arrow_forward</mat-icon></button>
                    </div>
                </td>
                <td colspan="3">
                    Total Count:
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #opendialogform>
    <div class="container">
        <h1 style="font-size: 23px;font-family: 'Times New Roman', Times, serif;color: blue;">Caution Deposit Details</h1>
    </div><hr>
    <div>
        <div class="container">
            <form [formGroup]="depositdetailsform">
                <div class="col-md-3">
                    <mat-button-toggle-group formControlName="btnenb">
                        <mat-button-toggle value="Yes">Yes</mat-button-toggle>
                        <mat-button-toggle value="No">No</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Caution Deposit Amount</mat-label>
                            <input type="text" matInput formControlName="depositamount">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Caution Deposit Amount</mat-label>
                            <input type="text" matInput formControlName="Remarks">
                        </mat-form-field>

                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-success" style="border-radius: 40px;height: 40px;">Submit</button>
                        <button type="button" (click)="closedialogdata()" style="border-radius: 40px;height: 40px;margin-left: 50px;" class="btn btn-outline-danger">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>