#commonstyle{
    border:15px none #f6f6f6;
    // height: 400px;
    }
    
      #typelist_table{
        border:15px none #f6f6f6;
        // height: 400px;
        }
    tr:nth-child(even) {background: #EDF8FA}
    tr:nth-child(odd) {background: #FFF}
  table,th,td{
    text-align: left;
    font-size: 13px;
    // padding: 5px;
  }

::ng-deep .cdk-overlay-container {
    z-index: 1300 !important;
}

th, td { background: #fff; }

td.tablechange:empty::before{content: '0.00'; text-align: right}


tr{
  white-space: nowrap;
}
.mat-datepicker-calendar-header{
  display: none;
}
.code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}
section > div {
  margin-bottom: 15px;
}
.choose::-webkit-file-upload-button {
  color: white;
  display: inline-block;
  background: #1CB6E0;
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 10pt;
}
.pagination {float: right;}
.tableFixHead {
  overflow-x: auto;
  overflow-y: hidden;
}
.levelhead{
  overflow: auto;
    max-height: 400px;
    padding-left: 2%;
    /* text-align: center; */
    width: 50%;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}
div p {
  display: inline-block;
}
tr.backcolor th {
  background: #00d7ff;
  
}
tr.backcolor:nth-child(even) {background: #EDF8FA}
    tr.backcolor:nth-child(odd) {background: #FFF}
    div[aria-expanded=true] .fa-chevron-right {
      transition: .3s transform ease-in-out;
      transform: rotate(90deg);
    }
.maticon_style{
  color: #007bff;
  font-size: xx-large;
}
.headercolor{
  background-color: #007bff;
}
.graph-container {
  width: 100%;
  padding-top: 20px;
  display: flex;
  // flex-wrap: wrap;
  gap: 30px;
}

.box {
  padding: 20px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

#divChart {
  flex: 0 0 32%; /* First box takes 30% of the width */
  max-width: 32%; /* Added to ensure it doesn't exceed 30% */
}

#divChart1 {
  flex: 0 0 70%; /* Second box takes 70% of the width */
  max-width: 66%; /* Added to ensure it doesn't exceed 70% */
}

#divChart3 {
  flex: 0 0 32%; /* First box takes 30% of the width */
  max-width: 32%; /* Added to ensure it doesn't exceed 30% */
}

#divChart2 {
  flex: 0 0 70%; /* Second box takes 70% of the width */
  max-width: 66%; /* Added to ensure it doesn't exceed 70% */
}

@media only screen and (max-width: 768px) {
  .box {
      flex-basis: 100%; /* Each box takes 100% width on smaller screens */
  }
}

.card.card-img-holder .card-img-absolute {
  position: absolute;
  top: -1px;
  right: -1px;
  height: 105%;
}
.bg-gradient-danger {
  background: linear-gradient(to right, #439aee, #0316df) !important;
  color: #fff ;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.15) -2.05px 2.95px 12.6px;
}
.bg-gradient-blue {
  background: linear-gradient(to right, #b4d1ed, #0316df) !important;    color: #fff ;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.15) -2.05px 2.95px 12.6px;

}

.card-body_con{
  flex: 1 1 auto;
  min-height: 1px;
}
// .div_position{
//     padding: 3%;
// }
.bacground{
  background: #e6e6e647;
}
h4{
  font-size: xx-large;
  font-weight: 500;
}
h3{
  margin-left: 15%;
}
.chart_back{
  display: flex;
  justify-content:space-between;
}
h2{
  font-size: xx-large;
  font-weight: 500;
}
.card_body_padding{
  padding: 2.5rem 2.5rem;
}
.text_center{
  text-align: center;
}
.lable_color{
  color: red;
}

.image{
  position: absolute;
  top: -1px;
  bottom: -1px;
  height: 101%;
  right: -1px;
}
.total_amount{
  display: flex;
  justify-content: flex-end;
}
.overallh3{
  font-weight: 500;
  color: darkblue;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.span_color{
  color: black;
}