.my-table
{
    border-collapse: collapse;
    width: 100%;
}

.status{
    color: white;
    border-radius: 10px;
    display: inline-block;
    width: 121px;
}

.my-table td{
    text-align: left;
}

 .table-bordered td,.table-bordered tr {
    border: 2px solid #bac2cd;
}
.table-bordered th{
    border: 2px solid #bac2cd;
}


mat-label{
    font-size: 17px;
  }
  ::ng-deep {
    .cdk-global-overlay-wrapper,
    .cdk-overlay-container {
        z-index: 9999 !important;
    }
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.Add-tooltip .tooltip-inner{
    background-color: #28a745;
    font-size: 100%;
  }
  .Add-tooltip .arrow::before{
    border-top-color: #28a745;
  }
  .cdk-overlay-container, .cdk-overlay-pane {
    z-index: 9999 !important;
}
  
.Counter {
    /* Define & Initialize Counter */
    counter-reset: tidbit-counter;
  }
  
  h3::before {
    /* Increment Counter */
    counter-increment: tidbit-counter;
  
    /* Display Counter */
    content: counter(tidbit-counter);
  }








