<!-- <div class="search">
  <form [formGroup]="datassearch" style="margin-top: 1%; margin-left: 15px">
    <section>
      <div class="row">
        <div class="col-sm-2">
          <mat-form-field>
            <mat-label>Rule Name</mat-label>
            <input matInput formControlName="rule_name" />
          </mat-form-field>
        </div>
        <div class="col-sm-2" style="margin-left: 15px">
          <mat-form-field>
            <mat-label>Template</mat-label>
            <input matInput formControlName="temp_name" />
          </mat-form-field>
        </div>
        <div class="col-sm-2" style="margin-left: 15px">
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" />
          </mat-form-field>
        </div>
        <div class="col-sm-2" >
          <mat-form-field class="formfieldwidth_sapce">
              <mat-label>Type</mat-label>
              <mat-select formControlName="recon_ars">
                <mat-option *ngFor="let data of typearray" [value]="data.id">
                  {{data.name}}
                </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
       
        <div class="col-sm-2" style="margin-left: 15px">
          <button
          ngbTooltip="Search Records"
            class="btn btn-outline-success"
            id="rmubtn"
            style="border-radius: 25px"
            color="primary"
            (click)="rule_search($event)"
          >
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-outline-primary"
            ngbTooltip="Clear Entries"
            style="margin-left: 20px; border-radius: 25px; margin-left: 10px"
            (click)="datassearchreset()"
            id="rmubtn"
          >
            Clear
          </button>
          <button
                  type="button"
                  class="btn btn-outline-success"
                  style="border-radius: 40px; margin-left: 10px"
                  (click)="addrules('')"
                  ngbTooltip="Rule Creation"
                
                > 
                  <i class="fa fa-plus"></i>
                </button>
        </div>
      </div>
      <div class="row">
      </div>
    </section>
  </form>
</div> -->

<!-- <div>
    <div class=" table-responsive">
      <table
      class="table table-hover"
      id="commonstyle"
      style="width: 98%; margin-left: 1%"
    >
      <thead class="table_header">
        <tr>
          <th>S.No</th>
          <th>Automatic Match</th>
          <th>Rule Name</th>
          <th>Description</th>
           <th>Recon / ARS</th>
          <th>Order</th>
          <th>Edit</th>
          <th>View</th>
          <th>Status</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sums of summarylists; index as ind"  class="tbody">
          <td class="align">{{(pagination.index - 1) * 10 + ind + 1 }}</td>
          <td class="slide"> 
            <mat-slide-toggle class="success"
               [(ngModel)]="sums.recomm_field"
               (click)="recommendatory(sums)">
            </mat-slide-toggle>
          </td>
          <td class="align">{{ sums.name }}</td>
          <td class="align">{{ sums.description }}</td>
          <td class="align">
            <div *ngIf="sums.recon_ars===1">
             ARS
            </div>
            <div *ngIf="sums.recon_ars===0">
              Recon
             </div>
          </td>
          <td class="align">{{sums.order}} </td>

          <td class="align">
            <button
              mat-icon-button
              matTooltip="Click to Edit"
              class="edit"
              (click)="editDatas(sums)"
              >
                <mat-icon aria-label="Edit" color="primary">
                  edit
                </mat-icon>
            </button>
          </td>

          <td class="align">
            <button
              mat-icon-button
              matTooltip="Click to View"
              class="iconbutton"
              (click)="viewsinglerecord(sums.id)"
              color="primary"
              
            >
              <mat-icon style="color: gray" aria-label="Edit"
                >visibility</mat-icon
              >
            </button>
          </td>
          <td class="slide">
            <mat-slide-toggle
              [(ngModel)]="sums.status"
              class="success1"
              (click)="statusrules(sums)"
            >
            </mat-slide-toggle>
          </td>
          <td class="align">
            <button
              mat-icon-button
              matTooltip="Click to Delete"
              class="iconbutton"
              (click)="deleteData(sums.id)"
            >
              <mat-icon style="color: rgb(219, 121, 121)" aria-label="Delete"
                >delete</mat-icon
              >
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!summarylists?.length" class="text-center">
      <h3>Sorry no data found!...</h3>
    </div>

      <div
        class="col-sm-12"
        style="font-size: small; text-align: right; margin-bottom: 5%"
      >
        <button
          (click)="prevpages()"
          mat-icon-button
          [disabled]="pagination.has_previous === false"
          color="primary"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        {{ pagination.index }}
        <button
          (click)="nextpages()"
          mat-icon-button
          [disabled]="pagination.has_next === false"
          color="primary"
        >
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div> -->

  <section class="screen-padding  screen-lm">
  <div class="filter-aling">
  <lib-vs-search-cmp id="matInput-size" [SearchArr]="datassearchs" (dataoutput)="rule_search($event)"
    [ButtonArr]="rules_btns" [Outputtype]="searchrule">
  </lib-vs-search-cmp>
</div>
  <lib-vs-cbox-summary [SummaryDetails]="rule_summary_table"
    [SummaryApiObj]="role_search_summary_api"></lib-vs-cbox-summary>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewmodalforrules" aria-hidden="true"
  id="viewmodalforrules" #viewmodalforrules>
  <div class="modal-dialog modal-xl" style="width: 60%">
    <div class="modal-content">
      <div class="modal-header" style="background: #ddefdd">
        <h2 class="modal-title" style="color: black">View Rules</h2>
        <button type="button" #closebuttonview class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngFor="let sums of summaryslist" style="display: flex;">
        <h2 style=" padding-left: 1%;">Rule Name :</h2>
        <h2 style=" padding-left: 1%;
    color: #32cd46;">{{ sums.name }}</h2>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead >
            <tr style="font-weight: bold">
              <th>Rule Columns</th>
              <th>Value Columns</th>
            </tr>
          </thead>
          <tbody *ngFor="let sums of summaryslist">
            <h3><b style="margin-left: 11px;">Fas</b>
              <mat-icon style="padding-left: 87%;cursor: pointer;" (click)="toggleFasSection()">{{ showFasSection ? 'expand_less' : 'expand_more' }}</mat-icon></h3>
              <ng-container *ngIf="showFasSection">
            <tr>
              <td>Column Name</td>
              <td>{{ sums.fas_col_name }}</td>
            </tr>
            <tr>
              <td>Delimiter</td>
              <td>
                {{ sums.fas_delimiter }}
              </td>
            </tr>

            <tr>
              <td>Occurence</td>
              <td>
                {{ sums.fas_occurence }}
              </td>
            </tr>

            <tr>
              <td>Ending Position</td>
              <td>{{ sums.fas_ending_position }}</td>
            </tr>
            <tr>
              <td>Forward Backward</td>
              <td>{{ sums.fas_forward_backward }}</td>
            </tr>
            <tr>
              <td>Full Column</td>
              <td>
                <ng-container *ngIf="sums.fas_full_column == 1">Yes</ng-container>
                <ng-container *ngIf="sums.fas_full_column == 0">No</ng-container>
              </td>
            </tr>
            <tr>
              <td>Starting Position</td>
              <td>{{ sums.fas_starting_position }}</td>
            </tr>
            <tr>
              <td>Starts With</td>
              <td>{{ sums.fas_starts_with }}</td>
            </tr>

            <tr>
              <td>Word character</td>
              <td>
                {{ sums.fas_word_character }}
              </td>
            </tr>
          </ng-container>
            <h3><b style="margin-left: 11px;">Cbs</b>
              <mat-icon style="padding-left: 86%;cursor: pointer;" (click)="toggleCbsSection()">{{ showCbsSection ? 'expand_less' : 'expand_more' }}</mat-icon></h3>
              <ng-container *ngIf="showCbsSection">
            <tr>
              <td>Column Name</td>
              <td>
                {{ sums.cbs_col_name }}
              </td>
            </tr>

            <tr>
              <td>Delimitern</td>
              <td>
                {{ sums.cbs_delimiter }}
              </td>
            </tr>
            <tr>
              <td>Ending Position</td>
              <td>
                {{ sums.cbs_ending_position }}
              </td>
            </tr>
            <tr>
              <td>Forward/Backward</td>
              <td>
                {{ sums.cbs_forward_backward }}
              </td>
            </tr>
            <tr>
              <td>Full Column</td>
              <td>
                <ng-container *ngIf="sums.cbs_full_column == 1">Yes</ng-container>
                <ng-container *ngIf="sums.cbs_full_column == 0">No</ng-container>
              </td>
            </tr>
            <tr>
              <td>Starting Position</td>
              <td>
                {{ sums.cbs_starting_position }}
              </td>
            </tr>
            <tr>
              <td>StartsWith</td>
              <td>
                {{ sums.cbs_starts_with }}
              </td>
            </tr>
            <tr>
              <td>Word Character</td>
              <td>
                {{ sums.cbs_word_character }}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
     
      
      
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="boxlevelform" aria-hidden="true" id="editdatas"
  #editdatas>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background: #ddefdd">
        <h2 class="modal-title" style="color: black">Edit Rules</h2>
        <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <form [formGroup]="newform">
          <div  style="margin-left: 20px;display: flex;gap: 10px;flex-wrap: wrap;">
            <div id="matInput-size">
              <mat-form-field (click)="getWiseXLs()" appearance="outline" >
                <mat-label>Template</mat-label>
                <input type="text" #template_input matInput formControlName="wisefinxl" [matAutocomplete]="temp_auto"
                  (keyup)="getWiseXLs()">
                <mat-autocomplete #temp_auto="matAutocomplete" (opened)="autocompletewisefinxlScroll()"
                  [displayWith]="templ_display">
                  <mat-option *ngFor="let type of fetchWise" (click)="getData(type)" [value]="type">
                    {{type.template_name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div id="matInput-size">
              <mat-form-field  appearance="outline">
                <mat-label>Rule Name</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
            </div>

            <div id="matInput-size">
              <mat-form-field  appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" />
              </mat-form-field>
            </div>
            <div id="matInput-size">
              <mat-form-field  appearance="outline">
                <mat-label>Order</mat-label>
                <input matInput formControlName="order" type="number" />
              </mat-form-field>
            </div>
           
          </div>
          <div style="display: flex;gap: 10px;margin-left: 30px;">
           
              <div style="display: flex;float: right;">
                <button type="button" class="btn btn-outline-info" (click)="addLesson()"
                  style="margin-right: 10px;border-radius: 50px;">Add Rule
                </button>
                <button type="button" class="btn btn-outline-success" (click)="Nwsefinrunrules()"
                  style="border-radius: 50px;">
                  Update
                </button>

              </div>
          
            <div style="display: flex;gap: 10px;margin-top: 10px;">
              <div >
                  <mat-checkbox formControlName="same_date" [checked]="checkboxvalidation1?.same_date===1"
                    (change)="samedatecheck($event)">Same date
                  </mat-checkbox>
              </div>
                <div >
                  <mat-checkbox formControlName="statement_rule" [checked]="checkboxvalidation1?.statement_rule===1"
                    (change)="glnumbercheck($event)">Gl number
                  </mat-checkbox>
                </div>
              
            </div>
          </div>


        </form>


        <div [formGroup]="form" style="width: 104%;margin-top: 15px;">
          <ng-container formArrayName="lessons">
            <ng-container *ngFor="let lessonForm of form.controls.lessons['controls']; let i = index">
              <div class="lesson-form-row" [formGroup]="lessonForm">

                <mat-card class="custom_card">
                  <div>
                    <span style="font-weight: 600;font-size: 15px;">Rule number &nbsp;{{i+1}}</span>
                    <span style=" display: flex;
                       align-items: flex-start;
                       justify-content: flex-end;margin-top: -24px;">
                      <button type="button" class="btn btn-danger" style="border-radius: 100px;"
                        ngbTooltip="Delete rule" (click)="deleterule(i)">X
                      </button>
                    </span>

                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-card style="margin-left: 35px; height: auto; margin-top:20px; margin-bottom: 20px;">
                        <mat-card-title>
                          <div class="info">
                            <p class="title">File 1</p>
                          </div>
                        </mat-card-title>
                        <mat-card-actions>
                          <div class="right-end">
                            <!-- <div class="col-sm-6"></div> -->
                            <div>
                              <mat-checkbox [checked]="checkboxvalidation[i]?.fas_full_column===1"
                                (change)="wisebincheckbox($event,i,lessonForm)">Select Full Column
                              </mat-checkbox>
                            </div>
                          </div>


                          <div class="common-row">

                            <div class="common-label">
                              <mat-label>Column </mat-label>
                            </div>
                            <div>
                              <mat-form-field>
                                <mat-select formControlName="fas_col_name">
                                  <mat-option *ngFor="let type of wisefine_array" [value]="type">
                                    {{ type }}
                                  </mat-option>
                                </mat-select>

                              </mat-form-field>
                            </div>
                          </div>
                          <div class="common-row">
                            <mat-checkbox [checked]="checkboxvalidation[i]?.fas_starts_with_number!==null||
                                this.checkboxvalidation[i]?.fas_starts_with!==''"
                              (change)="wisefinstartwith($event,i)">Start with
                            </mat-checkbox>
                          </div>
                          <div class="row" *ngIf="showstartwithwisefin[i]">
                            <div class="col-md-6">
                              <mat-form-field style="width: 180px">
                                <mat-label>character</mat-label>
                                <input matInput formControlName="fas_starts_with">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field style="width: 180px">
                                <mat-label>number</mat-label>
                                <input matInput type="number" formControlName="fas_starts_with_number" class="custom-placeholder" placeholder="exclude with character">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="common-row" *ngIf="wisecheckboxkey[i] && showstartwithwisefin[i]==false">
                            <div class="common-label">
                              <mat-label>Delimiter</mat-label>
                            </div>
                            <div>
                              <mat-form-field>
                                <input matInput formControlName="fas_delimiter" placeholder="e.g/" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="common-row" *ngIf="wisecheckboxkey[i] && showstartwithwisefin[i]==false">
                            <div class="common-label">
                              <mat-label>Occurance</mat-label>
                            </div>

                            <div>
                              <mat-form-field>
                                <input type="text" placeholder="E.g 5" formControlName="fas_occurencess" matInput
                                  (keypress)="displaylimit($event,i)" (input)="displaylimit($event,i)" />
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="flex-column">
                            <div class="common-row order" *ngIf="showlimit[i]">
                              <div>
                                <mat-radio-group name="same1" formControlName="fas_forward_backward">
                                  <mat-radio-button value="limit" (click)="enableposition(i,1)">Limit</mat-radio-button>
                                </mat-radio-group>
                              </div>
                              <div>
                                <mat-radio-group name="same1" formControlName="fas_forward_backward">
                                  <mat-radio-button value="no_limit" (click)="disableposition(i,1)">No
                                    Limit</mat-radio-button>
                                </mat-radio-group>
                              </div>
                            </div>
                          </div>


                          <div class="common-row" *ngIf="wisecheckboxkey[i] && showstartwithwisefin[i]==false">
                          <div class="common-label">
                            <mat-label>Start Position</mat-label>
                          </div>
                          <div>
                            <mat-form-field>
                              <input matInput formControlName="fas_starting_position" type="number"  />
                            </mat-form-field>
                          </div>
                        </div>
            
                        <div class="common-row" *ngIf="wisecheckboxkey[i] && showstartwithwisefin[i]==false && nolimtfas[i]">
                          <div class="common-label">
                            <mat-label>End Position</mat-label>
                          </div>
                          <div>
                            <mat-form-field>
                              <input matInput formControlName="fas_ending_position" type="number" [readonly]="diableposition" />
                            </mat-form-field>
                          </div>
                        </div>

                        </mat-card-actions>
                      </mat-card>


                    </div>
                    <div class="col-md-6">

                      <mat-card style="margin-right: 15px; height: auto; margin-top:20px; margin-bottom: 20px;">
                        <mat-card-title>
                          <div class="info">
                            <p class="title">File 2</p>


                          </div>
                        </mat-card-title>


                        <mat-card-actions>
                          <div>
                            <div class="right-end">

                              <div>
                                <mat-checkbox [checked]="checkboxvalidation[i]?.cbs_full_column===1"
                                  style="margin-top: 20px" (change)="Addcheckbox($event,i)">Select Full Column
                                </mat-checkbox>
                              </div>
                            </div>

                            <div class="common-row">

                              <div class="common-label">
                                <mat-label>Column </mat-label>
                              </div>
                              <div>
                                <mat-form-field>
                                  <mat-select formControlName="cbs_col_name">
                                    <mat-option *ngFor="let type of cbs_array" [value]="type">
                                      {{ type }}
                                    </mat-option>
                                  </mat-select>

                                </mat-form-field>
                              </div>
                            </div>

                            <div class="common-row">
                              <mat-checkbox [checked]="checkboxvalidation[i]?.cbs_starts_with_number!==null ||
                                this.checkboxvalidation[i]?.cbs_starts_with!==''"
                                (change)="cbsstartwith($event,i)">Start with
                              </mat-checkbox>
                            </div>
                            <div class="row" *ngIf="showstartwithcbs[i]">
                              <div class="col-md-6"> <mat-form-field style="width: 180px;">
                                  <mat-label>character</mat-label>
                                  <input matInput formControlName="cbs_starts_with">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6"> <mat-form-field style="width: 180px;">
                                  <mat-label>number</mat-label>
                                  <input matInput type="number" formControlName="cbs_starts_with_number"  class="custom-placeholder" placeholder="exclude with character">
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="common-row" *ngIf="checkboxkey[i] && showstartwithcbs[i]==false">
                              <div class="common-label">
                                <mat-label>Delimiter</mat-label>
                              </div>
                              <div>
                                <mat-form-field>
                                  <input matInput formControlName="cbs_delimiter" placeholder="e.g/" />
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="common-row" *ngIf="checkboxkey[i] && showstartwithcbs[i]==false">
                              <div class="common-label">
                                <mat-label>Occurance</mat-label>
                              </div>

                              <div>
                                <mat-form-field>
                                  <input type="number" placeholder="E.g 5" formControlName="cbs_occurencess" matInput
                                    (keypress)="displaylimitcbs($event,i)" (input)="displaylimitcbs($event,i)" />
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="common-row order" *ngIf="showlimit1[i]">
                              <div>
                                <mat-radio-group name="forward" formControlName="cbs_forward_backward">
                                  <mat-radio-button value="limit" (click)="enableposition(i,2)">Limit</mat-radio-button>
                                </mat-radio-group>
                              </div>
                              <div>
                                <mat-radio-group name="forward" formControlName="cbs_forward_backward">
                                  <mat-radio-button value="no_limit" (click)="disableposition(i,2)">No
                                    limit</mat-radio-button>
                                </mat-radio-group>
                              </div>
                            </div>

                            <div class="common-row" *ngIf="checkboxkey[i] && showstartwithcbs[i]==false">
                              <div class="common-label">
                                <mat-label>Start Position</mat-label>
                              </div>
                              <div>
                                <mat-form-field>
                                  <input matInput formControlName="cbs_starting_position" type="number"/>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="common-row" *ngIf="checkboxkey[i] && showstartwithcbs[i]==false && nolimtcbs[i]">
                              <div class="common-label">
                                <mat-label>End Position</mat-label>
                              </div>
                              <div>
                                <mat-form-field>
                                  <input matInput formControlName="cbs_ending_position" type="number" [readonly]="diableposition" />
                                </mat-form-field>
                              </div>
                            </div>

                          </div>
                        </mat-card-actions>



                      </mat-card>
                    </div>
                  </div>
                </mat-card>

              </div>
            </ng-container>
          </ng-container>

        </div>
        <!-- <form [formGroup]="templateeditform">
          <div class="row">
            <div class="col-sm-4">
              <mat-form-field>
                <mat-label>Rule Name</mat-label>
                <input matInput formControlName="description" required />
              </mat-form-field>
            </div>

            <div class="col-sm-4">
              <mat-checkbox
                formControlName="full_column"
                style="margin-top: 20px"
                (ngModelChange)="status = $event ? 1 : 0"
                [ngModel]="status"
                >Select Full Column
              </mat-checkbox>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-md-10">
                <mat-card
                  style="
                    width: 570px;
                    background-color: aliceblue;
                    height: 70px;
                  "
                >
                  <mat-label style="width: 100px; padding-left: 25px"
                    >Column Starting</mat-label
                  >

                  <mat-form-field style="margin-left: 50px">
                    <mat-label>Value</mat-label>
                    <input matInput formControlName="starts_with" required />
                  </mat-form-field>
                </mat-card>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10">
                <mat-card
                  style="
                    width: 570px;
                    background-color: aliceblue;
                    height: 70px;
                  "
                >
                  <mat-label style="width: 100px; padding-left: 25px"
                    >Delimiter</mat-label
                  >

                  <mat-form-field style="margin-left: 50px">
                    <mat-label>Delimiter Symbol</mat-label>
                    <input matInput formControlName="delimiter" required />
                  </mat-form-field>
                </mat-card>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10">
                <mat-card
                  style="
                    width: 570px;
                    background-color: aliceblue;
                    height: 140px;
                  "
                >
                  <mat-label style="padding-left: 25px">Where</mat-label>

                  <mat-form-field style="margin-left: 50px">
                    <mat-label>between/after</mat-label>
                    <mat-select formControlName="between_after">
                      <mat-option value="between">between</mat-option>
                      <mat-option value="after">after</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field style="margin-left: 30px">
                    <mat-label>start</mat-label>
                    <input
                      matInput
                      formControlName="starting_position"
                      type="number"
                      required
                    />
                  </mat-form-field>

                  <mat-form-field style="margin-left: 30px">
                    <mat-label>end</mat-label>
                    <input
                      matInput
                      formControlName="ending_position"
                      type="number"
                      required
                    />
                  </mat-form-field>
                </mat-card>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10">
                <mat-card
                  style="
                    width: 570px;
                    background-color: aliceblue;
                    height: 140px;
                  "
                >
                  <mat-label style="padding-left: 25px"
                    >Total Number Of</mat-label
                  >

                  <mat-radio-group
                    name="searching"
                    formControlName="word_character"
                  >
                    <mat-radio-button value="word" style="margin-left: 20px"
                      >word</mat-radio-button
                    >
                    <mat-radio-button
                      value="character"
                      style="margin-left: 20px"
                      >character</mat-radio-button
                    >
                  </mat-radio-group>

                  <mat-form-field style="margin-left: 30px">
                    <mat-label>Number Of</mat-label>
                    <input
                      matInput
                      formControlName="count"
                      type="number"
                      required
                    />
                  </mat-form-field>
                  <mat-form-field style="margin-left: 30px">
                    <mat-label>From Count</mat-label>
                    <input
                      matInput
                      formControlName="from_count"
                      type="number"
                      required
                    />
                  </mat-form-field>
                </mat-card>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10">
                <mat-card
                  style="
                    width: 570px;
                    background-color: aliceblue;
                    height: 70px;
                  "
                >
                  <mat-label style="padding-left: 25px">OrderBy</mat-label>

                  <mat-radio-group formControlName="forward_backward">
                    <mat-radio-button value="forward" style="margin-left: 50px"
                      >Forward</mat-radio-button
                    >
                    <mat-radio-button value="backward" style="margin-left: 50px"
                      >Backward</mat-radio-button
                    >
                  </mat-radio-group>
                </mat-card>
              </div>
            </div>

            <br />
          </div>
          <div class="row">
            <div class="col-md-10">
              <mat-card
                style="width: 570px; background-color: aliceblue; height: 70px"
              >
                <mat-label style="padding-left: 25px">Match Data</mat-label>

                <mat-radio-group formControlName="same_date">
                  <mat-radio-button
                    value="0"
                    style="margin-left: 50px"
                    [value]="0"
                    >with Same Date</mat-radio-button
                  >
                  <mat-radio-button
                    value="1"
                    style="margin-left: 50px"
                    [value]="1"
                    >without Same Date</mat-radio-button
                  >
                </mat-radio-group>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <mat-card
                style="width: 570px; background-color: aliceblue; height: 150px"
              >
                <mat-label style="padding-left: 25px">More Filters</mat-label>
                <br />

                <mat-form-field style="padding-left: 25px">
                  <mat-label>GL Columns</mat-label>

                  <mat-select formControlName="key">
                    <mat-option value="pv_no">PV Number</mat-option>
                    <mat-option value="line_description"
                      >Line Description</mat-option
                    >
                    <mat-option value="source">Source</mat-option>
                    <mat-option value="category">Category</mat-option>
                    <mat-option value="gl_doc_no">GL Doc No.</mat-option>
                    <mat-option value="user_name">User Name</mat-option>
                    <mat-option value="invoice_no">Invoice Number</mat-option>
                    <mat-option value="journal_name">Journal Name</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field style="margin-left: 50px">
                  <mat-label>Value</mat-label>
                  <input matInput formControlName="value" required />
                </mat-form-field>

                <mat-radio-group
                  formControlName="include"
                  style="margin-left: 247px"
                >
                  <mat-radio-button [value]="0" style="margin-left: 50px"
                    >including</mat-radio-button
                  >
                  <mat-radio-button [value]="1" style="margin-left: 50px"
                    >excluding</mat-radio-button
                  >
                </mat-radio-group>
              </mat-card>
            </div>
          </div>

          <div>
            <div class="row" style="margin-top: 5%">
              <button
                class="btn btn-primary"
                style="margin-left: 311px"
                type="submit"
                (click)="UpdateForms()"
                data-dismiss="modal"
              >
                Update
              </button>
              <button
                class="btn btn-warning"
                data-dismiss="modal"
                style="margin-left: 20px"
              >
                Back
              </button>
            </div>
          </div>

          <br />
          <br />
        </form> -->
        <!-- <pre>{{templateeditform.value | json }}</pre> -->
      </div>
      <!-- <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
        </div> -->
    </div>
  </div>
</div>

</section>