<nav>
    <div class="nav nav-tabs">
        <a class="nav-item nav-link" data-toggle="tab" role="tab" (click)="landlordbankBtn()" >Land Lord bank</a>
        <div *ngIf="isLandlordbank">
            <button type="button" class="btn btn-outline-success"
            style="border-radius:40px;margin-left: 50px" [routerLink]='"/rems/landlordBankCreate"' id="landlordbank-0001"><span class="fa fa-plus"></span>Land Lord Bank</button>
        </div>
    </div>
</nav>
<div *ngIf="isLandlordbank">
<div class="table-responsive" style="width: 99%;margin-top:2%;overflow-x:hidden;">
    <h3 style="margin-left: 2%;">
        Land Lord Bank Summary
    </h3> 
    <table class="table" style="margin-left: 2%;">
        <thead class="table_header">
            <tr>
                <th>S.no</th>
                <!-- <th>id</th> -->
                <!-- <th>Name</th> -->
                <th>Bank name</th>
                <th>Branch name</th>
                <th>IFSC code</th>
                <th>Account Type</th>
                <th>Account Number</th>
                <th>Edit</th>
                <th>Delete</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let landlordbank of landlordbankList;index as i">
                <td scope="row"  style="vertical-align: middle;">{{(this.landlordbankpage - 1)*pageSize +i+1 }}</td>
                <!-- <td  style="vertical-align: middle;">{{landlordbank.id}}</td> -->
                <!-- <td  style="vertical-align: middle;">{{landlordbank.land_lord_id.name}}</td> -->
                <td  style="vertical-align: middle;">{{landlordbank.bankbranch.bank.name}}</td>    
                <td  style="vertical-align: middle;">{{landlordbank.bankbranch.name}}</td>
                <td  style="vertical-align: middle;">{{landlordbank.bankbranch.ifsccode}}</td>
                <td  style="vertical-align: middle;">{{landlordbank.account_type}}</td>
                <td  style="vertical-align: middle;">{{landlordbank.account_number}}</td>
                <td>
                    <button mat-icon-button matTooltip=" Edit" class="iconbutton" (click)="landlordBankEdit(landlordbank)"
                         color="primary" id="landlordbank-0002">
                        <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                    </button></td>
                  <td> 
                      <button mat-icon-button matTooltip=" Delete" class="iconbutton" (click)="landlordBankDelete(landlordbank)"
                         color="primary" id="landlordbank-0003">
                        <mat-icon style="color: gray;" aria-label="Delete">delete</mat-icon>
                    </button>
                </td>               
            </tr>
        </tbody>
    </table>
</div>
</div>

<div style="margin-bottom: 5%;font-size: small;text-align:right;" >
    <button mat-icon-button [disabled]="has_previous === false" color="primary"
        (click)="previousClicklandlordBank()" id="landlordbank-0004">
        <mat-icon>arrow_back
        </mat-icon>
    </button>
        {{landlordbankpage}}
    <button mat-icon-button [disabled]="has_next === false" color="primary"
        (click)="nextClickLandlordbank()" id="landlordbank-0005">
        <mat-icon>arrow_forward
        </mat-icon>
    </button>
</div>

