<section class="screen-padding">
  <h2>Ageing Bucket</h2>
    <div class="filter-aling-2" *ngIf="ShowSummaryform">
        <lib-vs-search-cmp
        class="npm-mat-edit"
        [SearchArr]="agingsearch"
        [Outputtype]="searchagingvar"
        (dataoutput)="searchagingsupload($event)"
        [ButtonArr]="agingbucketbutton"
      >
      </lib-vs-search-cmp>
      </div>
      <!-- <form [formGroup]="agesearch" class="search-content"> -->
      <!-- <div class="row">
        <div class="col-md-3">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Bucket Name</mat-label>
            <input matInput formControlName="bucketName" />
          </mat-form-field>
        </div>

        <div class="col-md-3" style="margin-top: 1%">
          <button
            matTooltip="Search Records"
            matTooltipClass="rmutooltip"
            matTooltipClass="rmutooltip"
            class="btn btn-outline-success"
            style="margin-left: 5%"
            id="rmubtn"
            color="primary"
          >
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-warning"
            matTooltipClass="rmutooltip"
            [matTooltip]="'Clear Entries'"
            style="margin-left: 20px"
            (click)="agesearch.reset()"
            id="rmubtn"
          >
            Clear
          </button>
          <button
            matTooltip="Create Bucket"
            matTooltipClass="rmutooltip"
            type="button"
            class="btn btn-outline-success"
            (click)="addrequest()"
            id="rmubtn"
            style="margin-left: 20px"
          >
            <span class="fa fa-plus"></span> ADD
          </button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2" style="margin-top: 1%">
          <button
            matTooltip="View Report"
            matTooltipClass="rmutooltip"
            type="button"
            class="btn btn-outline-info"
            (click)="viewreports(dataa)"
            id="rmubtn"
            style="margin-left: -6px; border-radius: 25px; padding: 10px"
          >
            View Report
          </button>
        </div>
      </div> -->
    <!-- </form> -->

  <div *ngIf="ShowAddform">
    <form [formGroup]="bucketform">
      <!-- <div class="row"> -->
      <div>
        <div class="gridGroup-mFields-2 mat-250">
          <div class="npm-mat-edit">
            <mat-form-field appearance="outline">
              <mat-label>Bucket Name *</mat-label>
              <input formControlName="name" matInput />
            </mat-form-field>
          </div>
          <div class="npm-mat-edit">
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <input formControlName="description" matInput />
            </mat-form-field>
          </div>
        </div>

        <h2>Timelines in Days</h2>
        <div formArrayName="timeline">
          <div
            *ngFor="
              let value of bucketform.controls.timeline['controls'];
              index as ind
            "
            formGroupName="{{ ind }}"
          >
            <div class="formArray-group">
              <div class="npm-mat-edit">
                <mat-form-field appearance="outline">
                  <mat-label>From</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="0"
                    numberOnly="value[ind-1]"
                    formControlName="day1"
                  />
                </mat-form-field>
              </div>

              <div class="npm-mat-edit">
                <fieldset [disabled]="!bucketform.value.timeline[ind].day1">
                  <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <input
                      placeholder="5"
                      required
                      matInput
                      numberOnly
                      formControlName="day2"
                    />
                  </mat-form-field>
                </fieldset>
              </div>

              <div>
                <span [matTooltip]="addtooltiptext">
                  <button
                    [disabled]="!bucketform.value.timeline[ind].day2"
                    mat-icon-button
                    *ngIf="timelinelength - 1 == ind; else space"
                    (click)="addtimeline()"
                  >
                    <mat-icon>add_circle_outline</mat-icon>
                  </button>
                </span>

                <ng-template #space>
                  <button mat-icon-button></button>
                </ng-template>

                <button
                  mat-icon-button
                  *ngIf="timelinelength != 1"
                  (click)="removetimeline(ind)"
                >
                  <mat-icon> clear </mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-btns">
        <button
          type="submit"
          style="border-radius: 10px"
          (click)="submit()"
          class="btn btn-outline-success"
        >
          Submit
        </button>
        <button
          (click)="onCancelClick()"
          class="btn btn-outline-dark"
          style="border-radius: 7px"
        >
          Cancel
        </button>
      </div>

      <!-- <button type="button"  class="btn btn-light" (click)="onCancelClick()" skipLocationChange
                style="border-radius: 7px;margin-left: 10px;
                border-color: black;
                background-color: white;">Cancel</button>
                <button type="submit" style="border-radius: 10px;margin-left: 10px;
                border-color: #01A85A;
                background-color: #01A85A;"
                    class="btn btn-light" (click)="editVendorForm()" >Submit</button>    -->
    </form>
  </div>
</section>
