// /deep/ .mat-tooltip {
//     font-size: 18px;
//   }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }
  ::ng-deep .note-editor .note-editing-area .note-editable table td, .note-editor .note-editing-area .note-editable table th{
    // border: 1px solid black !important;
    // padding: 5px 3px !important;
    border: '1' !important;
    border-color: black !important;
}