

<!-- <main>
 <h3 style="margin-left:20px;">Account Form</h3>
</main> -->
 <div>
        <form [formGroup]="AddForm" (ngSubmit)="submitForm()">
            <table>
                <tr>
                    <td style="margin-left:20px;">
                        <mat-form-field style="margin-left: 25px;">
                            <mat-label>Account Number</mat-label>
                            <input matInput formControlName="acc_no">
                        </mat-form-field>
                       
                        <!-- <mat-form-field class="matformfieldstyle" style="width: 250px;margin-left:20px;" appearance="outline">
                            <mat-label style="margin-left:20px;">Account Number<label style="color: red;" >*</label></mat-label><br>
                            <input matInput placeholder="Account Number" class="matformfieldinputstyle" formControlName="acc_no" autocomplete="off" required>
                        </mat-form-field> -->
                    </td>
                    <td>
                        <mat-form-field style="margin-left: 25px;">
                            <mat-label>Account Name</mat-label>
                            <input matInput formControlName="acc_name">
                        </mat-form-field>
                        <!-- <mat-label style="margin-left: 60px;">Account Name<label style="color: red;" >*</label></mat-label><br>
                        <mat-form-field class="matformfieldstyle" style="width: 250px;margin-left: 60px;" appearance="outline">
                            <input matInput placeholder="Name" class="matformfieldinputstyle" formControlName="acc_name" autocomplete="off" required>
                        </mat-form-field> -->
                    </td>
              
                    <td>

                        <mat-form-field style="margin-left: 25px;">
                            <mat-label>Description</mat-label>
                            <input matInput formControlName="acc_description">
                        </mat-form-field>
                        <!-- <mat-label style="margin-left: 60px;">Description<label style="color: red;" >*</label></mat-label><br>
                        <mat-form-field class="matformfieldstyle" style="width: 250px;margin-left: 60px;" appearance="outline">
                            <input matInput placeholder="Name" class="matformfieldinputstyle" formControlName="acc_description" autocomplete="off" required>
                        </mat-form-field> -->
                    </td>

                    <td>
                        <button type="submit" style="border-radius: 25px;margin-left: 69px; margin-top: -11px;
                        border-color: #4fc6e0;
                        background-color: #81C6E8;" class="btn btn-light"
                         [disabled]="AddForm.invalid" 
                         >Submit</button>
                    </td>
                </tr>
            </table>
            <div style="margin-top: 20px;margin-left: 35px;">
             
          
            
            </div>
           


            <!-- <button type="button"  class="btn btn-light" (click)="onCancelClick()" skipLocationChange
            style="border-radius: 7px;margin-left: 10px;
            border-color: black;
            background-color: white;">Cancel</button>
            <button type="submit" style="border-radius: 10px;margin-left: 10px;
            border-color: #f5c68b;
            background-color: #f5c68b;"
                class="btn btn-light" (click)="editVendorForm()" >Submit</button>    -->



        </form>
    </div>

    <div>

        <div class="table-responsive" style="margin-top: 15px;padding-left: 1%; padding-right: 1%;">
            <table class="table table-bordered" id="historytable" >
                <thead class="table_header">
                    <th>S.No</th>
                    <th>Account Name</th>   
                    <th>Account Number</th>      
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Status</th>
                    <!-- <th></th> -->
                    
    
    
                </thead>
                <tbody *ngFor="let sum of summarylists;index as ind" style="padding:5px;">
                    <td>{{(pagination.index-1)*limit+ind+1}}</td> 
                    <td >{{sum.acc_name}}</td>
                    <td>{{sum.acc_no}}</td>
                    <td>
                        {{sum.acc_description}}
                    </td>
                    <td>
                        <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                        (click)="accountedit(sum)" color="primary" data-toggle="modal"
                        data-target="#editmodalforaccounts">                            
                        <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                    </button>
                    
                    </td>
                    <td>
                        <mat-slide-toggle [(ngModel)]="sum.status" color="secondary" (click)="deleteaccount(sum.id);"></mat-slide-toggle>
                    </td>
                    <!-- <td>{{sum.debit_amount}}</td> -->
    
                    <!-- <td *ngIf="sum.cheque_no == 'nan' ">
                    </td>
                    <td *ngIf="sum.cheque_no != 'nan'"> {{sum.cheque_no}}</td> -->
                    <!-- <td *ngIf="sum.credit == 1" class="columnss" >Cr
    
                    </td>
                    <td *ngIf="sum.credit == 0">Dr
    
                    </td> -->
                    <!-- <td>{{sum.credit_amount}}</td>
                    <td>
                        <mat-checkbox>
                        </mat-checkbox>
                    </td> -->
    
                </tbody>
            </table>
            <!-- <div *ngIf="!summarylist.length" style="margin-left: 42%;">
                <h3>Sorry no data found!... </h3>
            </div>
    -->
            <div class="col-sm-12" style="font-size:x-small;text-align:right;">
                <button (click)="prevpage()" mat-icon-button [disabled]="pagination.has_previous === false"
                    color="primary">
                    <mat-icon class="customIconSize">arrow_back</mat-icon>
                </button>
                {{pagination.index}}
                <button (click)="nextpage()" mat-icon-button [disabled]="pagination.has_next === false"
                    color="primary">
                    <mat-icon class="customIconSize">arrow_forward</mat-icon>
                </button>
    
            </div>
          
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabels" aria-hidden="true"
        id="editmodalforaccounts">
        <div class="modal-dialog modal-xl" style="width: 60%;">
            <div class="modal-content">
                <div class="modal-header" style="background:rgba(23, 204, 23, 0.288);">
                    <h2 class="modal-title" style="color:black ;">Account Details</h2>
                    <button type="button" #closebuttons class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div style="margin-left: 70px;margin-right: 80%;margin-top: 2%; width: 40%;">

                    <form [formGroup]="accounteditform">
                        <table>
                            <div>
                                <tr>
                                    <td>
                                        <mat-form-field style="width: 175px;">
                                            <mat-label>Account Name</mat-label>
                                            <input matInput placeholder="account name" name="acc_name"
                                            formControlName="acc_name" autocomplete="off">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field style="width: 175px;margin-left: 50px;">
                                            <mat-label>Account Number</mat-label>
                                            <input matInput placeholder="account number" name="acc_no"
                                            formControlName="acc_no" autocomplete="off">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field style="width: 175px;margin-left: 50px;">
                                            <mat-label>Description</mat-label>
                                            <input matInput placeholder="account description" name="acc_description"
                                            formControlName="acc_description" autocomplete="off">
                                        </mat-form-field>
                                    </td>
                                </tr>
                               
                            </div>
                        </table>
                        <tr>
                            <div style="margin-bottom: 5%;">
                                <button type="submit" style="border-radius: 40px;margin-left: 10px;"
                                    class="btn btn-outline-primary" (click)="editForm()">Update</button>
                                <button type="button" class="btn btn-outline-primary" 
                                    data-dismiss="modal" style="border-radius: 40px;margin-left: 10px;">Cancel</button>
                            </div>
                        </tr>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div style="text-align:center;">
            <!-- <button class="btn btn-outline-warning " id="rmubtn" style="margin-left:25px; border-radius: 25px;"
            (click)="backtoMaster()">Back</button> -->
        </div>
    </div>