th{
    text-align:center;
    font-weight: 500;
    font-size:medium;
  }
  tbody td {
    padding: 0.5em 0.1em 0.1em;
    font-size: 15px;
  }
  .text_key_color{
    font-weight: normal;
    font-size: large;
    font-weight: 550;
  }