th{
    text-align:center;
    font-size: 15px;
  }
  tbody td {
    padding: 0.5em 0.1em 0.1em;
    font-size: 15px;
  }
  .text_key_color{
    font-weight: bold;
  }

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}