.main-content {
    margin-left: 50px;
}
.btn-outline-primary {
    border-radius: 40px;
}
.btn-outline-danger {
    border-radius: 40px;
}
.hr-text {
    margin-top: 2%;
}
.view {
    margin-top: 2%;
}
.modal-dialog .modal-content {
    width: 617px !important;
}
.drop-down {
    float: right;
    margin-right: 15px;
}
.btn-outline-success {
    border-radius: 40px;
}
 
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.view-tab {
    margin-top: 10px;
}
hr {
    margin-top: 2rem;
}

tbody td {
    padding: 0.5em 0.1em 0.1em;
}
// th, td{
//     text-align:center;
// }

.float-container {
    margin-top: 0%;
}

.float-child {
    float: left;
}

.center th,
.center td {
    text-align: center;
}

.center th {
    font-weight: bold;
}
.edit-btn {
    color: grey;
    cursor: pointer;
}
.edit-btn-hidden {
    color: rgba(0, 0, 0, 0.12);
}
.toolbar-icon-disabled {
    pointer-events: none;
}
.linkDisabled {
    cursor: not-allowed;
}
.modal-dialog-centered{
    max-width:fit-content;
    max-height: fit-content;
    overflow-y: hidden;
    overflow-x: hidden;
}
.modal-body{
max-height: calc(100vh - 200px);
min-height: fit-content;
overflow-y: auto;
overflow-x: auto;
}
.enabled_icon{
    color:green;
}
::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }
