<br>

<h2 style="margin-left: 50px; ">
    Legal Data 
</h2>
<div style="margin-left: 50px;margin-right: 80%;margin-top: 3%; width: 100%;">
  
    <div>
        <form [formGroup]="legalDataForm" (ngSubmit)="legaldataCreate()">
            <table>
                <tr>
                    <td>
                        <mat-form-field style="width: 175px;">
                            <mat-label>EC Details</mat-label>
                            <input matInput placeholder="Ec Details" autocomplete="off" formControlName="EC_details"
                                required id="legaldata-0001">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width: 175px;margin-left: 70px;">
                            <mat-label>NOC Details</mat-label>
                            <input matInput placeholder="NOC Details" autocomplete="off" formControlName="noc_details"
                                required id="legaldata-0002">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field style="width: 175px;">
                            <mat-label>NOC Remarks</mat-label>
                            <input matInput placeholder="noc_remarks" autocomplete="off" formControlName="noc_remarks"
                                required id="legaldata-0003">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="margin-left: 71%;">
                            <mat-label>Choose</mat-label>
                            <mat-select  formControlName="under_mortage"  id="legaldata-0004">
                                <mat-option value=true>
                                    Yes</mat-option>
                                <mat-option value=false>
                                    No</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>

            </table>
            <div style="margin-bottom: 5%;">
                <button type="submit" style="border-radius: 40px;margin-left: 10px;"
                    class="btn btn-outline-primary" id="legaldata-0005">Submit</button>
                <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
                    style="border-radius: 40px;margin-left: 10px;" id="legaldata-0006">Cancel</button>
            </div>
        </form>
    </div>
</div>
