<br>

<h1 style="margin-left: 40px;
 font-family:'Times New Roman', Times, serif;font-size:25px;font-weight:lighter;">GRN Summary</h1>
 <form style="margin-left:60px">
    <table>
        <tr>
            <td>
                <mat-form-field class="input-style">
                    <mat-label>GRN No</mat-label>
                    <input matInput placeholder="GRN No" autocomplete="off"  required id="grn-0002">

                    
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="input-style2">
                    <mat-label>Supplier Name</mat-label>
                    <input matInput placeholder="Supplier Name" autocomplete="off"  required id="grn-0003">

                    
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="input-style2">
                    <input matInput [matDatepicker]="picker1" 
                         placeholder="From Date" id="grn-0004">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="input-style2">
                    <input matInput [matDatepicker]="picker2" 
                         placeholder="To Date" id="grn-0005">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="input-style">
                    <mat-label>Min Qty</mat-label>
                    <input matInput placeholder="Remarks" autocomplete="off"  required id="grn-0006">

                    
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="input-style2">
                    <mat-label>Max Qty</mat-label>
                    <input matInput placeholder="Remarks" autocomplete="off"  required id="grn-0007">
                </mat-form-field>
            </td>
            <td>
            <button class="btn btn-outline-primary" type="submit" style="border-radius:40px;
            margin-top: auto;"
            color="primary" id="grn-0008"><i class="fa fa-search" aria-hidden="true"></i></button>
            </td>
            <td>
            <button type="button" class="btn btn-outline-success" (click)="grnadd()"
                        style="border-radius: 20px; cursor: pointer;" color="primary" id="grn-0009"><span
                            class="fa fa-plus"></span> GRN
                    </button>
                </td>


        </tr>
    </table>
 </form>


 <div class="table-responsive">
    <table class="table table-bordered" fixed-header style="width: 95%;margin-top: 10px;margin-left:30px;overflow-x: hidden;">
        <thead class="table_header" style="text-align: left;">
            <tr>

                <th>Sl.No</th>
                <th>GRN No</th>
                <th>PO No</th>
                <th>DC No</th>
                <th>Invoice No</th>
                <th>Supplier</th>
                <th>Date</th>
                <th>UOM</th>
                <th>Received Qty</th>
                <th>Status</th>
                <th>Transaction History</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td style="cursor: pointer; color: #3684BF;" (click)="grnview()">1234</td>
                <td >1234</td>
                <td >1234</td>
                <td >1234</td>
                <td >JOE</td>
                <td>04-01-2020</td>
                <td >A</td>
                <td >2</td>
                <td >Approved</td>
                <td style="text-align: center;">
                    <i class="fa fa-file" aria-hidden="true" data-toggle="modal" data-target="#grn-0001"></i>  
                   </td>
                   <!-- <button class="btn btn-outline-primary" type="submit" data-toggle="modal" data-target="#exampleModalLongs" 
                   color="primary" id="grn-0010"> -->
      
            </tr>      
            
        </tbody>
    </table>
    
</div>


<div class="modal fade" id="grn-0001" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" style="width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" style="font-family:'Times New Roman', Times, serif;font-size:25px;">
                    Transaction History</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="grn-0011">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table class="table table-bordered" fixed-header
                        style="width: 95%;margin-top: 10px;margin-left:25px;overflow-x: hidden;">
                        <thead class="table_header" style="text-align: center;overflow-x: hidden;">
                            <tr style="margin: auto;">

                                <th>Sl.No</th>
                                <th>GRN Header No</th>
                                <th>Transaction Date</th>
                                <th>Status </th>
                                <th>Employee Name</th>
                                <th>Remarks</th>
                               






                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td> 123</td>
                                <td> 04-01-2021</td>


                                <td>
                                    Approved
                                </td>
                                
                                <td>
                                    Jo
                                </td>
                                <td>
                                    Yes
                                </td>
                          
                            </tr>
                        </tbody>
                    </table>
   

                </div>




            </div>
            <div style="margin-bottom: 5% ;margin-left:40%">
                <button type="submit" data-dismiss="modal" class="btn btn-outline-primary" id="grn-0012">BACK</button>


            </div>

        </div>
    </div>
</div>
