<div class="container">
    <div class="row">
        <div class="col">
            <h2 style="margin-left: -65px;"> Activity Description Form</h2>
            <form style="margin-left:-50px;" [formGroup]="activitydesignform">
                <table>
                    <tr>
                        <td>
                            <!-- <mat-label>Activity Name</mat-label><br> -->
                            <mat-form-field class="matformfieldstyle"  style="width:300px" >
                                <input class="matformfieldinputstyle" placeholder="Activity Description Name" type="text" 
                                    formControlName="name" matInput autocomplete="off">
                            </mat-form-field>
                        </td>
                        <!-- <td>
                            <mat-label style="margin-left: 50px;">Remarks</mat-label><br>
                            <mat-form-field class="matformfieldstyle" appearance="outline"
                            style="margin-left: 50px;">
                                <input class="matformfieldinputstyle" type="text" placeholder="Remarks"
                                    formControlName="description" matInput autocomplete="off">
                            </mat-form-field>
                        </td> -->

                    </tr>
                </table>
                <div >




                    <button type="button" class="btn btn-outline-success text-center"
                        style="border-radius: 40px;margin-left: 10px;" (click)="activitysubmit()">
                        Submit
                    </button>

                    <button type="button" (click)="onactivityCancel()" class="btn btn-outline-primary text-center"
                        style="border-radius: 40px;margin-left: 10px;">
                        Back
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>