.center th,.center td
{
    text-align:center;
}

.btn-outline-primary {
    border-radius: 40px;
}
.table-bordered td,.table-bordered tr {
    border: 2px solid #bac2cd;
}
.table-bordered th{
    border: 2px solid #bac2cd;
}


nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent !important;
    color: #007338 !important;
  }
  
  .nav-tabs .nav-link:hover {
    border: none !important;
  }
  
  .nav-tabs .nav-link {
     border: none; 
  }
  .navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 18px;
  }
//   .modal-dialog{
//     max-width:fit-content;
//     max-height: fit-content;
//     overflow-y: hidden;
//     overflow-x: hidden;
// }
// .modal-body{
// max-height: calc(100vh - 200px);
// min-height: fit-content;
// overflow-y: auto;
// overflow-x: auto;
// }