<div style="margin-left: 50px">
  <div>
    <h1 style="padding-left: 38%; margin-top: 20px">Invoice Data Entry</h1>
    <nav *ngIf="permission == true">
      <div
        class="nav nav-tabs"
        style="margin-top: 1%; height: 50px; cursor: pointer"
      >
        <a
          class="nav-item nav-link"
          data-toggle="tab"
          (click)="branchViewScreen()"
          >Branch Certification</a
        >
        <a
          class="nav-item nav-link"
          data-toggle="tab"
          (click)="systemGenerateBillScreen()"
          >System Generated Bill</a
        >
      </div>
    </nav>
    <h3 style="margin-top: 2%; margin-bottom: -3%; margin-left: 14%">
      Branches are Advice to take utmost care in filling the data in invoice
      data entry as it plays vital role in the wage Calculations
    </h3>
    <form [formGroup]="invoiceView" style="margin-top: 3%">
      <table>
        <div
          class="table-responsive"
          style="margin-top: 2%; overflow-x: hidden; margin-left: 42%"
        >
          <table class="table table-bordered" fixed-header>
            <tbody>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">
                    Data Entry For Site
                  </div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Site</mat-label>
                    <input
                      matInput
                      placeholder="Site"
                      formControlName="dataentrysite"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">Invoice Month</div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Month</mat-label>
                    <input
                      matInput
                      placeholder="Month"
                      formControlName="invoicemonth"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
                <!-- <td>
                                    <mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
                                        <input matInput readonly [matDatepicker]="picker1" formControlName="invoicemonth" 
                                        placeholder="invoicemonth">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </td> -->
              </tr>

              <tr>
                <td>
                  <div style="color: blue; text-align: left">Security PAN</div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Security Pan</mat-label>
                    <input
                      matInput
                      placeholder="Security Pan"
                      formControlName="securitypan"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">
                    Security Agence Name
                  </div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Security Agence Name</mat-label>
                    <input
                      matInput
                      placeholder="Security Agence Name"
                      formControlName="securityagencename"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <!-- <tr>
                                <td>
                                    <div style="color: blue;text-align: left;">Security Tax Number</div>
                                </td>
                                <td>
                                    <mat-form-field style="width: 175px;margin-bottom: -24px;margin-top: -13px;">
                                        <mat-label>Security Tax Number</mat-label>
                                        <input matInput placeholder="Security Tax Number" formControlName="servicetaxno" [readonly] = "true"
                                            autocomplete="off">
                                    </mat-form-field>
                                </td>
                            </tr> -->
              <tr>
                <td>
                  <div style="color: blue; text-align: left">GST Number</div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>GST Number</mat-label>
                    <input
                      matInput
                      placeholder="GST Number"
                      formControlName="gst_no"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>

              <tr>
                <td>
                  <div style="color: blue; text-align: left">
                    Invoice Number
                  </div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Invoice Number</mat-label>
                    <input
                      matInput
                      placeholder="Invoice Number"
                      formControlName="invoiceno"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">Invoice Date</div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <input
                      matInput
                      readonly
                      [matDatepicker]="picker2"
                      formControlName="invoicedate"
                      [readonly]="true"
                      placeholder="Invoicedate"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker2"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">
                    Number of Armed Guards - No of duties per day
                  </div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Value</mat-label>
                    <input
                      matInput
                      placeholder="Value"
                      formControlName="aguarddutiespday"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">
                    Total No.of duties for Whole Month - Armed Guards
                  </div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Value</mat-label>
                    <input
                      matInput
                      placeholder="Value"
                      formControlName="aguarddutiesmonth"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">
                    Bill Amount -Armed Guard
                  </div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Value</mat-label>
                    <input
                      matInput
                      placeholder="Value"
                      formControlName="abillamt"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">
                    Number of Security Guards (Unarmed) - No of duties per day
                  </div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Value</mat-label>
                    <input
                      matInput
                      placeholder="Value"
                      formControlName="unaguarddutiespday"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">
                    Total no.of duties for Whole Month - Security Guards
                  </div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Value</mat-label>
                    <input
                      matInput
                      placeholder="Value"
                      formControlName="unaguarddutiesmonth"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">
                    Bill Amount - Security Guard
                  </div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Value</mat-label>
                    <input
                      matInput
                      placeholder="Value"
                      formControlName="sbillamt"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">
                    Total Bill Amount (Security + Armed )
                  </div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Total Bill Amount</mat-label>
                    <input
                      matInput
                      placeholder="Total Bill Amount"
                      formControlName="totlbillamt"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">CGST AMOUNT</div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Amount</mat-label>
                    <input
                      matInput
                      placeholder="Amount"
                      formControlName="cgstamt"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">
                    SGST/UTGST AMOUNT
                  </div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Amount</mat-label>
                    <input
                      matInput
                      placeholder="Amount"
                      [readonly]="true"
                      formControlName="sgstamt"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">IGST AMOUNT</div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>IGST Amount</mat-label>
                    <input
                      matInput
                      placeholder="Amount"
                      [readonly]="true"
                      formControlName="igstamt"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">
                    CGST + SGST / UTGST (TOTAL GST)
                  </div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Amount</mat-label>
                    <input
                      matInput
                      placeholder="Value"
                      formControlName="totalgst"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div style="color: blue; text-align: left">
                    Total Amount Payable
                  </div>
                </td>
                <td>
                  <mat-form-field
                    style="
                      width: 175px;
                      margin-bottom: -24px;
                      margin-top: -13px;
                    "
                  >
                    <mat-label>Amount</mat-label>
                    <input
                      matInput
                      placeholder="Value"
                      formControlName="totlamtpayable"
                      [readonly]="true"
                      autocomplete="off"
                    />
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </table>

      <div style="margin-left: 23%">
        <table>
          <div>
            <tr>
              <td>
                <mat-form-field style="width: 250px">
                  <mat-label>Approval Branch</mat-label>
                  <input
                    matInput
                    [readonly]="true"
                    formControlName="approval_branch_name"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field
                  style="width: 250px; margin-left: 50px"
                  (click)="approvername()"
                >
                  <input
                    #employeeInput
                    placeholder="Approver"
                    matInput
                    [readonly]="true"
                    formControlName="approver"
                    [matAutocomplete]="employee"
                    required
                  />
                  <mat-autocomplete
                    #employee="matAutocomplete"
                    [displayWith]="displayFnEmployee"
                  >
                    <mat-option *ngIf="isLoading" class="is-loading"
                      >Loading...</mat-option
                    >
                    <ng-container *ngIf="!isLoading">
                      <mat-option
                        *ngFor="let employee of employeeList"
                        [value]="employee"
                        >{{ employee.name }}
                      </mat-option>
                    </ng-container>
                  </mat-autocomplete>
                </mat-form-field>
              </td>
            </tr>
          </div>
        </table>
      </div>
    </form>
  </div>

  <div>
    <button
      class="btn btn-outline-primary"
      style="border-radius: 40px; margin-left: 394px"
      (click)="backToInvoiceSummary()"
    >
      Back
    </button>
    <!-- <button style="display: none;" data-toggle="modal" data-target="#rejectModalMovetoChecker" #rejectModalMovetoChecker></button> -->

    <button
      *ngIf="
        (this.getInvoiceData?.approval_status.status == 'Draft' ||
          this.getInvoiceData?.approval_status.status == 'Review') &&
        this.getInvoiceData?.ismaker == true
      "
      type="button"
      class="btn btn-outline-success"
      data-toggle="modal"
      data-target="#rejectModalMovetoChecker"
      style="border-radius: 40px; margin-left: 31px"
    >
      Submit To Checker
    </button>
    <button
      *ngIf="
        (this.getInvoiceData?.approval_status.status == 'Draft' ||
          this.getInvoiceData?.approval_status.status == 'Pending checker' ||
          this.getInvoiceData?.approval_status.status == 'Review') &&
        this.getInvoiceData?.ismaker == true
      "
      type="button"
      class="btn btn-outline-success"
      (click)="updateButton()"
      style="border-radius: 40px; margin-left: 30px"
    >
      Update
    </button>
    <!-- <button type="button" *ngIf="this.getInvoiceData?.approval_status.status != 'Approved' && this.getInvoiceData?.ismaker == true" class="btn btn-outline-danger" (click)="getDeleteInvoice()"
        style="border-radius: 40px;margin-left: 30px;">Delete
        </button> -->
    <!-- <button style="display: none;" data-toggle="modal" data-target="#rejectModalMovetoHeader" #rejectModalMovetoHeader></button> -->

    <button
      *ngIf="
        this.getInvoiceData?.approval_status.status == 'Pending checker' &&
        this.getInvoiceData?.ischecker == true
      "
      type="button"
      class="btn btn-outline-success"
      data-toggle="modal"
      data-target="#rejectModalMovetoHeader"
      style="border-radius: 40px; margin-left: 31px"
    >
      Submit To Header
    </button>
    <button
      *ngIf="
        this.getInvoiceData?.approval_status.status == 'Pending header' &&
        this.getInvoiceData?.isheader == true
      "
      type="button"
      class="btn btn-outline-success"
      data-toggle="modal"
      data-target="#rejectModalApprover"
      style="border-radius: 40px; margin-left: 30px"
    >
      Approve
    </button>
    <button
      *ngIf="
        (this.getInvoiceData?.approval_status.status == 'Pending checker' ||
          this.getInvoiceData?.approval_status.status == 'Pending header') &&
        (this.getInvoiceData?.ischecker == true ||
          this.getInvoiceData?.isheader == true)
      "
      type="button"
      class="btn btn-outline-danger"
      data-toggle="modal"
      data-target="#rejectModalReject"
      style="border-radius: 40px; margin-left: 30px"
    >
      Reject
    </button>
    <button
      *ngIf="
        (this.getInvoiceData?.approval_status.status == 'Pending checker' ||
          this.getInvoiceData?.approval_status.status == 'Pending header') &&
        (this.getInvoiceData?.ischecker == true ||
          this.getInvoiceData?.isheader == true)
      "
      type="button"
      class="btn btn-outline-success"
      data-toggle="modal"
      data-target="#rejectModalReview"
      style="border-radius: 40px; margin-left: 30px"
    >
      Return
    </button>
    <button
      *ngIf="
        this.getInvoiceData?.is_payment == false &&
        this.getInvoiceData?.isheader == true &&
        this.getInvoiceData?.approval_status.status == 'Approved'
      "
      type="button"
      class="btn btn-outline-success"
      (click)="ToECF()"
      style="border-radius: 40px; margin-left: 30px"
    >
      Move To ECF
    </button>
  </div>

  <!-- move to checker popup -->
  <div
    class="modal fade"
    id="rejectModalMovetoChecker"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl" style="width: 45%">
      <div class="modal-content">
        <div class="modal-header" style="background: #ddefdd">
          <h2 class="modal-title" style="color: black">Submit To Checker</h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div
          style="
            margin-left: 70px;
            margin-right: 80%;
            margin-top: 3%;
            width: 80%;
          "
        >
          <form
            [formGroup]="moveToCheckerForm"
            (ngSubmit)="moveToCheckerPopupForm()"
          >
            <table>
              <div>
                <tr>
                  <td>
                    <mat-form-field style="width: 200px">
                      <mat-label>Remarks</mat-label>
                      <input
                        matInput
                        placeholder="Remarks"
                        formControlName="remarks"
                        autocomplete="off"
                      /> </mat-form-field
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </td>
                </tr>
              </div>
            </table>
            <tr>
              <button
                type="submit"
                style="float: left"
                data-toggle="modal"
                data-target="#rejectModalMovetoChecker"
                class="btn btn-outline-primary"
              >
                Submit
              </button>
              <button
                type="button"
                data-dismiss="modal"
                class="btn btn-outline-primary"
                style="margin-left: 10px; margin-bottom: 10px"
              >
                Cancel
              </button>
            </tr>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- move to header popup -->
  <div
    class="modal fade"
    id="rejectModalMovetoHeader"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl" style="width: 45%">
      <div class="modal-content">
        <div class="modal-header" style="background: #ddefdd">
          <h2 class="modal-title" style="color: black">Submit To Header</h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div
          style="
            margin-left: 70px;
            margin-right: 80%;
            margin-top: 3%;
            width: 80%;
          "
        >
          <form
            [formGroup]="moveToHeaderForm"
            (ngSubmit)="moveToHeaderPopupForm()"
          >
            <table>
              <div>
                <tr>
                  <td>
                    <mat-form-field style="width: 200px">
                      <mat-label>Remarks</mat-label>
                      <input
                        matInput
                        placeholder="Remarks"
                        formControlName="remarks"
                        autocomplete="off"
                      /> </mat-form-field
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </td>
                </tr>
              </div>
            </table>
            <tr>
              <button
                type="submit"
                style="float: left"
                data-toggle="modal"
                data-target="#rejectModalMovetoHeader"
                class="btn btn-outline-primary"
              >
                Submit
              </button>
              <button
                type="button"
                data-dismiss="modal"
                class="btn btn-outline-primary"
                style="margin-left: 10px; margin-bottom: 10px"
              >
                Cancel
              </button>
            </tr>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- approver popup -->
  <div
    class="modal fade"
    id="rejectModalApprover"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl" style="width: 45%">
      <div class="modal-content">
        <div class="modal-header" style="background: #ddefdd">
          <h2 class="modal-title" style="color: black">Approver</h2>
          <button
            type="button"
            #closebutton
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div
          style="
            margin-left: 70px;
            margin-right: 80%;
            margin-top: 3%;
            width: 80%;
          "
        >
          <form [formGroup]="ApproverForm" (ngSubmit)="ApproverPopupForm()">
            <table>
              <div>
                <tr>
                  <td>
                    <mat-form-field style="width: 200px">
                      <mat-label>Remarks</mat-label>
                      <input
                        matInput
                        placeholder="Remarks"
                        formControlName="remarks"
                        autocomplete="off"
                      /> </mat-form-field
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </td>
                </tr>
              </div>
            </table>
            <tr>
              <button
                type="submit"
                style="float: left"
                class="btn btn-outline-primary"
              >
                Submit
              </button>
              <button
                type="button"
                data-dismiss="modal"
                class="btn btn-outline-primary"
                style="margin-left: 10px; margin-bottom: 10px"
              >
                Cancel
              </button>
            </tr>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- reject popup -->
  <div
    class="modal fade"
    id="rejectModalReject"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl" style="width: 45%">
      <div class="modal-content">
        <div class="modal-header" style="background: #ddefdd">
          <h2 class="modal-title" style="color: black">Reject</h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div
          style="
            margin-left: 70px;
            margin-right: 80%;
            margin-top: 3%;
            width: 80%;
          "
        >
          <form [formGroup]="rejectForm" (ngSubmit)="rejectPopupForm()">
            <table>
              <div>
                <tr>
                  <td>
                    <mat-form-field style="width: 200px">
                      <mat-label>Remarks</mat-label>
                      <input
                        matInput
                        placeholder="Remarks"
                        formControlName="remarks"
                        autocomplete="off"
                      /> </mat-form-field
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </td>
                </tr>
              </div>
            </table>
            <tr>
              <button
                type="submit"
                style="float: left"
                data-toggle="modal"
                data-target="#rejectModalReject"
                class="btn btn-outline-primary"
              >
                Submit
              </button>
              <button
                type="button"
                data-dismiss="modal"
                class="btn btn-outline-primary"
                style="margin-left: 10px; margin-bottom: 10px"
              >
                Cancel
              </button>
            </tr>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- review popup -->
  <div
    class="modal fade"
    id="rejectModalReview"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl" style="width: 45%">
      <div class="modal-content">
        <div class="modal-header" style="background: #ddefdd">
          <h2 class="modal-title" style="color: black">Review</h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div
          style="
            margin-left: 70px;
            margin-right: 80%;
            margin-top: 3%;
            width: 80%;
          "
        >
          <form [formGroup]="reviewForm" (ngSubmit)="reviewPopupForm()">
            <table>
              <div>
                <tr>
                  <td>
                    <mat-form-field style="width: 200px">
                      <mat-label>Remarks</mat-label>
                      <input
                        matInput
                        placeholder="Remarks"
                        formControlName="remarks"
                        autocomplete="off"
                      /> </mat-form-field
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </td>
                </tr>
              </div>
            </table>
            <tr>
              <button
                type="submit"
                style="float: left"
                data-toggle="modal"
                data-target="#rejectModalReview"
                class="btn btn-outline-primary"
              >
                Submit
              </button>
              <button
                type="button"
                data-dismiss="modal"
                class="btn btn-outline-primary"
                style="margin-left: 10px; margin-bottom: 10px"
              >
                Cancel
              </button>
            </tr>
          </form>
        </div>
      </div>
    </div>
  </div>

  <span style="color: #808080; margin-top: 0%; width: 50%"
    >Attachments:<i class="fa fa-download"></i
  ></span>
  <span
    style="cursor: pointer; color: #2b89d6; margin-top: 0%"
    *ngFor="let file of getInvoiceData?.invoice_doc; index as i"
    class="btn btn-link"
  >
    <span
      data-target="#my-modal"
      data-toggle="modal"
      (click)="docFileView(file.id, file.file_name)"
      >{{ i + 1 }}.{{ file.file_name }},</span
    >
    <!-- <button mat-icon-button style="color:gray;margin-right: 2px;"
                                (click)="fileDownload(file.id,file.file_name)">
                                <mat-icon> get_app</mat-icon>,
            </button> -->
  </span>

  <div *ngIf="this.getInvoiceData?.is_payment == true">
    <p style="color: #212529; margin: 0px 0 4px">
      CoverNote
      <button
        type="button"
        class="btn btn-outline-success"
        (click)="coverNotedownload()"
        style="border-radius: 40px; margin-left: 3%"
        ngbTooltip="Download CoverNote"
      >
        <span class="fa fa-download"> </span>
      </button>
    </p>
  </div>

  <!-- Transaction History summary -->
  <div style="margin-top: 0%">
    <span class="tab-title">
      <h2>Transaction History</h2>
    </span>
  </div>

  <div class="center">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        fixed-header
        style="width: 70%; margin-bottom: 50px; margin-left: 13%"
      >
        <thead class="table_header" style="text-align: left">
          <tr>
            <th>Sl.No</th>
            <th>Date</th>
            <th>Raiser</th>
            <th>Comments</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let info of invoicehistoryData; index as i">
            <td>{{ i + 1 }}</td>
            <td class="text-style">
              {{ info.action_date | date : "dd-MMM-yyyy " }}
            </td>
            <td class="text-style">{{ info.action_taken.name }}</td>
            <td class="text-style">{{ info.remarks }}</td>
            <td class="text-style">{{ info.action }}</td>
          </tr>
        </tbody>
      </table>
      <div
        *ngIf="invoicehistoryData?.length == 0"
        style="margin-left: 42%; margin-bottom: 40px"
      >
        <h3>Sorry data not found!..</h3>
      </div>
    </div>
  </div>

  <div
    *ngIf="showPopupImages"
    id="my-modal"
    class="modal fade"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100" id="exampleModalLabel">
            Attachment View
          </h5>

          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"> × </span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{ jpgUrls }}" />
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  [fullScreen]="true"
  type="ball-spin-clockwise"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
