
        <div style="margin-left: 25px;" >            
            <p>{{ emp_name}}</p>
            <p>{{ emp_br}}</p>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered" style="width: 80%; font-size: 14px">
                <thead class="table_header" style="text-align: left">
                    <tr>
                        <td colspan="6" style="text-align: center;background-color: white;color:black;
                        font-weight: bolder;">
                          
                          CURRENT PENDING</td>
                    </tr>
                    <tr>
                    <th style="text-align: center;width: 130px;">Particulars</th>
                    <th  style="text-align: center;">Today</th>
                    <th style="text-align: center;">1-2 Days</th>
                    <th style="text-align: center;">3-5 Days</th>
                    <th style="text-align: center;">>5 Days</th>
                    <th style="text-align: center;">Total</th>
                    </tr>
                </thead>
                <tbody class="table-tb">
                    <tr>
                    <td style="cursor: pointer;width: 130px" (click)="viewNFA()">NFA
                    </td>
                    <td style="text-align: right;">
                        {{ nfaData?.zero }}
                    </td>
                    <td style="text-align: right;">
                        {{ nfaData?.one_to_two }}
                    </td>
                    <td style="text-align: right;">
                        {{ nfaData?.three_to_five }}
                    </td>
                    <td style="text-align: right;">
                        {{ nfaData?.above_5 }}
                    </td>
                    <td style="text-align: right;">
                        {{ nfaData?.total }}
                    </td>
                    </tr>
                    <tr>
                    <td style="cursor: pointer;width: 130px" (click)="viewBN()">BN
                    </td>
                    <td style="text-align: right;">
                        {{ bnaData?.zero }}
                    </td>
                    <td style="text-align: right;">
                        {{ bnaData?.one_to_two }}
                    </td>
                    <td style="text-align: right;">
                        {{ bnaData?.three_to_five }}
                    </td>
                    <td style="text-align: right;">
                        {{ bnaData?.above_5 }}
                    </td>
                    <td style="text-align: right;">
                        {{ bnaData?.total }}
                    </td>
                    </tr>
                    <tr>
                    <td style="cursor: pointer;width: 130px" (click)="viewIOM()">IOM
                    </td>
                    <td style="text-align: right;">
                        {{ iomData?.zero }}
                    </td>
                    <td style="text-align: right;">
                        {{ iomData?.one_to_two }}
                    </td>
                    <td style="text-align: right;">
                        {{ iomData?.three_to_five }}
                    </td>
                    <td style="text-align: right;">
                        {{ iomData?.above_5 }}
                    </td>
                    <td style="text-align: right;">
                        {{ iomData?.total }}
                    </td>
                    </tr>
                </tbody>
                </table>
                <div *ngIf="summaryData == {}" style="margin-left: 42%">
                <h3>Data not found!..</h3>
                </div>
            </div>
        </div>