.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
   
    align-items: flex-start;
  }
  .active{
    background-color: green;
  }
  .bothov{
    border: 2px solid gray;
    background-color: white;
  }
  .bothov:hover{
    border: 2px solid black;
    background-color: white;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}