.table-responsive {
    display: block;
    width: 95%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-left: 50px;
}

.edit-btn {
    color: grey;
    cursor: pointer;
}
.toolbar-icon-disabled {
    pointer-events: none;
}
.linkDisabled {
    cursor: not-allowed;
}
.btn-outline-success {
    border-radius: 40px;
}
.enabled_icon{
    color:green;
}

