<br>

<h2 style="margin-left: 40px; ">
    Vehicle Service History
</h2>
<div style="margin-left: 100px;margin-right: 80%;margin-top: 1%; width: 100%;">

    <div>
        <form [formGroup]="serviceForm">
            <table>
                <div>
                    <tr>
                        <td>
                            <mat-form-field style="width:250px;">
                                <mat-label>Service Date</mat-label>
                                <input matInput readonly [matDatepicker]="picker2" placeholder="Service Date"
                                    formControlName="service_date" (dateChange)="fromdateSelection($event.value)">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width: 250px;margin-left: 60px;">
                                <mat-label>Service Done At </mat-label>
                                <input matInput #emp placeholder="Select Service Done At" [matAutocomplete]="autocomplete1"
                                    formControlName="service_by" />
    
                                <mat-autocomplete #autocomplete1="matAutocomplete" (opened)="autocompleteemps()" #autocompleteemp>
                                    <mat-option *ngFor="let val of branchemployee"
                                        (click)="employeenameselect(val)" [value]='val.name'>
                                        {{val.name}}
    
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width:250px;margin-left: 60px;">
                                <mat-label>Next Service Date</mat-label>
                                <input matInput readonly [matDatepicker]="picker1" placeholder="Next Service Date"
                                    formControlName="next_service_date"  [min]="select">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </td>
                        
                        
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field style="width: 250px;">
                                    <mat-label>Vehicle ODO(Kms)</mat-label>
                                    <input matInput placeholder="Vehicle Odo"  formControlName="vehicle_odo" autocomplete="off"
                                      (keypress)="numbersonly($event)"   required>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field style="width: 250px;margin-left: 60px;">
                                    <mat-label>Service Type</mat-label>
                                    <mat-select formControlName="type">
                                        <mat-option *ngFor="let ref of usageList" (click)="servicetype(ref.id)" [value]="ref.text">
                                            {{ref.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field style="width: 250px;margin-left: 60px;">
                                    <mat-label>Service Cost</mat-label>
                                    <input matInput placeholder="Service Cost"  formControlName="service_cost" autocomplete="off"
                                    (keypress)="numbersonly($event)"   required>
                                </mat-form-field>
                            </td>
                            </tr>
                            <tr>
                                
                            <td *ngIf="isaccident">
                         
                                <mat-label style="width: 250px;margin-left: 60px;">Insurance Claimed  </mat-label>
                                <mat-radio-group aria-label="Select an option" formControlName="insurance_claimed"
                                                class="tp-radio-group">
                                                <mat-radio-button *ngFor="let n of radiocheck" [value]="n.display"
                                                style="margin-left: 10px;">
                                                {{n.display}}
                                            </mat-radio-button>
                                            </mat-radio-group>
                           
                        </td>
                 </tr>
                       
                </div>
            </table>
            <div class="btn-bottom" *ngIf="issubmitbtn">
                <button type="submit" class="btn btn-outline-primary" (click)="submitForm()">Submit</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-outline-primary" (click)="back()">Cancel</button>
            </div>
            <div class="btn-bottom" *ngIf="iseditbtn">
                <button type="submit" class="btn btn-outline-primary" (click)="Editform()">Submit</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-outline-primary" (click)="back()">Cancel</button>
            </div>
        </form>
    </div>
</div>