.action{
    margin-left: 32px;
}

 .mat-form-field-wrapper {
    padding-bottom: 1px !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0% !important;
}

.arswidth
.mat-form-field
{
width: 160px !important;
}
.stylechange{
    padding-left: 2.5%;
}
::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }