<section class="screen-padding  screen-lm">
    <!-- <form [formGroup]="AddForm" (ngSubmit)="submitForm()"> -->
    <form [formGroup]="AddForm">
       <div class="search-auto-fit">
        <div id="matInput-size"> 
            <mat-form-field  appearance="outline">
            <mat-label>Action Code</mat-label>
            <input matInput formControlName="code" required>
        </mat-form-field>
</div>
<div id="matInput-size" >
    <mat-form-field  appearance="outline">
        <mat-label>Action Description</mat-label>
        <input matInput formControlName="description" required>
    </mat-form-field>
</div>
<div id="matInput-size">
    <mat-form-field  appearance="outline">
        <mat-label>Action Control</mat-label>
        <mat-select formControlName="type" required>
            <mat-option *ngFor="let val of actionList" [value]="val.id">
                {{val.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div style="margin-top: 5px;">
    <button type="submit" style="border-radius: 25px;"
    class="btn btn-outline-success " (click)="submitForm()">Create</button>
</div>
<div style="margin-top: 5px;">
    <button type="submit" style="border-radius: 25px;"
    class="btn btn-outline-primary " (click)="resetform()">Clear</button>
</div>
       </div>
        <!-- <table>
            <tr>
                <td style="margin-left:20px;text-align: right;">
                    <mat-form-field >
                        <mat-label>Action Code</mat-label>
                        <input matInput formControlName="code" required>
                    </mat-form-field>

                     <mat-form-field class="matformfieldstyle" style="width: 250px;margin-left:20px;" appearance="outline">
                        <mat-label style="margin-left:20px;">Account Number<label style="color: red;" >*</label></mat-label><br>
                        <input matInput placeholder="Account Number" class="matformfieldinputstyle" formControlName="acc_no" autocomplete="off" required>
                    </mat-form-field> 
                </td>
                <td>
                    <mat-form-field style="margin-left: 25px;">
                        <mat-label>Action Description</mat-label>
                        <input matInput formControlName="description" required>
                    </mat-form-field>
                
                    <mat-form-field class="action">
                        <mat-label>Action Control</mat-label>
                        <mat-select formControlName="type" required>
                            <mat-option *ngFor="let val of actionList" [value]="val.id">
                                {{val.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button type="submit" style="border-radius: 25px;margin-left: 50px; margin-top: -11px;"
                        class="btn btn-outline-primary btn-sm" (click)="submitForm()">Create</button>
          
                     <mat-label style="margin-left: 60px;">Account Name<label style="color: red;" >*</label></mat-label><br>
                    <mat-form-field class="matformfieldstyle" style="width: 250px;margin-left: 60px;" appearance="outline">
                        <input matInput placeholder="Name" class="matformfieldinputstyle" formControlName="acc_name" autocomplete="off" required>
                    </mat-form-field> 
                </td>

              
            </tr>
        </table> -->
       
    </form>


<lib-vs-cbox-summary [SummaryDetails]="acc_mapp_summary_table"
[SummaryApiObj]="acc_mapp_search_summary_api"></lib-vs-cbox-summary>



<!-- <div>

    <div class="table-responsive" style="margin-top: 33px;padding-left: 2%; padding-right: 2%;width:100%">
        <table class="table table-bordered" id="historytable" >
            <thead class="table_header">
                <th>S.No</th>
                <th>Action Code</th>   
                <th>Description</th>
                <th>Action Control</th>
                <th>Status</th>  
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody *ngFor="let sum of summarylists;index as ind" >
                <tr class="wrapperr">
                <td>{{(pagination.index-1)*limit+ind+1}}</td> 
                <td>{{sum.code}}</td>
                <td>{{sum.description}}</td>
                <td>
                    <lib-vs-dynamicform-cmp class="arswidth"
                    [InputFields]="
                    {
                     'searchkey':'',
                     'params':'',
                     'displaykey':'name',
                     'label':'Action Control',
                     'Outputkey': 'type',
                     'disabled':false,
                     'defaultvalue':sum?.type, 
                     'fronentdata':true,
                     'data':this.actionList
                     }"
                     [NoDefaultemit]='true'

                    (dataEvent)="selected($event,ind,sum)" >
                   </lib-vs-dynamicform-cmp>
                </td>
                <td>
                    <mat-slide-toggle [(ngModel)]="sum.status" color="secondary" (click)="deleteaccount(sum.id);"></mat-slide-toggle>
                </td>
                <td>
                    <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                    (click)="accountedit(sum)" color="primary" data-toggle="modal"
                    data-target="#editmodalforaccounts">                            
                    <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                </button>
                
                </td>
                <td>
                    <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
                    (click)="accountdel(sum)" color="primary">                            
                    <mat-icon style="color: rgb(219, 121, 121)"  aria-label="Edit">delete</mat-icon>
                </button>
                
                </td>
            </tr>
            </tbody>
        </table>
      
    </div>
</div> -->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabels" aria-hidden="true"
    id="editmodalforaccounts">
    <div class="modal-dialog modal-xl" style="width: fit-content;">
        <div class="modal-content">
            <div class="modal-header" style="background:#ddefdd;">
                <h2 class="modal-title" style="color:black ;">Action Details</h2>
                <button type="button" #closebuttons class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" style="margin-top: 2%;">

                <form [formGroup]="accounteditform">
                    <div class="search-auto-fit">
                        <div id="matInput-size">
                            <mat-form-field  appearance="outline">
                                <mat-label>Action Code</mat-label>
                                <input matInput placeholder="action code" name="acc_name" required
                                formControlName="code" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div id="matInput-size">
                            <mat-form-field  appearance="outline">
                                <mat-label>Description</mat-label>
                                <input matInput placeholder="description" name="acc_no" required
                                formControlName="description" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div id="matInput-size">
                            <mat-form-field class="action" appearance="outline">
                                <mat-label>Action Control</mat-label>
                                <mat-select formControlName="type" required>
                                    <mat-option *ngFor="let val of actionList" [value]="val.id">
                                        {{val.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                  
                   
                </form>
            </div>

            <div class="modal-footer">
                    <button type="submit" style="border-radius: 20px;margin-left: 10px;"
                        class="btn btn-outline-success" (click)="editForm()">Update</button>
                    <button type="button" class="btn btn-outline-secondary" 
                        data-dismiss="modal" style="border-radius: 20px;margin-left: 10px;">Cancel</button>
            </div>
        </div>
    </div>
</div>

</section>