<div style="margin-left: 20px; margin-top: 20px;">

    <nav>
        <div class="nav nav-tabs" style="margin-top: 20px;">
            <span class="nav-item nav-link" data-toggle="tab" (click)="dashboardSubModule(sub)" role="tab"
                *ngFor="let sub of dash_Sub_Menu_List">
                {{sub.name}}
            </span>
        </div>
    </nav>

    <mat-card>
            <!-- <div style="color:black;font-size:20px;font-family:'Times New Roman';font-weight:bold;margin-left: 10px;">
                Dashboard </div>  -->
       
        <!-- <td>
            <button type="button" style="border-radius:40px;margin-left: 15px;"
                                class="btn btn-outline-primary" (click)="GetDashboardURL(1)">
                                Sample 1</button>

                                <button type="button" style="border-radius:40px;margin-left: 15px;"
                                class="btn btn-outline-primary" (click)="GetDashboardURL(2)">
                                Sample 2</button>

                                <button type="button" style="border-radius:40px;margin-left: 15px;"
                                class="btn btn-outline-primary" (click)="GetDashboardURL(3)">
                                CBDA Dashboard</button>
        </td> -->
        <!-- <tr>
            <div style="color:black;font-size:20px;font-family:'Times New Roman';font-weight:bold;margin-left: 10px;">
                Dashboard Summary </div> 
        </tr> -->
            <div class="table-responsive" id="styleScroll"  style="margin-top: 1%;margin-left: 10px; width: 95%;">

        <table class="table scrolltable table-bordered"  style="text-align:center;">
            <thead fixed-header>
                <tr>
                <th>S.No</th>
                <th>Dashboard ID</th>
                <th>Dashboard Name</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let list of dashbord_summary_data; index as i">
                    <td>{{(dashbordpresentpage - 1)*dashbordpagesize +i+1 }}</td>
                    <td>{{list.dashboard_id}}</td>
                    <td>{{list.dashboard_name}}</td>
                    <td>
                        <span matTooltip="View"  matTooltipClass="custom-tooltipnew" class=" fa fa-eye create "
                        style="color: blue;cursor: pointer;padding:10px;margin-top: 10px;" (click)="GetDashboardURL(list.id)"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="dashbord_summary_data ?.length == 0" style="margin-left: 42%;">
            <h3 >Sorry data not found!.. </h3>
        </div>        
    </div>
    <div class="row" *ngIf="dashbord_summary_page" style="width: 85%;">

        <div  class="col-sm-9" style="margin-bottom: 5%;margin-top: 0px;font-size: small;text-align: right;left: 40%;">
            <mat-paginator  style="margin-top: 0%;"
                                        (page)="handlePageEvent($event)"
                                        [length]="length_dashboard"
                                        [pageSize]="pageSize_dashboard"
                                        [showFirstLastButtons]="showFirstLastButtons"
                                        [pageSizeOptions]="pageSizeOptions"
                                        [pageIndex]="pageIndexdashboard"
                                        [hidePageSize]="true"
                                        aria-label="Select page">
                                    </mat-paginator>
                                   
        </div>
        <!-- <div class="col-sm-3" style="margin-bottom: 0%;font-size: small;text-align: right;margin-top: 18px;left: -12%;font-weight:bold">
            Page: {{dashboardpresentpage}}
        </div> -->
        </div>
    <!-- <div id="dashboardContainer"></div> -->
    <div id="dashboardContainer" *ngIf="!loadingError"></div>
    <div *ngIf="loadingError">Error loading dashboard. Please try again later.</div>

</mat-card>
</div>