<div class="Container" style="margin-left: 30px;">

    <div class="table-responsive" style="width:80%;margin-top: 3%;">
        <table class="table">
            <thead class="table_header">
                <tr>
                    <th>S.no</th>
                    <th>Code</th>
                    <th>Landlord Property dtl</th>
                    <th>Total Area</th>
                    <th>Primary Contact</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lease of getLeaseList; index as i">
                    <th scope="row">{{ (currentpage-1)*pageSize+i+1 }}</th>
                    <!-- <th scope="row">{{ i+1 }}</th> -->
                    <td>{{ lease.code}}</td>
                    <td>{{ lease.landloard_propertydtl }}</td>
                    <td>{{ lease.total_area}}</td>
                    <td>{{ lease.primary_contact}}</td>

                    <td><button mat-icon-button matTooltip="Delete" class="iconbutton" (click)="deleteleasesum(lease)"
                            color="primary" id="lease-summary-0001">
                            <mat-icon style="color: gray;" aria-label="Delete">delete</mat-icon>
                        </button></td>
                </tr>
            </tbody>
        </table>
        <div class="col-sm-12" style="font-size: small;text-align: right;margin-bottom: 5%;">
            <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick()" id="lease-summary-0002">
                <mat-icon>arrow_back</mat-icon>
            </button>
            {{presentpage}}
            <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick()" id="lease-summary-0003">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>

</div>