<div style="margin-left: 50px;margin-top: 3%; ">

    <h2 style="margin-left: 2%;">
        State Zone Addition
    </h2>
    <div>
        <form [formGroup]="Minwagesform"   style="margin-left: 2%;margin-top: 3%;margin-bottom: 3%;">
            <table  style="margin-bottom: 3%;">
                <div> 
                    <tr>
                        <td>
                            <mat-form-field class="input-style">
                                <mat-label>State Name</mat-label>
                                <input  matInput placeholder="State Name"
                                formControlName="name" autocomplete="off" required>
                            </mat-form-field>

                        </td>
                        <td>
                            <mat-form-field class="input-style2">
                                <mat-label>Code</mat-label>
                                <input  matInput placeholder="Code" 
                                formControlName="code" autocomplete="off" required>
                            </mat-form-field>
                        </td>
                    </tr> 
                        <!-- <td> 
                            <mat-form-field class="input-style" (click)="productname()">
                                
                                <mat-label>State</mat-label>
                                <input placeholder="State" matInput formControlName="state_id" #primaryContactInput
                                    [matAutocomplete]="producttype"  required>
                                <mat-autocomplete #producttype="matAutocomplete" [displayWith]="displaydis"
                                (opened)="autocompleteStatenameScroll()"
                                 >
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let state of empstaelist" 
                                            [value]="state" >
                                            {{state.name}} 
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td> -->
                    <tr>
                        <td>
                            <mat-form-field class="input-style">
                                <mat-label>No of Zones</mat-label>
                                <input  matInput placeholder="No of Zones" (keyup)="zoneCount($event)" 
                                (keypress)="keyPressNumbers($event)" (click)="clear()" 
                                formControlName="count" autocomplete="off" maxlength="1" required>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="input-style2">
                                <input matInput readonly [matDatepicker]="picker2" formControlName="effectivefrom" 
                                placeholder="Effective From">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            <mat-form-field class="input-style">
                                <mat-label>Zone</mat-label>
                                <input placeholder="Zone" matInput formControlName="zone" (keypress)="keyPress('Zone')"
                                    [matAutocomplete]="producttype1" #zoneInput required>
                                <mat-autocomplete #producttype1="matAutocomplete"  [displayWith]="displaydis1">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let Zone of Zonelist" 
                                            [value]="Zone" >
                                            {{Zone.text}} 
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary" style="border-radius:40px;margin-left: 70px;"
                       [disabled]="addButton" (click)="addZoneName()">Add</button>
                        </td>
                    </tr>
                </div> 
                <div class="table-responsive" style="margin-top: 1%;overflow-x: hidden;">
                   
                    <table class="table">
                        <thead class="table_header">
                            <tr>
                                <th>Zone Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let zone of zoneNameList;index as i">
                                <td>{{ zone.text}}</td>
                                <td>
                                    <mat-icon style="color: gray;cursor: pointer;" (click)="zoneNameDelete(i)">delete</mat-icon>
                                </td> 
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </table>
            <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary"(click)="MinwagesSubmitForm()"
                >Submit</button>
            <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
               style="border-radius: 40px;margin-left: 10px;">Cancel</button>    
        </form>
    </div>
</div>
<!-- <pre>{{Minwagesform.value|json}}</pre> -->