::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }

.mat-tooltip.tooltip {
    background-color: darkblue;
    font-size: 12px;
  }

  .disabled {
    pointer-events: none;
    color: gray;
  }