.matformfieldstyle{
    font-size:7px;
    margin-top: 5px
  }
  .matformfieldinputstyle{
    font-size:16px ;
  }


  // table
#commonstyle{
    border:15px none #f6f6f6
    }
  
  table,th,td{
    text-align: left;
    // padding: 5px;
  }


  ::ng-deep .mat-form-field-outline {
    color:grey !important;
  }
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
  }
  ::ng-deep .cdk-overlay-container {
    z-index: 1300 !important;
  }
  
.maticonsize {
  font-size: 15px;
}
::ng-deep .mat-progress-bar-buffer {
  background: rgb(203, 233, 203);
  height: 10px;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color:#01A85A;
}
