<div style="margin-left: 50px;margin-right: 80%;margin-top: 3%; width: 100%;">

    <h1 style="font-size:20px;font-family:Times New Roman;font-weight:bold;color:blue;">
        APSubCategory Edit 
    </h1>
        <div>
        <form [formGroup]="apSubCategoryEditForm">
            <table>
                <div>
                    <tr>
                        <td>
                            <mat-form-field style="width:250px;">
                                <mat-label>AP Category Name</mat-label>
                                <input #catInput placeholder="Select Category" matInput formControlName="category_id" required
                                    [matAutocomplete]="cat">
                                   
                                <mat-autocomplete #cat="matAutocomplete" [displayWith]="displayFncat" (opened)="autocompletecatScroll()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let category of categoryList" [value]="category" (focusout)="getcategotydata()">{{category.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                        <td>
                                <mat-form-field style="width:250px;margin-left: 50px;">
                                    <mat-label>AP Category No</mat-label>
                                    <input type="number" matInput formControlName="category_no" maxlength="3" autocomplete="off" readonly>
                                </mat-form-field>
                        
                        <td>
                            <mat-form-field style="width: 250px;margin-left:50px;">
                                <mat-label>AP SubCategory Name</mat-label>
                                <input matInput placeholder="AP Subcategory Name" formControlName="name" maxlength="64" autocomplete="off" required (keypress)="omit_special_char($event)">
                            </mat-form-field>
                        </td>
                        
                    </tr>
                    <tr>
                        
                        <td>
                            <mat-form-field style="width: 250px;">
                                <mat-label>Ap SubCategory No</mat-label>
                                <input  matInput placeholder="AP Subcategory No"formControlName="no" autocomplete="off"  maxlength="3"   required (keypress)="numberOnly($event)">
                            </mat-form-field>
                        </td>
                        <!-- <td>
                            <mat-form-field style="width: 250px;margin-left: 20px;">
                                <mat-label>Expense</mat-label>
                                <input matInput placeholder="Expense" formControlName="expense" autocomplete="off" required>
                            </mat-form-field>
                        </td> -->
                            <td>
                                <mat-form-field  style="width: 250px;margin-left:50px">
                                    <mat-label>ApSubcategory Code</mat-label>
                                    <input type="text" matInput placeholder="ApSubcategory Code" formControlName="code" readonly autocomplete="off" required>
                                </mat-form-field>
                            </td>
                    
                   
                        <td>
                            <!-- <mat-form-field style="width: 250px;margin-left:50px">
                                <mat-label>GLNumber</mat-label>
                                <input matInput placeholder="GLNo" formControlName="glno" autocomplete="off" required>
                            </mat-form-field> -->
                            <mat-form-field style="width: 250px; margin-left:50px">
                                <mat-label>GL No</mat-label>
                                <input  matInput placeholder="GL No" formControlName="glno" autocomplete="off"  [matAutocomplete]="glno" required #glInput (keypress)="dataevent($event)">
                                <mat-autocomplete #glno="matAutocomplete" (opened)="autocompleteglnoscroll()" [displayWith]="glnointerface">
                                    <mat-option *ngIf="isLoading">loading..</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let d of glnolist" [value]="d">{{d.no}}</mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                    </tr>    
                    <tr>    
                        <td>
                            <mat-form-field style="width: 250px;">
                                <mat-label>Is Gstblocked</mat-label>
                                <mat-select formControlName="gstblocked" required>
                                    <mat-option *ngFor="let gst of gstlist" [value]="gst.name">
                                        {{gst.show}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width:250px;margin-left:50px">
                                <mat-label>Is Gstrcm</mat-label>
                                <mat-select formControlName="gstrcm" required>
                                    <mat-option *ngFor="let gstrcm of gstrcmlist" [value]="gstrcm.name">
                                        {{gstrcm.show}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>      
                            <mat-form-field  style="width:250px;margin-left:50px">
                                <mat-label>Asset Code</mat-label>
                                <input matInput placeholder="Asset Code" formControlName="assetcode" maxlength="16"  (keypress)="omit_special_char($event)" autocomplete="off" required>
                            </mat-form-field>
                        </td>
                    </tr>
                </div>
            </table>
            <button type="submit" (click)="apsubcategoryEdit_Form()" style="border-radius: 40px;margin-left:35%;" class="btn btn-outline-success">Submit</button>
            <button type="button" (click)="onCancelClick()"class="btn btn-outline-danger" 
            style="border-radius: 40px;margin-left: 10px;">Cancel</button>
        </form>
    </div>
</div>


