.text-style {
    text-align: initial;
}

.drop-down {
    float: right;
    margin-right: 8%
}
// .btn-outline-success {
//     margin-left: 350px;
//     border-radius: 40px;
// }


.mapping-dropdown{
    width: 100%;
}

.btn-light{
    margin-left: 25px;
}



.main-content {
    margin-left: 50px;
    margin-right: 80%;
    margin-top: 3%;
    width: 100%;
}
.input-style {
    width: 175px;
}
.input-style2 {
    width: 175px;
    margin-left: 20px;
}
.btn-bottom {
    margin-bottom: 5%;
}
.btn-outline-primary {
    border-radius: 40px;
}
.btn-link {
    border-radius: 40px;
    margin-left: 10px;
}
.center th,.center td
{
    text-align:center;
}
.center th{
font-weight: bold;
}
