<div style="margin-left: 50px;">
    <div style="margin-left: 1px;margin-top:2%;">

        <span
            style="margin-left: 1px;margin-top:1%; font-family:'Times New Roman', Times, serif;font-size:25px;font-weight:lighter;"><b>
                Premises Details View</b></span>
    </div>
    <hr>
    <table width="100%" style="margin-top: 1%;">
        <tbody>
            <tr>
                <td width="20%" valign="top">
                    <table width="100%;" style="font-size:14px;margin-top: 2%;">
                        <tbody>
                            <tr>
                                <p style="color: #808080; margin: 0px 0 4px;"> Allocation Charges : <span
                                        style="color: black;margin-left: 4px;">
                                        {{ premiseDetialisData?.allocation_charges }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;"> Building Name : <span
                                        style="color: black;margin-left: 30px;">
                                        {{ premiseDetialisData?.building_name }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;">Description : <span
                                        style="color: black;margin-left: 51px;">
                                        {{ premiseDetialisData?.description }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;"> Floors Owned : <span
                                        style="color: black;margin-left: 34px;">
                                        {{ premiseDetialisData?.floors_owned }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;">Primary Contact: <span
                                        style="color: black;margin-left: 25px;">
                                        {{ premiseDetialisData?.primary_contact.full_name }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;">Purchased Date : <span
                                        style="color: black;margin-left: 5%;">
                                        {{ premiseDetialisData?.purchased_date |
                                            date:'dd-MMM-yyyy' }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;"> Comman Area : <span
                                        style="color: black;margin-left: 32px;">
                                        {{ premiseDetialisData?.building_details.common_area }}</span></p>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="20%" valign="top">
                    <table width="100%;" style="font-size:14px;margin-top: 3%;">
                        <tbody>
                            <tr>
                                <p style="color: #808080; margin: 0px 0 4px;">Registered Date : <span
                                        style="color: black;margin-left: 28px;">
                                        {{ premiseDetialisData?.registered_date |
                                            date:'dd-MMM-yyyy'}}
                                    </span></p>
                                <p style="color: #808080; margin: 0px 0 4px;"> Registration Charge: <span
                                        style="color: black;margin-left: 10px;">
                                        {{ premiseDetialisData?.registration_charge }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;"> Building Market: <span
                                        style="color: black;margin-left: 38px;">
                                        {{ premiseDetialisData?.building_details.building_market_value }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;">Carpet Area : <span
                                        style="color: black;margin-left: 56px;">
                                        {{ premiseDetialisData?.building_details.carpet_area }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;">Buildup Area : <span
                                        style="color: black;margin-left: 51px;">
                                        {{ premiseDetialisData?.building_details.buildup_area }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;"> Land Area : <span
                                        style="color: black;margin-left: 66px;">
                                        {{ premiseDetialisData?.building_details.land_area }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;"> Land Market : <span
                                        style="color: black;margin-left: 52px;">
                                        {{ premiseDetialisData?.building_details.land_market_value }}</span></p>
                            </tr>
                        </tbody>
                    </table>
                </td>

                <td width="20%" valign="top">
                    <table width="100%;" style="font-size:14px;margin-top: -2%;">
                        <tbody>
                            <tr>
                                ` <p style="color: #808080; margin: 0px 0 4px;"> Construction Date : <span
                                        style="color: black;margin-left: 72px;">
                                        {{ premiseDetialisData?.building_details.construction_date |
                                            date:'dd-MMM-yyyy'}}
                                    </span></p>
                                <p style="color: #808080; margin: 0px 0 4px;"> Building Purchased Amount : <span
                                        style="color: black;margin-left: 0.9em;">
                                        {{ premiseDetialisData?.building_details.building_purchased_amount }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;"> Building Revaluation Amount : <span
                                        style="color: black;margin-left: 6px;">
                                        {{ premiseDetialisData?.building_details.building_revaluation_amount }}</span>
                                </p>
                                <p style="color: #808080; margin: 0px 0 4px;">Registration Charges Paid : <span
                                        style="color: black;margin-left: 22px;">
                                        {{ premiseDetialisData?.reg_charges_paidby }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;"> Land Purchased Amount : <span
                                        style="color: black;margin-left: 33px;">
                                        {{ premiseDetialisData?.building_details.land_purchased_amount }}</span></p>
                                <p style="color: #808080; margin: 0px 0 4px;"> Land Revaluation Amount : <span
                                        style="color: black;margin-left: 26px;">
                                        {{ premiseDetialisData?.building_details.land_revaluation_amount }}</span></p>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <span *ngIf="dropDownTag == 'occupancy_Mapping'" style="font: size 25px;">Occupancy Mapping
            <button type="button" class="btn btn-outline-success" (click)="occupancyMapCreate()" data-toggle="modal"
                style=" margin-left: 42%; border-radius: 40px;margin-top: 1%;" data-target="#premise-details-view-0001" id="premise-details-view-0004"><span
                    class="fa fa-plus"></span> Occupancy Mapping</button>
        </span>
        <span *ngIf="dropDownTag == 'broker_Details'" style="font: size 25px;">Broker Details
            <button type="button" class="btn btn-outline-success" data-toggle="modal"
                style="margin-left: 50%; border-radius: 40px;margin-top: 1%;" data-target="#premise-details-view-0003" id="premise-details-view-0005"><span
                    class="fa fa-plus"></span> Broker
                Details</button>
        </span>
        <span class="drop-down">
            <mat-form-field style="margin-left: 31%;">
                <mat-select [(ngModel)]="dropDownTag" id="premise-details-view-0006">
                    <mat-option value="occupancy_Mapping" (click)="getOccupancyMapping()">
                        Occupancy Mapping</mat-option>
                    <mat-option value="broker_Details" (click)="getBrokerDetails()">
                        Broker Details</mat-option>
                </mat-select>
            </mat-form-field>
        </span>
    </div>

    <div *ngIf="dropDownTag == 'occupancy_Mapping'" class="center">
        <div class="table-responsive">
            <table class="table table-bordered" fixed-header style="width: 99%;margin-top: 10px;">
                <thead class="table_header" style="text-align: left;">
                    <tr>
                        <th>S.No</th>
                        <th>Code</th>
                        <th>Area Occupied</th>
                        <th>Floor Located</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mapping of occupancyMapList; index as i">
                        <td> {{(present_OccupancyMap - 1)*occupancyMapSize +i+1 }} </td>
                        <td class="text-style">{{ mapping.code}}</td>
                        <td class="text-style">{{ mapping.area_occupied }}</td>
                        <td class="text-style">{{ mapping.floor_located }}</td>

                        <td>
                            <button mat-icon-button matTooltip="Remove" class="iconbutton" color="primary"
                                data-toggle="modal" data-target="#premise-details-view-0002" (click)="occupancyMapEdit(mapping.id)">
                                <mat-icon style="color: gray;">delete_forever</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="occupancyMapList ?.length == 0" style="margin-left: 42%;">
                <h3>Sorry data not found!.. </h3>
            </div>
            <div class="row" *ngIf="isOccupancyMap">
                <div class="col-sm-12" style="font-size: small;text-align: right; margin-bottom: 100px;">
                    <button mat-icon-button [disabled]="previous_occupancyMap === false" color="primary"
                        (click)="rent_previousClick()" id="premise-details-view-0007">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    {{present_OccupancyMap}}
                    <button mat-icon-button [disabled]="nex_occupancyMap === false" color="primary"
                        (click)="rent_nextClick()" id="premise-details-view-0008">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="dropDownTag == 'broker_Details'" class="center">
        <div class="table-responsive" style="width: 95%;margin-top: 2%;overflow-x:hidden;">
            <table class="table table-bordered" fixed-header>
                <thead class="table_header">
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>E-Mail</th>
                        <th>Brokerage Amount</th>
                        <th>Mobile</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let broker of brokerDetailsList; index as i">
                        <td> {{(present_broker - 1)*brokerSize +i+1 }} </td>
                        <td class="text-style">{{ broker.name}}</td>
                        <td class="text-style">{{ broker.email_id}}</td>
                        <td class="text-style">{{ broker.brokerage_amount }}</td>
                        <td class="text-style">{{ broker.mobile }}</td>
                        <td>
                            <button mat-icon-button matTooltip=" Edit" class="iconbutton" color="primary"
                                data-toggle="modal" data-target="#premise-details-view-0003" (click)="brokerDetailsEdit(broker)" id="premise-details-view-0009">
                                <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Delete" class="iconbutton" color="primary"
                                (click)="brokerDetailsDelete(broker.id)">
                                <mat-icon style="color: gray;" aria-label="Delete">delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="brokerDetailsList ?.length == 0" style="margin-left: 42%;">
                <h3>Sorry data not found!.. </h3>
            </div>
            <div class="row" *ngIf="isBrokerDetails">
                <div class="col-sm-12" style="font-size: small;text-align: right; margin-bottom: 100px;">
                    <button mat-icon-button [disabled]="previous_broker === false" color="primary"
                        (click)="broker_previousClick()" id="premise-details-view-0010">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    {{present_broker}}
                    <button mat-icon-button [disabled]="next_broker === false" color="primary"
                        (click)="broker_nextClick()" id="premise-details-view-0011">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Model Add Mapping-->
    <div class="container text-center p-3">
        <div class="modal fade" id="premise-details-view-0001" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" style="width: 40%;">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Occupancy Mapping</h4>
                        <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close" id="premise-details-view-0012">
                            <span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="occpancyMapppingForm" (ngSubmit)="occpancyMapppingCreate()">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="mapping-dropdown">
                                        <mat-label>Mapping </mat-label>
                                        <mat-chip-list #chipList>
                                            <mat-chip *ngFor="let employee of chipSelectedEmployee" [selectable]=true
                                                [removable]=true (removed)="removeCode(employee)">
                                                {{employee.code}}
                                                <mat-icon matChipRemove>cancel</mat-icon>
                                            </mat-chip>
                                            <input #mappingInput [formControl]="codeControl"
                                                formControlName="occupancy_id" [matAutocomplete]="auto"
                                                [matChipInputFor]="chipList"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]=true id="premise-details-view-0013">
                                        </mat-chip-list>
                                        <mat-autocomplete #auto="matAutocomplete"
                                            (optionSelected)="codeSelected($event)">
                                            <mat-option *ngFor="let map of occupancyMappingValue" [value]="map">
                                                {{map.code}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary"
                                     id="premise-details-view-0014">Submit</button>
                                <button type="button" (click)="onCancelClick()" style="border-radius: 40px;"
                                    class="btn btn-outline-primary" id="premise-details-view-0015">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Popup -->
    <div class="container d-flex justify-content-center">
        <div id="premise-details-view-0002" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0">
                    <div class="modal-body p-0">
                        <div class="card border-0 p-sm-2 p-2 justify-content-center">
                            <div class="card-header pb-0 bg-white border-0 ">
                                <div class="row">
                                    <div class="col ml-auto"><button type="button" #closebutton class="close"
                                            data-dismiss="modal" aria-label="Close" id="premise-details-view-0016"> <span
                                                aria-hidden="true">&times;</span> </button></div>
                                </div>
                                <p class="font-weight-bold mb-2"> Are you sure you wanna delete this ?</p>
                            </div>
                            <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                                <div class="row no-gutters">
                                    <div class="col-auto"><button type="button" class="btn btn-danger px-4"
                                            data-dismiss="modal" (click)="occupancyMapDelete()" id="premise-details-view-0017">Delete</button></div>
                                    <div class="col-auto"><button type="button" class="btn btn-light text-muted"
                                            data-dismiss="modal" id="premise-details-view-0018">Cancel</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="premise-details-view-0003" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" style="width: 60%;">
            <div class="modal-content">
                <div class="modal-header" style="background:#DDEFDD;">
                    <h2 class="modal-title"
                        style="margin-left: 10px; font-family:'Times New Roman', Times, serif;font-size:25px;font-weight:lighter;">
                        Broker Details
                    </h2>
                    <button type="button" #closebutton1 class="close" data-dismiss="modal" aria-label="Close" id="premise-details-view-0019">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="main-content">


                    <div style="margin-top: 1%;margin-left:120px">
                        <form [formGroup]="brokerDetailsForm" (ngSubmit)="brokerDetailsFormCreate()"
                            style="margin:auto">
                            <table>
                                <tr>
                                    <td>
                                        <mat-form-field class="input-style">
                                            <mat-label>Name</mat-label>
                                            <input matInput placeholder="Name" autocomplete="off" formControlName="name"
                                                required id="premise-details-view-0020">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="input-style2">
                                            <mat-label>Email</mat-label>
                                            <input matInput placeholder="Email" autocomplete="off"
                                                formControlName="email_id" required id="premise-details-view-0021">
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field class="input-style">
                                            <mat-label>Brokerage Amount</mat-label>
                                            <input matInput placeholder="Brokerage Amount" autocomplete="off"
                                                (keypress)="numberOnly($event)" formControlName="brokerage_amount"
                                                required id="premise-details-view-0022">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="input-style2">
                                            <mat-label>Mobile</mat-label>
                                            <input matInput placeholder="Mobile" autocomplete="off"
                                                formControlName="mobile" (keypress)="numberOnly($event)" maxlength="10"
                                                required id="premise-details-view-0023">
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                            <div class="btn-bottom">
                                <button type="submit" class="btn btn-outline-primary"  id="premise-details-view-0024">Submit</button>&nbsp;&nbsp;&nbsp;
                                <button type="button" (click)="onCancelbrokerClick()" class="btn btn-outline-primary"
                                    data-dismiss="modal" id="premise-details-view-0025">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>