<div class="container" style="margin-top: 10px;margin-left: 3px;">

    <nav>
        <div class="nav nav-tabs" style="margin-top: 1%;">
            <span #myDiv [ngClass]="selectedNav == link.name ? 'selectedDesign': '' " id="subname"
                        style="padding: 0px 20px 2px; cursor: pointer; " data-toggle="tab" role="tab"
                        (click)="getMenus(link)" *ngFor="let link of CRM_Master_Menu_List; index as i">
                        {{link.name}}
                    </span>
        </div>
    </nav>

    <div style="background-color: #f6f6f6;">
        <mat-card style="margin: 10px 12px 20px 10px;">
            <!-- <nav>
                <div class="nav nav-tabs">
                    <span #myDiv [ngClass]="selectedNav == link.name ? 'selectedDesign': '' " id="subname"
                        style="padding: 0px 20px 2px; cursor: pointer; " data-toggle="tab" role="tab"
                        (click)="getMenus(link)" *ngFor="let link of CRM_Master_Menu_List; index as i">
                        {{link.name}}
                    </span>
                </div>
            </nav> -->


            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="Objs['Work Group']">

                        <form [formGroup]="AgentGroupSearchform">

                            <table>
                                <tr>
                                    <th>
                                        <div class="col-md-3">

                                          
                                            <mat-form-field >
                                                <mat-label>Name</mat-label>
                                                <input  autocomplete="off" matInput
                                                    placeholder="Code/Name" formControlName="name">
                                            </mat-form-field>
                                        </div>
                                    </th>

                                    <th>
                                        <button type="button" mat-fab style="margin-left: 20px;background-color: white;"
                                            aria-label="Search" (click)="AgentGroupSearch('')">
                                            <mat-icon>search</mat-icon>
                                        </button>
                                    </th>
                                    <th>
                                        <button type="button" mat-fab style="margin-left: 20px;background-color: white;"
                                            (click)="resetkAgentGroup()">Clear</button>
                                    </th>
                                    <th>

                                        <!-- <button type="button" class="btn btn-outline-success" matTooltip="Addleave"  #myDiv
                                        style="border-radius:40px;margin-left:20px;" (click)="AddScreens('AgentGroup')"><span
                                        class="fa fa-plus"></span></button> -->

                                        <button type="button" mat-fab
                                            style="margin-left: 20px;background-color: #f5c68b;" #myDiv
                                            class="nav-item nav-link" (click)="AddScreens('AgentGroup')">
                                            <mat-icon matTooltip="Addleave">add</mat-icon>
                                        </button>
                                    </th>
                                </tr>
                            </table>
                        </form>

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div style="margin: left 15px;">
                                <table class="table table-bordered aligncenter"
                                    style="margin-top: 10px; max-width:100% ; margin-left: 20px;" id="commonstyle">
                                    <thead class="table_header">
                                        <tr>
                                            <th>S.No</th>
                                            <th>Name</th>
                                            <th>View</th>
                                            <th>Edit</th>

                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let table of AgentgroupList let index = index">
                                            <td>{{(CurrentPageAgentgroup - 1)*10+index+1 }}</td>
                                            <td>{{table?.name}}</td>
                                            <td><button mat-icon-button matTooltip=" add" class="iconbutton"
                                                    color="primary" (click)="Addrule('Vendor mapping',table)">
                                                    <mat-icon style="color: rgb(4, 4, 4);" aria-label="add">visibility
                                                    </mat-icon>
                                                </button></td>
                                            <td> <button mat-icon-button matTooltip=" Edit" class="iconbutton"
                                                    id="subname" color="primary"
                                                    (click)="AddScreens('AgentGroup',false,table)">
                                                    <mat-icon style="color: gray; margin-left: 20px;" aria-label="Edit">
                                                        edit</mat-icon>
                                                </button>
                                            </td>

                                        </tr>
                                    </tbody>

                                </table>
                                <div *ngIf="AgentgroupList?.length == 0 || AgentgroupList == undefined ; else paginationdocmen"
                                    class="NodataAlign text-center">No record found</div>
                                <ng-template #paginationdocmen>
                                    <div class="col-sm-12" style="font-size: small; text-align:right; margin-bottom:5%">
                                        <button type="button" mat-icon-button
                                            [disabled]="hasPreviousAgentgroup == false "
                                            (click)="AgentGroupSearch('previous')">
                                            <mat-icon>arrow_back</mat-icon>
                                        </button>
                                        {{CurrentPageAgentgroup}}
                                        <button type="button" mat-icon-button [disabled]="hasnextAgentgroup == false "
                                            (click)="AgentGroupSearch('next')">
                                            <mat-icon>arrow_forward</mat-icon>
                                        </button>
                                    </div>
                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>
            </div>





            <div class="container" *ngIf="Objs['Vendor mapping']">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h1>Vendor Mapping - <span style="color:blue">
                                {{tableData.name}}
                            </span></h1>
                        <!-- <div class="row"> -->
                        <div style="float: right;">

                            <button type="button" (click)="AddScreens('RulesNote')" style="border-radius: 40px;margin-left: 10px;" class="btn btn-outline-success">
                                <span class="material-icons" style="vertical-align: middle">add</span> Rules
                                Add</button>

                            <button type="button" data-toggle="modal" data-target=".bd-example-modal-xlVendor" style="border-radius: 40px;margin-left: 10px;" class="btn btn-outline-success">
                                <span class="material-icons" style="vertical-align: middle">add</span> Vendor Map
                                Add</button>




                                        <button type="button" mat-fab data-toggle="modal"
                                        data-target=".bd-example-modal-xlVendor"
                                        style="margin-left: 20px;background-color: #f5c68b;"
                                        (click)="getAgentGroupVendorMappingSearchSumary('',1)">
                                        <mat-icon matTooltip="Map">visibility</mat-icon>
                                    </button>                                         
                                            <!-- <mat-icon style="color: rgb(4, 4, 4);" type="button" data-toggle="modal"
                                            data-target=".bd-example-modal-xl"
                                            (click)="getAgentGroupVendorMappingSearchSumary('',1)">visibility
                                        </mat-icon>
                                        </button> -->
                                   
                                    <div class="modal fade bd-example-modal-xlVendor" id="exampleModal" tabindex="-1"
                                            role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-xl">
                                                <div class="modal-content">
                                                    <div class="modal-header"
                                                        style="background:#DDEFDD; height: 9vh; ">
                                                        <h2 class="modal-title"
                                                            style=" font-family:'Times New Roman', Times, serif;font-size:20px;  color: black">
                                                            Agent Group vendor Mapping</h2>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                     <table>
                                                          <tr>
                                                            <th style="text-align: left;">
                                                                <mat-label >Vendor Mapping Select </mat-label><br>
                                                        <mat-form-field style="width: 500px; " (click)="getvendor( '')">
                                                            <mat-chip-list #chipListvendor>
                                                                <mat-chip *ngFor="let vendor of chipSelectedven"
                                                                    [selectable]=true [removable]=true
                                                                    (removed)="removedven(vendor)">
                                                                    {{vendor.name}}
                                                                    <mat-icon matChipRemove>cancel</mat-icon>
                                                                </mat-chip>
                                                                <input #venInput [formControl]="ven_id"
                                                                    [matAutocomplete]="vendor"
                                                                    placeholder="Select vendor"
                                                                    class="matformfieldinputstyle"
                                                                    (keyup)="getvendor(ven_id.value)"
                                                                    [matChipInputFor]="chipListvendor"
                                                                    [matChipInputSeparatorKeyCodes]="separatorsKeysCodes"
                                                           [matChipInputAddOnBlur]=true>
                                                            </mat-chip-list>

                                                            <mat-autocomplete #vendor="matAutocomplete"
                                                                (optionSelected)="venSelected($event)"
                                                                (opened)="autocompleteVendorScroll('')">
                                                                <mat-option *ngFor="let ven of venList" [value]="ven">
                                                                    {{ven.name}}
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                        </mat-form-field>                                                                         
                                                    </th>
                                                    <th style="margin-left: 20px; text-align: left;">
                                                <mat-label >Limit</mat-label><br>
                                                <mat-form-field>
                                                    <input  autocomplete="off" matInput
                                                        placeholder="number" type="number" [formControl]="limits">
                                                </mat-form-field> 
                                            </th>                                  
                                                  <th>
                                                         <button type="button" class="btn btn-outline-primary" style="border-radius: 40px; margin-left: 10px;" data-dismiss="modal">Back <i class="fa fa-hand-o-left"></i></button> 
                                                  </th>
                                                  <th>
                                                        <button type="button" style="border-radius: 40px;margin-left: 10px;" class="btn btn-outline-success"
                                                            (click)="SubmitAgentGroupVenMapping()" >Submit <i class="fa fa-thumbs-o-up"></i></button>
                                                        </th>
                                                        </tr>
                                                    </table>                                                   

                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                                    <div style="margin: left 15px;">
                                                                        <table class="table table-bordered aligncenter"
                                                                            style="margin-top: 10px; max-width:50% ; margin-left: 20px;background-color: #DDEFDD;"
                                                                            >
                                                                            <thead class="table_header" >
                                                                                <tr>
                                                                                    <th>S.No</th> 
                                                                                    <th>Vendor</th>
                                                                                    <th>Limit</th>
                                                                                    <th>Remove</th>
                                                                                 
                                                                                </tr>

                                                                            </thead>
                                                                            <tbody>
                                                                                <tr
                                                                                    *ngFor="let venmap of AgentgroupVenMappingList let index = index">
                                                                                    <td>{{(CurrentPageAgentgroupMapping
                                                                                        - 1)*10+index+1 }}</td>
                                                                                    <td>{{venmap?.name}}</td>
                                                                                    <td>{{venmap?.limit}}</td>
                                                                                     <td><button mat-icon-button matTooltip=" add" class="iconbutton"
                                                                                        color="primary" (click)="DeleteAgentGroupVenMap(venmap)">
                                                                                        <mat-icon  style="color: rgb(4, 4, 4);" aria-label="delete">delete
                                                                                        </mat-icon>
                                                                                    </button></td> 

                                                                                </tr>
                                                                            </tbody>

                                                                        </table>
                                                                        <div *ngIf="AgentgroupVenMappingList?.length == 0 || AgentgroupVenMappingList == undefined"
                                                                            class="NodataAlign text-center">No record
                                                                            found</div>                                                                      
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <th>
                                        <!-- <button type="button" class="btn btn-light" style="border-radius: 7px;margin-left: 10px; -->

                            <button type="button" class="btn btn-outline-primary"   style="border-radius: 40px;margin-left: 10px;" (click)="getMenus({name: 'Work Group'})">Back
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div style="margin: left 15px;">
                            <table class="table table-bordered  aligncenter"
                                style="margin-top: 10px; max-width:70% ; margin-left: 20px;">
                                <thead class="table_header">
                                    <tr>
                                        <th>S.No</th>
                                        <th>Vendor</th>
                                        <th>Limit</th>
                                        <th>Product View</th>
                                        <!-- <th>Remove</th> -->

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let venmap of AgentgroupVenMappingList let index = index">
                                        <td>{{(CurrentPageAgentgroupVenMapping - 1)*10+index+1 }}</td>
                                        <td>
                                            ({{venmap?.code}}) {{venmap?.name}}</td>
                                        <td>{{venmap?.limit}}</td>
                                        <td><span class="material-icons" (click)="ProductAgainstVendor(venmap)"
                                                data-toggle="modal" data-target="#exampleModal">visibility</span></td>
                                        <!-- <td><button mat-icon-button matTooltip=" add" class="iconbutton"
                                                            color="primary" (click)="DeleteAgentGroupVenMap(venmap)">
                                                            <mat-icon style="color: rgb(4, 4, 4);"
                                                                aria-label="delete">delete
                                                            </mat-icon>
                                                        </button></td> -->

                                    </tr>
                                </tbody>

                            </table>
                            <div *ngIf="AgentgroupVenMappingList?.length == 0 || AgentgroupVenMappingList == undefined; else mappage"
                                class="NodataAlign text-center">No record
                                found</div>
                            <ng-template #mappage>

                                <div class="col-sm-12" style="font-size: small; text-align:right; margin-bottom:5%">
                                    <button type="button" mat-icon-button
                                        [disabled]="hasPreviousAgentgroupVenMapping == false "
                                        (click)="getAgentGroupVendorMappingSearchSumary('', CurrentPageAgentgroupVenMapping -1 )">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                    {{CurrentPageAgentgroupVenMapping}}
                                    <button type="button" mat-icon-button
                                        [disabled]="hasnextAgentgroupVenMapping == false "
                                        (click)="getAgentGroupVendorMappingSearchSumary('', CurrentPageAgentgroupVenMapping+1)">
                                        <mat-icon>arrow_forward</mat-icon>
                                    </button>
                                </div>


                            </ng-template>
                        </div>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            ({{VendorProduct?.vendor?.code}}) {{VendorProduct?.vendor?.name}} </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <ol>
                                            <li *ngFor="let data of VendorProduct?.product">{{data?.name}}</li>
                                        </ol>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



                <!-- </div> -->
            </div>


            <div class="modal fade bd-example-modal-xlVendor" id="exampleModal" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header" style="background:#DDEFDD; height: 9vh; ">
                            <h2 class="modal-title"
                                style=" font-family:'Times New Roman', Times, serif;font-size:20px;  color: black">
                                Agent Group vendor Mapping</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table>
                                <tr>
                                    <th style="text-align: left;">
                                        <mat-label>Vendor Mapping Select </mat-label><br>
                                        <mat-form-field style="width: 500px; " (click)="getvendor( '')">
                                            <mat-chip-list #chipListvendor>
                                                <mat-chip *ngFor="let vendor of chipSelectedven" [selectable]=true
                                                    [removable]=true (removed)="removedven(vendor)">
                                                    {{vendor.name}}
                                                    <mat-icon matChipRemove>cancel</mat-icon>
                                                </mat-chip>
                                                <input #venInput [formControl]="ven_id" [matAutocomplete]="vendor"
                                                    placeholder="Select vendor" class="matformfieldinputstyle"
                                                    (keyup)="getvendor(ven_id.value)" [matChipInputFor]="chipListvendor"
                                                    [matChipInputSeparatorKeyCodes]="separatorsKeysCodes"
                                                    [matChipInputAddOnBlur]=true>
                                            </mat-chip-list>

                                            <mat-autocomplete #vendor="matAutocomplete"
                                                (optionSelected)="venSelected($event)"
                                                (opened)="autocompleteVendorScroll('')">
                                                <mat-option *ngFor="let ven of venList" [value]="ven">
                                                    {{ven.name}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </th>
                                    <th style="margin-left: 20px; text-align: left;">
                                        <mat-label>Limit</mat-label>
                                        <mat-form-field >
                                            <input  autocomplete="off" matInput
                                                placeholder="number" type="number" [formControl]="limits">
                                        </mat-form-field>
                                    </th>
                                    <th>
                                        <button type="button" class="btn btn-outline-primary"style="border-radius: 40px; margin-left: 10px;" data-dismiss="modal">Back </button>
                                    </th>
                                    <th>
                                        <button type="button" style="border-radius: 40px;margin-left: 10px;" class="btn btn-outline-success"
                                            (click)="SubmitAgentGroupVenMapping()" data-dismiss="modal">Submit </button>
                                    </th>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>







            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="Objs['Source Summary']">

                        <form [formGroup]="SourceSearchform">
                            <table>
                                <tr>
                                    <th>
                                        <div class="col-md-3">

                                            <mat-label>Name</mat-label>
                                            <mat-form-field>
                                                <input  autocomplete="off" matInput
                                                    placeholder="Code/Name" formControlName="codename">
                                            </mat-form-field>


                                        </div>
                                    </th>

                                    <th>
                                        <button type="button" mat-fab style="margin-left: 20px;background-color: white;"
                                            aria-label="Search" (click)="SourceSearch('')">
                                            <mat-icon>search</mat-icon>
                                        </button>
                                    </th>
                                    <th>
                                        <button type="button" mat-fab style="margin-left: 20px;background-color: white;"
                                            (click)="resetkSource()">Clear</button>
                                    </th>
                                    <th>

                                        <button type="button" mat-fab
                                            style="margin-left: 20px;background-color: #f5c68b;" id="subname"
                                            (click)="AddScreens('Source')">
                                            <mat-icon matTooltip="Addleave">add</mat-icon>
                                        </button>
                                    </th>
                                </tr>
                            </table>
                        </form>



                        <div style="margin: left 15px;">
                            <table class="table table-bordered aligncenter"
                                style="margin-top: 10px; max-width:100% ; margin-left: 20px;">
                                <thead class="table_header">
                                    <tr>
                                        <th>S.No</th>
                                        <th>Source Name</th>
                                        <th>Source Type</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let table of sourceList let index = index">
                                        <td>{{(CurrentPageSource - 1)*10+index+1 }}</td>
                                        <td>{{table?.name}}</td>
                                        <td>{{table?.type?.text}}</td>

                                    </tr>
                                </tbody>

                            </table>
                            <div *ngIf="sourceList?.length == 0 || sourceList == undefined ; else paginationdoc"
                                class="NodataAlign text-center">No record found</div>
                            <ng-template #paginationdoc>
                                <div class="col-sm-12" style="font-size: small; text-align:right; margin-bottom:5%">
                                    <button type="button" mat-icon-button [disabled]="hasPreviousSource == false "
                                        (click)="SourceSearch('previous')">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                    {{CurrentPageSource}}
                                    <button type="button" mat-icon-button [disabled]="hasnextSource == false "
                                        (click)="SourceSearch('next')">
                                        <mat-icon>arrow_forward</mat-icon>
                                    </button>
                                </div>
                            </ng-template>
                        </div>

                    </div>
                </div>
            </div>



        </mat-card>
    </div>
</div>