
// :root {
//   --global: #044063; 
//   --fullwhite: #ffffff;
//   --globalTable: #fbfbfb; 

//   --fontsmall: 12px;
//   --fontmedium: 14px;
//   --fontlarge: 16px;

//   --paddingsmall: 5px;
//   --paddingmedium: 7px;
//   --paddinglarge: 10px;

//   --marginTen : 10px;
//   --marginleftTwenty : 20px;
//   --marginleftThirty : 30px;
//   --marginleftFourty : 40px;
//   --marginFifty : 50px;

//   --widthTableHalf: 50%;
//   --widthTableSF: 75%;
//   --widthTableFull: 95%; 

// }
.ng-star-inserted{
  list-style-position: inside;
}


#commonstyle{ 
    border:5px none #f6f6f6
    }
  
  //   tr:nth-child(even) {background: rgb(179, 203, 211)}
  //   tr:nth-child(odd) {background: #FFF}
  // table,th,td{
  //   text-align: center;
    
  // }
//   .nav-item.show .nav-link,
// .nav-tabs .nav-link.active {
// background-color: transparent !important;
// color: #52aebc !important;
// text-decoration: underline;
// cursor: pointer;
// }

// .nav-tabs .nav-link:hover {
// border: none !important;
// cursor: pointer;
// }

// .nav-tabs .nav-link {
// border: none;
// cursor: pointer;
// }
//  .nav{
//   padding: em;
//  }

.aligncenter{
text-align: center;
// text-decoration: underline;
}


element.style {
  margin-right: 20px;
}



table th, .table td {
  padding: 0.55rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}
.table thead th {
  background-color: #DDEFDD;
}


.cursor{
cursor: pointer;
color: #52aebc !important;
text-decoration: underline;
}


.selectedDesign{
  text-decoration: underline;
  color: #044063;
  cursor: pointer;
 
   
 }