::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 80%;
}
.tableFixHead {
    // overflow: unset;
    width: 110%;
    text-align: left;
    margin-left: -3%;
    // margin-top: 20px;
}
// .btn {
//     // display: flex;
//     // border-radius: 30px;
//     // margin-right: 10%;
//     // margin-top: -7px;
//     // justify-content: space-between;
//     // min-inline-size: fit-content;
// }