<h3 class="col-12" style="margin-left: 30px;font-size:25px;font-family:Times New Roman;font-weight:bold;color:blue">FA-Entry Data Repost</h3><hr>
<div class="row col-12" style="margin-left: 2%;">
    <form [formGroup]="assetform">
        <div class="row col-12">
            <div class="col-md-10">
                <mat-form-field class="example-full-width" style="width:350px">
                    <mat-label>Asset Barcode </mat-label>
                    <input placeholder="Select Asset Barcode" matInput  formControlName="barcode"
                        [matAutocomplete]="apcattype">
                    <mat-autocomplete #apcattype="matAutocomplete" >
                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let bar of accountingBarcodeList" [value]="bar.refno" (focusout)="Accountdetails(bar)">
                                {{bar.refno}}
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" type="button" style="border-radius:40px;margin-left: 4px; width:40px;height: 40px;"
                            color="primary"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </form>

</div>
<div class="row col-12" style="margin-left: 2%;">
    <div style="width:96%">
        <table class="table table-bordered" >
            <thead class="table_header">
                <th>S.No</th>
                <th>Asset Barcode</th>
                <th>Entry Financial Year</th>
                <th>Entry Screen</th>
                <th>WiseFin GL</th>
                <th>Entry Gl</th>
                <th>GL Description</th>
                <th> C/D Amount</th>
                <th>Amount</th>

            </thead>
            <tbody>
                <tr *ngFor="let d of accountDetailslist;index as i">
                    <td class="text-center">{{i+1}}</td>
                    <td>{{d.refno}}</td>
                    <td class="text-center">{{d.transactiondate | date:'yyyy'}}</td>
                    <td class="text-left">{{d.screen}}</td>
                    <td class="text-right">{{d.wisefinmap}}</td>
                    <td class="text-right">{{d.gl}}</td>
                    <td>{{d.glremarks}}</td>
                    <td class="text-center">{{d.type}}</td>
                    <td class="text-right">{{d.amount}}</td>
                </tr>
                <tr *ngIf="accountDetailslist.length==0">
                    <td colspan="9">No Records Found..</td>
                </tr>
                <tr >
                    <td  colspan="7" class="text-right">
                        <b>Sum Of Debits:</b>
                    </td>
                    <td colspan="2">
                        &#8377;{{sumofdebit}}
                    </td>
                </tr>
                <tr>
                    <td colspan="7" class="text-right">
                        <b>Sum Of Credits:</b>
                    </td>
                    <td colspan="2">
                        &#8377;{{sumofcredit}}
                    </td>
                </tr>
                <tr >
                    <td colspan="9">
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <button class="btn btn-primary" type="button" (click)="Accountdetails_Repost()" style="border-radius:40px;margin-left: 4px; "
                        color="primary">Repost Data</button>
    </div>
</div>

<div style="height:100px">

</div>