<br>

<h2 style="margin-left: 40px; ">
    Statutory Payments
</h2>
<div style="margin-left: 100px;margin-right: 80%;margin-top: 1%; width: 100%;">

    <div>
        <form [formGroup]="statutoryForm" (ngSubmit)="statutoryCreateEditForm()">
            <table>
                <div>
                    <tr>
                        <td>
                            <mat-form-field style="width: 250px;">
                                <mat-label>ID Type</mat-label>
                                <mat-select formControlName="ref_type" id="statutory-form-0001">
                                    <mat-option *ngFor="let ref of refTypeList" [value]="ref.id"
                                        (focusout)="dependentid(ref.id)">
                                        {{ref.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width: 250px;margin-left: 60px;">
                                <mat-label>ID</mat-label>
                                <mat-select formControlName="ref_id" id="statutory-form-0002">
                                    <mat-option *ngFor="let refid of refidList" [value]="refid.id">
                                        {{refid.code}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width: 250px;margin-left: 60px;">
                                <mat-label>Statutory Tax Name </mat-label>
                                <mat-select formControlName="tax_name" id="statutory-form-0003">
                                    <mat-option *ngFor="let statutoryform of statutoryidList"
                                        [value]="statutoryform.id">
                                        {{statutoryform.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <mat-form-field style="width: 200px;">
                                <mat-label>Tax Name</mat-label>
                                <input matInput placeholder="Statutory Tax Name" formControlName="tax_name" autocomplete="off"  (keypress)="only_char($event)" required id="statutory-form-0004">
                            </mat-form-field> -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field style="width: 250px;">
                                <mat-label>Statutory Tax Amount</mat-label>
                                <input matInput placeholder="Tax Amount" maxlength="9" formControlName="tax_amount" autocomplete="off"
                                    (keypress)="numberOnly($event)" required id="statutory-form-0005">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width:250px;margin-left: 60px;">
                                <mat-label>Payment Due Date</mat-label>
                                <input matInput readonly [matDatepicker]="picker1" placeholder="Payment Due Date"
                                    formControlName="due_date" id="statutory-form-0006">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </td>

                        <td>
                            <mat-form-field style="width: 250px;margin-left: 60px;">
                                <mat-label>Remarks</mat-label>
                                <input matInput placeholder="Remarks" formControlName="remarks" autocomplete="off"
                                    required id="statutory-form-0007">
                            </mat-form-field>
                        </td>
                    </tr>
                </div>
            </table>
            <button type="submit" style="border-radius: 40px;margin-left: 10px;"
                class="btn btn-outline-primary" [disabled]="StatutoryBtn" id="statutory-form-0008">Submit</button>
            <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
                style="border-radius: 40px;margin-left: 10px;" id="statutory-form-0009">Cancel</button>
        </form>
    </div>
</div>