.container{
    margin-top: 2%;
    margin-bottom: 5%;
}

::ng-deep .cdk-overlay-container {
    z-index: 1300 !important;
}
.center_align{
    display: flex;
    justify-content: center;
    align-items: center;
}