#cardlabel {
    vertical-align: super;
    margin-left: 2%;
}

::ng-deep {

    .cdk-global-overlay-wrapper,
    .cdk-overlay-container {
        z-index: 9999 !important;
    }
    #type .mat-select-value{
        color:green
    }
    // .cdk-overlay-transparent-backdrop, .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing{
    //     opacity: 0;
    // }
    // .mat-form-field-label-wrapper{
    //     font-size: 18px;
    // }
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after{
    color: rgba(0,0,0,.70);
}

.scroll-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 27px;
  }
  
  .scroll-button.left {
    left: -22px;
    // box-shadow: -2px 0 2px rgba(0, 0, 0, 0.138);
    top:45%;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    border: 2px solid #01a85a;
    background-color: white;
    color: #01a85a;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #01a85a;
        color: white;
    }

    .mat-icon{
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    mat-icon{
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
  }
  
  .scroll-button.right {
    right: -22px;
    // box-shadow: -2px 0 2px rgba(0, 0, 0, 0.138);
    top: 45%;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    border: 2px solid #01a85a;
    background-color: white;
    color: #01a85a;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #01a85a;
        color: white;
    }

    .mat-icon{
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    mat-icon{
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }