<div class="container">
    <mat-card>
        <div class="card-container">
            <!-- <div class = "row"> -->
            <div style="width:410px" >
                <div class="row" style="width:100%;margin-left:3px;">
                    <div class="card card-0">
                        <div class="card-content">
                            <div class="centered-content">
                                653
                            </div>
                        </div>
                        <div class="card-title">
                            Converted Leads
                        </div>
                    </div>

                    <div class="card card-01">
                        <div class="card-content">
                            <div class="centered-content">
                                50
                            </div>
                        </div>
                        <div class="card-title">
                            No. of DSA
                        </div>
                    </div>
                </div>
                <div class="gap" style="height: 10px;"></div>
                <div>
                    <div class="card card-2">
                        <div class="new-card-title">
                           Executive List
                          </div>
                        <div class="card-content">
                            <div id="divChart1">
                                <canvas id="mypieChart"></canvas>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="gap" style="height: 10px;"></div>
                
            </div>
          
            <!-- </div> -->
            <!-- <div class="row">
            
        </div> -->


            <div class="card card-1">
                <div class="new-card-title">
                    % of Conversion to Customer
                </div>
                <div class="card-content">
                    <div id="divChart">
                        <canvas id="myChart" height="220"></canvas>
                    </div>
                </div>

            </div>
            <div class="card card-1">
                <div class="new-card-title">
                    Region wise Converted Customer list
                </div>
                <div class="card-content">
                    <div id="divChart">
                        <canvas id="mybarChart"></canvas>
                    </div>
                </div>

            </div>
            <div class="gap" style="height: 20px;"></div>
            <div class="card card-3">
                <div class="new-card-title">
                    Campaign Summary
                </div>
                <div class="card-content">
                    <div id="divChart_1" style="width:600px;display:block;">
                        <canvas id="myclusterChart"  width="100"></canvas>
                    </div>
                </div>

            </div>
            <div class="card card-4">
                <div class="new-card-title">
                    Product wise customer summary
                </div>
                <div class="card-content">
                    <div id="divChart_2">
                        <canvas id="mybarsChart" height="270"></canvas>
                    </div>
                </div>

            </div>


        </div>

    </mat-card>
</div>