.card-0 {
    border-radius: 10px; 
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    // padding: 20px; 
    background-color: #f0bcc0; 
    border: 2px solid #000;
    width: 200px; 
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin: 10px;
    padding: 10px;
  }
  .card-01 {
    border-radius: 10px; 
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    // padding: 20px; 
    background-color: #c499ca; 
    border: 2px solid #000;
    width: 200px; 
    height: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin: 10px;
    padding: 10px;
    margin-left: 3px;
  }

  .card-title {
    padding: 0; 
    // background-color: #333; 
    color:black; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }

  .card-1 {
    border-radius: 10px; 
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    // padding: 20px; 
    background-color: #ffffff; 
    border: 2px solid #000;
    width: 325px; 
    height: 285px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 10px 0;
  }
  .card-3 {
    border-radius: 10px; 
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    // padding: 20px; 
    background-color: #ffffff;
    border: 2px solid #000;
    width: 675px; 
    height: 400px; 
    display: flex block;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-4 {
    border-radius: 10px; 
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    // padding: 20px; 
    background-color: #ffffff; 
    border: 2px solid #000;
    width: 380px; 
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-2 {
    border-radius: 10px; 
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    // padding: 20px;
    background-color: #ffffff; 
    border: 2px solid #000;
    width: 400px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }

  .new-card-title {
    padding: 10px; 
    // background-color: #333; 
    color: #333; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
  }
  .gap {
    height: 20px;
  }

  .centered-content {
    font-size: 24px;
    font-weight: bold;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    
}
#divChart{
    // display: block;
    width: 300px;
    height: 500px;
}
#divChart_1{
  width: 400px;
  height: 500px;
}
#divChart_2{
  width: 375px;
  height: 500px;
}
#divChart1{
  // display: block;
  width: 120px;
  height: 250px;
}