.main-content {
    margin-left: 3%;
}
.btn-bottom {
    margin-bottom: 5%;
    margin-top: 29px;
}
.btn-outline-primary {
    border-radius: 40px;
}
.input-style {
    width: 200px;
}
.input-style2 {
    width: 200px;
    margin-left: 60px;
}
.table-bordered td,.table-bordered tr {
    border: 2px solid #bac2cd;
}
.table-bordered th{
    border: 2px solid #bac2cd;
}


mat-label{
    font-size: 17px;
  }