<div class="container-fluid" id="maindiv">
    <nav>
        <div class="nav nav-tabs">

            <a class="nav-item nav-link" style="color:black;cursor: pointer;" [ngClass]="(selectedtab == tabs[ind].name)?'active':''" data-toggle="tab" *ngFor="let tab of tabs;let ind=index"
                (click)="submodule(ind)" >{{tab.name}}</a>
        </div>
    </nav>
    <!-- <h2 *ngIf="branch" style="float:right;height: 1px;">Branch/Dept: <label style="color:green">{{ branch}}</label> </h2> -->

    
    <ng-container *ngIf="tab1 == selectedtab">
        <app-vendor-initiation></app-vendor-initiation>
    </ng-container>
    
    <!-- <ng-container *ngIf="tab2 == selectedtab">
        <app-product-create></app-product-create>
    </ng-container> -->

    

    <ng-container *ngIf="tab3 == selectedtab">
       <app-box-master></app-box-master>
    </ng-container>

    <ng-container *ngIf="tab4 == selectedtab">
        <app-product-master></app-product-master>
     </ng-container>
    
     <ng-container *ngIf="tab7 == selectedtab">
        <!-- <app-file-document></app-file-document> -->
     </ng-container>
    
</div>