<br>

<h2 style="margin-left: 50px; ">
    Rent
</h2>
<div class="main-content">
   
    <div>
        <form [formGroup]="rentForm" (ngSubmit)="rentFormCreate()">
            <table>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Rent Type</mat-label>
                            <mat-select formControlName="renttype" id="rent-form-0001">
                                <mat-option *ngFor="let rent of rentTypeData" [value]="rent.id">
                                    {{rent.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Rent Amount</mat-label>
                            <input matInput placeholder="Rent Amount" autocomplete="off" formControlName="rent_amount"
                                (keypress)="numberOnly($event)" required id="rent-form-0002">
                        </mat-form-field>
                    </td>
                    <!-- <td>
                        <mat-form-field class="input-style">
                            <mat-label>Allocation Ratio</mat-label>
                            <input matInput placeholder="Alocation Ratio" autocomplete="off"
                                formControlName="allocation_ratio" required id="rent-form-0003">
                        </mat-form-field>
                    </td> -->
                </tr>

                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Amenities Amount</mat-label>
                            <input matInput placeholder="Amenities Amount" autocomplete="off"
                                (keypress)="numberOnly($event)" formControlName="amenties_amount" required id="rent-form-0004">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Maintenanace Amount</mat-label>
                            <input matInput placeholder="Maintenanace Amount" autocomplete="off"
                                (keypress)="numberOnly($event)" formControlName="maintenance_amount" required id="rent-form-0005">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Others</mat-label>
                            <input matInput placeholder="Others" autocomplete="off"
                                (keypress)="numberOnly($event)" formControlName="others" required id="rent-form-0006">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Remarks</mat-label>
                            <input matInput placeholder="Remarks" autocomplete="off"
                                 formControlName="remarks" required id="rent-form-0007">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div class="btn-bottom">
                <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary" id="rent-form-0008">Submit</button>
                <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
                    style="border-radius: 40px;margin-left: 10px;" id="rent-form-0009">Cancel</button>
            </div>
        </form>
    </div>
</div>