<div class="container">
    <h2>DCS Master</h2>
    <div>
        <div [hidden]="summaryview">
            <form [formGroup]="exception_master_search">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- <mat-form-field (click)="product_dropdown()">
                                <mat-label>Product</mat-label>
                                <input placeholder="Product" matInput formControlName="product" #productInput
                                    [matAutocomplete]="product_auto">
                                <mat-autocomplete #product_auto="matAutocomplete" [displayWith]="productdisplay"
                                    (opened)="product_scroll()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let product of productdetails" [value]="product">
                                            {{product.name}} </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field> -->
                            <mat-form-field>
                                <mat-label>GL NO</mat-label>
                                <input matInput type="text" placeholder="GL NO" autocomplete="off" formControlName="product">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field (click)="category_dropdown()">
                                <mat-label>Category</mat-label>
                                <input placeholder="Category" matInput formControlName="category" #categoryInput
                                    [matAutocomplete]="category_auto">
                                <mat-autocomplete #category_auto="matAutocomplete" [displayWith]="categorydisplay"
                                    (opened)="category_scroll()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let category of categorydetails" [value]="category">
                                            {{category.name}} </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" [hidden]="exception_master_search.value.category=='' || exception_master_search.value.category == null || exception_master_search.value.category == undefined">
                            <mat-form-field (click)="subcategory_dropdown()" >
                                <mat-label>SubCategory</mat-label>
                                <input placeholder="SubCategory" matInput formControlName="subcategory" #subcategoryInput
                                    [matAutocomplete]="subcategory_auto">
                                <mat-autocomplete #subcategory_auto="matAutocomplete" [displayWith]="subcategorydisplay"
                                    (opened)="subcategory_scroll()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let subcategory of subcategorydetails" [value]="subcategory">
                                            {{subcategory.name}} </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field (click)="level_dropdown()">
                                <mat-label>Level</mat-label>
                                <input placeholder="Level" matInput formControlName="level" #levelInput [matAutocomplete]="levelauto">
                                <mat-autocomplete #levelauto="matAutocomplete" [displayWith]="leveldisplay" (opened)="level_scroll()" >
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let level of leveldetails" [value]="level" > {{level.name}} </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field (click)="bs_Dropdown()" style="width: 220px;">
                                <mat-label>BS</mat-label>
                                <input #bs_Input placeholder="BS" matInput formControlName="bs" [matAutocomplete]="bs_Auto">
                                <mat-autocomplete #bs_Auto="matAutocomplete" [displayWith]="bsdisplay" (opened)="bsscroll()" >
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let bs of bsdetails" [value]="bs">
                                            {{bs.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field (click)="cc_Dropdown()" style="width: 220px;">
                                <mat-label>CC</mat-label>
                                <input #cc_Input placeholder="CC" matInput formControlName="cc" [matAutocomplete]="cc_Auto">
                                <mat-autocomplete #cc_Auto="matAutocomplete" [displayWith]="ccdisplay" (opened)="ccscroll()" >
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let cc of ccdetails" [value]="cc">
                                            {{cc.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field >
                                <mat-label>Type*</mat-label>
                                <mat-select formControlName="dcs_list_name">
                                    <mat-option *ngFor="let dcs of Dcs_List" [value]="dcs">
                                        {{dcs.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            
                            <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary" (click)="exception_Serch(exception_master_search.value)"
                                >Search</button>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary" (click)="reset_exception_search()"
                                >Reset</button>
                        </div>
                        <div class="col-md-3" *ngIf="Dcs_level_condition">
                            <button  data-toggle="modal" style="display: none;" #exception_popup data-target=".em-exception_master-modal-lg"></button>
                            <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary" (click)="exception_edit_add('add',0)"
                                >Add</button>
                        </div>
                        <div class="col-md-3" *ngIf="level_mapping_condition">
                            <button  data-toggle="modal" style="display: none;" #level_popup data-target=".bd-employeebusinesspopup-modal-lg"></button>
                            <button type="submit" style="border-radius: 40px;" class="btn btn-outline-primary" (click)="level_edit_add()"
                                >Add</button>
                        </div>
                            
                    </div>
                </div>
            </form>
            <div>
                <div class="table-responsive" class="tablescroll" style="margin-top: 2%;width: 95%;margin-left: 10px;overflow: auto;">
                    <table class="table table scrolltable table-bordered" style="width: 99%; margin-top: 20px;">
                        <thead class="table_header"  *ngIf="Dcs_level_condition">
                            <tr>
                                <th>S.No</th>
                                <th>GLNO</th>
                                <th>Business Segment</th>
                                <th>Cost Center</th>
                                <!-- <th>Product</th>
                                <th>Level</th>
                                <th>Category</th>
                                <th>Subcategory</th>
                                <th>Vertical</th> -->
                                <th>Status</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <thead class="table_header"  *ngIf="level_mapping_condition">
                            <tr>
                                <th>S.No</th>
                                <th>Name</th>
                                <!-- <th>Status</th> -->
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="Dcs_level_condition">
                            <tr *ngFor="let exceptionmaster of exceptionmaster_search;let ind=index">
                                <td>{{ind+1}}</td>
                                <td>{{exceptionmaster.glno}}</td>
                                <td>
                                    <!-- <ng-container *ngIf="(exceptionmaster.bs_no !='' || exceptionmaster.bs_no != null || exceptionmaster.bs_no != undefined) ">({{exceptionmaster.bs_no}})</ng-container> &nbsp; -->
                                     {{exceptionmaster?.bs_id?.name}}
                                </td>
                                <td>
                                    <!-- <ng-container *ngIf="(exceptionmaster.cc_no !='' || exceptionmaster.cc_no != null || exceptionmaster.cc_no != undefined) ">  ({{exceptionmaster.cc_no}}) </ng-container> &nbsp; -->
                                     {{exceptionmaster?.set_cc_id?.name}}
                                </td>
                                <!-- <td>
                                    <ng-container *ngIf="(exceptionmaster.product_code!= '')  ">({{exceptionmaster.product_code}})</ng-container> &nbsp; 
                                    <ng-container *ngIf="exceptionmaster?.product_id?.length !=0 ">{{exceptionmaster.product_id.name}}</ng-container>
                                    <ng-container *ngIf="exceptionmaster.product_id.length == 0">--</ng-container>

                                </td>
                                <td>{{exceptionmaster.level.name}}</td>
                                <td>
                                    <ng-container *ngIf="exceptionmaster.cat_no != ''">({{exceptionmaster.cat_no}})</ng-container> &nbsp; {{exceptionmaster.category_id.name}}
                                </td>
                                <td>
                                    <ng-container *ngIf="(exceptionmaster.subcat_no != '' || exceptionmaster.subcat_no != null || exceptionmaster.subcat_no !=undefined) ">({{exceptionmaster.subcat_no}})</ng-container> &nbsp; {{exceptionmaster.subcategory_id.name}}
                                </td>
                                <td>
                                    <ng-container *ngIf="(exceptionmaster.vertical != '' || exceptionmaster.vertical != null || exceptionmaster.vertical != undefined) ">{{exceptionmaster.vertical}}</ng-container>
                                    <ng-container *ngIf="(exceptionmaster.vertical == '' || exceptionmaster.vertical == null || exceptionmaster.vertical == undefined)">--</ng-container>
                                </td> -->
                                <td>
                                    <div *ngIf="exceptionmaster.status==1">Active</div>
                                    <div *ngIf="exceptionmaster.status==0">In-Active</div>
                                </td>
                                <td class="text-center" style="white-space: nowrap;">
                                    <a style="color: green;cursor: pointer;" matTooltip="View" class="ng-binding" (click)='exception_edit_add("view",exceptionmaster.id)'>
                                        <mat-icon>visibility</mat-icon>
                                    </a>&nbsp;	&nbsp;	&nbsp;
                                    <a *ngIf="exceptionmaster.status==1">
                                    <button  data-toggle="modal" style="display: none;" #exception_popup data-target=".em-exception_master-modal-lg"></button>
                                    <button type="submit" style="border-radius: 40px;color: green;" matTooltip="Edit" class="btn" (click)="exception_edit_add('edit',exceptionmaster.id)"><mat-icon>edit</mat-icon></button> 
                                    </a>&nbsp;	&nbsp;	&nbsp;
                                    <!-- <a style="color: green;cursor: pointer;" matTooltip="Edit" class="ng-binding">
                                        <mat-icon>edit</mat-icon>
                                    </a>	&nbsp;	&nbsp;	&nbsp; -->
            
                                    <a (click)="exception_status_change(exceptionmaster.id,exceptionmaster.status)">
                                    
                                        <i *ngIf="exceptionmaster.status==1" style="font-size:24px;color: green;" matTooltip="Delete" class="fa">&#xf014;</i>&nbsp;&nbsp;
                                                            
                                        <i *ngIf="exceptionmaster.status==0" style="font-size:24px;color: black;" matTooltip="Delete" class="fa">&#xf014;</i>
                                    </a>
                                     
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf=" level_mapping_condition">
                            <tr *ngFor="let exceptionmaster of exceptionmaster_search;let ind=index">
                                <td>{{(presentpage-1)*10+ind+1}}</td>
                                <td>(Level-{{exceptionmaster.dcs_level}})-{{exceptionmaster.combo}}</td>   
                                <!-- <td>
                                    <div *ngIf="exceptionmaster.status==1">Activate</div>
                                    <div *ngIf="exceptionmaster.status==0">In-Activate</div>
                                </td> -->
                                <!-- <td class="text-center" style="white-space: nowrap;">
                                    <a style="color: green;cursor: pointer;" matTooltip="View" class="ng-binding" (click)='exception_edit_add("view",exceptionmaster.id)'>
                                        <mat-icon>visibility</mat-icon>
                                    </a>&nbsp;	&nbsp;	&nbsp;
                                    <a *ngIf="exceptionmaster.status==1">
                                    <button  data-toggle="modal" style="display: none;" #exception_popup data-target=".em-exception_master-modal-lg"></button>
                                    <button type="submit" style="border-radius: 40px;color: green;" matTooltip="Edit" class="btn" (click)="exception_edit_add('edit',exceptionmaster.id)"><mat-icon>edit</mat-icon></button> 
                                    </a>&nbsp;	&nbsp;	&nbsp; -->
                                    <!-- <a style="color: green;cursor: pointer;" matTooltip="Edit" class="ng-binding">
                                        <mat-icon>edit</mat-icon>
                                    </a>	&nbsp;	&nbsp;	&nbsp; -->
                                <td>
                                    <a (click)="level_status_change(exceptionmaster.dcs_level,exceptionmaster.status)">
                                    
                                        <i *ngIf="exceptionmaster.status==2" style="font-size:24px;color: green;" matTooltip="Delete" class="fa">&#xf014;</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                                        <i *ngIf="exceptionmaster.status==0" style="font-size:24px;color: black;" matTooltip="Delete" class="fa">&#xf014;</i>
                                    </a>
                                     
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-bottom: 5%;font-size: small;text-align:right;">
                    <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick()">
                        <mat-icon>arrow_back</mat-icon>
                    </button> {{presentpage}}
                    <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
        
                </div>                
            </div>            
        </div>
        <div>
            <div   class="modal fade em-exception_master-modal-lg" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
            aria-labelledby="myLargeModalLabels" aria-hidden="true">
                <div class="modal-dialog modal-lg"
                    style="border-radius: 0; padding-left: 20px;padding-bottom: -264px; padding-right: 19px;display: block;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" > DCS Master </h2>
                            <button type="button" class="close" (click)="closepopup()" #closepopup_expmaster data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                            <form [formGroup]="exception_master_edit">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- <mat-form-field (click)="type_exception=='view' ? '' : product_edit_dropdown()">
                                                <mat-label>Product</mat-label>
                                                <input placeholder="Product" matInput formControlName="edit_product" #product_edit_Input
                                                    [matAutocomplete]="product_edit_auto" [readonly]="type_exception=='view'">
                                                <mat-autocomplete #product_edit_auto="matAutocomplete" [displayWith]="product_edit_display"
                                                    (opened)="product_edit_scroll()" >
                                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let product of edit_productdetails" [value]="product">
                                                            {{product.name}} </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field> -->
                                            <mat-form-field>
                                                <mat-label>Product</mat-label>
                                                <input matInput type="text" placeholder="Product" autocomplete="off" formControlName="edit_product" [readonly]="type_exception=='view'">
                                            </mat-form-field>
                                        </div>
                                        <!-- <div class="col-md-6">
                                            <mat-form-field (click)="type_exception=='view' ? '' : category_edit_dropdown()">
                                                <mat-label>Category</mat-label>
                                                <input placeholder="Category" matInput formControlName="edit_category" #category_edit_Input
                                                    [matAutocomplete]="category_edit_auto" [readonly]="type_exception=='view'">
                                                <mat-autocomplete #category_edit_auto="matAutocomplete" [displayWith]="category_edit_display"
                                                    (opened)="category_edit_scroll()">
                                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let category of edit_categorydetails" [value]="category">
                                                            {{category.name}} </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div> -->
                                        <!-- <div class="col-md-6" [hidden]="exception_master_edit.value.edit_category=='' || exception_master_edit.value.edit_category == null || exception_master_edit.value.edit_category == undefined">
                                            <mat-form-field (click)="type_exception=='view' ? '' : subcategory_edit_dropdown()" >
                                                <mat-label>SubCategory</mat-label>
                                                <input placeholder="SubCategory" matInput formControlName="edit_subcategory" #subcategory_edit_Input
                                                    [matAutocomplete]="subcategory_edit_auto" [readonly]="type_exception=='view'">
                                                <mat-autocomplete #subcategory_edit_auto="matAutocomplete" [displayWith]="subcategory_edit_display"
                                                    (opened)="subcategory_edit_scroll()">
                                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let subcategory of edit_subcategorydetails" [value]="subcategory">
                                                            {{subcategory.name}} </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div> -->
                                        <div class="col-md-6">
                                            <mat-form-field (click)="type_exception=='view' ? '' : level_edit_dropdown()">
                                                <mat-label>Level</mat-label>
                                                <input placeholder="Level" matInput formControlName="edit_level" #level_edit_Input [matAutocomplete]="level_edit_auto" [readonly]="type_exception=='view'">
                                                <mat-autocomplete #level_edit_auto="matAutocomplete" [displayWith]="level_edit_display" (opened)="level_edit_scroll()" >
                                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let level of edit_leveldetails" [value]="level" [mattooltip]="level.combo_level"> {{level.combo_level}} </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field (click)="type_exception=='view' ? '' : bs_edit_Dropdown()" >
                                                <mat-label>BS</mat-label>
                                                <input #bs_edit_Input placeholder="BS" matInput formControlName="edit_bs" [matAutocomplete]="bs_edit_Auto" [readonly]="type_exception=='view'">
                                                <mat-autocomplete #bs_edit_Auto="matAutocomplete" [displayWith]="bs_edit_display" (opened)="bs_edit_scroll()" >
                                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let bs of edit_bsdetails" [value]="bs">
                                                            {{bs.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field (click)="type_exception=='view' ? '' : cc_edit_Dropdown()">
                                                <mat-label>CC</mat-label>
                                                <input #cc_edit_Input placeholder="CC" matInput formControlName="edit_cc" [matAutocomplete]="cc_edit_Auto" [readonly]="type_exception=='view'">
                                                <mat-autocomplete #cc_edit_Auto="matAutocomplete" [displayWith]="cc_edit_display" (opened)="cc_edit_scroll()" >
                                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let cc of edit_ccdetails" [value]="cc">
                                                            {{cc.name}}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field (click)="branchname()">
                                                <mat-label>Branch</mat-label>
                                                <input  placeholder="Branch" matInput formControlName="edit_branch"
                                                    #branchContactInput [matAutocomplete]="branch" >
                                                <mat-autocomplete #branch="matAutocomplete" [displayWith]="displayfnbranch"
                                                    (opened)="autocompletebranchnameScroll()">
                                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                    <ng-container *ngIf="!isLoading">
                                                        <mat-option *ngFor="let branch of branchList" [value]="branch">
                                                            {{branch.code}}-{{branch.name}} </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-label>Vertical</mat-label>
                                                <input matInput type="number" placeholder="Vertical" autocomplete="off" formControlName="edit_vertical" [readonly]="type_exception=='view'">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-label>GL NO</mat-label>
                                                <input matInput type="number" placeholder="GL NO" autocomplete="off" formControlName="edit_gl" [readonly]="type_exception=='view'">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        <div class="modal-footer">
                            <button type="submit" (click)="exception_master_list(exception_master_edit.value)" [hidden]="type_exception == 'view'" class="btn btn-outline-primary">Submit</button>
						<button type="button" (click)="closepopup()" class="btn btn-outline-dark" data-dismiss="modal">
							Close
						</button>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
       
       
    </div>
    
</div>
<div>
    <div   class="modal fade bd-employeebusinesspopup-modal-lg" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-labelledby="myLargeModalLabels" aria-hidden="true">
        <div class="modal-dialog modal-lg"
            style="border-radius: 0; padding-left: 20px;padding-bottom: -264px; padding-right: 19px;display: block;">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" > Level Mapping </h2>
                    <button type="button" class="close" (click)="closepopups()" #closepopup_level_mapp data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                    <form [formGroup]="Level_mapping">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">                                  
                                    <mat-form-field (click)="name_Dropdown()">
                                        <mat-label>Name</mat-label>
                                        <input #name_Input placeholder="" matInput formControlName="name" [matAutocomplete]="name_Auto">
                                        <mat-autocomplete #name_Auto="matAutocomplete" [displayWith]="name_display" >
                                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                            <ng-container *ngIf="!isLoading">
                                                <mat-option *ngFor="let names of name_list" [value]="names">
                                                    {{names.value}}
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>  
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Level</mat-label>
                                        <input matInput type="number" placeholder="" autocomplete="off" formControlName="level">
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </form>
                <div class="modal-footer">
                    <button type="submit" (click)="level_mapping_list()"  class="btn btn-outline-primary">Submit</button>
                <button type="button" (click)="closepopups()" class="btn btn-outline-dark" data-dismiss="modal">
                    Close
                </button>
                </div>
            </div>
         </div>
    </div>
</div>   