.center th,
.center td {
    text-align: center;
}

.center th {
    font-weight: bold;
}

.edit-btn {
    color: grey;
    cursor: pointer;
}

.toolbar-icon-disabled {
    pointer-events: none;
}
.linkDisabled {
    cursor: not-allowed;
}
