.btn{
    margin-left: 2%;
}

::ng-deep .mat-container {
    mat-dialog-container {
      padding: 0px;
      display: block;
      overflow: hidden;
    }
  }
  mat-form-field{
    width: 80%;
  }

  .dropdown {
    z-index: 9999999999999999999;
  }

  mat-select {
    z-index: 10; 
  }
  
  .mat-select-panel {
    z-index: 11; 
  }

  mat-option
  {
    z-index: 45676543;
  }
  