<header mat-dialog-title class="table_header">
    <label style="margin-left:3%;margin-top: 2%;margin-bottom: 2%;">Barcode Request</label>
</header>
<mat-dialog-content>
    <form [formGroup]="barcoderequestform">
        <mat-grid-list [cols]="breakpoint" rowHeight="70px" (window:resize)="onResize($event)">

            <mat-grid-tile>
                <mat-form-field appearance="outline" style="margin-top: 2%;">
                    <mat-label>Barcode Type</mat-label>
                    <mat-select matInput formControlName="barcode_type" required class="dropdown">
                        <mat-option *ngFor="let val of barcodetype" [value]="val.value">
                            {{val.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" style="margin-top: 2%;">
                    <mat-label>Barcode Category</mat-label>
                    <mat-select matInput formControlName="sticker_series" required class="dropdown">
                        <mat-option *ngFor="let val of barcodecategory" [value]="val.value">
                            {{val.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" style="margin-top: 2%;">
                    <mat-label>Preferred Vendor</mat-label>
                    <mat-select matInput formControlName="vendor" required class="dropdown">
                        <mat-option *ngFor="let val of vendorlist" [value]="val.vendor_master_id">
                            {{val.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" style="margin-top: 6%;">
                    <mat-label>Count</mat-label>
                    <input matInput formControlName="request_count" required type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" style="margin-top: 6%;">
                    <mat-label>Comments</mat-label>
                    <input matInput formControlName="comment">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline" style="margin-top: 6%;">
                    <mat-label>Branch/Dept</mat-label>
                    <input matInput [value]="dept" required readonly>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field *ngIf="barcoderequestform.value.sticker_series == '2'" appearance="outline" style="margin-top: 6%;">
                    <mat-label>Contact No</mat-label>
                    <input matInput formControlName = 'contact_no' type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" style="text-align:left"  *ngIf="barcoderequestform.value.sticker_series == '2'">
                <mat-form-field style="margin-left:-10%" appearance="outline" style="margin-top: 6%;">
                    <mat-label>Address</mat-label>
                    <textarea style="max-height:100px;" cols="7" rows="3" matInput formControlName="contact_address"
                        [readonly]="!barcoderequestform.value.addressvalue"
                        [value]="barcoderequestform.value.contact_address  | titlecase" required></textarea>
                    <mat-checkbox style="margin-left:10px" formControlName="addressvalue" (change)="changeaddress()"
                        matSuffix [color]="'primary'">Change
                    </mat-checkbox>
                </mat-form-field>
            </mat-grid-tile>
           


        </mat-grid-list>

        <!-- <mat-grid-list  rowHeight="150px" style="margin-top:-10px"
           >
            <mat-grid-tile [colspan]="2" style="text-align:left"  *ngIf="barcoderequestform.value.sticker_series == '2'">
                <mat-form-field style="margin-left:-10%" appearance="outline" style="margin-top: 6%;">
                    <mat-label>Address</mat-label>
                    <textarea style="max-height:100px;" cols="7" rows="3" matInput formControlName="contact_address"
                        [readonly]="!barcoderequestform.value.addressvalue"
                        [value]="barcoderequestform.value.contact_address  | titlecase" required></textarea>
                    <mat-checkbox style="margin-left:10px" formControlName="addressvalue" (change)="changeaddress()"
                        matSuffix [color]="'primary'">Change
                    </mat-checkbox>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                
            </mat-grid-tile>
        </mat-grid-list> -->


    </form>
    <section style="text-align:center;margin-bottom:2%;margin-top: 2%;">
        <button class="btn btn-outline-success" (click)="submitform()" id="rmubtn">Submit</button>
        <button (click)="onNoClick()" #closebtn class="btn btn-outline-dark" id="rmubtn">Close</button>
    </section>

</mat-dialog-content>