.table-responsive {
    display: block;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}


tbody td {
    padding: 0.5em 0.1em 0.1em;
}
th, td{
    text-align:center;
  
}




thead,th{
    font-weight: bold;
}
