<div style="margin-left: 50px;margin-right: 80%;margin-top: 3%; width: 100%;">

    <h2  style="font-size:20px;font-family:Times New Roman;font-weight:bold;color:blue;">
        APCategory Edit 
    </h2>
        <div>
        <form [formGroup]="apCategoryEditForm" (ngSubmit)="apcategory_EditForm()" autocomplete="off">
            <table>
                <div>
                    <tr>
                        <td>
                            <mat-form-field style="width: 250px;">
                                <mat-label>AP Category Name</mat-label>
                                <input  placeholder="AP Category Name" matInput formControlName="name" required  maxlength="128" requried (keypress)="omit_special_char($event)">
                        
                            </mat-form-field>
                        </td>

                        <td>
                            <mat-form-field style="width: 250px;margin-left: 50px;">
                                <mat-label>AP Category No</mat-label>
                                <input matInput placeholder="AP Category No" formControlName="no" autocomplete="off"  minlength="2" maxlength="3" size="45"
                                pattern="[0-9]{2,3}" required  (keypress)="dataevent($event)">
                                <mat-error> Length b/w 2 to 3 Characters</mat-error>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width: 250px;margin-left: 50px;">
                                <mat-label>Ap Category Code</mat-label>
                                <input type="text" matInput formControlName="code" maxlength="32" required readonly autocomplete="off" (keypress)="omit_special_char($event)">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <mat-form-field style="width: 250px">
                                <mat-label>Expense</mat-label>
                                <input #expInput placeholder="Select Expense" matInput formControlName="expense_id" required
                                    [matAutocomplete]="exp">
                               
                                <mat-autocomplete #exp="matAutocomplete" [displayWith]="displayFnexp" (opened)="autocompleteexpScroll()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let expense of expenseList" [value]="expense">{{expense.head}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                      
                        <!-- <td>
                            <mat-form-field style="width: 250px;margin-left: 0px;margin-top: 15px;">
                                <mat-label>GLNumber</mat-label>
                                <input matInput placeholder="GLNo" formControlName="glno" autocomplete="off" required>
                            </mat-form-field>
                        </td> -->
                        <td>
                            <mat-form-field style="width: 250px;margin-left: 50px;">
                                <mat-label>Is Asset</mat-label>
                                <mat-select formControlName="isasset" required >
                                    <mat-option *ngFor="let isasset of assetlist" [value]="isasset.name">
                                        {{isasset.show}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <!-- <td>
                            <mat-form-field style="width: 250px; margin-left:50px;">
                                <mat-label>Choose is OD/IT</mat-label>
                                <mat-select formControlName="isodit">
                                    <mat-option *ngFor="let isodit of oditList" [value]="isodit.id">{{isodit.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td> -->

                    </tr>
                </div>
            </table>
            <button type="submit" style="border-radius: 40px;margin-left: 35%;" class="btn btn-outline-success">Submit</button>
            <button type="button" (click)="onCancelClick()"class="btn btn-outline-danger"
            style="border-radius: 40px;margin-left:10px;">Cancel</button>
        </form>
    </div>
</div>



