<!-- <div class="modal-body"> -->
  <!-- <h3>Activity Product Category Form</h3> -->
  <!-- <form
    [formGroup]="ActivityDetailAddForm"
    autocomplete="off"
    class="d-flex flex-column" -->
    >
    <!-- (ngSubmit)="submitForm()" -->
    <!-- <div class="common-grid"> -->
      <!-- <mat-form-field style="width: 250px;">
                            <mat-label>Activity Name</mat-label>
                            <input matInput formControlName="name" [readonly] = "true" autocomplete="off" required>
                        </mat-form-field> -->
      <!-- //7108 -->
      <!-- <mat-form-field appearance="outline">
        <mat-label>Department</mat-label>
        <input
          matInput
          formControlName="dept_name"
          [readonly]="true"
          autocomplete="off"
          required
        />
      </mat-form-field> -->
      <!-- //7108 -->

      <!-- <mat-form-field style="width: 550px;margin-left:54px;">
                            <mat-label>Department</mat-label>
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let d of chipSelectedEmployee" [selectable]=true
                                    [removable]=true (removed)="removeEmployee(d)">
                                    {{d.name}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input #employeeInput formControlName="dept_id" [matAutocomplete]="auto"
                                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]=true>
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="employeeSelected($event)">
                                <mat-option *ngFor="let thisEmployee of depdata" [value]="thisEmployee">
                                    {{thisEmployee.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field> -->

      <!-- <mat-form-field  (click)="depget()" style="width: 250px;margin-left: 60px;">
                            <mat-label>Department</mat-label>
                            <input #employeeRaisorInput  required placeholder="Select Department" matInput formControlName="dept_id"
                                [matAutocomplete]="dep">
                            <mat-autocomplete #dep="matAutocomplete" [displayWith]="displayFnDEp" >
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let temp of depdata" [value]="temp">{{temp.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field> -->

      <!-- <mat-form-field appearance="outline">
        <mat-label> Activity Details Name</mat-label>
        <input
          matInput
          type="text"
          (keypress)="namevalidation($event)"
          formControlName="detailname"
          autocomplete="off"
          required
        />
      </mat-form-field> -->
<!-- 
      <lib-vs-dynamicform-cmp
        class="package-width"
        [InputFields]="raiserfield"
        (dataEvent)="raiserdata($event)"
      ></lib-vs-dynamicform-cmp> -->

      <!-- <mat-form-field (click)="raisoremployee()" appearance="outline">
                            <mat-label>Raiser</mat-label> -->
      <!-- <input #employeeRaisorInput placeholder="Select Raisor" matInput formControlName="raisor"
                                [matAutocomplete]="raisoremp"  -->
      <!-- BUG ID:7277 -->
      <!-- <input #employeeRaisorInput  matInput formControlName="raisor"
                                [matAutocomplete]="raisoremp" required>
                            <mat-autocomplete #raisoremp="matAutocomplete" [displayWith]="displayFnRaisor" (opened)="autocompleteRaisorScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let temp of rasisorEmployeeList" [value]="temp">{{temp.full_name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field> -->
<!-- 
      <lib-vs-dynamicform-cmp
        class="package-width"
        [InputFields]="approverfield"
        (dataEvent)="approverdata($event)"
      ></lib-vs-dynamicform-cmp> -->
      <!-- <mat-form-field  (click)="approveremployee()" appearance="outline">
                            <mat-label>Approver</mat-label> -->
      <!-- <input #employeeApproverInput placeholder="Select Approver" matInput formControlName="approver"
                                [matAutocomplete]="approveremp"> -->
      <!-- bug id:7277 -->
      <!-- <input #employeeApproverInput matInput formControlName="approver"
                                [matAutocomplete]="approveremp" required>
                            <mat-autocomplete #approveremp="matAutocomplete" [displayWith]="displayFnApprover" (opened)="autocompleteApproverScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let temp of employeeList" [value]="temp">{{temp.full_name}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field> -->
<!-- 
      <mat-form-field appearance="outline">
        <mat-label>Remarks</mat-label>
        <input
          matInput
          formControlName="remarks"
          type="text"
          (keypress)="addressvalidation($event)"
          autocomplete="off"
        />
      </mat-form-field>
    </div>
  </form>
</div> -->
<!-- 
<div class="modal-footer">
  <button
    type="button"
    (click)="onCancelClick()"
    class="btn btn-outline-primary"
  >
    Cancel
  </button>
  <button type="submit" (click)="submitForm()" class="btn btn-outline-primary">
    Submit
  </button>
</div>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  [fullScreen]="true"
  type="ball-spin-clockwise"
>
  <p>Please Wait.</p>
</ngx-spinner> -->
