*,
h1,
h2,
h3,
h4 {
    font-family: "Poppins", sans-serif;
  }
  i {
    font-family: FontAwesome;
  }
  mat-icon {
    font-family: "Material Icons";
  }
.marleft{
    margin: 30px;
    // text-transform: uppercase;
}

#downloadexcel{
    background-color: white;
    color: green;
  }

  .filter-aling {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
 

  
  .filter-aling-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
  }
  .backsum{
    border-radius: 40px;
     margin-left: 90%; 
     margin-top: 5px
  }

  .heading{
    display: flex;
    margin-top: -30px;
  }