<div>

    <h2 style="font-family: 'Times New Roman', Times, serif;color: blue;font-size: 23px;">Electricity Details Payment
        Summary</h2>
</div>
<hr>
<div>
    <div>
        <form [formGroup]="detailPaymentSearch">
            <!-- <table style="margin-bottom: 2%;">
                
                    <tr>
                        <td> -->
            <div class="col-md-12 row">
                <div class="col-md-3">
                    <mat-form-field style="width: 200px;">
                        <mat-label>Consumer No</mat-label>
                        <input matInput formControlName="consumerno" autocomplete="off">
                    </mat-form-field>
                </div>
                <!-- </td>
                        <td> -->
                <div class="col-md-3">

                    <mat-form-field style="width: 200px;" (click)="branchname()">
                        <mat-label>Choose Branch</mat-label>
                        <input placeholder="branch" matInput formControlName="branch" #branchContactInput
                            [matAutocomplete]="branchtype">
                        <mat-autocomplete [panelWidth]="300" #branchtype="matAutocomplete" [displayWith]="displaydiss2"
                            (opened)="autocompletebranchnameScroll()">
                            <!-- <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading"> -->
                                <mat-option *ngFor="let branch of branchlist" [value]="branch">
                                    ({{branch.code}}){{branch.name+ " " }}
                                </mat-option> 
                            <!-- </ng-container> -->
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <!-- </td> -->
                <!-- <td>
                            <mat-form-field style="width: 200px;margin-left: 50px;">
                                <mat-label>Transaction From date</mat-label>
                                <input matInput formControlName="fromdate" [matDatepicker]="pick" autocomplete="off">
                                <mat-datepicker-toggle [for]="pick" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #pick></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field style="width: 200px;margin-left: 50px;">
                                <mat-label>Transaction To date</mat-label>
                                <input matInput formControlName="todate" [matDatepicker]="picks" autocomplete="off">
                                <mat-datepicker-toggle [for]="picks" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #picks></mat-datepicker>
                            </mat-form-field>
                        </td> -->

                <!-- <td> -->


                <!-- <div class="col-md-3">

                    <mat-form-field style="width: 200px;">
                        <mat-label>Bill Transaction Date</mat-label>
                        <input matInput readonly formControlName="billtransactiondate" [matDatepicker]="pick"
                            autocomplete="off">
                        <mat-datepicker-toggle [for]="pick" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #pick></mat-datepicker>
                    </mat-form-field>
                </div> -->

                <div class="col-md-3">

                    <mat-form-field style="width: 200px;">
                        <mat-label>Transaction From</mat-label>
                        <input matInput readonly formControlName="bill_txnfromdate" (dateChange)="fromdateSelection($event.value)" [matDatepicker]="pickfrom" autocomplete="off">
                        <mat-datepicker-toggle [for]="pickfrom" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #pickfrom></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-md-3">

                    <mat-form-field style="width: 200px;">
                        <mat-label>Transaction To</mat-label>
                        <input matInput readonly formControlName="bill_txntodate" [min]="select" [matDatepicker]="pickto" autocomplete="off">
                        <mat-datepicker-toggle [for]="pickto" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #pickto></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-md-3">

                    <mat-form-field style="width: 250px;" (click)="getoccupancydropdowndata('')">
                        <mat-label>Occupancy</mat-label>
                        <input placeholder="Occupancy" matInput (keyup)="getoccupancydropdowndata($event.target.value)" formControlName="occupancy" #occupancyinput
                            [matAutocomplete]="occupancyautocomplete">
                        <mat-autocomplete [panelWidth]="400" #occupancyautocomplete="matAutocomplete" [displayWith]="displayocc">
                         
                                <mat-option *ngFor="let occ of occupancydata" [value]="occ">
                                    ({{occ?.occupancy_code}}) - {{occ?.occupancy_name}}
                                </mat-option>
                            
                        </mat-autocomplete>
                    </mat-form-field> 
                </div>
                <!-- <div class="col-md-3">

                    <mat-form-field style="width: 200px;">
                        <mat-label>Ownership</mat-label>
                        <input formControlName="ownership" matInput autocomplete="off">

                    </mat-form-field>
                </div> -->

                <!-- <div class="col-md-3">

                    <mat-form-field style="width: 200px;">
                        <mat-label>Invoice Status</mat-label>
                        <input matInput autocomplete="off">

                    </mat-form-field>
                </div> -->
                <!-- </td> -->

                <!-- <td> -->
                    

                <div class="col-md-3">

                    <mat-form-field style="width: 200px;">
                        <mat-label>Bill Payment Status</mat-label>
                        <!-- <input matInput placeholder="Billpaymentstatus" formControlName="billpaymentstatus"
                                    autocomplete="off"> -->
                        <mat-select formControlName="billpaymentstatus">
                            <mat-option *ngFor="let status of billstatusdata" [value]="status.id">{{status.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-3" >
                    <mat-form-field class="input-style">
                        <mat-label>Occupancy Type</mat-label>
                        <mat-select formControlName="invoice">
                            <mat-option *ngFor="let usage of usageList" [value]="usage.id">
                                {{usage.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field class="input-style2">
                        <mat-label>Ownership</mat-label>
                        <mat-select formControlName="ownership_type">
                            <mat-option *ngFor="let premise of premisesTypeData" [value]="premise.id">
                                {{premise.text}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                
                
                <!-- </td> -->
                <!-- <td style="display: flex;" > -->
                <div class="col-md-3">

                    <button class="btn btn-outline-primary" type="submit" (click)="searchsummary()"
                        style="border-radius:40px;margin-left: 15px;" color="primary"><i class="fa fa-search"
                            aria-hidden="true"></i></button>
                    <button class="btn btn-outline-danger" (click)="resetdata()" type="button"
                        style="border-radius:40px;margin-left: 15px;" color="primary">Reset</button>
                </div>
                <!-- </td> -->
                <!-- </tr>
                    <tr> -->
                <!-- <td>
                            <mat-form-field style="width: 200px;">
                                <mat-label>Occupancy</mat-label>
                                <input matInput placeholder="Occupancy" formControlName="occupancy" autocomplete="off">
                            </mat-form-field>
                        </td> -->

                
                <!-- <td>
                            <mat-form-field style="width: 200px;margin-left: 50px;">
                                <mat-label>Ownership</mat-label>
                                
                                <mat-select formControlName="ownership">
                                    <mat-option value="Leased">Leased</mat-option>
                                    <mat-option value="Own">Own</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td> -->
                <!-- <td>
                            <mat-form-field style="width: 200px;margin-left: 50px;">
                                <mat-label>Payment Status</mat-label>
                               
                                <mat-select formControlName="paystatus">
                                    <mat-option value="New">New</mat-option>
                                    <mat-option value="Payment">Payment</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td> -->
                <!-- <td>
                            <mat-form-field style="width: 200px;margin-left: 50px;">
                                <mat-label>Invoice Status</mat-label>
                                <input matInput formControlName="invstatus" autocomplete="off">
                            </mat-form-field>
                        </td> -->
                <!--                        
                    </tr>



            </table> -->
            </div>
        </form>
    </div>



    <!-- <div class="table-responsive" > -->

    <!-- <table style="width: 80%;font-size: 14px;" class="table table-bordered"  >
            <thead class="table_header">
                <tr> -->
    <div class="table-responsive" style="margin-top: 2%;margin-bottom:2%;">
        <table class="table table-bordered" style="width: 150%;">
            <thead>
                <tr class="table_header">
                    <th>S.No</th>
                    <th  >Consumer No</th>
                    <th>Consumer Name</th>
                    <th>Premise Name</th>
                    <th>Branch Name</th>
                    <th>Occupancy</th>
                    <th>Ownership </th>

                    <th>Occupancy Type </th>
                    <th>State</th>
                    <th>Board Name</th>
                    <th>Transaction Date</th>
                    <th>Bill Amount</th>
                    <th>Status</th>
                    <!-- <th>Reference No</th> -->
                    <th>CR No</th>

                    <th>Payment Status</th>
                    <!-- <th>Invioce Status</th>
                    <th>Action</th> -->
                    <th class="lastfixedheader" >Payment</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of paymentsummaryList; index as i">
                    <td> {{(paymentpresentpage - 1)*pagesizepayment +i+1 }} </td>
                    <!-- <td (click)="clickPaymentConsumerNo(d)" style="color: mediumblue;cursor: pointer;">{{01234556}}</td> -->
                    <td (click)="clickPaymentConsumerNo(d)" style="color: mediumblue;cursor: pointer;">{{d.consumer_no}}
                    </td>
                    <td>{{d.consumer_name}}</td>
                    <td>({{d?.premise?.code}})-{{d?.premise?.name}}</td>

                    <td>({{d.branch?.code}})-{{d.branch?.name}}</td>
                    <td>({{d?.occupancy?.code}})-{{d?.occupancy?.occupancy_name}}</td>
                    <td>{{d?.invoice_type?.text}}</td>

                    <td>{{d?.occupancy_type?.occupancy_name}}</td>
                    <td>{{d.consumer_state?.name}}</td>
                    <td>{{d.consumer_board?.name}}</td>
                    <td>{{d['bill'].transaction_date | date:'yyyy-MMM-dd'}}</td>
                    <td>{{d['bill']?.bill_amount}}</td>
                    <td>{{d['bill']?.bill_status}}</td>
                    <!-- <td>{{d['bill']?.refno}}</td> -->
                    <td>{{d.invoiceheader_cron}}</td>

                    <td>{{d['bill']?.bill_payment_status?.status}}</td>
                    <!-- <td>
                        <span matTooltip="view" class=" fa fa-eye create " style="color: green;cursor: pointer;"
                            (click)="summaryView(d)"></span>

                    </td>
                    <td>
                        <mat-icon></mat-icon>
                    </td> -->
                    <td class="lastfixedtd" >
                        <!-- <button type="button" *ngIf="d?.bill?.bill_payment_status?.status == 'Paid' "
                            class="btn btn-success btn-sm ">Paid</button> -->

                        <button type="button" *ngIf="d?.bill?.bill_payment_status?.status != 'Paid' && d?.bill?.bill_payment_status?.id !=  '6' && d?.bill?.bill_payment_status?.status !=  'Processing'
                        && d?.bill?.bill_payment_status?.status !=  'REJECTED'"
                            (click)="paymentopen(d)" data-toggle="modal" data-target="#paymentmodal"
                            class="btn btn-primary btn-sm ">Start Payment</button>

                        <!-- <button type="button" style="padding:15px" *ngIf="d?.bill?.bill_payment_status?.id == '4' "
                       
                        class="btn btn-warning btn-sm ">Processing</button> -->

                    </td>
                </tr>
                <tr *ngIf="paymentsummaryList.length==0">
                    <td colspan="17">No Records Found..</td>
                </tr>
                <tr>
                    <td colspan="12"></td>
                    <td class="lastfixedtd" colspan="2" >Count: <code>{{count}}</code></td>
                    <td class="lastfixedtd" colspan="2">
                        
                        <div >
                            <button mat-icon-button [disabled]="!has_paymentprevious" color="primary"
                                (click)="previousClickPayment()">
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                            {{paymentpresentpage}}
                            <button mat-icon-button [disabled]="!has_paymentnext" color="primary"
                                (click)="nextClickPayment()">
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </div>
                    </td>
                    <!-- <td colspan="2">
                        Total Count:
                    </td> -->
                </tr>
            </tbody>
        </table>

    </div>
</div>
<ng-template #opendialog>
    <div class="container">
        <h1 style="font-size: 15px;font-family: 'Times New Roman', Times, serif;color: blue;">Approve and Pay For
            Consumer Number {{conumernumber}}</h1>
        <hr>
        <div class="col-md-5">
            <tr>
                <td style="width: 250px;">
                    Consumer Number:
                </td>
                <td>{{detailsdata['consumer_no']}}</td>
            </tr>
            <br>
            <tr>
                <td style="width: 250px;">
                    Consumer Name:
                </td>
                <td>{{detailsdata['consumer_name']}}</td>
            </tr>
            <br>
            <tr>
                <td style="width: 250px;">
                    Last Paid Amount:
                </td>
                <td>{{detailsdata['bill'].bill_amount}}</td>
            </tr>
            <br>
            <tr>
                <td style="width: 250px;">
                    Current Amount to Pay:
                </td>
                <td>{{detailsdata['bill'].bill_amount}}</td>
            </tr>
            <br>
            <tr>
                <td style="width: 250px;">
                    Current Status From Apiy:
                </td>
                <td>{{detailsdata['bill'].bill_amount}}</td>
            </tr>
            <!-- <input type="file" (change)="uploaddata($event)" style="width: 200px;margin-left: 50px;"> -->
        </div>
        <div class="container">
            <form>
                <mat-form-field>
                    <mat-label>Reject Remarks</mat-label>
                    <input type="text">
                </mat-form-field>
                <button type="button" mat-raised-button>Reject</button>
                <button type="button" mat-raised-button color="primary">Approve & Pay</button>
                <button type="button" mat-raised-button>Close</button>
            </form>
        </div>
    </div>
</ng-template>

<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" id="paymentmodal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background:#DDEFDD;">
                <h2 class="modal-title" style="color:black ;">Payment Details</h2>
                <button type="button" #closebutton class="close" (click)="resetpayment()" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div>
                    <p>Consumer Number: {{approverdata?.consumer_no}}</p>
                    <p>Consumer Name: {{approverdata?.consumer_name}}</p>
                    <!-- <p>Last Paid Amount: {{approverdata?.consumer_name}}</p> -->
                    <p>Current Amount to Pay: {{approverdata?.bill?.bill_amount}}</p>
                    <p>Current Status from API: {{popupbillstatus}}</p>


                </div>
                <br>
                <div class="centerdiv">

                    <!-- <tr>
                        <td> -->
                <form [formGroup]="detailPaymentapprove">
                    <mat-form-field class="gapbtn" style="width: 200px;">
                        <mat-label>Reject Remarks</mat-label>
                        <input matInput  placeholder="Reject Remarks" formControlName="remarks" autocomplete="off">
                    </mat-form-field>
                </form>
                <!-- [(ngModel)]="remarksbill" -->
                    <!-- </td>
                        <td> -->
                    <button class="btn btn-outline-danger gapbtn" *ngIf="approverdata?.bill?.bill_payment_status?.id ==  '1'" (click)="rejectpayment()"
                        [disabled]="popupbillstatus != 'K'||detailPaymentapprove.value.remarks == '' ">Reject</button>
                    <!-- </td>
                        <td> -->
                    <button class="btn btn-outline-success gapbtn " *ngIf="approverdata?.bill?.bill_payment_status?.id !=  '3'" [disabled]="popupbillstatus != 'K'"
                        (click)="billpayment()">Approve & Pay</button>

                        <button class="btn btn-outline-success gapbtn" *ngIf="approverdata?.bill?.bill_payment_status?.id ==  '3'" [disabled]="popupbillstatus != 'K'"
                        (click)="ebfilledpaymenttopay()">Pay</button>

                        
                    <!-- </td>
                        <td> -->
                    <button class="btn btn-outline-info gapbtn " data-dismiss="modal" (click)="resetpayment()" >Close</button>
                    <!-- </td>
                    </tr> -->

                </div>


                <!-- <button type="button" style="border-radius: 40px;margin-left: 40%;" data-dismiss="modal"
                    class="btn btn-outline-primary" >Pay</button> -->

            </div>


        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" id="approvepaymentmodal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background:#DDEFDD;">
                <h2 class="modal-title" style="color:black ;">Payment Details</h2>
                <button type="button" #closebutton class="close" (click)="resetpayment()" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div>
                    <p>Consumer Number: {{approverdata?.consumer_no}}</p>
                    <p>Consumer Name: {{approverdata?.consumer_name}}</p>
                    <!-- <p>Last Paid Amount: {{approverdata?.consumer_name}}</p> -->
                    <p>Current Amount to Pay: {{approverdata?.bill?.bill_amount}}</p>
                    <p>Current Status from API: {{approverdata?.bill?.bill_status}}</p>


                </div>
                <br>
                <div class="centerdiv">

                    <!-- <tr>
                        <td> -->
                    <mat-form-field class="gapbtn" style="width: 200px;">
                        <mat-label> Remarks</mat-label>
                        <input matInput placeholder="Remarks" autocomplete="off">
                    </mat-form-field>
                    <!-- </td>
                        <td> -->
                    <button class=" btn btn-outline-danger gapbtn"  (click)="rejectpayment()"
                        [disabled]="approverdata?.bill?.bill_status != 'K'">Reject</button>
                    <!-- </td>
                        <td> -->
                    <button class=" btn btn-outline-success gapbtn"  [disabled]="approverdata?.bill?.bill_status != 'K'"
                        (click)="billpayment()">Approve & Pay</button>
                    <!-- </td>
                        <td> -->
                    <button class=" btn btn-outline-info gapbtn"  data-dismiss="modal">Close</button>
                    <!-- </td>
                    </tr> -->

                </div>


                <!-- <button type="button" style="border-radius: 40px;margin-left: 40%;" data-dismiss="modal"
                    class="btn btn-outline-primary" >Pay</button> -->

            </div>


        </div>
    </div>
</div>