.btn-outline-primary {
    border-radius: 40px;
}
.center th,.center td
{
    text-align:center;
}
.thread th
{
    text-align:center;
}
.float-child {
    float: right;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow: auto;

}

th, td{
    text-align:center;
  
}
thead,th{
    font-weight: bold;
}
.enabled_icon{
    color:green;
}

.table-bordered td,.table-bordered tr {
    border: 2px solid #bac2cd;
}
.table-bordered th{
    border: 2px solid #bac2cd;
}


.hovercard{ 
    position: absolute; 
    opacity: 0;
    z-index: 1;
    left: 100px;
    transform: translateX(-50%);
    background-color: #2596be;
}

.my-buutons:hover  .hovercard{ 
    opacity: 1; 
    transition: 0.5s;
    transition-delay: 0.1s;
}

.my-buutons{
    position: relative;
 }

 mat-label{
    font-size: 17px;
  }
  
  

  .my-custom-class .tooltip-inner {
    background-color: #28a745;
    font-size: 125%;
  }
  .my-custom-class .arrow::before {
    border-top-color: #28a745;
  }


  .centerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gapbtn{
    margin: 0px 20px;
  }
  
  .lastfixedheader{
    position: sticky;
    right: 0;
    background-color: #DDEFDD;
}

.lastfixedtd{
    position: sticky;
    right: 0;
    background-color: white;
}

