



.mat-expansion-panel {
  margin: 1% 0 1%
}

.datewidth {
  width: 85%;
}




.table_scroll {
  height: 73vh;
  overflow: auto;
}


.table_wrapper table thead th .text {
  position: absolute;
  z-index: 2;
}

.tableFixHead {
  overflow: auto;
  max-height: 63vh;
}

.tableHeadFixed{
  position: sticky;
  top: 0;
  z-index: 85;
}
.font-weight-bold{
  color: black;
}
@media only screen and (min-width: 1440px) {
  .table_scroll {
    height: 77vh;
    overflow: auto;
  }
}

// .my-table , .my-table th ,.my-table td {
//   border: 2px solid #bac2cd;
// }

.table {
  text-align: left;
}

.matformfieldstyle {
  font-size: 7px;
  margin-top: 5px
}

.matformfieldinputstyle {
  font-size: 16px;
}


::ng-deep .mat-form-field-outline {
  color: grey !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: red !important;
  opacity: 0.8 !important;
}

.maticonsize {
  font-size: 15px;
}

.fontbold{
  font-weight: bold;
}

.padding{
  padding-left: 5%;
}
.card-pading{
  padding-right: 5%;
  padding-left: 5px;
}


// new
.rotate {
  // position: relative;
  animation: rotation 1s infinite linear;
  // transform: rotate(90deg);
  // transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.autoicon:hover:after {
  position: relative;
  transform: rotate(90deg);
  // box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}
.autoicon {
  position: relative;
  transition-property: transform 0.3s;
  transition-duration: 1s;
  animation: rotation 1s infinite linear;
  transition: transform 0.3s;
}

.autoicon:after {
  transform: scale(1);
  position: absolute;
  transition: all 0.3s ease;
}

.exp-header {
  font-size: 20px;
  
  width: 93%;
}

.total {
  float: right;
  width: 12%;
}

.valign {
  margin-top: 8%;
}

td>span {
  color: black;

}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center{
  text-align: center;
}

.icnwithname{
  vertical-align: middle;
}


.difference--negative{
  color: red;

}

.difference{
  margin-left: 80%;
}


.difference__amount.difference--negative {
  color: red;
}

.difference__amount.difference__positive {
  color: green;
}

.difference__amount{
  color: black;
}

.labelpatch{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: -4px;

  .card{
    padding: 10px;
    width: 400px;
  }

  .fontbold{
    font-size: 20px;
  }
}
