
<main role="main" id="rmuforms">
    <h2>View Archival</h2>
    <br>
    <div class="row">
        <div class="col-md-2">
            <button  class="button" (click) = toggleDisplay()> Single Record</button>
        </div>
        <div class="col-md-2">
            <button class="button" (click) = toggleDisplays()>File Level</button>
        </div>
        <div class="col-md-2">
            <button class="button" (click) = toggleDisplayss()>Box Level</button>
        </div>
        <div class="col-md-2">
            <button class="button" (click) = toggleDisplyas()>Track Archival Request</button>
        </div>
        
    </div>
    <br><br>
    <div *ngIf="isShow">
        <h2>Single Record</h2>
        <div  class="table-responsive">
            
            <table class="table table-bordered" >
                <thead class="table_header">
                    <th>S.No</th>
                    <th>Date</th>
                    <!-- <th>Department</th>
                    <th>Product</th> -->
                    <th>No Of Boxes </th>
                    <th>Address</th>
                    <th>Contact Person</th>
                    <!-- <th>View</th>
                    <th>Action</th> -->
                </thead>
                <tbody  *ngFor="let onedata of singlefilelist;index as ind">
                    <td>ind+1</td>
                    <td>{{onedata.archival_date |  date:'dd-MM-yyyy'}} </td>
                    <td>{{onedata.num_of_boxes}}</td>
                    <td>{{onedata.contact_address}}</td>
                    <td>{{onedata.contact_person}}</td>
                    <!-- <td></td> -->
                    <!-- <td></td>
                    <td>
                        
                    </td> -->
                    <!-- <td></td> -->
                    
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="isFile">
        <h2>File Records</h2>
        <div  class="table-responsive">
            
            <table class="table table-bordered" >
                <thead class="table_header">
                    <th>S.No</th>
                    <th>Date</th>
                    <!-- <th>Department</th>
                    <th>Product</th> -->
                    <th>No Of Boxes </th>
                    <th>Address</th>
                    <th>Contact Person</th>
                    <!-- <th>View</th>
                    <th>Action</th> -->
                </thead>
                <tbody  *ngFor="let onedata of singlefilelist;index as ind">
                    <td>ind+1</td>
                    <td>{{onedata.archival_date |  date:'dd-MM-yyyy'}} </td>
                    <td>{{onedata.num_of_boxes}}</td>
                    <td>{{onedata.contact_address}}</td>
                    <td>{{onedata.contact_person}}</td>
                    <!-- <td></td> -->
                    <!-- <td></td>
                    <td>
                        
                    </td> -->
                    <!-- <td></td> -->
                    
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="isBox">
        <h2>Box View</h2>
        <div  class="table-responsive">
            
            <table class="table table-bordered" >
                <thead class="table_header">
                    <th>S.No</th>
                    <th>Date</th>
                    <!-- <th>Department</th>
                    <th>Product</th> -->
                    <th>No Of Boxes </th>
                    <th>Address</th>
                    <th>Contact Person</th>
                    <!-- <th>View</th>
                    <th>Action</th> -->
                </thead>
                <tbody  *ngFor="let onedata of singlefilelist;index as ind">
                    <td>ind+1</td>
                    <td>{{onedata.archival_date |  date:'dd-MM-yyyy'}} </td>
                    <td>{{onedata.num_of_boxes}}</td>
                    <td>{{onedata.contact_address}}</td>
                    <td>{{onedata.contact_person}}</td>
                    <!-- <td></td> -->
                    <!-- <td></td>
                    <td>
                        
                    </td> -->
                    <!-- <td></td> -->
                    
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="isTrack">
        <h2>Track Request</h2>
        <div class="container">
            <div class="row">
                                  <div class="col-12 col-md-10 hh-grayBox pt45 pb20">
                                      <div class="row justify-content-between">
                                          <div class="order-tracking completed">
                                              <span class="is-complete"></span>
                                              <p>Requested</p>
                                          </div>
                                          <div class="order-tracking">
                                              <span class="is-complete"></span>
                                              <p>PickedUp</p>
                                          </div>
                                          <!-- <div class="order-tracking">
                                            <span class="is-complete"></span>
                                            <p>On the Way</p>
                                        </div>
                                        <div class="order-tracking">
                                            <span class="is-complete"></span>
                                            <p>Ready for PickUp</p>
                                        </div> -->
                                        <!-- <div class="order-tracking">
                                            <span class="is-complete"></span>
                                            <p>Pickedup Address</p>
                                        </div> -->
                                          <div class="order-tracking">
                                              <span class="is-complete"></span>
                                              <p>Archived</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
          </div>
       
    </div>
</main>
