.table_header {
    font-size: 90%;
}

tbody {
    font-size: 80%;
}

.dupflex {
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
    // justify-content: s;
}

.dupbtn {
    font-size: 100%;
    color: green
}

.dupdata {
    border: 2px outset;
    display: grid;
    min-width: 19%;
    margin: 5px;
    border-color: #f6f6f6;
}

.dupdata>mat-label {
    padding-left: 5%;
}

.dupfield {
    background-color: #f6f6f6;
    font-weight: bold;
}

.dupdupvalue {
    color: blue
}

.duporgvalue {
    color: grey
}

mat-button-toggle-group>mat-button-toggle {
    padding: unset;
}

.editicon:after{
  content: 'edit';
}
.closeicon:after{
  content:'close'
}