<mat-card>
    <div class="mat-card">
<h2 style="margin-left: 30px;margin-top: 1%;">Raise Request Summary</h2>

<div style=" margin: auto;">
    <mat-form-field style="width: 200px;margin-left: 5%;">
        <mat-label>Raise Request</mat-label>
        <mat-select readonly="readonly" (selectionChange)="onChangeDropDown($event.value)" id="raise-request-0001">
            <mat-option *ngFor="let raise of raiseReqDropDownList" [value]="raise.id">
                {{raise.text}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button type="button" class="btn btn-outline-success" (click)="addRaiseRequest()" matTooltip="Add Raise Request"
    style="border-radius:40px; margin-right: 31%;float: right;margin-bottom: 9px;" id="raise-request-0002"><span class="fa fa-plus"></span></button>

    <div class="table-responsive" style="margin-top: 2%;width: 99%;">
        <!-- overflow-x: hidden;margin-left: 50px; -->
        <table class="table table-bordered" fixed-header>
            <thead class="table_header">
                <tr>
                    <th>S.no</th>
                    <th>Code</th>
                    <th>Premises</th>
                    <th>Created Date</th>
                    <th>Request Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let raise of raiseRequestList; index as i">
                    <td> {{(presentpageraise - 1)*pagesize +i+1 }} </td>
                    <td>{{ raise.premise.code }} </td>
                    <td style="cursor: pointer; color: #3684BF; " (click)="raiseReqView(raise.id,raise.approvel_flag)">
                        {{ raise.premise.name }}</td>
                    <td>{{ raise.created_date | date:'dd-MMM-yyyy ' }}</td>
                    <td>{{ raise.reqesttype.text }}</td>
                    <td>
                        <div *ngIf="raise.status != null">
                            {{ raise.status.text }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="raiseRequestList ?.length == 0" style="margin-left: 42%;">
            <h3>Sorry data not found!.. </h3>
        </div>
        <div class="col-sm-12" style="font-size: small;text-align: right; margin-bottom: 100px;" *ngIf="isRaiseList">
            <button mat-icon-button [disabled]="has_previousraise === false" color="primary"
                (click)="raise_previousClick()" id="raise-request-0003">
                <mat-icon>arrow_back</mat-icon>
            </button>
            {{presentpageraise}}
            <button mat-icon-button [disabled]="has_nextraise === false" color="primary"
                (click)="raise_nextClick()" id="raise-request-0004">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>
</div>

</div>
</mat-card>
