#rmuforms {
    padding: 1% 2%;
}

#rmulegend {
    font-weight: 500;
    font-size: 18px;
    width: fit-content;
    margin-left: 5%;
}

.codecolor {
    color: green;
    margin-top: 10px;
    margin-left: 4px;
}

#rmufieldset {
    width: 90%;
    border: 1px solid black;
    overflow: visible;
}

.rmudatetoggle {
    margin-left: -2rem;
}

::ng-deep.rmutooltip {
    background-color: #DDEFDD !important;
    color: black !important;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid black !important;
}

#rmubtngrp {
    margin-top: 5%;
}

#rmucontent {
    margin: 1% 0%;
}

mat-icon {
    cursor: pointer;
}

/* #rmubtn {
    border-radius: 15px;
} */


#rmutable {
    text-align: center;
}


.backbtn {
    /* margin-left: 80.5%; */
    margin-right: 2%;
    float: right;
    width: 92px;
}

.actionbtn {
    float: right;
    /* position: static; */
    margin-right: 8px;
    width: 92px;
    border: 1px solid blue;
}

.subbtn {
    float: right;
    /* margin-left93%;
    margin-top: -7%; */
    margin-top: -4%;
    width: 92px;
}

.icononly {
    height: 40px;
}

.summaryformfield {
    width: 100%;
}

.hdrclr {
    background-color: #DDEFDD
}

.rmubranch {
    width: 80%;
    margin-left: 4%
}

.rmuemployee {
    width: 80%;
    margin-left: 4%
}
input::file-selector-button {
    font-weight: bold;
    color: black;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    cursor: pointer;
    background-color: #DDEFDD;
    margin-top: 5%;
}

.fileinputbottom{
    border-bottom-style: none;
}
.modal-title{
    margin-bottom: 0px;
}

.actionbtns {
    /* float: right; */
    /* position: static; */
    margin-right: 8px;
    width: 92px;
    border: 1px solid blue;
}

tbody:hover{
 background-color: honeydew;
}

