<section class="screen-padding screen-lm">
    <div class="comp-header">
        <span style="font-weight: 600;">{{this.title}}</span>
    </div>

    <div class="filter-aling">
        <lib-vs-search-cmp class="npm-mat-edit"  [SearchArr]="retrieval_summary_search" (dataoutput)="getrrsummary($event)" [Outputtype]="searchretrivelvar"   [ButtonArr]="retrievalbutton" >
        </lib-vs-search-cmp>
    </div>
    <!-- <form [formGroup]="summaryform">
        <section role="search" class="row">

            <div class="col-md-2">

                <mat-form-field class='summaryformfield' appearance="outline" style="width: 100%;">
                    <mat-label>Retrieval Code</mat-label>
                    <input matInput formControlName="department">
                </mat-form-field>
            </div>
            <div class="col-md-2">

                <mat-form-field class='summaryformfield' appearance="outline" style="width: 100%;">
                    <mat-label>Product</mat-label>
                    <mat-select matInput formControlName="product" multiple>
                        <mat-option *ngFor="let item of productlist" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </div>
            <div class="col-md-2">

                <mat-form-field class='summaryformfield' appearance="outline" style="width: 100%;">
                    <mat-label>Retrieval Type</mat-label>
                    <mat-select matInput formControlName="retrieval_type">
                        <mat-option *ngFor="let item of retrievaltype" [value]="item.value">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <!-- <div class="col-md-2">

                <mat-form-field class='summaryformfield'>
                    <mat-label>Retrieval Method</mat-label>
                    <mat-select matInput formControlName="retrieval_method">
                        <mat-option *ngFor="let item of retrievalmethod" [value]="item.value">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <!-- <div class="col-md-2">

                <mat-form-field class='summaryformfield' appearance="outline" style="width: 100%;">
                    <mat-label>View For</mat-label>
                    <mat-select (selectionChange)="getrrsummary()" matInput formControlName="role">
                        <mat-option *ngFor="let item of actionlist" [value]="item.value">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <div id="rmubtngrp">
                    <button matTooltip="Search Records" [matTooltipPosition]="'above'" matTooltipClass="rmutooltip"
                        (click)="getrrsummary()" class="btn btn-outline-success" style="margin-left:5%" id="rmubtn"
                        color="primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <button class="btn btn-warning" [matTooltip]="'Clear Entries'" [matTooltipPosition]="'above'"
                        matTooltipClass="rmutooltip" style="margin-left:20px" id="rmubtn">Clear</button>
                        <button *ngIf="summaryform.value.role == '1'" matTooltip="Create Retrieval Request"
            [matTooltipPosition]="'above'" matTooltipClass="rmutooltip" (click)="navtoform()" type="button"
            class="btn btn-outline-success" id="rmubtn" style="margin-left: 20px;"><span class="fa fa-plus"></span>
            Add
        </button> -->

                    <!-- <button matTooltip="Create Retrieval Request" [matTooltipPosition]="'above'"
                        matTooltipClass="rmutooltip" (click)="navtoform()" type="button" class="btn btn-outline-success"
                        id="rmubtn" style="margin-left: 20px;"><span class="fa fa-plus"></span>
                        Add
                    </button> -->

<!-- 
                </div>
            </div>


        </section>
    </form> -->
    <lib-vs-cbox-summary    [SummaryDetails]="retrieval_summary"
    [SummaryApiObj]="retrieval_summaryapi"></lib-vs-cbox-summary>
    <div id="rmucontent" class="table-responsive">
        <!-- Makersummary -->
        <!-- <table *ngIf="maker && summarylist.length > 0" class="table table-bordered" id="rmutable">
            <thead class="table_header">
                <th>S.No</th>
                <th>Requested Date</th> -->
                <!-- <th>Maker</th> -->
                <!-- <th>Products</th>
                <th>Retrieval Type</th>
                <th>Approver</th>
                <th>Retrieval Status</th>
                <th>Vendor Status</th>
                <th>Status</th>
                <th>Download</th>
                <th>Action</th>
            </thead>
            <tbody *ngFor="let sum of summarylist;index as ind">
                <td>{{(pagination.index-1)*limit+ind+1}}</td>
                <td>{{sum.request_date | date:'dd-MMM-yyyy'}}</td>

                <td>
                    <mat-label *ngFor="let item of sum.product;index as ind1">{{item.name}}<label
                            *ngIf="ind1 < sum.product.length-1">,</label> </mat-label>
                </td>
                <td>{{sum.retrieval_type.name}}</td>
                <td>({{sum.approver_id.code}}) {{sum.approver_id.name}}</td>
                <td>{{sum.retrieval_status.name}}</td>
                <td>{{sum.vendor_status?.name}}</td>
                <td>{{sum.expriy_date}}</td>                
                <td>
                    <button id="rmubtn" matTooltipClass="rmutooltip" matTooltip="Download Retrieval Files"
                        mat-icon-button (click)="getretrievalcovernote(sum.id)" mat-button>
                        <mat-icon>download</mat-icon>
                    </button>

                </td>
                <td>
                    <button id="rmubtn" matTooltipClass="rmutooltip" matTooltip="Check Retrieval Request"
                        (click)="editlist(sum)" mat-icon-button class="btn btn-outline-success">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button id="rmubtn" data-toggle="modal" data-target="#confirmationpopup" (click)="retcode = sum.id"
                        *ngIf="sum.retrieval_type.value == 1 && sum.vendor_status.value == 4"
                        matTooltipClass="rmutooltip" matTooltip="Send Return Request" mat-icon-button
                        matTooltipPosition="above" (click)="retid = sum.id" class="btn btn-outline-primary">
                        <mat-icon>send</mat-icon>
                    </button>

                    <button id="rmubtn" data-toggle="modal" data-target="#despatchpopup"
                        (click)="getdespatch(sum.vendor_status.id)" *ngIf="sum.vendor_status.value == 3"
                        matTooltipClass="rmutooltip" matTooltip="View Despatched Details" mat-icon-button
                        matTooltipPosition="above" (click)="retid = sum.id" class="btn btn-outline-primary">
                        <mat-icon>person_pin_circle</mat-icon>
                    </button>



                </td>
            </tbody>
        </table> -->

        <!-- CheckerSummary -->
        <table *ngIf="!maker && summarylist.length > 0" class="table table-bordered" id="rmutable">
            <thead class="table_header">
                <th>S.No</th>
                <th>Raised By</th>
                <th>Requested Date</th>
                <th>Branch/Dept</th>
                <th>Products</th>
                <th>Retrieval Type</th>
                <th>Actions</th>
            </thead>
            <tbody *ngFor="let sum of summarylist;index as ind">
                <td>{{(pagination.index-1)*limit+ind+1}}</td>
                <td>({{sum.maker.code}}) {{sum.maker.name}}</td>
                <td>{{sum.request_date | date:'dd-MMM-yyyy'}}</td>
                <td>({{sum.maker.branch.code}}) {{sum.maker.branch.name}}</td>
                <td>
                    <mat-label *ngFor="let item of sum.product;index as ind1">{{item.name}}<label
                            *ngIf="ind1 < sum.product.length-1">,</label> </mat-label>
                </td>
                <td>{{sum.retrieval_type.name}}</td>
                <td>
                    <mat-icon matTooltipClass="rmutooltip" matTooltip="View Retrieval Request" (click)="editlist(sum)">
                        touch_app</mat-icon>
                </td>
            </tbody>
        </table>
        <!-- <div *ngIf="!summarylist.length" style="margin-left: 42%;">
            <h3>Sorry no data found!... </h3>
        </div> -->

        <div class="col-sm-12" *ngIf="summarylist.length > 0"
            style="font-size: small;text-align:right;margin-bottom: 5%;">
            <button mat-icon-button (click)="prevpage()" [disabled]="pagination.has_previous === false" color="primary">
                <mat-icon>arrow_back</mat-icon>
            </button>
            {{pagination.index}}
            <button mat-icon-button (click)="nextpage()" [disabled]="pagination.has_next === false" color="primary">
                <mat-icon>arrow_forward</mat-icon>
            </button>

        </div>
    </div>

<div class="modal fade" id="confirmationpopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header hdrclr">
                <h2 class="modal-title" id="exampleModalLongTitle">Return request confirmation</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <mat-icon style="vertical-align:sub">info</mat-icon> -->
                <!-- <mat-label>
                    Are you okay to proceed return request for {{retcode}}, as it can't be modified.
                </mat-label> -->
                  <button type="button" data-dismiss="modal" id="rmubtn" (click)="returnsubmit()"
                    class="btn btn-outline-primary">Raise New Request</button>

                    <button type="button" data-dismiss="modal" id="rmubtn" style="margin-left: 7%;" (click)="addNextArchive()"
                    class="btn btn-outline-primary">Add in Next Archival</button>
              

          

            </div>
            <!-- <div class="modal-footer"> -->
                <!-- <button type="button" data-dismiss="modal" id="rmubtn" (click)="returnsubmit()"
                    class="btn btn-outline-primary">Ok</button>
                <button type="button" #actionclose id="rmubtn" class="btn btn-outline-secondary"
                    data-dismiss="modal">Close</button>

            </div> -->
        </div>
    </div>
</div>

<div class="modal fade" id="despatchpopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header hdrclr">
                <h2 class="modal-title" id="exampleModalLongTitle">Delivery Details</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <mat-grid-list [cols]="1" rowHeight="450px">
                    <mat-grid-tile>
                        <div>
                            <section>
                                <h2>Delivery Person</h2>
                            </section>
                            <section style="border:1px solid black">
                                <mat-icon *ngIf="!imageSrc" style="font-size:300px">person_outline</mat-icon>
                                <img *ngIf="imageSrc" height="333" width="333" [src]="imageSrc">
                            </section>
                           
                        </div>



                    </mat-grid-tile>

                    <mat-grid-tile>
                        
                    </mat-grid-tile>
                </mat-grid-list> -->
                <div class="row">

                    <mat-form-field class="dispatchform col-md-4">
                        <mat-label>Delivery person name</mat-label>
                        <input matInput [(ngModel)]="delivery_person" disabled>
                    </mat-form-field>

                    <mat-form-field class="dispatchform col-md-4">
                        <mat-label>Contact</mat-label>
                        <input matInput [(ngModel)]="contact_no" disabled>
                    </mat-form-field>

                    <mat-form-field class="dispatchform col-md-4">
                        <mat-label>Remarks</mat-label>
                        <input matInput [(ngModel)]="comments" disabled>
                    </mat-form-field>




                </div>
                <!-- <app-files-selection></app-files-selection> -->
            </div>
            <div class="modal-footer">
                <button type="button" #modalclose id="rmubtn" class="btn btn-outline-secondary"
                    data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
</section>