table {
    width: 100%;
  }
  
  section {
      display: table;
    }
    
    .example-label {
      display: table-cell;
      font-size: 14px;
      margin-left: 8px;
      min-width: 120px;
    }
    
    .example-button-row {
      display: table-cell;
      width: 490px;
    }
    
    .example-button-row .mat-button-base {
      margin: 8px 8px 8px 0;
    }
    
    .example-flex-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    .example-button-container {
      display: flex;
      justify-content: center;
      width: 120px;
    }
    
    
    .example-full-width {
      width: 100%;
    }
    
    td {
      padding-right: 8px;
    }
  
    button:focus {
      outline: none !important;
  }
  
  
  
  .table_header {
    
    text-align: center;
    font-size: 13px;
  }
  
  .filter-btn {
    margin-left: 30px;
  }
  th, td{
    text-align:center;
    font-size: 15px;
  }
  tbody td {
    padding: 0.5em 0.1em 0.1em;
  }
    
  .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 100px;
  }
  
  ::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }
 

  .combined-header {
    text-align: center;
  }
  
  .combined-header br {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .combined-header br {
      display: inline;
    }
  }