// Main Container
// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// Common
mat-expansion-panel {
  mat-expansion-panel-header {
    height: auto !important;
    padding: 10px;
  }
}

hr {
  margin: 0 0 6px 0;
  padding: 0;
}
// Common End

.main-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 40px;
}

// Header
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.header-div1,
.header-div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: black;
}
// Header End

// Toggle Container
.Toggle-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.toggle-div1,
.toggle-div2 {
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.095);
  border-radius: 6px;
}

.toggle-div1 details,
.toggle-div2 details {
  padding: 10px;
}

.toggle-table-container {
  height: 400px;
  overflow-y: scroll;
}

.toggle-head {
  width: 220px;
  padding: 2px 0;
}

.toggle-head b {
  font-weight: 500;
}

.toggle-content1 {
  width: 100%;
  border-radius: 8px;
}

.toggle-content1 td,
.toggle-content2 td {
  border: 2px solid rgba(0, 128, 0, 0.475);
  padding: 6px;
}

.toggle-content2 th {
  background-color: #01a85a;
  color: white;
  font-weight: 500;
  padding: 6px 4px;
}

.toggle-icon {
  font-size: 24px;
}

.toggle-table-head {
  background-color: #01a85a;
  color: white;
}
// Toggle End

// Table View
.common-table {
  width: 80%;
  margin: auto;
  // text-align: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.283);
  border-spacing: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  border-collapse: separate;
}

.common-table input {
  width: 20px;
  height: 20px;
}

.user-state div {
  width: auto;
  padding: 8px;
  border-radius: 6px;
}

.user-name div {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
}

.user-status div {
  width: auto;
  padding: 8px;
  border-radius: 6px;
}
// Table View End

// Comment Container
.comment-container {
  width: 80%;
  margin: auto;
}

.comment-container textarea {
  width: 100%;
  border-radius: 6px;
}

.comment-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.comment-btns button {
  border-radius: 50px;
}
