<div class="modal-body">
  <!-- <h3>Catalogue Form</h3> -->
  <form [formGroup]="catalogAddForm" autocomplete="off">
    <!-- (ngSubmit)="submitForm()" -->
    <div>
      <!-- <mat-form-field appearance="outline">
        <mat-label>Activity Details Name</mat-label>
        <input matInput formControlName="detail_name" autocomplete="off" required />
      </mat-form-field> -->
      <div style="display: flex; justify-content: space-between; gap: 20px">
        <div >

          <!-- <lib-vs-dynamicform-cmp
          class="package-width-cus-full"
          [formGroup]="catalogAddForm"
          [InputFields]="producttypefield"
          (dataEvent)="producttypedata($event)"
          
        ></lib-vs-dynamicform-cmp> -->
        <!-- (dataEvent)="producttypedata($event)" -->


          <!-- <lib-vs-dynamicform-cmp
            class="package-width-cus-full"
            [formGroup]="catalogAddForm"
            [InputFields]="productfield"
            (dataEvent)="productdata($event)"
          ></lib-vs-dynamicform-cmp> -->

          <div class="flex-for-sepDate">
            <lib-vs-depdropdown-cmp
            class="package-width-cus-full"
            [formGroup]="catalogAddForm"
            [ParentObj]="producttypefieldParentObj"
            (dataEventParent)="producttypedata($event)"
            (dataEventChild)="productdata($event)"
            [ChildObj]="productfieldChildObj"
          ></lib-vs-depdropdown-cmp>
          </div>
          <div class="flex-for-sepDate">

            <lib-vs-depdropdown-cmp
              class="search-expand"
              [formGroup]="catalogAddForm"
              [ParentObj]="ParentObj"
              (dataEventParent)="selectedvalues($event)"
              (dataEventChild)="selectedvaluess($event)"
              [ChildObj]="ChildObj"
            ></lib-vs-depdropdown-cmp>
            
            <div class="adjust-btn">
              <lib-vs-depdropdown-cmp
                class="search-expand"
                [formGroup]="catalogAddForm"
                [ParentObj]="ParentObj2"
                [ChildObj]="ChildObj2"
          
                [ResetForm]="restformcatlog"
              ></lib-vs-depdropdown-cmp>
              <!-- (dataEventParent)="selectedvalues2($event)"
              (dataEventChild)="selectedvaluess2($event)" -->
              <button
                class="btn btn-outline-success mt-3"
                type="button"
                (click)="addCatalog()"
              >
                <i class="fa fa-plus"></i>
              </button>
            </div>

          </div>

        </div>

        <div class="popup-cardView">
          <h3>Specification & Configuration</h3>
          <div class="popup-cardView-content" *ngFor="let data of this.directorNameList">
            <p>{{data?.Specification?.specification}}</p>
            <p>-</p>
            <p class="hover-icons">
              {{data?.configuration?.configuration}}
              <mat-icon style="cursor: pointer;"(click)="editspec(data)">edit</mat-icon>
              <mat-icon style="cursor: pointer;" (click)="deletespec(data)">restore_from_trash</mat-icon>
            </p>
          </div>
          <!-- <div class="popup-cardView-content">
            <p>Title</p>
            <p>-</p>
            <p class="hover-icons">
              Response <mat-icon>edit</mat-icon>
              <mat-icon>restore_from_trash</mat-icon>
            </p>
          </div>
          <div class="popup-cardView-content">
            <p>Title</p>
            <p>-</p>
            <p class="hover-icons">
              Response <mat-icon>edit</mat-icon>
              <mat-icon>restore_from_trash</mat-icon>
            </p>
          </div>
          <div class="popup-cardView-content">
            <p>Title</p>
            <p>-</p>
            <p class="hover-icons">
              Response <mat-icon>edit</mat-icon>
              <mat-icon>restore_from_trash</mat-icon>
            </p>
          </div>
          <div class="popup-cardView-content">
            <p>Title</p>
            <p>-</p>
            <p class="hover-icons">
              Response <mat-icon>edit</mat-icon>
              <mat-icon>restore_from_trash</mat-icon>
            </p>
          </div> -->
        </div>
      </div>
      <!-- <div>
        <lib-vs-cbox-summary
          [SummaryDetails]="SummaryspecsconfigData"
          [SummaryApiObj]="SummaryApicatloguecreatemodifyObjNew"
          [unnecessary]="[]"
        ></lib-vs-cbox-summary>
      </div> -->
      <!-- <mat-form-field (click)="productname()" appearance="outline">
                            <mat-label>Product Name</mat-label>
                            <input #productInput  matInput formControlName="product_name"
                            [matAutocomplete]="producttype" required>
                        <mat-autocomplete #producttype="matAutocomplete" [displayWith]="displaydis"
                        (opened)="productScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option size="5" *ngFor="let product of productList" (focusout)="prod(product)"
                                        [value]="product" title="{{product.name}}">{{product.name}}
                                       
            
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field> -->

      <div
        style="
          margin-top: 40px;
        "
      class="flex-for-sepDate"
      >
      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Catalog Category</mat-label>
          <input
            matInput
            [readonly]="true"
            [(ngModel)]="catelogName"
            formControlName="category"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </div>

      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Catalog SubCategory</mat-label>
          <input
            matInput
            [readonly]="true"
            [(ngModel)]="subCatelogName"
            formControlName="subcategory"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </div>

        <!-- <td>
                        <mat-form-field style="width: 175px;margin-left: 50px;">
                            <mat-label>Catalog Category</mat-label>
                            <mat-select formControlName="category">
                                <mat-option *ngFor="let category of categorylist" [value]="category.id">
                                    {{category.name}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width: 175px;margin-left: 50px;">
                            <mat-label>Catalog SubCategory</mat-label>
                            <mat-select formControlName="subcategory">
                                <mat-option *ngFor="let subcategory of subcategorylist" [value]="subcategory.id">
                                    {{subcategory.name}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                    </td> -->

        <!-- <mat-form-field appearance="outline">
        <mat-label>Item Name</mat-label>
        <input
          matInput
          formControlName="name"
          type="text"
          (keypress)="namevalidation($event)"
          autocomplete="off"
          required
        />
      </mat-form-field> -->

        <!-- <lib-vs-dynamicform-cmp
      class="package-width"
      [InputFields]="makefield"
      (dataEvent)="makedata($event)"
    ></lib-vs-dynamicform-cmp> -->

        <!-- <lib-vs-dynamicform-cmp class="package-width" [InputFields]="modalfield"
        (dataEvent)="modaldata($event)"></lib-vs-dynamicform-cmp> -->

        <div id="matInput-size">
          <mat-form-field appearance="outline">
            <mat-label>Catalog Specification</mat-label>
            <input
              matInput
              type="text"
              (keypress)="addressvalidation($event)"
              formControlName="specification"
              autocomplete="off"
            />
          </mat-form-field>
        </div>

        <div id="matInput-size">
          <mat-form-field appearance="outline">
            <mat-label>Size</mat-label>
            <input
              matInput
              formControlName="size"
              type="number"
              autocomplete="off"
            />
          </mat-form-field>
        </div>

        <div id="matInput-size">
          <mat-form-field appearance="outline">
            <mat-label>Catalog Remarks</mat-label>
            <input
              matInput
              formControlName="remarks"
              autocomplete="off"
              type="text"
              (keypress)="addressvalidation($event)"
            />
          </mat-form-field>
        </div>

        <lib-vs-dynamicform-cmp
          class="package-width"
          [InputFields]="uomfield"
          (dataEvent)="uomdata($event)"
        ></lib-vs-dynamicform-cmp>
        <!-- <mat-form-field  (click)="uomname()" appearance="outline">
                            <mat-label>Uom Name</mat-label>
                            <input #uomInput  matInput formControlName="uom"
                            [matAutocomplete]="uomm" required>
                        <mat-autocomplete #uomm="matAutocomplete" [displayWith]="displayFnUOM" (opened)="UOMScroll()">
                            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let uom of uomlist" [value]="uom">{{uom.name}}
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                        </mat-form-field> -->
        <div id="matInput-size">
          <mat-form-field appearance="outline">
            <mat-label>Unit Price</mat-label>
            <input
              matInput
              formControlName="unitprice"
              type="number"
              autocomplete="off"
              
            />
          </mat-form-field>
        </div>

        <!-- <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Date From</mat-label>
                            <input matInput readonly [matDatepicker]="picker1" (dateChange)="fromDateSelection($event.value)"
                                formControlName="from_date" required>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Date To</mat-label>
                            <input matInput readonly [matDatepicker]="picker2"  [min]="select" 
                                formControlName="to_date" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </td> -->
        <lib-vs-sep-dates-cmp
          class="package-grid-width-sep-dates"
          [formGroup]="catalogAddForm"
          [DateInput]="frtodatecatlog"
        ></lib-vs-sep-dates-cmp>
        <!-- (fromdate)="fromdatecatlogfun($event)"
        (todate)="todatecatlogfun($event)" -->

        <div id="matInput-size">
          <mat-form-field appearance="outline">
            <mat-label>Packing Price</mat-label>
            <input
              matInput
              formControlName="packing_price"
              type="number"
              autocomplete="off"
              
            />
          </mat-form-field>
        </div>

        <div id="matInput-size">
          <mat-form-field appearance="outline">
            <mat-label>Delivery Days</mat-label>
            <input
              matInput
              formControlName="delivery_date"
              type="number"
              autocomplete="off"
              
            />
          </mat-form-field>
        </div>

        <div id="matInput-size">
          <mat-form-field appearance="outline">
            <mat-label>Capacity</mat-label>
            <input
              matInput
              formControlName="capacity"
              type="text"
              (keypress)="addressvalidation($event)"
              autocomplete="off"
            />
          </mat-form-field>
        </div>

        <section class="example-section">
          <mat-checkbox class="example-margin" formControlName="direct_to"
            >DTS</mat-checkbox
          >
        </section>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    (click)="onCancelClick()"
    class="btn btn-outline-primary"
  >
    Cancel
  </button>
  <button type="submit" (click)="submitForm()" class="btn btn-outline-primary">
    Submit
  </button>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  [fullScreen]="true"
  type="ball-spin-clockwise"
>
  <p>Please Wait.</p>
</ngx-spinner>
