<!-- <div style="padding: 10px 20px 10px 30px">
  <div class="d-flex align-items-center gap-2 mb-3">
    <button
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        border: none;
        background-color: transparent;
      "
      (click)="backButton()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2 class="mb-0">Activity View</h2> -->
    <!-- <button type="button" *ngIf="vendor_flag" class="btn btn-success" (click)="activityUpdate()">Edit</button> -->
  <!-- </div> -->

  <!-- <div>
    <button
      type="button"
      *ngIf="vendor_flag"
      class="btn btn-danger"
      data-toggle="modal"
      data-target="#rejectModal"
      style="margin-left: 1050px"
    >
      Delete
    </button>
    <div
      class="modal fade"
      id="rejectModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="rejectModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2
              class="modal-title w-100 font-weight-bold"
              id="rejectModalLabel"
            >
              Please Confirm..
            </h2>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <table class="table table-sm">
                <tbody>
                  <tr *ngIf="activitycount == 1"> -->
                    <!-- //bug id:9259 -->
                    <!-- <h3 style="margin-left: 3%;font-size: larger;">{{message}}</h3> -->

                    <!-- <h3>Atleast one Activity should be maintained</h3>
                  </tr>
                  <tr *ngIf="activitycount > 1">
                    <h3>
                      Activity containing Activity Details and Catalogue will
                      also be Deleted
                    </h3>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-outline-primary"
              type="button"
              data-toggle="modal"
              data-target="#rejectModal"
              style="border-radius: 40px; margin-left: 3px"
              (click)="activityDelete()"
            >
              OK
            </button>
            <button
              class="btn btn-outline-primary"
              type="button"
              data-toggle="modal"
              data-target="#rejectModal"
              style="border-radius: 40px; margin-left: 10px"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container-bView">
    <div *ngIf="activityUpdateCard" class="card-view">
      <h2>General</h2>
      <div class="card-content"> -->
        <!-- <p > Name: <span style="color: black;margin-left: 71px;">{{ name}}
        </span></p> -->
        <!-- <p>
          <b>Department</b>
          {{ updatedepartment }}
        </p>

        <p>
          <b>Activity Type</b>
          <span>{{ updatetype }}</span>
        </p>

        <p>
          <b>Start Date</b>
          <span>{{ updatestartDate | date : "dd-MMM-yyyy" }}</span>
        </p>

        <p>
          <b>End Date</b>
          <span>{{ updateendDate | date : "dd-MMM-yyyy" }}</span>
        </p>

        <p>
          <b>Contract Spend</b>
          <span>{{ updatecontractSpend }}</span>
        </p>

        <p>
          <b>Activity Header</b>
          <span>{{ updaterm }}</span>
        </p>

        <p>
          <b>Activity Status</b>
          <span>{{ updateactivityStatus }}</span>
        </p>

        <p>
          <b>Fidelity</b>
          <span>{{ updatefidelity }}</span>
        </p>

        <p>
          <b>Bidding</b>
          <span>{{ updatebidding }}</span>
        </p>

        <p>
          <b>Description</b>
          <span>{{ updatedescription }}</span>
        </p>
      </div>
    </div>

    <div class="card-view">
      <h2>General</h2>
      <div class="card-content">
        <p>
          <b>Department:</b>
          <span>{{ modidepartmentname }}</span>
        </p>
        <p>
          <b>Activity Type:</b>
          <span>{{ type }}</span>
        </p>
        <p>
          <b>Start Date:</b>
          <span>{{ startDate | date : "dd-MMM-yyyy" }}</span>
        </p>
        <p>
          <b>End Date:</b>
          <span>{{ endDate | date : "dd-MMM-yyyy" }}</span>
        </p>
        <p>
          <b>Contract Spend:</b>
          <span>{{ contractSpend }}</span>
        </p>
        <p>
          <b>Activity Header:</b>
          <span>{{ rm }}</span>
        </p>
        <p>
          <b>Activity Status:</b>
          <span>{{ activityStatus }}</span>
        </p>
        <p>
          <b>Fidelity:</b>
          <span>{{ fidelityBox }}</span>
        </p>
        <p>
          <b>Bidding:</b>
          <span>{{ biddingBox }}</span>
        </p>
        <p>
          <b>Description:</b>
          <span>{{ description }}</span>
        </p>
      </div>
    </div>

    <div class="card-view">
      <h2>Contact</h2>
      <div class="card-content">
        <p>
          <b>Name:</b>
          <span>{{ contactName }}</span>
        </p>
        <p>
          <b>Email:</b>
          <span>{{ contactEmail }}</span>
        </p>
        <p>
          <b>DOB:</b>
          <span>{{ contactDOB | date : "dd-MMM-yyyy" }}</span>
        </p> -->
        <!-- <p style="color: #808080; margin: 0px 0 4px;"> Type: <span style="color: black;margin-left: 61px;">{{ contactType}}
                                    </span></p> -->
        <!-- <p>
          <b>Designation:</b>
          <span>{{ contactDesignation }}</span>
        </p>
        <p>
          <b>Line1:</b>
          <span>{{ contactLine1 }} </span>
        </p>
        <p>
          <b>Line2:</b>
          <span>{{ contactLine2 }} </span>
        </p>
        <p>
          <b>Mobile1:</b>
          <span>{{ contacMobile1 }}</span>
        </p>
        <p>
          <b>Mobile2:</b>
          <span>{{ contacMobile2 }}</span>
        </p>
      </div>
    </div>
  </div>

  <div>
    <div class="mt-4">
      <nav>
        <div class="nav nav-tabs">
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: flex-start;
            "
          >
            <div
              (click)="catalogBtn()"
              *ngIf="catalogTab"
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              " 
            >
              <mat-icon>arrow_back</mat-icon>
            </div>
            <a
              *ngIf="catalogTab"
              class="nav-item nav-link"
              data-toggle="tab"
              role="tab"
              (click)="catalogBtn()"
              >Catalogue:
              {{ catname }}
            </a>
          </div>

          <div
            style="
              display: flex;
              align-items: center;
              justify-content: flex-start;
              margin-bottom: 20px;
            "
          > -->
            <!-- <div *ngIf="isActivityDetail">
              <div
                *ngIf="vendor_flag"
                style="
                  display: flex;
                  align-items: center;
                  justify-content: center;
                "   (click)="backButton()"
              >
                <mat-icon>arrow_back</mat-icon>
              </div>
            </div>
            <a
              *ngIf="isActivityDetail"
              class="nav-item nav-link"
              data-toggle="tab"
              role="tab"
              (click)="activityDetailBtn()"
              >Activity Product Category
            </a>
            <div *ngIf="isActivityDetail">
              <div *ngIf="vendor_flag" class="col-md-12 text-right">
                <button
                  *ngIf="isActivityDetail"
                  type="button"
                  class="btn btn-outline-success"
                  (click)="addActivityDetail()"
                  style="border-radius: 40px"
                >
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div> -->
          <!-- <div *ngIf="isActivityDetail">
                    <button type="button" class="btn btn-outline-success" (click)="addActivityDetail()" style="border-radius:40px;margin-left: 50px"><span class="fa fa-plus"></span>
                        Activity Detail</button>
                </div> -->
        <!-- </div>
      </nav> -->

      <!-- <div>
        <span *ngIf="isActivityDetailForm">
          <app-activitydetail (onCancel)="activityDetailCancel()" (onSubmit)="activityDetailSubmit()">
          </app-activitydetail>
        </span>
      </div> -->

      <!-- <div>
        <span *ngIf="isActivityDetailEditForm">
          <app-activitydetail-edit (onCancel)="activityDetailEditCancel()" (onSubmit)="activityDetailEditSubmit()">
          </app-activitydetail-edit>
        </span>
      </div> -->

      <!-- <div *ngIf="isActivityDetail"> -->
        <!-- <div>
          <div *ngIf="vendor_flag" class="col-md-12 text-right">
            <button
              *ngIf="isActivityDetail"
              type="button"
              class="btn btn-outline-success"
              (click)="addActivityDetail()"
              style="border-radius: 40px;"
            >
              <span class="fa fa-plus"></span> Add
            </button>
          </div>
        </div> -->
        <!-- <div class="table-responsive" style="width: 80%;margin-top: 1%;overflow-x: hidden;"> -->
        <!-- <lib-vs-cbox-summary
          [SummaryDetails]="SummaryactivitydetailData"
          [SummaryApiObj]="SummaryApiactivitydetailObjNew"
          [unnecessary]="[]"
        ></lib-vs-cbox-summary> -->
        <!-- <table class="table"> -->
        <!-- <thead class="table_header">
                    <tr> -->
        <!-- <th>S.No</th>
                        <th>Code</th>
                        <th>Detail Name</th>
                        <th>Raisor</th>
                        <th>Approver</th> -->
        <!-- <th>Department</th> -->
        <!-- <th>Remarks</th>
                        <th>Action</th>
                        <th>Delete</th> -->
        <!-- </tr>
                </thead> -->
        <!-- <tbody>
                    <tr *ngFor="let activityDetail of activityDetailList; index as i"> -->
        <!-- <td> {{(presentpage - 1)*pageSize +i+1 }} </td>
                        <td>{{ activityDetail.code}}</td>
                        <td (click)="catalogData(activityDetail)" style="cursor: pointer;color:blue;">
                            {{ activityDetail.detailname}}</td>
                        <td>{{ activityDetail.raisor.full_name}}</td>
                        <td>{{ activityDetail.approver.full_name}}</td> -->
        <!-- <td>{{activityDetail.dept_id.name}}</td> -->
        <!-- <td>{{ activityDetail.remarks}}</td>
                        <td *ngIf=" vendor_flag==true">
                            <button *ngIf="activityDetail.modify_ref_id>0" mat-icon-button matTooltip=" Edit"
                                class="iconbutton" (click)="activityDetailEditForm(activityDetail)" [disabled]="true"
                                color="primary">
                                <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                            </button>
                            <button *ngIf="activityDetail.modify_ref_id=='-1'" mat-icon-button matTooltip=" Edit"
                                class="iconbutton" (click)="activityDetailEditForm(activityDetail)" color="primary">
                                <mat-icon style="color:green;" aria-label="Edit">edit</mat-icon>
                            </button>
                        </td>
                        <td *ngIf=" vendor_flag==false">
                            <button mat-icon-button matTooltip=" Edit" class="iconbutton"
                                (click)="activityDetailEditForm(activityDetail)" [disabled]="true" color="primary">
                                <mat-icon style="color:gray;" aria-label="Edit">edit</mat-icon>
                            </button>
                        </td>
                        <td *ngIf=" vendor_flag==true">
                            <button *ngIf="activityDetail.modify_ref_id>0" mat-icon-button matTooltip=" Delete" class="iconbutton"
                                [disabled]="true" (click)="deleteActivityDetail(activityDetail)" color="primary">
                                <mat-icon style="color: gray;">delete</mat-icon>
                            </button>
                            <button *ngIf="activityDetail.modify_ref_id=='-1'" mat-icon-button matTooltip=" Delete" class="iconbutton"
                                (click)="deleteActivityDetail(activityDetail)" color="primary">
                                <mat-icon style="color:green;">delete</mat-icon>
                            </button>
                        </td>
                        <td *ngIf=" vendor_flag==false">
                            <button mat-icon-button matTooltip=" Delete" class="iconbutton" (click)="deleteActivityDetail(activityDetail)"
                                color="primary" [disabled]="true">
                                <mat-icon class="disabled_icon">delete</mat-icon>
                            </button>
                        </td> -->
        <!-- </tr>
                </tbody> -->
        <!-- </table> -->
    
        

        <!-- <div *ngIf="activitydetail_modify">
          <h2>Modification Summary</h2>
          <lib-vs-cbox-summary
            [SummaryDetails]="SummarymodifyactivitydetailData"
            [SummaryApiObj]="SummaryApimodifyactivitydetailObjNew"
            [unnecessary]="[]"
          ></lib-vs-cbox-summary> -->
          <!-- <table class="table">
            <thead class="table_header">
              <tr>
                <th>S.No</th>
                <th>Code</th>
                <th>Detail Name</th>
                <th>Raisor</th>
                <th>Approver</th>
                <th>Department</th>
                <th>Remarks</th>
                <th>Status</th>
                <th>Action</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let j of activitydetail_data; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ j.code }}</td>
                <td *ngIf="j.modify_status == 1" (click)="catalogList(j)" style="cursor: pointer; color: blue">
                  {{ j.detailname }}
                </td>
                <td *ngIf="j.modify_status == 2 || j.modify_status == 0">
                  {{ j.detailname }}
                </td>
                <td>{{ j.raisor.full_name }}</td>
                <td>{{ j.approver.full_name }}</td>
                <td>{{j.dept_id.name}}</td>
                <td>{{ j.remarks }}</td>
                <td *ngIf="j.modify_status == 1">Create</td>
                <td *ngIf="j.modify_status == 2">Update</td>
                <td *ngIf="j.modify_status == 0">Delete</td>
                <td>
                  <span *ngIf="j.modify_ref_id != j.id && j.modify_status == 1">
                    <button mat-icon-button matTooltip="Edit" class="iconbutton" (click)="activityDetailEditForm(j)"
                      color="primary" [disabled]="true">
                      <mat-icon style="color: gray" aria-label="Edit">edit</mat-icon>
                    </button>
                  </span>
                  <span *ngIf="j.modify_ref_id == j.id && j.modify_status == 1">
                    <button mat-icon-button matTooltip="Edit" class="iconbutton" (click)="activityDetailEditForm(j)"
                      color="primary">
                      <mat-icon style="color: green" aria-label="Edit">edit</mat-icon>
                    </button>
                  </span>
                  <span *ngIf="j.modify_status == 2 && j.modify_ref_id != true">
                    <button mat-icon-button matTooltip="Edit" class="iconbutton" (click)="activityDetailEditForm(j)"
                      color="primary">
                      <mat-icon class="enabled_icon" aria-label="Edit">edit</mat-icon>
                    </button>
                  </span>
                  <span *ngIf="j.modify_status == 2 && j.modify_ref_id == true">
                    <button mat-icon-button matTooltip="Edit" class="iconbutton" (click)="activityDetailEditForm(j)"
                      color="primary" [disabled]="true">
                      <mat-icon class="disabled_icon" aria-label="Edit">edit</mat-icon>
                    </button>
                  </span>
                </td>
                <td>
                  <span *ngIf="j.modify_status != 0">
                    <button mat-icon-button class="iconbutton" (click)="deleteActivityDetail(j)" color="primary">
                      <mat-icon class="enabled_icon">delete</mat-icon>
                    </button>
                  </span>
                  <span *ngIf="j.modify_status == 0">
                    <button mat-icon-button class="iconbutton" (click)="deleteActivityDetail(j)" color="primary"
                      [disabled]="true">
                      <mat-icon class="disabled_icon">delete</mat-icon>
                    </button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table> -->
          <!-- <div *ngIf="activitydetail_data?.length == 0" style="margin-left: 42%">
            <h3>Sorry data not found!..</h3>
          </div> -->
        <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
      <!-- <div>
        <span *ngIf="isCatalogForm">
          <app-create-catalog
            (onCancel)="onCancelClick()"
            (onSubmit)="catalogSubmit()"
          ></app-create-catalog>
        </span>
      </div> -->
      <!-- <div>
        <span *ngIf="catelog_RMView">
          <app-catalougemodification (onCancel)="onCancelClick()"></app-catalougemodification>
        </span>
      </div>
      <div>
        <span *ngIf="isCatalogEditForm">
          <app-catalog-edit (onCancel)="catalogEditCancel()" (onSubmit)="catalogEditSubmit()"></app-catalog-edit>
        </span>
      </div> -->

      <!-- <div *ngIf="isCatalog">
        <form
          [formGroup]="catalogAddForm"
          style="
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            gap: 10px;
            margin-top: 20px;
          "
        >
          <mat-form-field
            (click)="catlogname()"
            appearance="outline"
            style="width: 250px"
          >
            <mat-label>Catalogue Name</mat-label>
            <input
              #productInput
              placeholder="Select product"
              matInput
              formControlName="product_name"
              [matAutocomplete]="producttype"
              required
            />
            <mat-autocomplete
              #producttype="matAutocomplete"
              [displayWith]="displaydis"
              (opened)="productScroll()"
            >
              <mat-option *ngIf="isLoading" class="is-loading"
                >Loading...</mat-option
              >
              <ng-container *ngIf="!isLoading">
                <mat-option
                  size="5"
                  *ngFor="let product of productList"
                  (onSelectionChange)="prod(product)"
                  [value]="product"
                  title="{{ product.name }}"
                  >{{ product.name }}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>

          <button
            class="btn btn-outline-primary mt-3"
            (click)="catalogsearch()"
            type="submit"
            style="border-radius: 40px"
            color="primary"
          >
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>

          <button
            class="btn btn-outline-primary mt-3"
            style="border-radius: 40px"
            color="primary"
            (click)="Reset()"
          >
            Reset
          </button>

          <button
            *ngIf="catalogTab"
            type="button"
            class="btn btn-outline-success mt-3"
            (click)="addCatalog()"
            style="border-radius: 40px"
            
          >
          data-toggle="modal"
            data-target="#catalogModal" -->
            <!-- <i class="fa fa-plus"></i>
          </button>
        </form>

        <lib-vs-cbox-summary
          [SummaryDetails]="SummarycatalogData"
          [SummaryApiObj]="SummaryApicatlogObjNew"
          [unnecessary]="[]"
        ></lib-vs-cbox-summary> -->
        <!-- <div class="table-responsive" style="width: 100%;margin-top: 1%;overflow-x: hidden;"> -->
        <!-- <table class="table">
                <thead class="table_header">
                    <tr>
                        <th>S.No</th>
                        <th>Details Name</th>
                        <th>Product</th>
                        <th>Item Name</th>  
                        <th>Category </th>
                        <th>Sub Category</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let catalog of getCatalogList; index as i">
                        <th scope="row">{{ (catalogpage-1)*pageSize+i+1 }}</th>
                        <td>{{ catalog.detailname }}</td>
                        <td>{{ catalog.productname.name }}</td>
                        <td>{{ catalog.name}}</td>
                        <td>{{ catalog.category.name }}</td>
                        <td>{{ catalog.subcategory.name}}</td>
                        <td>{{ catalog.fromdate | date:'dd-MMM-yyyy' }}</td>
                        <td>{{ catalog.todate | date:'dd-MMM-yyyy' }}</td>
                        <td>
                            <button mat-icon-button matTooltip="view" class="iconbutton"
                                (click)="RMView_catelog({'new_data':catalog})" color="primary">
                                <mat-icon class="enabled_icon" aria-label="view">visibility</mat-icon>
                            </button>
                        </td>
                        <td *ngIf=" vendor_flag==true">
                            <button *ngIf="catalog.modify_ref_id>0" mat-icon-button matTooltip=" Edit"
                                class="iconbutton" (click)="catalogEdit(catalog)" [disabled]="true" color="primary">
                                <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                            </button>
                            <button *ngIf="catalog.modify_ref_id=='-1'" mat-icon-button matTooltip=" Edit"
                                class="iconbutton" (click)="catalogEdit(catalog)" color="primary">
                                <mat-icon style="color:green;" aria-label="Edit">edit</mat-icon>
                            </button>
                        </td>
                        <td *ngIf=" vendor_flag==false">
                            <button mat-icon-button matTooltip=" Edit" class="iconbutton" (click)="catalogEdit(catalog)"
                                [disabled]="true" color="primary">
                                <mat-icon style="color:gray;" aria-label="Edit">edit</mat-icon>
                            </button>
                        </td>
                        <td *ngIf=" vendor_flag==true">
                            <button *ngIf="catalog.modify_ref_id>0" mat-icon-button  matTooltip=" Delete" class="iconbutton" [disabled]="true"
                                (click)="deleteCatalog(catalog,i)" color="primary">
                                <mat-icon style="color: gray;">delete</mat-icon>
                            </button>
                            <button *ngIf="catalog.modify_ref_id=='-1'" mat-icon-button  matTooltip=" Delete"class="iconbutton"
                                (click)="deleteCatalog(catalog,i)" color="primary">
                                <mat-icon style="color:green;">delete</mat-icon>
                            </button>
                        </td>
                        <td *ngIf=" vendor_flag==false">
                            <button mat-icon-button  matTooltip=" Delete"class="iconbutton" (click)="deleteCatalog(catalog,i)"
                                color="primary" [disabled]="true">
                                <mat-icon class="disabled_icon">delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
             <div *ngIf="getCatalogList ?.length == 0" style="margin-left: 42%;"> 
                
             <h3>Sorry data not found!.. </h3> 
             </div> 
            <div class="row" *ngIf="isCatalogPagination">
                <div class="col-sm-12" style="font-size: small;text-align:right;margin-bottom: 5%;">
                    <button mat-icon-button [disabled]="has_previous === false" color="primary"
                        (click)="previousClickCatalog()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    {{catalogpage}}
                    <button mat-icon-button [disabled]="has_next === false" color="primary"
                        (click)="nextClickCatalog()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div> -->

        <!-- <div *ngIf="c -->
          <!-- <table class="table">
            <thead class="table_header">
              <tr>
                <th>S.No</th>
                <th>DetailsName</th>atalog_modify">
          <h2>Modification Summary</h2>
          <lib-vs-cbox-summary
            [SummaryDetails]="SummarymodifycatalogData"
            [SummaryApiObj]="SummaryApicatlogmodifyObjNew"
            [unnecessary]="[]"
          ></lib-vs-cbox-summary>
                <th>Product</th>
                <th>Item Name</th>
                <th>Category</th>
                <th>SubCategory</th>
                <th>FromDate</th>
                <th>Todate</th>
                <th>Status</th>
                <th>Action</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let j of catalog_data; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ j.detailname }}</td>
                <td>{{ j.productname.name }}</td>
                <td>{{ j.name }}</td>
                <td>{{ j.category.name }}</td>
                <td>{{ j.subcategory.name }}</td>
                <td>{{ j.fromdate | date : "dd-MMM-yyyy" }}</td>
                <td>{{ j.todate | date : "dd-MMM-yyyy" }}</td>
                <td *ngIf="j.modify_status == 1">Create</td>
                <td *ngIf="j.modify_status == 2">Update</td>
                <td *ngIf="j.modify_status == 0">Delete</td>
                <td>
                  <span *ngIf="j.modify_ref_id != j.id && j.modify_status == 1">
                    <button mat-icon-button matTooltip="Edit" class="iconbutton" (click)="catalogEdit(j)"
                      color="primary" [disabled]="true">
                      <mat-icon style="color: gray" aria-label="Edit">edit</mat-icon>
                    </button>
                  </span>
                  <span *ngIf="j.modify_ref_id == j.id && j.modify_status == 1">
                    <button mat-icon-button matTooltip="Edit" class="iconbutton" (click)="catalogEdit(j)"
                      color="primary">
                      <mat-icon style="color: green" aria-label="Edit">edit</mat-icon>
                    </button>
                  </span>
                  <span *ngIf="j.modify_status == 2 && j.modify_ref_id != true">
                    <button mat-icon-button matTooltip="Edit" class="iconbutton" (click)="catalogEdit(j)"
                      color="primary">
                      <mat-icon class="enabled_icon" aria-label="Edit">edit</mat-icon>
                    </button>
                  </span>
                  <span *ngIf="j.modify_status == 2 && j.modify_ref_id == true">
                    <button mat-icon-button matTooltip="Edit" class="iconbutton" (click)="catalogEdit(j)"
                      color="primary" [disabled]="true">
                      <mat-icon class="disabled_icon" aria-label="Edit">edit</mat-icon>
                    </button>
                  </span>
                </td>
                <td>
                  <span *ngIf="j.modify_status != 0">
                    <button mat-icon-button class="iconbutton" (click)="deleteCatalog(j, i)" color="primary">
                      <mat-icon class="enabled_icon">delete</mat-icon>
                    </button>
                  </span>
                  <span *ngIf="j.modify_status == 0">
                    <button mat-icon-button class="iconbutton" (click)="deleteCatalog(j, i)" color="primary"
                      [disabled]="true">
                      <mat-icon class="disabled_icon">delete</mat-icon>
                    </button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table> -->
          <!-- <div *ngIf="catalog_data?.length == 0" style="margin-left: 42%">
            <h3>Sorry data not found!..</h3>
          </div> -->
        <!-- </div> -->
        <!-- </div> -->
      <!-- </div>  -->
    <!-- </div> -->
    <!-- 
    <div style="margin-bottom: 10%;margin-top: 1%;">
        <nav>
            <div class="nav nav-tabs">
                <div *ngIf="catalogTab">
                    <a class="nav-item nav-link" data-toggle="tab" role="tab"
                        (click)="catalogBtn()">Catalog:({{catname}})
                    </a>
                </div>

                <!<div *ngIf="isCatalog">
                <button type="button" class="btn btn-outline-success" (click)="addCatalog()" style="border-radius:40px;margin-left: 50px"><span class="fa fa-plus"></span>
                    Catalog</button>
            </div> -->
    <!-- </div> -->
    <!-- </nav>  -->
  <!-- </div>
</div> -->

<!-- Modal -->
<!-- <div>
  <div
    class="modal fade"
    id="catalogModal"
    tabindex="-1"
    aria-labelledby="catalogModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" style="max-width: 900px; width: 100%">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title" id="catalogModalLabel">{{rename}}</p>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            #closeaddpopup
            (click)="closepopup()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div *ngIf="isActivityDetailForm">
          <app-activitydetail
            (onCancel)="activityDetailCancel()"
            (onSubmit)="activityDetailSubmit()"
          >
          </app-activitydetail>
        </div>

        <div *ngIf="isActivityDetailEditForm">
          <app-activitydetail-edit
            (onCancel)="activityDetailEditCancel()"
            (onSubmit)="activityDetailEditSubmit()"
          >
          </app-activitydetail-edit>
        </div>

        <div *ngIf="isCatalogForm">
          <app-create-catalog
            (onCancel)="onCancelClick()"
            (onSubmit)="catalogSubmit()"
          ></app-create-catalog>
        </div>

        <div *ngIf="isCatalogEditForm">
          <app-catalog-edit
            (onCancel)="catalogEditCancel()"
            (onSubmit)="catalogEditSubmit()"
          ></app-catalog-edit>
        </div>

        <div *ngIf="catelog_RMView">
          <app-catalougemodification
            (onCancel)="onCancelClick()"
          ></app-catalougemodification>
        </div>
      </div>
    </div>
  </div>
</div> -->
