// .modal-dialog{
//     max-width:fit-content;
//     max-height: fit-content;
//     overflow-y: hidden;
//     overflow-x: hidden;
// }
// .modal-body{
// max-height: calc(100vh - 200px);
// min-height: fit-content;
// overflow-y: auto;
// overflow-x: auto;
// }

// ::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }

:host ::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 
// .mat-form-field-appearance-legacy .mat-form-field-label{
//     // color: black;
//     // font-weight: 400;
//     // font-size: 18px;
// }
.mat-form-field-underline{
    background-color: black !important;
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after{
    color: rgba(0,0,0,.70);
}}
#subname{
    color: black;
}

.mat-datepicker-toggle{
    font-size: 25px;
}
::ng-deep .cdk-overlay-pane {
  /* Do you changes here */
    min-width:200px;
    width: auto !important;
}
::ng-deep .mat-tooltip {
    font-size: 13px;
  }






// .modal-content{
//     width: fit-content;
// }
// .modal-body{
//     width: 700px;
// }