<div style="margin-top: 20px"></div>
<div class="header-btn" *ngIf="issummary">
  <div class="content-1">
    <h4>Delegation-Long Leave/Mandatory Leave</h4>
    <p>
      On leave , Approver/ Recommender/ Opinioner nominate to others to approve
      the Notes.
    </p>
  </div>

  <button
  id="attendadd"
    type="button"
    class="btn btn-outline-primary"
    style="border-radius: 40px; margin-left: 12px"
    (click)="createrequest()"
  >
    Add
  </button>
</div>
<div *ngIf="issummary" style="margin-top: 20px">
  <lib-vs-cbox-summary
    [SummaryDetails]="SummaryData"
    [SummaryApiObj]="SummaryApiObj"
    [unnecessary]="[]"
  >
  </lib-vs-cbox-summary>
</div>
<div *ngIf="!issummary">
  <app-attendancecreate (onCancel)="createrequest()"></app-attendancecreate>
</div>
