.input-style {
    width: 150px;
    margin-left: 40px;
}
.input-style2 {
    width:150px;
    margin-left: 40px;
}


thead tr {
    padding: 0.5em 0.1em 0.1em;
}
th, td{
    text-align:center;
  
}

::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }