<!-- <mat-card style="margin:0 12px 20px 0px;"> -->
<div
  style="
    display: grid;
    grid-template-columns: 16fr 50px -1fr;
    gap: 20px;
    margin-top: 25px;
  "
>
  <section class="dif-cards">
    <h2 *ngIf="ruleid">Rule Engine Update Form</h2>
    <h2 *ngIf="!ruleid">Rule Engine Form</h2>
    <div class="form-container">
      <!-- Left Column -->

      <!-- Rule Name -->
      <div class="npm-mat-edit">
        <mat-form-field appearance="outline">
          <mat-label>Enter Rule Name</mat-label>
          <input
            matInput
            placeholder="e.g Self Column map"
            [(ngModel)]="ruleform.rulename"
            #rulename="ngModel"
            required
          />
          <!-- <mat-error *ngIf="rulename.invalid && rulename.touched">
            Rulename is required
          </mat-error> -->
        </mat-form-field>
      </div>

      <!-- Description -->
      <div class="npm-mat-edit">
        <mat-form-field appearance="outline">
          <mat-label>Enter Description</mat-label>
          <input
            matInput
            placeholder="e.g This rule applies self mapping"
            [(ngModel)]="ruleform.description"
            #description="ngModel"
            required
          />
          <!-- <mat-error *ngIf="description.invalid && description.touched">
            Description is required
          </mat-error> -->
        </mat-form-field>
      </div>

      <!-- Delimiters -->
      <div class="npm-mat-edit">
        <mat-form-field appearance="outline">
          <mat-label>Enter Delimiters</mat-label>
          <input
            [(ngModel)]="ruleform.delimiter"
            matInput
            placeholder="e.g /- "
            autocomplete="off"
            (keypress)="allowOnlySpecialCharacters($event)"
            (blur)="clearSpecialKey()"
            #delimiter="ngModel"
          />
          <!-- <mat-error *ngIf="delimiter.invalid && delimiter.touched">
            Delimiter is required
          </mat-error> -->
        </mat-form-field>
      </div>

      <!-- Occurrence of Delimiter -->
      <div class="npm-mat-edit">
        <mat-form-field appearance="outline">
          <mat-label>Occurrence of Delimiter</mat-label>
          <input
            matInput
            type="number"
            placeholder="e.g 5"
            [(ngModel)]="ruleform.occurencess"
            #occurencess="ngModel"
            required
          />
          <!-- <mat-error *ngIf="occurencess.invalid && occurencess.touched">
            Occurrence of Delimiter is required
          </mat-error> -->
        </mat-form-field>
      </div>

      <!-- With And Includes -->
      <div class="npm-mat-edit">
        <mat-form-field appearance="outline">
          <mat-label>With And Includes</mat-label>
          <input
            matInput
            placeholder="withandincludes"
            [(ngModel)]="ruleform.includesandwith"
          />
        </mat-form-field>
      </div>

      <!-- No of Chars -->
      <div class="npm-mat-edit">
        <mat-form-field appearance="outline">
          <mat-label>No of Chars</mat-label>
          <input
            matInput
            type="number"
            placeholder="e.g 15"
            [(ngModel)]="ruleform.noofchars"
            #noofchars="ngModel"
            required
          />
          <!-- <mat-error *ngIf="noofchars.invalid && noofchars.touched">
            No of characters is required
          </mat-error> -->
        </mat-form-field>
      </div>

      <!-- Reference Column -->
      <div class="npm-mat-edit">
        <mat-form-field appearance="outline">
          <mat-label>Reference Column <span>*</span></mat-label>
          <mat-select [(ngModel)]="ruleform.Field_type">
            <mat-option
              *ngFor="let column of syscolumns"
              [value]="column.value"
            >
              {{ column.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
        <lib-vs-dynamicform-cmp id="matInput-size" [InputFields]="template_drop"
        [formGroup]="rulecreateForm"></lib-vs-dynamicform-cmp>
  
    </div>

    <!-- Footer Buttons -->
    <div class="footer-btns">
      <button
        type="submit"
         style="border-radius: 40px"
        (click)="submitrule()"
        class="btn btn-outline-success"
      >
        Submit
      </button>
      <button
        (click)="onCancelClick()"
        class="btn btn-outline-dark"
         style="border-radius: 40px"
      >
        Cancel
      </button>
    </div>
  </section>
</div>

<!-- <div class="row">
                <div class="col-3">
                    <label id="labelname">
                       
                        Select Rule Types:
                    </label>
                </div>

                <div class="row col-6">
                    <span class="col-4" *ngFor="let rule of ruletypes" style="margin-top: 2%;">
                        <mat-checkbox [(ngModel)]="rule.isSelected" color="primary">
                            <span>{{rule.name}}</span>
                        </mat-checkbox>
                        <br>
                    </span>
                </div>

            </div> -->
<!-- <div class="row">
                <div class="col-3">
                    <label id="labelname">
                       
                        Traversing : 
                    </label>
                </div>

                <div class="row col-6">
                    <mat-radio-group color="primary" [(ngModel)]="ruleform.traversing"
                        style="margin-top: 2%;">
                        <mat-radio-button style="margin-left:15px" [value]="true">Forward</mat-radio-button>
                        <mat-radio-button style="margin-left:10px" [value]="false">Backward</mat-radio-button>
                    </mat-radio-group>
                </div>

            </div> -->
<!-- <div class="col-4">
                <div class="row">
                    <div class="col-4">
                        <label id="labelname">
                       
                            Select Rule Types:
                        </label>
                    </div>

                    <div class="col-6" style="padding:1%">

                        <mat-form-field class="matformfieldstyle" appearance="outline">
                            <mat-select class="matformfieldinputstyle">
                                <mat-option *ngFor="let rule of ruletypes">
                                    {{rule.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <span *ngFor="let rule of ruletypes" id="labelname">
                            <mat-checkbox [(ngModel)]="rule.isSelected" color="primary">
                                <span>{{rule.name}}</span>
                            </mat-checkbox>
                            <br>
                        </span>



                    </div>

                </div>
            </div> -->
<!-- </div> -->

<!-- <button type="button"  class="btn btn-light" (click)="onCancelClick()" skipLocationChange
                style="border-radius: 7px;margin-left: 10px;
                border-color: black;
                background-color: white;">Cancel</button>
                <button type="submit" style="border-radius: 10px;margin-left: 10px;
                border-color: #01A85A;
                background-color: #01A85A;"
                    class="btn btn-light" (click)="editVendorForm()" >Submit</button>    -->

<!-- </mat-card> -->

<!-- <pre>{{ruleform | json}}</pre> -->
