.tableFixHead {
  margin-left: 5%;
  width: 90%;
  margin-top: 5%;
}

.fontalign {
  font-size: small;
  text-align: right;
  margin-bottom: 5%;
}

.filedata {
  display: inline-block;
  background-color: #686fc5;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
.table-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-size: 18px;
  margin-top: 10px;
  button {
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
  }
}

.mat_width {
  width: 75%;
  margin-left: 10%;
}
.btns_top{
  margin-top: 1%;
  margin-left: -2.5%;
}

.input_hidden {
  border-bottom-style: hidden;
}

.label {
  background-color: #686fc5;
  border-radius: 40px;
  margin-top: 10%;
}

.mat_margin {
  margin-left: 10px;
}
.btn_sty{
  margin-left: 25px;
  border-radius: 40px;
}
.margin {
  margin-left: 2.5%;
}

.status_margin {
  margin-left: -34.8%;
}

.search_btn {
  border-radius: 40px;
  margin-top: 10%;
  margin-left: 70%;
}

.reset_btn {
  border-radius: 40px;
  margin-top: 12%;
  margin-left: -10%;
}

.cmn_btn {
  border-radius: 40px;
  margin-top: 20px;
  margin-left: 15%;
}

.table_color {
  background-color: #00800021;
}

.color_btn {
  color: green;
}

.action_color {
  font-size: 24px;
  color: green;
}

.delete {
  font-size: 24px;
  color: black;
}

.text_center {
  text-align: center;
}

.pagination {
  margin-bottom: 5%;
  font-size: small;
  text-align: right;
}

.row_width {
  width: 95%;
  margin-left: 5%;
  margin-top: 5%;
}

.choose_top {
  margin-top: -1%;
  margin-left: 2%;
}

.left_btn{
  margin-right: 2%;
  margin-bottom: 1%;
}
.nor_btm{
  width: 100%;
  padding: 12px;
  background: rgba(206, 206, 207, 0.4117647059);
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}
.btn_clear{
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  background: #ff00009e;
  color: white;
}
.status-btn {
  padding: 6px 12px !important;
  border: none !important;
  border-radius: 4px !important;
  color: white !important;
  font-size: 14px !important;
  cursor: pointer !important;
}

.status-btn.processing {
  background-color: #ffa500a8 !important;
  color: #ffffff !important;
  border-radius: 12px !important;
  font-size: small !important;
}
.status-btn.danger {
  background-color: rgba(255, 0, 0, 0.652) !important;
  color: #ffffff !important;
  border-radius: 12px !important;
  font-size: small !important;
}

.status-btn.success {
  background-color: #cbf4d7 !important;
  color: #218c3f !important;
  border-radius: 12px !important;
  font-size: small !important;
}

.status-btn.uploaded {
  background-color: #e5e5ff !important;
  color: #2d2e8e !important;
  border-radius: 12px !important;
  font-size: small !important;
}
.status-btn.none{
  outline: none;
  background: white;
  color: black !important;
}