// .tablescroll{
    // height:400px;
    // width:95%;
    // overflow:auto;
    // overflow: scroll;
    // overflow:visible;
    // display: block;
  // }

  .tableFixHead          { overflow: auto; max-height: 400px; margin-bottom: 5%; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%;font-size: 13px; }
th, td { padding: 14px 16px; }
th     { background:#DDEFDD; }

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}
.example-custom-placeholder {
  background: #ccc;
  /* border: dotted 3px #999; */
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box{
  cursor: move;
}
table th:empty{display:none;}
// table td:empty{display:none;}
tr {white-space: pre;}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #78e382;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #01A85A;
}
.compact-green-button {
  background-color: #e8f0e84d;
  color: #000000;
  border-radius: 6px;
  padding: 2px 8px;
  height: 32px;
  min-width: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  box-shadow: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.greenbtn{
  background-color: green;
  color: #ffffff;
  border-radius: 6px;
  padding: 2px 8px;
  height: 32px;
  min-width: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  box-shadow: none;
  transition: background-color 0.3s, box-shadow 0.3s;

}

.pdf-icon {
  color: white;                 
  font-size: 18px;
}
.excel-icon {
  color: #217346;
  font-size: 18px;
  padding: 1px;
}
.pdf-icon{
  color: #D32F2F;
  font-size: 18px;
  padding: 1px;
}
.modal-xl{
  max-width: 97%;
}
mat-panel-title{
  display: flex;
  justify-content: space-between;
  margin: inherit;
}
.custom-icon {
  display: flex;
  align-items: center;
  margin-left: auto;  
  cursor: pointer;   
}
::ng-deep .mat-expansion-indicator {
  display: none !important;
}
.supplier-name-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  max-width: 200px;        
  display: inline-block;    
}
.lable_font_style{
  font-weight: 500;
  font-size: small;
}
body{
  padding-right: 0px !important;
}
.compact-red-button {
  background-color: #e34343;
  color: #ffffff;
  border-radius: 6px;
  padding: 2px 8px;
  height: 32px;
  min-width: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  box-shadow: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}