<div class="modal-body">
  <div>
    <!-- <form [formGroup]="branchForm">
            <div class=" row col-md-12">
                  <div style="margin-bottom: 17%;">
            <button type="button" class="btn btn-outline-primary" style="border-radius: 40px;margin-left: 10px;"
                (click)="Cancel()">Cancel</button>
        </div>
        <h6> Changes</h6>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Name:<code
                                *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.name!=modificationdata.old_data.name">{{modificationdata.old_data.name}}</code>
                        </mat-label>
                        <input matInput  formControlName="name" autocomplete="off" >
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Limitdays:<code
                                *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.limitdays!=modificationdata.old_data.limitdays">{{modificationdata.old_data.limitdays}}</code>
                        </mat-label>
                        <input matInput  formControlName="limitdays" autocomplete="off" >
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Credit Terms:<code
                                *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.creditterms!=modificationdata.old_data.creditterms">{{modificationdata.old_data.creditterms}}</code>
                        </mat-label>
                        <input matInput  formControlName="creditterms" autocomplete="off" >
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>GST Number:<code
                                *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.gstno!=modificationdata.old_data.gstno">{{modificationdata.old_data.gstno}}</code>
                        </mat-label>
                        <input matInput  formControlName="gstno" autocomplete="off" >
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Pan Number:<code
                                *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.panno!=modificationdata.old_data.panno">{{modificationdata.old_data.panno}}</code>
                        </mat-label>
                        <input matInput  formControlName="panno" autocomplete="off" >
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Remarks:<code
                                *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.remarks!=modificationdata.old_data.remarks">{{modificationdata.old_data.remarks}}</code>
                        </mat-label>
                        <input matInput  formControlName="remarks" autocomplete="off" >
                    </mat-form-field>
                </div>
                <div  class="col-md-6" [formGroup]=" branchForm.controls.contact">
                    
                        <legend>Contact:</legend>
                        <mat-form-field>
                            <mat-label>Name:<code
                                    *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.contact_id.name!=modificationdata.old_data.contact_id.name">{{modificationdata.old_data.contact_id.name}}</code>
                            </mat-label>
                            <input matInput  formControlName="name" autocomplete="off" >
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email:<code
                                    *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.contact_id.email!=modificationdata.old_data.contact_id.email">{{modificationdata.old_data.contact_id.email}}</code>
                            </mat-label>
                            <input matInput  formControlName="email" autocomplete="off" >
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Designation:<code
                                    *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.contact_id.designation_id.name!=modificationdata.old_data.contact_id.designation_id.name">{{modificationdata.old_data.contact_id.designation_id.name}}</code>
                            </mat-label>
                            <input matInput  formControlName="designation_id" autocomplete="off" >
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Type:<code
                                    *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.contact_id.type_id.name!=modificationdata.old_data.contact_id.type_id.name">{{modificationdata.old_data.contact_id.type_id.name}}</code>
                            </mat-label>
                            <input matInput  formControlName="type_id" autocomplete="off" >
                        </mat-form-field>
                       
                        <mat-form-field>
                            <mat-label>Landline:<code
                                    *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.contact_id.landline!=modificationdata.old_data.contact_id.landline">{{modificationdata.old_data.contact_id.landline}}</code>
                            </mat-label>
                            <input matInput  formControlName="landline" autocomplete="off" >
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Landline 2:<code
                                    *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.contact_id.landline2!=modificationdata.old_data.contact_id.landline2">{{modificationdata.old_data.contact_id.landline2}}</code>
                            </mat-label>
                            <input matInput  formControlName="landline2" autocomplete="off" >
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Mobile 1:<code
                                    *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.contact_id.mobile!=modificationdata.old_data.contact_id.mobile">{{modificationdata.old_data.contact_id.mobile}}</code>
                            </mat-label>
                            <input matInput  formControlName="mobile" autocomplete="off" >
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Mobile 2:<code
                                    *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.contact_id.mobile2!=modificationdata.old_data.contact_id.mobile2">{{modificationdata.old_data.contact_id.mobile2}}</code>
                            </mat-label>
                            <input matInput  formControlName="mobile2" autocomplete="off" >
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>DOB:<code
                                    *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.contact_id.dob!=modificationdata.old_data.contact_id.dob">{{modificationdata.old_data.contact_id.dob}}</code>
                            </mat-label>
                            <input matInput  formControlName="dob" autocomplete="off" >
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>wedding_date :<code
                                    *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.contact_id.wedding_date!=modificationdata.old_data.contact_id.wedding_date">{{modificationdata.old_data.contact_id.wedding_date}}</code>
                            </mat-label>
                            <input matInput  formControlName="wedding_date" autocomplete="off" >
                        </mat-form-field>
                    
                </div>
                <div  class="col-md-6" [formGroup]=" branchForm.controls.address">
                
                        <legend>Address:</legend>
                        <mat-form-field>
                            <mat-label>Address 1:<code
                                    *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.address_id.line1!=modificationdata.old_data.address_id.line1">{{modificationdata.old_data.address_id.line1}}</code>
                            </mat-label>
    
                            <input matInput placeholder="Name" formControlName="line1" autocomplete="off" >
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Address 2:<code
                                    *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.address_id.line2!=modificationdata.old_data.address_id.line2">{{modificationdata.old_data.address_id.line2}}</code>
                            </mat-label>
    
                            <input matInput placeholder="Name" formControlName="line2" autocomplete="off" >
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Address 3:<code
                                    *ngIf="modificationdata.new_data.modify_status==2  && modificationdata.new_data.address_id.line3!=modificationdata.old_data.address_id.line3">{{modificationdata.old_data.address_id.line3}}</code>
                            </mat-label>
    
                            <input matInput placeholder="Name" formControlName="line3" autocomplete="off" >
                        </mat-form-field>

                    <mat-form-field>
                        <mat-label>Pin Code:<code
                                *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.address_id.pincode_id.id!=modificationdata.old_data.address_id.pincode_id.id">{{modificationdata.old_data.address_id.pincode_id.no}}</code>
                        </mat-label>

                        <input matInput placeholder="Name" formControlName="pincode_id" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field>
                    <mat-label>City:<code
                        *ngIf="modificationdata.new_data.modify_status==2  && modificationdata.new_data.address_id.city_id.id!=modificationdata.old_data.address_id.city_id.id">{{modificationdata.old_data.address_id.city_id.name}}</code>
                </mat-label>

                <input matInput placeholder="Name" formControlName="city_id" autocomplete="off">
            </mat-form-field>

            <mat-form-field>
                <mat-label>District:<code
                        *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.address_id.district_id.id!=modificationdata.old_data.address_id.district_id.id">{{modificationdata.old_data.address_id.district_id.name}}</code>
                </mat-label>

                <input matInput placeholder="Name" formControlName="district_id" autocomplete="off"
                    >
            </mat-form-field>
            <mat-form-field>
                <mat-label>State:<code
                        *ngIf="modificationdata.new_data.modify_status==2 && modificationdata.new_data.address_id.state_id.id!=modificationdata.old_data.address_id.state_id.id">{{modificationdata.old_data.address_id.state_id.name}}</code>
                </mat-label>

                <input matInput placeholder="Name" formControlName="state_id" autocomplete="off"
                    >
            </mat-form-field>
                     
                </div>
                
            </div>
        </form> -->

    <div class="timeline">
      <div class="changes-container">
        <div class="content-new">
          <!-- <div *ngIf="modificationdata.action == 2"> -->
          <div>
            <h3>New data</h3>
          </div>
          <ol>
            <li>
              <div class="li-div">
                <code>Name</code>:&nbsp;<span
                  [class.changes]="
                    modificationdata.new_data.modify_status == 2 &&
                    modificationdata.new_data.name !=
                      modificationdata.old_data.name
                  "
                  >{{ modificationdata.new_data.name }}</span
                >
              </div>
            </li>
            <li>
              <div class="li-div">
                <code>Remarks</code>:&nbsp;<span
                  [class.changes]="
                    modificationdata.new_data.modify_status == 2 &&
                    modificationdata.new_data.remarks !=
                      modificationdata.old_data.remarks
                  "
                  >{{ modificationdata.new_data.remarks }}</span
                >
              </div>
            </li>
            <li>
              <div class="li-div">
                <code>Limitdays</code>:&nbsp;<span
                  [class.changes]="
                    modificationdata.new_data.modify_status == 2 &&
                    modificationdata.new_data.limitdays !=
                      modificationdata.old_data.limitdays
                  "
                  >{{ modificationdata.new_data.limitdays }}</span
                >
              </div>
            </li>
            <li>
              <div class="li-div">
                <code>Credit Terms</code>:&nbsp;<span
                  [class.changes]="
                    modificationdata.new_data.modify_status == 2 &&
                    modificationdata.new_data.creditterms !=
                      modificationdata.old_data.creditterms
                  "
                  >{{ modificationdata.new_data.creditterms }}</span
                >
              </div>
            </li>
            <li>
              <div class="li-div">
                <code>PAN Number</code>:&nbsp;<span
                  [class.changes]="
                    modificationdata.new_data.modify_status == 2 &&
                    modificationdata.new_data.panno !=
                      modificationdata.old_data.panno
                  "
                  >{{ modificationdata.new_data.panno }}</span
                >
              </div>
            </li>
            <li>
              <div class="li-div">
                <code>GST Number</code>:&nbsp;<span
                  [class.changes]="
                    modificationdata.new_data.modify_status == 2 &&
                    modificationdata.new_data.gstno !=
                      modificationdata.old_data.gstno
                  "
                  >{{ modificationdata.new_data.gstno }}</span
                >
              </div>
            </li>
            <li>
              <!-- <Address> -->
                <div class="li-div">
                  <code>Address</code>:&nbsp;
                  <div class="grid-adjust">
                    <span
                      [class.changes]="
                        modificationdata.new_data.modify_status == 2 &&
                        modificationdata.new_data.address_id.line1 !=
                          modificationdata.old_data.address_id.line1
                      "
                      >{{ modificationdata.new_data.address_id.line1 }}</span
                    >,
                    <span
                      [class.changes]="
                        modificationdata.new_data.modify_status == 2 &&
                        modificationdata.new_data.address_id.line2 !=
                          modificationdata.old_data.address_id.line2
                      "
                      >{{ modificationdata.new_data.address_id.line2 }}</span
                    >,
                    <span
                      [class.changes]="
                        modificationdata.new_data.modify_status == 2 &&
                        modificationdata.new_data.address_id.line3 !=
                          modificationdata.old_data.address_id.line3
                      "
                      >{{ modificationdata.new_data.address_id.line3 }}</span
                    >,
    
                    <span
                      [class.changes]="
                        modificationdata.new_data.modify_status == 2 &&
                        modificationdata.new_data.address_id.city_id.name !=
                          modificationdata.old_data.address_id.city_id.name
                      "
                      >{{ modificationdata.new_data.address_id.city_id.name }}</span
                    >,
    
                    <span
                      [class.changes]="
                        modificationdata.new_data.modify_status == 2 &&
                        modificationdata.new_data.address_id.district_id.name !=
                          modificationdata.old_data.address_id.district_id.name
                      "
                      >{{
                        modificationdata.new_data.address_id.district_id.name
                      }}</span
                    >,
                    <span
                      [class.changes]="
                        modificationdata.new_data.modify_status == 2 &&
                        modificationdata.new_data.address_id.pincode_id.no !=
                          modificationdata.old_data.address_id.pincode_id.no
                      "
                      >{{
                        modificationdata.new_data.address_id.pincode_id.no
                      }}</span
                    >,
                    <span
                      [class.changes]="
                        modificationdata.new_data.modify_status == 2 &&
                        modificationdata.new_data.address_id.state_id.name !=
                          modificationdata.old_data.address_id.state_id.name
                      "
                      >{{
                        modificationdata.new_data.address_id.state_id.name
                      }}</span
                    >
                  </div>
                </div>
              <!-- </Address> -->
            </li>
            <li>
              <!-- <Address> -->
              <div class="li-div">
                <code>Contact</code>:&nbsp;
                <div class="grid-adjust">
                  <span
                    [class.changes]="
                      modificationdata.new_data.modify_status == 2 &&
                      modificationdata.new_data.contact_id.name !=
                        modificationdata.old_data.contact_id.name
                    "
                  >
                    {{ modificationdata.new_data.contact_id.name }}</span
                  >,
                  <span
                    [class.changes]="
                      modificationdata.new_data.modify_status == 2 &&
                      modificationdata.new_data.contact_id.designation_id.name !=
                        modificationdata.old_data.contact_id.designation_id.name
                    "
                    >{{
                      modificationdata.new_data.contact_id.designation_id.name
                    }}</span
                  >,
                  <span
                    [class.changes]="
                      modificationdata.new_data.modify_status == 2 &&
                      modificationdata.new_data.contact_id.email !=
                        modificationdata.old_data.contact_id.email
                    "
                    >{{ modificationdata.new_data.contact_id.email }}</span
                  >,
                  <!-- <span [class.changes]='modificationdata.new_data.modify_status==2 &&  modificationdata.new_data.contact_id.type_id.name!=modificationdata.old_data.contact_id.type_id.name'> {{ modificationdata.new_data.contact_id.type_id.name}}</span>, -->
                  <span
                    [class.changes]="
                      modificationdata.new_data.modify_status == 2 &&
                      modificationdata.new_data.contact_id.landline !=
                        modificationdata.old_data.contact_id.landline
                    "
                    >{{ modificationdata.new_data.contact_id.landline }}</span
                  >,
                  <span
                    [class.changes]="
                      modificationdata.new_data.modify_status == 2 &&
                      modificationdata.new_data.contact_id.landline1 !=
                        modificationdata.old_data.contact_id.landline1
                    "
                    >{{ modificationdata.new_data.contact_id.landline1 }}</span
                  >,
                  <span
                    [class.changes]="
                      modificationdata.new_data.modify_status == 2 &&
                      modificationdata.new_data.contact_id.mobile !=
                        modificationdata.old_data.contact_id.mobile
                    "
                  >
                    {{ modificationdata.new_data.contact_id.mobile }}</span
                  >,
                  <span
                    [class.changes]="
                      modificationdata.new_data.modify_status == 2 &&
                      modificationdata.new_data.contact_id.mobile2 !=
                        modificationdata.old_data.contact_id.mobile2
                    "
                  >
                    {{ modificationdata.new_data.contact_id.mobile2 }}</span
                  >,
                  <span
                    [class.changes]="
                      modificationdata.new_data.modify_status == 2 &&
                      modificationdata.new_data.contact_id.dob !=
                        modificationdata.old_data.contact_id.dob
                    "
                  >
                    dob:{{
                      modificationdata.new_data.contact_id.dob
                        | date : "dd-MMM-yyyy"
                    }}</span
                  >,
                  <span
                    [class.changes]="
                      modificationdata.new_data.modify_status == 2 &&
                      modificationdata.new_data.contact_id.wedding_date !=
                        modificationdata.old_data.contact_id.wedding_date
                    "
                  >
                    wedding date:
                    {{
                      modificationdata.new_data.contact_id.wedding_date
                        | date : "dd-MMM-yyyy"
                    }}</span
                  >

                </div>
              </div>
              <!-- </Address> -->
            </li>
          </ol>
        </div>

        <div class="content-old" *ngIf="modificationdata.action == 2">
          <div *ngIf="modificationdata.action == 2">
            <h3>Old data</h3>
          </div>
          <ol>
            <li>
              <div class="li-div">
                <code>Name</code>:&nbsp;{{ modificationdata.old_data.name }}
              </div>
            </li>
            <li>
              <div class="li-div">
                <code>Remarks</code>:&nbsp;{{ modificationdata.old_data.remarks }}
              </div>
            </li>
            <li>
              <div class="li-div">
                <code>Limitdays</code>:&nbsp;{{
                  modificationdata.old_data.limitdays
                }}
              </div>
            </li>
            <li>
              <div class="li-div">
                <code>Credit Terms</code>:&nbsp;{{
                  modificationdata.old_data.creditterms
                }}
              </div>
            </li>
            <li>
              <div class="li-div">
                <code>PAN Number</code>:&nbsp;{{
                  modificationdata.old_data.panno
                }}
              </div>
            </li>
            <li>
              <div class="li-div">
                <code>GST Number</code>:&nbsp;{{
                  modificationdata.old_data.gstno
                }}
              </div>
            </li>
            <li>
              <!-- <Address> -->
              <div class="li-div">
                <code>Address</code>:&nbsp;
                <span>
                  {{ modificationdata.old_data.address_id.line1 }},
                  {{ modificationdata.old_data.address_id.line3 }},
                  {{ modificationdata.old_data.address_id.city_id.name }},
                  {{ modificationdata.old_data.address_id.line1 }},
                  {{ modificationdata.old_data.address_id.district_id.name }},
                  {{ modificationdata.old_data.address_id.pincode_id.no }},
                  {{ modificationdata.old_data.address_id.state_id.name }}
                </span>
              </div>
              <!-- </Address> -->
            </li>
            <li>
              <!-- <Address> -->
              <div class="li-div">
                <code>Contact</code>:&nbsp;
                <span>
                  {{ modificationdata.old_data.contact_id.name }},
                  {{ modificationdata.old_data.contact_id.designation_id.name }},
                  {{ modificationdata.old_data.contact_id.email }},
                  {{ modificationdata.old_data.contact_id.landline }},
                  {{ modificationdata.old_data.contact_id.landline1 }},
                  {{ modificationdata.old_data.contact_id.mobile }},
                  {{ modificationdata.old_data.contact_id.mobile2 }},
                  dob:{{
                    modificationdata.old_data.contact_id.dob
                      | date : "dd-MMM-yyyy"
                  }},
                  wedding date:
                  {{
                    modificationdata.old_data.contact_id.wedding_date
                      | date : "dd-MMM-yyyy"
                  }}
                </span>
                <!-- <span> {{ modificationdata.old_data.contact_id.name }}</span
                >,
                <span>{{
                  modificationdata.old_data.contact_id.designation_id.name
                }}</span
                >, <span>{{ modificationdata.old_data.contact_id.email }}</span
                >, -->
                <!-- <span > {{ modificationdata.old_data.contact_id.type_id.name}}</span>, -->
                <!-- <span>{{ modificationdata.old_data.contact_id.landline }}</span
                >,
                <span>{{ modificationdata.old_data.contact_id.landline1 }}</span
                >,
                <span> {{ modificationdata.old_data.contact_id.mobile }}</span
                >,
                <span> {{ modificationdata.old_data.contact_id.mobile2 }}</span
                >,
                <span>
                  dob:{{
                    modificationdata.old_data.contact_id.dob
                      | date : "dd-MMM-yyyy"
                  }}</span
                >,
                <span>
                  wedding date:
                  {{
                    modificationdata.old_data.contact_id.wedding_date
                      | date : "dd-MMM-yyyy"
                  }}</span
                >, -->
              </div>
              <!-- </Address> -->
            </li>
          </ol>
        </div>

        <div style="clear: both"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-primary"
    style="border-radius: 40px"
    (click)="Cancel()"
  >
    Cancel
  </button>
</div>
