<mat-label mat-dialog-title>
    <span style="font-weight:bold">Tasks </span>
</mat-label>
<mat-dialog-content class="mat-typography">
    <table class="table table-bordered">
        <thead class="table_header">
            <tr>
                <th>Activity</th>
                <th>Activity Details </th>
                <th>Duration</th>
            </tr>
        </thead>

        <tbody>
            <tr class="taskhover" *ngFor="let task of taskList;let index as i">
                <td><img style="height:30px;" src="/assets/todo-giphy.webp" />
                    <mat-label style="margin-left:2%">{{task?.name}}</mat-label>
                </td>
                <td>
                    <mat-label>{{task?.details}}</mat-label>
                </td>
                <td>
                    <mat-label>{{task?.duration}}</mat-label>
                </td>

            </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>