:host ::ng-deep .mat-grid-tile .mat-figure {
    justify-content: left ;
    align-items: flex-start;
    display: inline-flex;
}

::ng-deep{
.mat-dialog-content{
    overflow-y: auto;
    overflow-x: hidden;
}
}

// ghostwhite
// whitesmoke
.heading {
    font-size: 90%;
    font-weight: bold;
}

.subheading {
    font-size: 80%;
    font-weight: bold;
}

.mat-table{
    text-align: center;
}

.taskhover:hover{
 background: ghostwhite;
 font-weight: bold;
}