::ng-deep #exampleModalreturn.modal {
  padding-right: 234px !important;
}




table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 99%;
  border: 1px solid #454545;
  margin: 0 auto;
}

.preformatted {
  white-space: pre-wrap;
  display: block;
  padding: 10px;
  background-color: #F1F1F1;
  // border: 1px solid #ddd;
  border-collapse: collapse;
  // width: 95%;
}

td {
  border: none;
  text-align: left;

  padding: 8px;
}

// th {
//   display: none;
// }
tr.header-row {
  background-color: #B8D1F3;
  /* Light color for header row */
}

tr.group-row {
  background-color: #E0F1FF;
  /* Light color for group rows */
}

tr.type-row {
  background-color: #DAE5F4;
  /* Light color for group rows */
}

tr.normal-row {
  background-color: #EBF1F5;
  /* Default color for normal rows */
}

tr {
  border-bottom: 1px solid black;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
}

html,
body {
  height: 100%;
}

.div {
  height: 100%;
  width: 50%;
  background-color: powderblue;
}

span {
  display: block;
}

img {
  float: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

::ng-deep {

  .cdk-global-overlay-wrapper,
  .cdk-overlay-container {
    z-index: 9999 !important;
  }
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  max-width: 90%;
}
.container{
  margin-right: 90px !important;
  margin-left: 90px !important;
}

.openpopup {
  display: block;
  background-color: #0c0c0c5c;
}

.closepop {
  display: none;
}

.highlight {
  background-color: #36af36ab;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 10px 5px;
  border-radius: 10%;

}

.total-cell {
  border-top: 1px solid black;
  /* Add top border */
  border-bottom: 1px solid black;
  /* Add bottom border */
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #1877f2 !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #1877f2 !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #1877f2 !important;
}

.example-section {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

#exampleModal3 {
  .modal-dialog {
    max-width: 900px !important;
    margin: auto !important;
  }
}

.AmountFlex {
  display: flex;
  gap: 10px;
}

.max-widths {
  width: 600px;
}

.ParticularWidth {
  max-width: 630px !important;
  position: sticky;
  top: 0;
  left: 12px;
  z-index: 10 !important;
  min-width: 630px;
  background-color: #f1f1f1;
}

.Width95px {
  min-width: 95px !important;
  max-width: 95px !important;
}

.ScheduleWidth {
  min-width: 95px !important;
  max-width: 95px !important;
  left: 641px !important;
  top: 0;
  position: sticky;
  background-color: #f1f1f1;
}

#exampleModal4 {
  .modal-dialog {
    max-width: 1150px !important;
  }
}

.class-container {
  .Class1 {
    background-color: #bfbfbf;
  }

  .Class2 {
    background-color: #d0d0d0;
  }

  .Class3 {
    background-color: #bfbfbf;
  }
  .ClassQtr1 {
    background-color: #bfbfbf;
    flex-shrink: 0;
    text-align: center;
  }

  .ClassQtr2 {
    background-color: #d0d0d0;
    flex-shrink: 0;
    text-align: center;
  }
  .ClassQtr3 {
    background-color: #bfbfbf;
    flex-shrink: 0;
    text-align: center;
  }
}

.QuarterHeader1 {
  // border-left: 1px solid grey !important;
  background-color: #fafafa;
}
.QuarterHeader2 {
  // border-left: 1px solid grey !important;
  background-color: #6766bd4d;
}
.QuarterHeader3 {
  // border-left: 1px solid grey !important;
  background-color: #5092d242;
}