<div class="row col-md-12" style="margin-top: 2%;margin-left: 1%;width: 99%;margin-bottom: 2%;">
    <form [formGroup]="rulemaster">
        <div  style="margin-right: 1%;">
          <mat-form-field appearance="outline" style="width: auto">
            <mat-label>Order</mat-label>
            <input matInput formControlName="summarydate">
          </mat-form-field>
        </div>

        <div style="margin-left: 1%;" class="col-md-3">
            <button class="btn btn-outline-success" style="border-radius:25px;font-size: 95%;margin-top: 6%;margin-left: -30%;" type="submit"  (click)="rule_search()">Search</button>
        </div>
    </form>
</div>

<div class="mat-elevation-z8" class="table-row">
    <div style="overflow-x: auto; max-height: 500px;margin-top:2%;">
        <div style=" margin-left: 4%;">
            <table class="table table-bordered mat-elevation-z8" id="boxlevel" style="margin-left: -2%;">
                <thead class="table_header">
                    <th style="text-align: center;">S.No</th>
                    <th style="text-align: center;">File name</th>
                    <th style="text-align: center;">Order</th>
                    <th style="text-align: center;">Status</th>
                </thead>
                <tbody *ngFor="let sum of rulesummary; let i=index">
                    <td style="text-align: center;">{{i+1}}</td>
                    <td style="text-align: center;">{{sum.file_name}}</td>
                    <td style="text-align: center;">{{sum.order}}</td>
                    <td style="text-align: center;">{{(sum.brs_status == 1 ? "Integrity":"ARS" )}}</td>
                </tbody>
            </table>
        </div>
    </div>
</div>
