<section class="screen-padding screen-lm">
  <div class="comp-header">
    <span style="font-weight: 600">Culled History</span>
  </div>
  <!-- <button matTooltip="Create Barcode Request" matTooltipClass="rmutooltip" type="button"
            class="btn btn-outline-success" (click)="addrequest()" id="rmubtn" style="margin-left: 20px;"><span
                class="fa fa-plus"></span>
            ADD</button> -->

  <div class="filter-aling-2">
    <lib-vs-search-cmp
      class="npm-mat-edit"
      [SearchArr]="Culling_search"
      [Outputtype]="searchvar"
      (dataoutput)="getsummary($event)"
    >
    </lib-vs-search-cmp>
  </div>
  <lib-vs-cbox-summary
    [SummaryDetails]="Culling_summary"
    [SummaryApiObj]="Culling_summaryapi"
  ></lib-vs-cbox-summary>

  <!-- <form [formGroup]="summaryform">
        <section role="search" class="row">

            <div class="col-md-3">

                <mat-form-field class="summaryformfield" appearance="outline" style="width: 100%;">
                    <mat-label>Culling Code</mat-label>
                    <input matInput formControlName="department">
                </mat-form-field>
            </div>
            <div class="col-md-3">

                <mat-form-field class="summaryformfield" appearance="outline" style="width: 100%;">
                    <mat-label>Culling Requested Date</mat-label>
                    <input matInput formControlName="req_date">
                </mat-form-field>
            </div>

         
            <div class="col-md-3">
                <mat-form-field class="summaryformfield" appearance="outline" style="width: 100%;">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option>

                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3" style="margin-top: 1.2%;">  --------------------------------------kowsi command------------------>
  <!-- <div id="rmubtngrp"> -->
  <!-- <button matTooltip="Search Records" matTooltipClass="rmutooltip" matTooltipClass="rmutooltip"
                        (click)="getsummary()" class="btn btn-outline-success" style="margin-left:5%" id="rmubtn"
                        color="primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <button class="btn btn-warning" matTooltipClass="rmutooltip" [matTooltip]="'Clear Entries'"
                        style="margin-left:20px" (click)="summaryform.reset()" id="rmubtn">Clear</button> ---------------------------------------kowsi command------------------>

  <!-- </div> -->
  <!-- </div>


        </section>
    </form>
    <div id="rmucontent" class="table-responsive">
        <table class="table table-bordered" id="rmutable" *ngIf="summarylist.length">
            <thead class="table_header">
                <th>S.No</th> ---------------------------------------kowsi command------------------>
  <!-- <th>Archival Code</th> -->
  <!-- <th>Culling Date</th>
                <th>Culling Code</th> ----------------------------------------kowsi command------------------>
  <!-- <th>Barcode No</th>
                <th>Free Count</th>
                <th>Total Count</th>
                <th>Occupied Count</th>
                <th>Filled Status</th> -->
  <!-- <th>View</th>
            </thead>
            <tbody *ngFor="let sum of summarylist;index as ind">
                <td>{{(pagination.index-1)*limit+ind+1}}</td> ----------------------------------------kowsi command------------------>
  <!-- <td>{{sum.archival_code}}</td> -->
  <!-- <td>{{sum.date | date:'dd-MMM-yyyy'}}</td>
                <td>{{sum.culling_code}}</td> ----------------------------------------kowsi command------------------>
  <!-- <td>{{sum?.barcode_no}}</td>
                <td>{{sum?.free_count}}</td>
                <td>{{sum?.total_count}}</td>
                <td>{{sum?.occupied_count}}</td>

                <td>{{sum?.box_filled_status?.value}}</td> -->
  <!-- <td>                  
                    <button id="rmubtn" matTooltipClass="rmutooltip" matTooltip="Check Culled Process"
                        mat-icon-button class="btn btn-outline-success">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tbody>
        </table>
        <div *ngIf="!summarylist.length" style="margin-left: 42%;">
            <h3>Sorry no data found!... </h3>
        </div>

        <div class="col-sm-12" style="font-size: small;text-align:right;margin-bottom: 5%;">
            <button (click)="prevpage()" mat-icon-button [disabled]="pagination.has_previous === false" color="primary">
                <mat-icon>arrow_back</mat-icon>
            </button>
            {{pagination.index}}
            <button (click)="nextpage()" mat-icon-button [disabled]="pagination.has_next === false" color="primary">
                <mat-icon>arrow_forward</mat-icon>
            </button>

        </div>
    </div> --------------------------------------kowsi command------------------>
</section>
