.mat-chip.mat-standard-chip {
    background-color: #e9e9e9;
}
.mat-standard-chip {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 19px 19px;
    border-radius: 42px;
    align-items: center;
    cursor: default;
    min-height: 15px;
    height: 0px;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #535353 !important;
    display: none !important;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(48, 48, 48) !important;
}
::ng-deep .mat-chip-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: -4px;
    align-content: space-between;
    justify-content: space-evenly;
}

::ng-deep .cdk-overlay-container {
  z-index: 1300 !important;
}

.mat-radio-button {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    margin-top: 7px;
    margin-left: -8px;
}

// .thin-toggle-group .mat-button-toggle {
//   height: 42px !important;  
//   min-height: 22px !important;
//   line-height: 22px !important;
//   padding: 2px 6px !important; 
//   font-size: 14px !important; /* Increase font size */
//   color: black !important;  /* Ensure text is visible */
// }

::ng-deep .mat-button-toggle-group {
  height: 41px;
  padding: 3px;
}
// .thin-toggle-group .mat-button-toggle-checked {
//   background-color: #01a85a;
//   border-bottom: dotted 1px #01a85a;
//   border: solid 1px #78e382;
//   color: white;
// }

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 34px !important;
  padding: 0 12px !important;
}
.list-group{
  // display: none;
  margin-bottom: 5px;
}
// ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
//   line-height: 40px !important;
//   padding: 0 12px !important;
// }
// .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
//     background-color: #1ac273;
// }

// .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
//     border-color: #01a85a;
// }
button{
    border-radius: 40px;
    cursor: pointer;
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    font-size: 17px !important;
}
.width{
    width: 250px;
}
::ng-deep .mat-radio-button.mat-radio-checked .mat-radio-outer-circle::before {
    content: '\2714'; /* Unicode for the tick symbol */
    font-weight: 600;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #535353;
  }

  .tableStyle{
    max-height: 207px !important;
  }
  .tableStyle::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .tableStyle::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .tableStyle::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: transparent;
  }

  .cancel{
    margin-left: 8px;
    color: gray;
    cursor: pointer;
    font-size: 19px;
    margin-top: -5px;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center; /* Align items vertically */
}

.input-wrapper input {
    flex: 1; /* Allow the input to grow */
}

.gray{
  color: gray;
}
  .tableStyle:hover::-webkit-scrollbar-thumb {
    background: #a6a6a6;
    cursor: pointer;
  }
  .table_header{
    position: sticky;
    top: -1px;
    z-index: 10;
  }
  tr{
    text-align: center;
    padding: 5px;
  }
