<div style="margin-left: 50px;margin-right: 80%;margin-top: 3%; width: 100%;">
    <h1  *ngIf="emc_create" style="font-size: 23px;font-family: 'Times New Roman', Times, serif;color: blue;">EMC Contacts Creation</h1>
    <h1  *ngIf="!emc_create" style="font-size: 23px;font-family: 'Times New Roman', Times, serif;color: blue;">EMC Contacts Edit</h1>

    <br>
    
    <form [formGroup]="Emc_Creationform">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Name</mat-label>
                    <input type="text" #empinput matInput formControlName="employee" maxlength="60"[readonly]="!emc_create"  [matAutocomplete]="employeeauto" (click)="get_emp_dropdown('')" required (keypress)="omit_special_char($event)">
                    <mat-autocomplete #employeeauto="matAutocomplete" [displayWith]="employeeinterface" (opened)="autocompleteempScroll()">
                        <mat-option *ngIf="isLoading">Loading..</mat-option>
                        <ng-container *ngIf="!isLoading">
                            <mat-option *ngFor="let d of emplist" [value]="d">{{d.full_name}}</mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Designation</mat-label>
                    <input type="text" matInput formControlName="desg" required (keypress)="omit_special_char($event)">
                </mat-form-field>
            </div> 
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Section Handling</mat-label>
                    <input type="text" matInput formControlName="section" required (keypress)="omit_special_char($event)">
                </mat-form-field>
            </div> 
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>LandLine No</mat-label>
                    <input matInput formControlName="landline" maxlength="10" minlength="10" required (keypress)="keypress($event)">
                </mat-form-field>
            </div> 
            <div class="col-md-3">
                <mat-form-field style="width: 250px;">
                    <mat-label>Mobile No</mat-label>
                    <input  matInput formControlName="mobile" maxlength="10" minlength="10" required (keypress)="keypress($event)">
                </mat-form-field>
            </div> 
            <div class="col-md-3">
                
            <button *ngIf="emc_create" type="button" class="btn btn-success" style="border-radius:40px;margin-left: 15px;" (click)="Emc_creation()">Submit</button>
            <button *ngIf="!emc_create" type="button" class="btn btn-success" style="border-radius:40px;margin-left: 15px;" (click)="Emc_Edit()">Update</button>
            <button type="button" class="btn btn-danger" style="border-radius:40px;margin-left: 15px;" (click)="onCancelClick()">Cancel</button>
            </div>
                
        
        </div>
    </form>
</div>