<!-- <div >
  <div class="row">
    <div class="col-md-5">
   <table class="table table-responsive">
    <thead class="thead-dark">
    <tr>
      <th>Fields</th>
  
    </tr>
  </thead>
    <tr *ngFor="let item of dataArray">
      <td>{{item}}</td>
    </tr>
   </table>
  </div>
  <div class="col-md-5">
   <table class="table table-striped table-responsive">
    <thead class="thead-dark">
    <tr>
      <th>Fields in File</th>
   
    </tr>
  </thead>
  <form [formgroup]="matchcolumns">
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Account Name</mat-label>
          <mat-select matInput formControlName="adhaarno">
            
              <mat-option *ngFor="let item of  filecolumns" [value]="item"  style="padding: 1px 0 10px 0;">
                {{item}}
              </mat-option>
              

          </mat-select>
      </mat-form-field>  
      </td>
     
    </tr>
  </form>
   </table>
  </div>
</div>
</div> -->
