*,
h1,
h2,
h3,
h4 {
    font-family: "Poppins", sans-serif;
  }
  i {
    font-family: FontAwesome;
  }
  mat-icon {
    font-family: "Material Icons";
  }
  
.custom-uploadImg {
    border: 1px solid var(--thead-color-gray);
    border-radius: 6px;
  }
  .img-upload-div {
    width: 100%;
    background-color: #EFEFEF;
    border: 2px solid #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    color: rgb(186, 186, 186);
    i {
      font-size: 50px;
    }
    p {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .card_title {
            .form-control {
              width: 400px;
            }
          }

.frtodate{
  margin-left: 35%;
  margin-top: -9.3%;
}

.dynamic{
  margin-left: 28px;
}
::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }

.ajust{
  margin-left: 28px;
}

.summmary{
    margin-left: 26px;
    width: 98%;
}

.connectsearch{
  margin-left: 27px;
  margin-top: 20px;
}

.dynamic{
  margin-left: 110px;
}

.filter-aling {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.filter-aling-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.backsum{
  border-radius: 40px;
   margin-left: 90%; 
   margin-top: 5px
}

.heading{
  display: flex;
  margin-top: -30px;
}