<div class="modal-body">
  <div class="timeline">
    <div class="changes-container">
      <div class="content-new">
        <!-- <div *ngIf="modificationdata.action == 2"> -->
        <div>
          <h3>New data</h3>
        </div>
        <!--                     
                    <p><code>Branch</code>:&nbsp;<span
                        [class.changes]='modificationdata.new_data.modify_status==2 &&  modificationdata.new_data.branch_id.name!=modificationdata.old_data.branch_id.name'>{{
                        modificationdata.new_data.branch_id.name}}</span></p> -->
        <ol>
          <li>
            <div class="li-div">
              <code>PAN</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.new_data.panno !=
                    modificationdata.old_data.panno
                "
                >{{ modificationdata.new_data.panno }}</span
              >
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Exempted Is</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.new_data.isexcempted !=
                    modificationdata.old_data.isexcempted
                "
                >{{ modificationdata.new_data.isexcempted }}</span
              >
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Tax</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.new_data.tax != modificationdata.old_data.tax
                "
                >{{ modificationdata.new_data.tax.name }}</span
              >
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Sub Tax</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.new_data.subtax !=
                    modificationdata.old_data.subtax
                "
                >{{ modificationdata.new_data.taxrate.subtax_id.name }}</span
              >
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Taxrate</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.new_data.taxrate !=
                    modificationdata.old_data.taxrate
                "
                >{{ modificationdata.new_data.taxrate.rate }}</span
              >
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>MSME</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.msme != modificationdata.old_data.msme
                "
                *ngIf="modificationdata.new_data.msme == true"
                >Yes</span
              ><span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.msme != modificationdata.old_data.msme
                "
                *ngIf="modificationdata.new_data.msme == false"
                >No</span
              >
            </div>
          </li>
          <li>
            <div class="li-div">
              <code> Valid From</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.new_data.excemfrom !=
                    modificationdata.old_data.excemfrom
                "
                >{{
                  modificationdata.new_data.excemfrom | date : "dd-MMM-yyyy"
                }}</span
              >
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Valid To</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.new_data.excemto !=
                    modificationdata.old_data.excemto
                "
                >{{
                  modificationdata.new_data.excemto | date : "dd-MMM-yyyy"
                }}</span
              >
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Excemthrosold</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.new_data.excemthrosold !=
                    modificationdata.old_data.excemthrosold
                "
                >{{ modificationdata.new_data.excemthrosold }}</span
              >
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Exempted Rate</code>:&nbsp;<span
                [class.changes]="
                  modificationdata.new_data.modify_status == 2 &&
                  modificationdata.new_data.excemrate !=
                    modificationdata.old_data.excemrate
                "
                >{{ modificationdata.new_data.excemrate }}</span
              >
            </div>
          </li>
          <li>
            <!-- <div class="li-div">
              <code>Files</code>:<br />
              <span *ngFor="let attachment of multifile; index as i">
                <tr>
                  <td>{{ i + 1 }}</td>
                  &nbsp;&nbsp;
                  <a (click)="download(attachment)">{{ attachment.file_name }}</a>
                </tr>
                <br />
              </span>
            </div> -->


            <div class="files-view-in-popup">
              <code>Files</code>
              <div class="change-popup-downlaods">
                <span
                *ngFor="let attachment of multifile; index as i"
                  class="change-popup-chip"
                  (click)="download(attachment)"
                >
                  <!-- upload -->
                  <!-- 20/11/23----(BUG_ID - 9812)----faritha -->
                  <span>{{ i + 1 }}. </span>
                  <span>{{ attachment.file_name | titlecase }}</span>
                  <button
                    matTooltip="download"
                    class="iconbutton"
                    color="primary"
                  >
                    <mat-icon
                      matTooltip="Download"
                      class="material-icons"
                      (click)="download(attachment)"
                      >file_download</mat-icon
                    >
                  </button>
                </span>
              </div>
            </div>
          </li>
        </ol>
      </div>

      <div class="content-old" *ngIf="modificationdata.action == 2">
        <div *ngIf="modificationdata.action == 2">
          <h3>Old data</h3>
        </div>
        <!-- <p><code>Branch</code>:&nbsp;{{ modificationdata.old_data.branch_id.name}}</p>  -->
        <ol>
          <li>
            <div class="li-div">
              <code>PAN</code>:&nbsp;{{ modificationdata.old_data.panno }}
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Exempted Is</code>:&nbsp;{{
                modificationdata.old_data.isexcempted
              }}
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Tax</code>:&nbsp;{{ modificationdata.old_data.tax.name }}
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Sub Tax</code>:&nbsp;{{
                modificationdata.old_data.taxrate.subtax_id.name
              }}
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Taxrate</code>:&nbsp;{{
                modificationdata.old_data.taxrate.rate
              }}
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>MSME</code>:&nbsp;<span
                *ngIf="modificationdata.old_data.msme == true"
                >Yes</span
              ><span *ngIf="modificationdata.old_data.msme == false">No</span>
            </div>
          </li>
          <li>
            <div class="li-div">
              <code> Valid From</code>:&nbsp;{{
                modificationdata.old_data.excemfrom | date : "dd-MMM-yyyy"
              }}
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Valid To</code>:&nbsp;{{
                modificationdata.old_data.excemto | date : "dd-MMM-yyyy"
              }}
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Excemthrosold</code>:&nbsp;{{
                modificationdata.old_data.excemthrosold
              }}
            </div>
          </li>
          <li>
            <div class="li-div">
              <code>Exempted Rate</code>:&nbsp;{{
                modificationdata.old_data.excemrate
              }}
            </div>
          </li>
          <li>
         
            <!-- <div class="li-div">
              <code>Files</code>:<br />
              <span *ngFor="let attachments of multifiles; index as i">
                <tr>
                  <td>{{ i + 1 }}</td>
                  &nbsp;&nbsp;
                  <a (click)="download(attachments)">{{
                    attachments.file_name
                  }}</a>
                </tr>
                <br />
              </span>
            </div> -->
            <div class="files-view-in-popup">
              <code>Files</code>
              <div class="change-popup-downlaods">
                <span
                *ngFor="let attachments of multifiles; index as i"
                  class="change-popup-chip"
                  (click)="download(attachments)"
                >
                  <span>{{ i + 1 }}. </span>
                  <span>{{ attachments.file_name | titlecase }}</span>
                  <button
                    matTooltip="download"
                    class="iconbutton"
                    color="primary"
                  >
                    <mat-icon
                      matTooltip="Download"
                      class="material-icons"
                      (click)="download(attachments)"
                      >file_download</mat-icon
                    >
                  </button>
                </span>
              </div>
            </div>
          </li>
        </ol>
      </div>

      <div style="clear: both"></div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-primary"
    style="border-radius: 40px"
    (click)="Cancel()"
  >
    Cancel
  </button>
</div>
