
<div style="margin-top: 40px;margin-left: 40px;">
    <h3>
        eClaim Tour 
    </h3>
    <h3>
        Tour No({{tourreqno}})
    </h3>    
    <div class="row">
        <div class="col-12">
            <form #reporttourdetailForm="ngForm">
            <tr>
                <td *ngIf="reportindex === 1">
                <mat-form-field style="width:175px;">
                    <mat-label>Tour No</mat-label>
                    <input matInput placeholder="Tour No" [(ngModel)]="tourreportid" name="requestno" [disabled]="true">
                </mat-form-field>
            </td>
            <td *ngIf="reportindex === 3">
                <mat-form-field style="width:175px;">
                    <mat-label>Tour No</mat-label>
                    <input matInput placeholder="Tour No" [(ngModel)]="emptourreportid" name="requestno" [disabled]="true">
                </mat-form-field>
            </td>
            <td>
                <button class="btn btn-outline-primary" type="submit" style="border-radius:40px;margin-left: 250px;color: blue;"
                (click)="touradvance()"><span matTooltip="View Advance" class="fa fa-arrow-up" aria-hidden="true" ></span>
            </button><br>
            <label style="margin-left: 215px;">View Advance</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               
            </td>
            <td>
                <button class="btn btn-outline-primary" type="submit" style="border-radius:40px;margin-left: 180px;color:blueviolet;"
                 (click)="tourexpense()"><span matTooltip="View Expense" class="fa fa-arrow-up" aria-hidden="true" ></span>
                 </button><br>
                 <label  style="margin-left: 150px;">View Expense</label>
            </td>
            <td>
              <div style="margin-left: 180px">
                <button type="button" class="btn btn-outline-success" style="border-radius: 40px;margin-left: 50px;"
                data-toggle="modal" data-target="#attachmentpopup"(click)="getselectedFiles()" >
                Attachment</button>
              </div>
            </td>
            <!-- <td>
                <button class="btn btn-outline-primary" type="submit" style="border-radius:40px;margin-left: 180px;"
                color="primary" (click)="download()" ><i matTooltip="Download" class="fa fa-download" aria-hidden="true"></i></button>
            </td> 
            </tr><br><br> -->
            <!-- <tr>
            <td>
                <div style="margin-left: 400px;">
               View Advance
            </div>
            </td>
            <td>
            <div style="margin-left: 125px;">
                <label>View Expense</label>
                </div>
            </td>
        </tr> -->
            </form>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="table-responsive" >
              <table class="table table-bordered" fixed-header
              style="width: 95%;margin-top: 10px;margin-left:30px;overflow-x: hidden;">
          <thead class="table_header" style="text-align: left;">
          <tr>
          <th style="text-align: center;">S.No</th>
          <th style="text-align: center;">Employee</th>
          <th style="text-align: center;">Designation</th>
          <th style="text-align: center;">Branch</th>
          <th style="text-align: center;">Tour NO</th>
          <th style="text-align: center;">Start Date</th>
          <th style="text-align: center;">End Date</th>
          <th style="text-align: center;">Starting Point</th>
          <th style="text-align: center;">Place of Visit</th>
          <th style="text-align: center;">Purpose of Visit</th>
         

          
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let detail of gettourdetailreportList; index as i">
              <td style="text-align: center;">{{i+1}}</td> 
              <td style="text-align: center;">{{detail.employee_name}}</td> 
              <td style="text-align: center;">{{detail.empdesignation}}</td>
              <td style="text-align: center;">{{detail.branch_name}}</td>
              <td style="text-align: center;">{{detail.requestno}}</td>
              <td style="text-align: center;">{{detail.startdate}}</td> 
              <td style="text-align: center;">{{detail.enddate}}</td>
              <td style="text-align: center;">{{detail.starting_point}}</td>
              <td style="text-align: center;">{{detail.place_of_visit}}</td>
              <td style="text-align: center;">{{detail.purpose_of_visit}}</td>
             </tr>
          </tbody>
          </table>
          
      </div>
      <!-- <div *ngIf="gettourreportList?.length==0; else paginationreport" class="NodataAlign">No Records Found...</div>
     <ng-template #paginationreport>
    <div class="cursor" style="font-size: small;text-align:right; margin-bottom:100px;">
        <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick()">
            <mat-icon>arrow_back
            </mat-icon>
        </button> {{presentpage}}
        <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick()">
            <mat-icon>arrow_forward
            </mat-icon>
        </button>
    </div>
</ng-template>

  </div> -->
  <div class="col-md-12 text-center" >
    <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
      style="border-radius: 40px;margin-left: 10px;">Back</button>
  </div>
  </div>
</div>
<div>
    <div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLongTitle" aria-hidden="true" id="attachmentpopup">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="width:fit-content;margin-left:-30%">
          <div class="modal-header" style="background:rgba(23, 204, 23, 0.288);">
            <h2 class="modal-title" style="color:black ;text-align: center;">Tour Attachment View :</h2>
            <button type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body" style="width:850px">

            <div class="row">
                <h2 class="modal-title" style="color:black ;text-align: center;margin-left: 10px;">Tour Maker Attachment </h2>
                <table class="table table-bordered" fixed-header
                  style="width: 100%;margin-top: 10px;margin-left:30px;">
                  <thead class="table_header" style="text-align: left;">
                    <tr>
                      <th style="text-align: center;">S.No</th>
                      <th style="text-align: center;">File Name</th>
                      <th style="text-align: center;">View</th>
                    
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let attach of attachmentlist; index as i">
                      <td style="text-align: center;">{{i+1}}</td>
                      <td style="text-align: center;">{{attach.file_name}}</td>
                      <td style="text-align: center;color:blue;">
                        <div matTooltip="View" class="fa fa-arrow-up" aria-hidden="true" data-target="#exampleModal1"
                          data-toggle="modal" (click)="commentPopup(attach.id,attach.file_name )">

                        </div>
                        
                        
                      </td>
                    
                    </tr>
                  </tbody>
                </table>

            </div>
            <!-- <br><br>
           <hr>  -->
              
              <div class="row mt-4">
                <h2 class="modal-title" style="color:black ;text-align: center;margin-left: 10px;">Tour Approval Attachment</h2>
                <table class="table table-bordered"  style="width: 100%;margin-top: 10px;margin-left:30px;">
                  <thead class="table_header" style="text-align: left;">
                    <tr>
                      <th style="text-align: center;">S.No</th>
                      <th style="text-align: center;">File Name</th>
                      <th style="text-align: center;">View</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pdf of pdfAttachmentList; index as i">
                      <td style="text-align: center;">{{i + 1}}</td>
                      <td style="text-align: center;">{{pdf.file_name}}</td>
                      <td style="text-align: center;color:blue;">
                        <div matTooltip="View" class="fa fa-arrow-up" aria-hidden="true" data-target="#exampleModal1"
                          data-toggle="modal" (click)="commentPopup(pdf.id,pdf.file_name )">

                        </div>
                    </tr>
                  </tbody>
                </table>
              </div>
              
                  <br />
                </div>

              </div>

              <td>
                <tr *ngFor="let pdfimageurl of pdfattachmentlist; index as i">
                <a [href]="pdfimageurl.pdf" (click)="clicktopdf(pdfimageurl.pdf)">{{pdfimageurl.name}}
                  
                </a>
                
              </td>
             
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="width:fit-content">
            <div class="modal-header">
      
              <h3 class="modal-title w-100" id="exampleModalLabel">
                <strong> Attachment View</strong>
              </h3>
      
      
              <!-- <button *ngIf="toapprover" mat-icon-button type="button">
            <mat-icon style="color: gray;" aria-label="Edit" (click)="fileDelete()">
              delete</mat-icon>
          </button> -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  ×
                </span>
              </button>
            </div>
      
      
            <div class="modal-body" style="width:700px">
              <div *ngIf='this.fileextension =="pdf"'>
                <pdf-viewer [src]="jpgUrls" [original-size]="false" [render-text]='false' [show-borders]="true"
                  [fit-to-page]="true" [show-all]="true" style="display: block; height: 400px;" [fit-to-page]="true">
                </pdf-viewer>
              </div>
              <div *ngIf='this.fileextension !="pdf"'>
                <img src="{{jpgUrls}}" class="img-responsive" style="width: 100%;">
              </div>
              <!-- <div *ngIf='this.filesystem_error'>
              <p>This File is Already Downloaded. Please check downloads.</p>
            </div> -->
            </div>
      
            <div class="modal-footer">
      
            </div>
          </div>
        </div>
      </div>
