<br>

<h2 style="margin-left: 40px; ">
    Legal Clearance
</h2>
<div class="main-content">

    <div>
        <form [formGroup]="legalClearanceForm" (ngSubmit)="legalClearanceFormCreate()">
            <table>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>ID Type</mat-label>
                            <mat-select formControlName="ref_type" (selectionChange)="getRefIdValue($event)" id="legal-clearance-0001">
                                <mat-option *ngFor="let refType of refTypeData" [value]="refType.id">
                                    {{refType.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>ID</mat-label>
                            <mat-select formControlName="ref_id" id="legal-clearance-0002">
                                <mat-option *ngFor="let refTypeId of refTypeIdData" [value]="refTypeId.id">
                                    {{refTypeId.code}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Documents</mat-label>
                            <mat-select formControlName="document_type_id" id="legal-clearance-0003">
                                <mat-option *ngFor="let document of documentList" [value]="document.id">
                                    {{document.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <input matInput readonly  [matDatepicker]="picker" formControlName="date" [formControl]="defaultDate"
                                [max]="tomorrow" placeholder="Date" id="legal-clearance-0004">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Remarks</mat-label>
                            <input matInput placeholder="Remarks" autocomplete="off" formControlName="remarks" required id="legal-clearance-0005">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div class="btn-bottom">
                <button type="submit" class="btn btn-outline-primary" [disabled]="LegalClearBtn" id="legal-clearance-0006">Submit</button>&nbsp;&nbsp;&nbsp;
                <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary" id="legal-clearance-0007">Cancel</button>
            </div>
        </form>
    </div>
</div>