<div style="width:100%">
    <mat-card style="margin-top: 13px;margin-left: 20px;margin-right: 20px;margin-bottom: 20px;">
        <h1 style="font-size: 23px;font-family: 'Times New Roman', Times, serif;color: blue;">Mail Template Summary </h1>
        <div class="row">
            <div class="col-md-3">
                <td>
                    <mat-form-field style="width:200px">
                        <mat-label>Template Name</mat-label>
                        <input matInput [(ngModel)]="temp_name" autocomplete="off">
                    </mat-form-field>
                </td>
            </div>
            <div class="col-md-3">
                <button class="btn btn-outline-primary" type="submit"
                            style="border-radius:40px;margin-left: 50px;" color="primary"
                            (click)="templateSearch()"><i matTooltip="Search" class="fa fa-search"
                aria-hidden="true"></i></button>
                <button class="btn btn-outline-primary" type="button"
                        style="border-radius:40px;margin-left: 10px;"
                color="primary" (click)="resetcommon()">Reset</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-success" [routerLink]='"/master/mailtempcrt"'
                     style="border-radius: 20px;margin-left: 20px;margin-top: 10px;margin-bottom: 5px;cursor: pointer ;" color="primary"><span
                       class="fa fa-plus"></span>Add</button>
            </div>
        </div>
        <div class="table-responsive" style="margin-top: 2%;width: 80%;">
            <table class="table table-bordered">
                <thead class="table_header">
                    <tr>
                        <th>S.No</th>
                        <th>Template Name</th>
                        <th>Subject</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mail of mailtemplatedata; index as i">
                        <td scope="row">{{(presentpage-1)*pagesize+i+1}}</td>
                        <td>{{ mail.name}}</td>
                        <td>{{mail.subject}}</td>
                        <td>
                            <div *ngIf="mail.status === 1 ; else lock">
                                <mat-icon (click)="activeinact(mail.id,mail.status)" title="Click to Inactive" disabled
                                    style="color: green; cursor: pointer;" aria-label="inactive">wb_sunny</mat-icon>
                            </div>
                            <ng-template #lock>
                                <mat-icon (click)="activeinact(mail.id,mail.status)" title="Click to Active" disabled
                                    style="color: crimson; cursor: pointer;" aria-label="inactive">wb_sunny</mat-icon>
                            </ng-template>
                       </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="mailtemplatedata?.length==0; else paginationbs" class="NodataAlign">No Records Found...</div>
                <ng-template #paginationbs>
                    <div style="font-size: small;text-align:right; margin-bottom:100px;">
                        <button mat-icon-button [disabled]="has_previousbs === false" color="primary"
                            (click)="previousClick()">
                            <mat-icon>arrow_back
                            </mat-icon>
                        </button>
                        {{presentpage}}
                        <button mat-icon-button [disabled]="has_nextbs === false" color="primary" (click)="nextClick()">
                            <mat-icon>arrow_forward
                            </mat-icon>
                        </button>
                    </div>
                </ng-template>
        </div>
    </mat-card>
</div>