/* your-component.css */
::ng-deep .cdk-overlay-container {
  z-index: 20000;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
z-index: 20000 !important;
}
.cdk-overlay-connected-position-bounding-box {
z-index: 20000 !important;
}
.mat-dialog-container {
z-index: 10000; /* Adjust the value as needed */
}
.mat-select-panel {
z-index: 10000; /* Adjust the value as needed */
}
table {
  width: 100%;
}

mat-header-cell,
mat-cell {
  justify-content: left;

}

.mat-column-running_balance,
.mat-column-diff_balance {
  text-align: center;
}

.mat-header-cell {
  background-color: #DDEFDD;
  color: black;
}

.mat-column-header-row-third-group,
.mat-column-header-row-second-group,
.mat-column-header-row-first-group {
  text-align: center;
  font-size: medium;
}

//   .mat-row:nth-child(even){
//     background-color: #FAFAFF ;
// }

// .mat-row:nth-child(odd){
//     background-color: white;
// }
// .mat-row:is(:hover, :focus) {
//   background-color: #DDEFDD ;
// }

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #80cbc4;
  margin: 0;
}

.mat-form-field {
  font-size: 14px;
  // width: 100%;
}

.left-text {
  text-align: center;
}


.right-text {
  text-align: left;
}

.right-text1 {
  text-align: right;
}

.element-row:hover {
  // background: #D1F5FF;
  // background-color: yellowgreen;
  height: 70px;
  width: 120px;

  // cursor:pointer;
  // font-size:large;
  // border-top: 1px solid grey;
  // border-bottom: 1px solid grey;
}

// .mat-row:nth-child(2n) {
//   background-color: #f2f2f2;
// }

.make-highlight
{
  td
  {
 
  color: #FF597B
  }
}




.example-highlight {
  background-color: yellow;
}

.highlighted-date {
  background-color: #A1DD70;
  border-radius: 50%;
}

#icon{
 color:  #617c61;

}
#icon:hover{
  color:  #000000;
  cursor: pointer;
 
 }

 .card-content {
  display: flex;
  justify-content: space-between;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #1fa519;
}

.interTrans-row-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.interTrans-cards {
  display: flex;
  gap: 20px;
}

.mat-card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.right{
  text-align: right;
  margin-left: 40px;
}
.btn{
  border-radius: 25px;
}
.summaryheader{
  font-weight: 16px;
  font-weight:600;
}
.mat-card {
  box-shadow: 1px 0px 7px -3px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.mat-tab-label-active {
  /* Your custom active tab styles */
  // color: #fff !important; /* Example: override color */
  // background-color: #673ab7 !important; /* Example: override background */
  border-bottom: 3px solid #42188d !important; 
}
.dbfieldsize{
  width: 300px;
}
.executebtn{
  background-color: #ddefdd;
  color: #02894a;
}

.card_title {
  .form-control {
    width: 400px;
  }

  
}

.labelpatch{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  .card{
    padding: 10px;
    width: 400px;
  }

  .fontbold{
    font-size: 15px;
    font-weight: 600;
  }
}

.upload-button{
  white-space: nowrap;
  margin-left: 90%;
}
.badge-btn {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 50px;
  border: none;
  background-color: #ddefdd;
    color: #02894a;
}
.refresh_status{
  border-radius: 50px;
    font-size: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.refresh_summary{
  display: flex;
   justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.loading-ball {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.loading-ball span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(0);
  animation: bounceAnimation 1s infinite;
}
/* Colors and Delays */
.loading-ball span:nth-child(1) {
  background-color: #96cf96;
  animation-delay: 0s;
}
.loading-ball span:nth-child(2) {
  background-color:  #96cf96;
  animation-delay: 0.2s;
}
.loading-ball span:nth-child(3) {
  background-color:  #96cf96;
  animation-delay: 0.4s;
}
.loading-ball span:nth-child(4) {
  background-color:  #96cf96;
  animation-delay: 0.6s;
}
.loading-ball span:nth-child(5) {
  background-color:  #96cf96;
  animation-delay: 0.8s;
}
/* Smooth Bouncing Keyframes */
@keyframes bounceAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
}