.table_header {
  
    text-align: center;
    font-size: 13px;
}

.filter-btn {
    margin-left: 30px;
}
th{
    text-align:center;
    font-size: 14px;
  }
  tbody td {
    padding: 0.5em 0.1em 1.1em;
}

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    // background-color: white !important;
  }
  
  .first-col {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    left: 0px;
  }
  
  .second-col {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    left: 100px;
  }