::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }
.refresh_status {
    border-radius: 50px;
    font-size: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
  }
  .comp-table table th{
    text-align: center;
  }
  .comp-table table td{
    text-align: center;
  }
   .header_font{
    font-size: 15px;
    font-weight: 500;
    font-family: poppins;
   }