<div >

    <h2 style="font-size: 23px;font-family: 'Times New Roman', Times, serif;color: blue;">EB Details 
        Summary</h2>
</div>
<hr>
<div >
    <form [formGroup]="detailSearch" >
        <!-- <table style="margin-bottom: 2%;"> -->
            <div class="col-md-12 row" >
                <!-- <tr>
                    <td> -->
                    <div class="col-md-3" >
                        <mat-form-field style="width: 200px;">
                            <mat-label>Consumer No</mat-label>
                            <input matInput placeholder="Consumer No" autocomplete="off" formControlName="consumer_no">
                        </mat-form-field>
                    </div>
                    <!-- </td>
                    <td> -->
                    <div class="col-md-3" >

                        <mat-form-field style="width: 200px;">
                            <mat-label>Consumer Name</mat-label>
                            <input matInput placeholder="Consumer Name" autocomplete="off"
                                formControlName="consumer_name">
                        </mat-form-field>
                    </div>
                    <!-- </td>
                    <td> -->
                    <!-- <div class="col-md-3" >
                    
                        <mat-form-field style="width: 200px;">
                            <mat-label>Status</mat-label>
                        
                            <mat-select formControlName="consumer_status">
                                <mat-option value="1">Submitted</mat-option>
                                <mat-option value="2">Approved</mat-option>
                                <mat-option value="3">Rejected</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                    <!-- </td> -->
                    <div class="col-md-3" >

                    <button class="btn btn-outline-primary" type="submit" (click)="searchsummarydata()"
                        style="border-radius:40px;margin-left: 15px;" color="primary"><i class="fa fa-search"
                            aria-hidden="true"></i></button>
                    <button class="btn btn-outline-danger" (click)="resetdata()" type="button"
                        style="border-radius:40px;margin-left: 15px;" color="primary">Reset</button>
                    <button type="button" class="btn btn-outline-success" ngbTooltip="Create New"
                        tooltipClass="my-custom-class"
                            style="border-radius:40px;margin-left:15px;" (click)="addElectricity()"><span
                                class="fa fa-plus"></span></button>
                    </div>

                <!-- </tr> -->
            </div>
        <!-- </table> -->
    </form>
</div>



<div  style="width: 100%;margin: 2% 0%;" class="table-responsive" >
    <table class="table table-bordered" >
        <thead class="table_header">
            <tr>
                <th>S.No</th>
                <th>Consumer No</th>
                <th>Consumer Name</th>
                <th>Raiser Branch Name</th>
                <th>Occpancy</th>
                <th>State</th>
                <th>Board Name</th>
                <th>Region</th>
                <th>Active/Deactive</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of EleMakerSummaryList; index as i">
                <td> {{(paymentpresentpage - 1)*pagesizepayment +i+1 }} </td>
                <td (click)="clickConsumerNo(list)" style="color: mediumblue;cursor: pointer;">{{list.consumer_no}}</td>
                <td>{{list.consumer_name}}</td>
                <td>({{list?.branch_id?.code}})-{{list['branch_id'].name}}</td>
                <td>({{list?.occupancy_id?.code}})-{{list?.occupancy_id?.occupancy_name}}</td>
                <td>{{list.consumer_state?.name}}</td>
                <td>{{list.consumer_board?.name}}</td>
                <td>{{list?.region_id?.region_name}}</td>
                <!-- <td>{{1233}}</td> -->
                <td>{{list?.makerisactive==1?'Active':'Inactive'}}</td>

                <td>{{list?.consumer_status?.status}}</td>

                <!-- <td>{{mothfind(list.month,list.year) | date: 'MMM-yyyy'}}</td>
                    <td> ({{ list.branch.code}}){{" "+list.branch.name}} </td>
                    <td>({{ list.premise.code}}){{" "+list.premise.name}}</td>
                    <td>{{list.created_by.employe_name}}</td>
                    <td>
                        <div *ngIf="list.approver != null">
                            {{ list.approver.employe_name }}
                        </div>
                    </td>
                    <td>{{list.approval_status.status}}</td>
                    <td>
                        <span matTooltip="view" class=" fa fa-eye create " style="color: green;cursor: pointer;" (click)="summaryView(list)"></span>
                       
                    </td> -->
            </tr>
            <tr *ngIf="EleMakerSummaryList ?.length == 0" >
                <td colspan="10">
                    <div >
                        <h3>No Records Found..</h3>
                    </div>
                </td>
            <tr  >
                <td colspan="6"></td>
                    <td colspan="2" >Count: <code>{{count}}</code></td>
                <td colspan="2" >
                <div style="float: center">
                    <button mat-icon-button [disabled]="has_paymentprevious === false" color="primary"
                        (click)="previousClickPayment()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    {{paymentpresentpage}}
                    <button mat-icon-button [disabled]="has_paymentnext === false" color="primary"
                        (click)="nextClickPayment()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </td>
            </tr>
        </tbody>
    </table>

    <div class="row">

    </div>
</div>

<!-- <pre>{{detailSearch.value | json}}</pre> -->