.field_rows{
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
}
.close{
    text-align: right;
    margin-right: 2%;
}
.custom-modal-position {
    position: fixed;
    top: calc(43% + 15px); 
    left: 16%; 
    transform: none;
    margin: 0; 
    // z-index: 1050;
}
// .modal.fade.show .modal-dialog {
//     top: unset; 
//     left: unset;
//     transform: none; 
// }
.tick_style{
    // margin-top: 130%;
    // margin-left: -110%;
    font-size: larger;
    color: gray;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
.tick_style:hover {
    color: #007bff; 
    transform: scale(1.2); 
}
// .fields{
//     width: 100%;
// }