// .nav-item.show .nav-link,
// .nav-tabs .nav-link.active {
//   background-color: transparent !important;
//   color: #007338 !important;
//   text-decoration: underline;
// }
// .nav-tabs .nav-link:hover {
//   border: none !important;
// }

// .nav-tabs .nav-link {
//   border: none;
// }

// #commonstyle {
//   border: 15px none #f6f6f6
// }
  
//     // tr:nth-child(even) {background: #EDF8FA}
//     // tr:nth-child(odd) {background: #FFF}
//   table,th,td{
//     text-align: left;
//     // padding: 5px;
//   }

//   * {
//     box-sizing: border-box;
//   }
  
//   .row {
//     display: flex;
//     margin-left:-5px;
//     margin-right:-5px;
//   }
  
//   .column {
//     flex: 50%;
//     padding: 5px;
//   }
  
//   table {
//     border-collapse: collapse;
//     border-spacing: 0;
//     width: 100%;
//     border: 1px solid #ddd;
//   }
  
//   th, td {
//     text-align: left;
//     padding: 16px;
//   }
  
//   // tr:nth-child(even) {
//   //   // background-color: #f2f2f2;
//   // }

//   /**
//  * Demo Styles
//  */

// html {
//   box-sizing: border-box;
// }

// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }

// body {
//   font-size: 100%;
//   line-height: 1.5;
//   max-width: 640px;
//   margin: 64px auto;
//   text-align: center;
// }

// .demo {
//   margin: 64px 0;
// }
// ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
//   background-color: blue; /*replace with your color*/
// }

// ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
//   background-color: skyblue;  /*replace with your color*/
// }

// .music-badge
// {
//   background-color: #E2FEFF;
//   padding: 6px;
//   display: flex;
//   align-items: center;
//   border-radius: 12px;
//   border: #4fc6e0 3px solid;
//   margin-top: 30px;
//   margin-left: 30px;
//   filter: grayscale(100%);
// }

// .art
// {
//   height: 64px;
//   width: 64px;
//   position: relative;
// }

// .image
// {
//   height: 100%;
//   width: 100%;
//   border-radius: 8px;
// }

// .text
// {
//   width: 270px;
//   margin-left: 12px;
// }

// .artist
// {
//   color: #000000aa;
// }
// .overlay
// {
//   position: absolute;
//   inset: 0 0 0 0;
//   border-radius:  8px;
//   background-color: #00000055;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .bar
// {
//   width: 6px;
//   height: 24px;
//   background-color: white;
//   margin: 3px;
//   border-radius: 3px;
//   animation: bar 1400ms infinite;
// }

// @keyframes bar{
//   0% {height: 10px;}
//   50% {height: 24px;}
//   100% {height:  10px;}
// }

// .bar:nth-child(even)
// {
//   animation-delay: 700ms;
// }

// .title
// {
//   font-weight: bold;
// }

// .bars
// {
//   width: 6px;
//   height: 24px;
//   background-color: white;
//   margin: 3px;
//   border-radius: 3px;
//   animation: bars 1400ms infinite;
// }

// @keyframes bars{
//   0% {height: 10px;}
//   50% {height: 24px;}
//   100% {height:  10px;}
// }

// .bars:nth-child(even)
// {
//   animation-delay: 400ms;
// }
// .music-badge:hover{
//   filter: none;
// }

// .nav-item.show .nav-link,
// .nav-tabs .nav-link.active {
//   background-color: transparent !important;
//   color: #007338 !important;
//   text-decoration: underline;
// }

// .nav-tabs .nav-link:hover {
//   border: none !important;
// }

// .nav-tabs .nav-link {
//   border: none;
// }
// .component-container {
//   display: flex;
//   justify-content: space-between; /* Adjusts spacing between the components */
// }

// .component-container span {
//   flex: 1; /* Allows components to take up equal width */
//   margin: 0 10px; /* Optional: adds some spacing between components */
// }

.nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent !important;
  color: #007338 !important;
  text-decoration: underline;
}
.nav-tabs .nav-link:hover {
  border: none !important;
}

.nav-tabs{
  font-family: 'Poppins' !important;
}

.nav-tabs .nav-link {
  border: none;
}

#commonstyle {
  border: 15px none #f6f6f6
}