.btn
{
	background-color: #81C6E8;
	background-image: linear-gradient(
		-60deg,
		transparent,transparent 40%, 
		#ffffff44 40%, #ffffff44 60%,
		transparent 60%, transparent 100% 
	);
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position-x: 150%;
	border-radius: 25px;
}

.btn:hover
{
	background-position-x:  -150%;
	transform: 6s linear infinite;
	transition:  background-position-x 600ms;
}