.container {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 2%;
}

::ng-deep .cdk-overlay-container {
    z-index: 1300 !important;
}

.btnprimary{
    color: darkblue;
}
.table-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-size: 18px;
    margin-top: 10px;
    button {
      background-color: transparent;
      border: none;
      align-items: center;
      justify-content: center;
    }
  }
.wigth{
    width: 100% !important;
}
.btnover{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.text_center{
    text-align: center;
}
button {
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
  }

  .close {
    // margin-left: 10%;
    margin-left: 81%;
    margin-top: -3%;
    font-size: 150%;
}

.button_summary {
    font-size: 90%;
    // border-radius: 40%;
}

.t_head {
    background-color: #00800021;
}

.tableFixHead {
    width: 80%;
    margin-left: 7%;
}

.search_style {
    border-radius: 40px;
    margin-top: 3%;
}

.clear_style {
    border-radius: 40px;
}

.table_style { 
    padding-top: 2%;
    width: 107%;
    margin-left: -1%;
}

.Data_not_found {
    text-align: center;
}

.pagination_arrows {
    margin-bottom: 5%;
    font-size: small;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.bt{
    display: flex;
    align-items: center;
}

// .header_color{
//     background-color: #deefde;
// }
.modalpadding {
    padding-top: 7%;
}
.modal_margins{
    margin-left: 7%;
}
.modal_styles{
    margin-left: 14%;
}

.modal_space_style {
    white-space: nowrap;
}

.card_body_style {
    margin-top: 2%;
    margin-bottom: 2%;
}

.file_upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7%;
}

.upload_btn_style {
    float: right;
    border-radius: 40px;
}

.download_popup {
    width: 76%;
}

.modal_margin {
    margin-left: 3%;
}

.modal_width {
    margin-left: 3%;
}

.header_h2 {
    margin-left: 7%;
}
.po{
    cursor: pointer;
}
.btn-green{
    background: #00d09f;
    color: white;
    font-weight: 500;
    }
.ml{
    margin-left: 10px;
}
.over_flow{
    max-width: 100%;
    overflow: auto;
}
.fultable{
    border-collapse: collapse !important;
    width: max-content !important;
    font-size: 13px;
    overflow: auto;
    overflow: auto;
}
.fullwidth{
    width: max-content;
}
.nor_btm{
    width: 100%;
    padding: 11px;
    background: rgba(206, 206, 207, 0.4117647059);
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
  }
  .btn_clear{
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 5%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    background: #ff00009e;
    color: white;
  }
  .btn_query_clear{
    border: none;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    background: #ff00009e;
    color: white;
  }
  .left_btn{
    margin-right: 2%;
    margin-bottom: 1%;
  }
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5); // Dark overlay
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 3%;
    z-index: 1;
  }
  .popup {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	width: 600px; /* Adjust width */
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    top: 35px !important;
    width: auto !important; 
    display: block;
    height: auto;
}
.popup h3 {
    font-size: 18px;
    font-weight: 600;
    color: #222;
    text-align: center;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
  }
  .popup-buttons {
	display: flex;
	justify-content: center;
	margin-top: 15px;
    gap: 10px;
}
.overlayy{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2%;
    background-color: black;
    font-size: 95%;
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
}
.innerdiv{
    padding: 2%;
    font-size: medium;
    display: contents;
}
.ptag{
    font-weight: 500;
}
.mb0{
    margin-bottom: 0 !important;
}

.language-sql .token.keyword {
    color: #569cd6;
    font-weight: bold;
    padding: 3px;
  }
  
  .language-sql .token.operator {
    color: #c586c0;
    font-weight: bold;
    padding: 3px;
  }
  
  .language-sql .token.identifier {
    color: #9cdcfe;
    font-weight: bold;
    padding: 3px;
  }
  
  .language-sql .token.punctuation {
    color: #eae6e6;
    font-weight: bold;
    padding: 3px;
  }
  
  .language-sql .token.number {
    color: #f08d49;
    font-weight: bold;
    padding: 3px;
  }
  .language-sql .normal.word {
    color: #eae6e6;
    font-weight: bold;
    padding: 3px;
  }
  .bgcolor{
    background-color: #00800021;
}