.heading {
    font-size: 90%;
    font-weight: bold;
}

.subheading {
    font-size: 80%;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    // -webkit-appearance: none;
    margin: 0;
}

:host ::ng-deep .mat-grid-tile .mat-figure {
    justify-content: left !important;
    align-items: flex-start !important;
    display: inline-flex;
}

// :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//     top: 20%
// }



.margin5 {
    margin: 0 0 0 5%;
}


//Drag and drop
.box-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box {
    /* background-color: yellow; */
    border: solid black 1px;
    cursor: move;
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;
    justify-content: center;
    margin: .25em;
    padding: .25em;
    width: 90%;
}

.cdk-drag {
    /* this is the animation that fires for the drag */
    transition: transform 150ms ease;
}

.cdk-drag-animating {
    /* this is the animation that fires for the drop */
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
    /* setting opacity to zero makes a blank space between list items during drag preview */
    opacity: 0;
}

.cdk-drag-preview {
    background-color:#4A708B;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    opacity: .7;
}