h2,
input,
mat-label,
div,
span {
  font-family: "Lato", sans-serif;
}

.memo-label {
  font-family: "Lato", sans-serif;
}

.memoReport-sec {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0 0 0;
}

.memoUserReport-container h2 {
  padding-left: 50px;
}

.memoDepartRepo-container h2 {
  padding-left: 50px;
}

.memoUserReport,
.memoDepartRepo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.memoUserReport-form,
.memoDepartReport-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.memoUserReport-form01 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.memo-to-input {
  width: 500px;
}

.downloadbtn {
  border-radius: 40px;
  margin-left: 500px;
  position: relative;
  top: -55px;
}
.downloadbtn1 {
  border-radius: 40px;
  margin-left: 10px;
  position: relative;
  top: -55px;
}
