.example-radio-group {
    display: flex; flex-direction: column;
   
    margin: 15px 0;
  }
.prodactive{
    color: green;
}
.proinactive{
    color: gray;
}
.able{
    color:grey;
}
.disable{
    color:purple;
}
.coloricon{
    color: green;
}