<div class="modal-body">
  <!-- <h3>Contractor Form</h3> -->
  <form
    [formGroup]="contractorForm"
    autocomplete="off"
  >
  <!-- class="common-grid" -->
    <div class="flex-for-sepDate">
      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Contractor Name</mat-label>
          <input
            matInput
            formControlName="name"
            autocomplete="off"
            type="text"
            (keypress)="namevalidation($event)"
            required
          />
        </mat-form-field>
      </div>

      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Service</mat-label>
          <input
            matInput
            formControlName="service"
            type="text"
            (keypress)="addressvalidation($event)"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </div>

      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Remarks</mat-label>
          <input
            matInput
            type="text"
            (keypress)="addressvalidation($event)"
            formControlName="remarks"
            autocomplete="off"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onCancelClick()"
  >
    Cancel
  </button>
  <button type="submit" class="btn btn-outline-primary"
  (click)="contractorCreateForm()">Submit</button>
</div>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  [fullScreen]="true"
  type="ball-spin-clockwise"
>
  <p>Please Wait.</p>
</ngx-spinner>
