.aligntright{
    float: right;
    margin-top: -63px;
}

.sidemargin{
    margin-right: 10px ;
    width: 200px;
}

mat-form-field{
    font-size: 6px;
}

input,mat-select{
    font-size: 15px;
}

.contentdiv{
    margin-top: 2%;
}

.inputwidth{
    width: 250px;
}

.inputwidth2{
    width: 250px;
    margin-left: 50px;
}

.labelmargin{
    margin-left:50px
}

.searchbutton{
    margin-top:23px
}

mat-datepicker-toggle{
    cursor: pointer;
    font-size:12px
  }

.marginpadding{
    padding-left: 30px;
}

.toppadding{
    padding-top: 14px;
}
