.btn btn-outline-success {
    border-radius: 40px;
}
::ng-deep {
    .cdk-global-overlay-wrapper,
    .cdk-overlay-container {
        z-index: 9999 !important;
    }
}
.table-bordered td,.table-bordered tr {
    border: 2px solid #bac2cd;
}
.table-bordered th{
    border: 2px solid #bac2cd;
}


mat-label{
    font-size: 17px;
  }

  .search-tooltip .tooltip-inner {
    background-color: #007bff;
    font-size: 100%;
  }
  .search-tooltip .arrow::before {
    border-top-color: #007bff;
  }
  .year-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  .year-picker .mat-calendar-arrow {
    display: none;
  }

  .Add-tooltip .tooltip-inner{
    background-color: #28a745;
    font-size: 100%;
  }
  .Add-tooltip .arrow::before{
    border-top-color: #28a745;
  }

  
.status{
  color: white;
  border-radius: 10px;
  display: inline-block;
  width: 121px;
}