
<header>
    <div class="menu">
      <h1 style="margin-left:35px;">Template Form</h1>
    </div>
    <!-- <mat-icon (click)="toggleTheme()" title="Change theme">invert_colors</mat-icon> -->
  </header>
  <!-- <div class="row" style="text-align:center;">
  <button type="button"  class="btn btn-basic" (click)="showwisefin()">NWISEFIN</button>
  
  <button type="button"  class="btn btn-basic" (click)="showbnkstmtss()">BANK STATEMENT</button>
  </div> -->
 
  <div >
    <br>
    <!-- <div class="row">
      <div class="col-md-4">
        <h3 style="margin-left:35px;">CBS TEMPLATE CREATION</h3>
      </div>
      <div class="col-md-4">
        <input type="file" class="file-upload" (change)="wisefinfileupload($event)">
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-4">
        <h3 style="margin-left:35px;">CBS TEMPLATE CREATION</h3>
      </div>
      <div class="col-md-6">
        <!-- Custom file upload button -->
        <label class="custom-file-upload">
          <input type="file" (change)="wisefinfileupload($event)" style="display: none;">
          <i class="fa fa-cloud-upload"></i> Upload File
        </label>
        <!-- Display file name -->
        <span *ngIf="uploadedFileName" class="file-name">{{ uploadedFileName }}</span>
        <!-- <span style="margin-left: 5px;" *ngIf="uploadedFileName"><mat-icon (click)="deleteFile()">delete</mat-icon></span> -->
      </div>
    </div>
  <div class="row">
    <!-- <div class="col-md-6"> -->
    
  
      <form [formGroup]="brsformdata">
        <div class="row">
          <div class="col-sm-3">
            <mat-form-field style="width: 155px;margin-left: 55px;font-size: medium;">
              <mat-label>Template Name</mat-label>
              <input matInput placeholder="templatename" name="name" formControlName="template_name" autocomplete="off">
            </mat-form-field>
          </div>
          <!-- <div class="col-sm-3" style="margin-left:25px;">
            <mat-form-field style="width: 155px;margin-left: 50px;font-size: medium;">
              <mat-label>Account Number</mat-label>
             
              <mat-select matInput formControlName="account_id">
                <mat-option *ngFor="let item of accounts" [value]="item.id">
                    {{item.acc_name}}
                </mat-option> 
               </mat-select>
            </mat-form-field>
          </div> -->
        </div>
      </form>
      <!-- <form [formGroup]="userTable">
          <table class="table">
            <thead>
              <tr style="font-weight:bold;">
                <td>Template Columns</td>
                <td>Input Columns</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Description</td>
                <td>
                  <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                  appearance="outline">
                    <input matInput formControlName="description" class="matformfieldinputstyle"  required>
                </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>Cheque No</td>
                <td>
                  <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                  appearance="outline">
                    <input matInput formControlName="cheque_no" class="matformfieldinputstyle"  required>
                </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>Branch Code</td>
                <td>
                  <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                  appearance="outline">
                    <input matInput formControlName="branch_code" class="matformfieldinputstyle"  required>
                </mat-form-field>
                </td>
              </tr>
              
              <tr>
                <td>Customer Reference No</td>
                <td>
                  <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                  appearance="outline">
                    <input matInput formControlName="customer_ref_no" style="font-size:16px;" required>
                </mat-form-field>
                </td>
              </tr>
               <tr>
                <td>Payment Date</td>
                <td>
                  <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                  appearance="outline">
                    <input matInput formControlName="payment_date" style="font-size:16px;" required>
                </mat-form-field>
                </td>
              </tr> 
  
              <tr>
                <td>Transaction Date</td>
                <td>
                  <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                  appearance="outline">
                    <input matInput formControlName="transaction_date" style="font-size:16px;" required>
                </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>Running Balance</td>
                <td>
                  <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                  appearance="outline">
                    <input matInput formControlName="running_balance" style="font-size:16px;" required>
                </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>Credit/Debit</td>
                <td>
                  <input id="SingleColumn" 
                  type="radio" 
                  value="0" 
                  name="amount_types" 
                  formControlName="amount_types" 
                  (change)="changeColumn($event)"/>
        <label for="SingleColumn">Single Column</label>
        <input id="multiColumn" 
                  type="radio" 
                  value="1" 
                  name="amount_types" 
                  formControlName="amount_types" 
                  (change)="changeColumn($event)"/>
        <label for="multiColumn">Seperate Column</label>
        
                </td>
              </tr>

              <div *ngIf="singleColumn">
                <tr>
                  <td>Credit</td>
                  <td>
                    <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                    appearance="outline">
                      <input matInput formControlName="credit_amount" style="font-size:16px;" required>
                  </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>Debit</td>
                  <td>
                    <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                    appearance="outline">
                      <input matInput formControlName="debit_amount" style="font-size:16px;" required>
                  </mat-form-field>
                  </td>
                </tr>
              </div>
              <div *ngIf="multiColumns">
                <tr>
                  <td>Credit Name</td>
                  <td>
                    <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                    appearance="outline">
                      <input matInput formControlName="credit_name" style="font-size:16px;" required>
                  </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>Debit Name</td>
                  <td>
                    <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                    appearance="outline">
                      <input matInput formControlName="debit_name" style="font-size:16px;" required>
                  </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>Amount</td>
                  <td>
                    <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                    appearance="outline">
                      <input matInput formControlName="amount" style="font-size:16px;" required>
                  </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>Credit/Debit</td>
                  <td>
                    <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                    appearance="outline">
                      <input matInput formControlName="credit_debit" style="font-size:16px;" required>
                  </mat-form-field>
                  </td>
                </tr>
               
              </div>
  
            </tbody>
          </table>
        <div >
          <button class="btn btn-primary" type="submit" (click)="submitsForm()">Submit</button>
          <button class="btn btn-warning" type="submit" (click)="goback()" style="float:right;">Back</button>
        </div>
        <br>
        <br>
      </form> -->
      <form [formGroup]="newcbsform">
        <table class="table" style="margin-left:150px;">
          <thead>
            <tr style="font-weight:bold;">
              <td>Template Columns</td>
              <td>Input Columns</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Account Number</td>
              <td>
                <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                appearance="outline">
                  <input matInput formControlName="account_number" class="matformfieldinputstyle"  required>
              </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Branch Code	</td>
              <td>
                <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                appearance="outline">
                  <input matInput formControlName="branch_code" class="matformfieldinputstyle"  required>
              </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Narration</td>
              <td>
                <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                appearance="outline">
                  <input matInput formControlName="narration" class="matformfieldinputstyle"  required>
              </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Dr/Cr</td>
              <td>
                <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                appearance="outline">
                  <input matInput formControlName="dr_cr" class="matformfieldinputstyle"  required>
              </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Amount</td>
              <td>
                <mat-form-field style="margin-top: -1%;margin-bottom:-4%;" class="matformfieldstyle"
                appearance="outline">
                  <input matInput formControlName="amount" class="matformfieldinputstyle"  required>
              </mat-form-field>
              </td>
            </tr>
           
          </tbody>
        </table>
      <div style="float:right;">
        <button class="btn btn-primary" type="submit" (click)="submitsForm()">Submit</button>
        <button class="btn btn-secondary" style="margin-left: 10px;" type="submit" (click)="goback()" >Back</button>
      </div>
      <br>
      <br>
    </form>
     
      <div class="output">
        <!-- <p>  {{brsformdata.value| json}}  {{userTable.value | json}}</p> -->
        <!-- <p>Is Valid: {{userTable.valid}}</p> -->
      </div>
    <!-- </div> -->
  
    <!--Bank Statement-->
  
   
  </div>
  </div>
  
  