<div style="padding-top: 3%;" class="container" *ngIf="edit_sumary">
    <form [formGroup]="query_search">

        <div class="row col-md-12">

            <div class="col-md-3">
                <mat-form-field (click)="payment_type()" matTooltip="{{allocationfrom_Input.value}}"
                    style="width: 180px;">
                    <mat-label>Payment Type</mat-label>
                    <input #allocationfrom_Input placeholder="Payment" matInput formControlName="payment"
                        [matAutocomplete]="payment">
                    <mat-autocomplete #payment="matAutocomplete" [displayWith]="payment_display">
                        <mat-option *ngFor="let pay of payment_list" [value]="pay">
                            {{pay.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </div>
            <div class="col-md-3">
                <mat-form-field (click)="transcation_type()" style="width: 180px;">
                    <mat-label>Transaction Type</mat-label>
                    <input type="text" matInput formControlName="transaction" [matAutocomplete]="transaction">
                    <mat-autocomplete #transaction="matAutocomplete" [displayWith]="transaction_display">
                        <mat-option *ngFor="let transaction of transaction_list" [value]="transaction">
                            {{transaction.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 180px;">
                    <mat-label>Code</mat-label>
                    <input matInput placeholder="" formControlName="code" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="col-md-3">

                <mat-form-field style="width: 180px;">
                    <mat-label>From Date</mat-label>
                    <input matInput [matDatepicker]="picker" [max]="futureDays" formControlName="from_date"
                        (dateChange)="from_date_rest()">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
            <div class="col-md-3">
                <mat-form-field style="width: 180px;">
                    <mat-label>To Date</mat-label>
                    <input matInput [min]="query_search.value.from_date" [max]="futureDays" [matDatepicker]="pickers"
                        formControlName="to_date">
                    <mat-datepicker-toggle matSuffix [for]="pickers">
                        <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #pickers></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-lg-3">
                <mat-form-field>
                    <mat-label>CBS Status</mat-label>
                    <input matInput formControlName="status" [matAutocomplete]="aws_status">
                    <mat-autocomplete #aws_status="matAutocomplete" [displayWith]="displayStatus">
                        <mat-option *ngFor="let status of cbsstatus_list" [value]="status">
                            {{status.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <!-- <div class="col-md-2" style="margin-top: 2%;">
                
            </div> -->
            <div class="col-md-3 d-flex justify-content-start align-items-center gap">
                <button type="button" class="btn btn-outline-primary me-2" style="border-radius: 40px;"
                    (click)="query_summary(query_search.value)">Search</button>

                <button type="button" class="btn btn-outline-primary me-2" style="border-radius: 40px;"
                    (click)="query_reset()">Reset</button>

                <button matTooltip="Download" class="btn btn-outline-primary" style="border-radius: 40px;"
                    (click)="file_download(query_search.value)">
                    <i class="material-icons">file_download</i>
                </button>
            </div>

        </div>
    </form>

    <div class="tableFixHead">
        <table class="table table-bordered" fixed-header>
            <thead style="background-color: #00800021; top: 0;position: sticky;">
                <tr>
                    <th>S.No</th>
                    <th>Code</th>
                    <th>Branch Code</th>
                    <th>Department</th>
                    <th>Transaction Type</th>
                    <th>Payment Type</th>
                    <th>Status</th>
                    <th>CBS Status</th>
                    <th>Created Date</th>
                    <th>Action</th>
                    <th>History</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let summary of summary_list;let i=index">
                    <td>{{(presentpage-1)*10+i + 1 }}</td>
                    <td>{{summary.code != null ? summary.code : '--'}}</td>
                    <td>{{summary.branch.code}}-{{summary.branch.name}}</td>
                    <td>{{summary.department}}</td>
                    <td>{{summary.transaction_type != null ? summary.transaction_type.name : '--'}}</td>
                    <td>{{summary.payment_type != null ? summary.payment_type.name : '--' }}</td>
                    <td>{{summary.status.name}}</td>
                    <td>{{summary.cbs_status}}</td>
                    <td>{{summary.created_date != null ? summary.created_date : '--'}}</td>
                    <td>

                        <div class="row" style="flex-direction: row;  align-items: flex-start;margin-left: 4%;">
                            <!-- <button mat-icon-button matTooltip="Edit" class="iconbutton" color="primary"
                                style="color: green;" (click)="frs_transaction(summary)">
                                visibility
                                <mat-icon class="enabled_icon" aria-label="view">visibility</mat-icon>
                            </button> -->
                            <i class="material-icons" matTooltip="Edit" (click)="frs_transaction(summary)"
                                style="color: green;cursor: pointer;">visibility</i>
                            <i class="material-icons" matTooltip="Document" data-toggle="modal"
                                data-target="#exampleModal1" (click)="documents(summary)"
                                style=" color:green ;margin-left: 10%;cursor: pointer;">description</i>
                            <!-- <button mat-icon-button matTooltip="Document" class="iconbutton" data-toggle="modal"
                                data-target="#exampleModal1" style="color: green;" color="primary"  (click)="documents(summary)"
                                style="margin-left: 1%;">
                                <mat-icon class="enabled_icon" style="margin-right: 25%;">description</mat-icon>

                            </button> -->
                        </div>
                    </td>
                    <td>
                        <!-- <button mat-icon-button matTooltip="History" class="iconbutton" data-toggle="modal"
                            data-target="#exampleModal"  style="color: green;" color="primary" (click)="histry(summary)">
                            <mat-icon class="enabled_icon">history</mat-icon>
                        </button> -->
                        <i class="material-icons" matTooltip="History" data-toggle="modal" data-target="#exampleModal"
                            style=" color:green ;cursor: pointer;" (click)="histry(summary)">history</i>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: center;" *ngIf="!datass_found">No data Found...</p>
    </div>

    <div style="margin-bottom: 5%;font-size: small;text-align:right;">
        <button mat-icon-button [disabled]="has_previous === false" color="primary" (click)="previousClick()">
            <mat-icon>arrow_back</mat-icon>
        </button> {{presentpage}}
        <button mat-icon-button [disabled]="has_next === false" color="primary" (click)="nextClick()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</div>
<div *ngIf="!edit_sumary">
    <app-frs-transaction [show]="view_edit_frs" [item]="edit_frs_summary"></app-frs-transaction>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header" style="width: 600px; ">
                <h5 class="modal-title" id="exampleModalLabel" style="text-align: center; font-size: large;">
                    <b>Transaction History</b>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr style="background-color: #00800021">
                        <th>S.No</th>
                        <th>Employee Name</th>
                        <th>Action Date</th>
                        <th>Status</th>
                        <th>Remarks</th>
                    </tr>
                    <tr *ngFor="let history of histry_list;let i=index">
                        <td>{{i + 1 }}</td>
                        <td>{{history.approved_by.name}}-{{history.approved_by.code}} </td>
                        <td>{{history.approved_date }}</td>
                        <td>{{history.type.name}}</td>
                        <td><button mat-icon-button class="iconbutton" data-toggle="modal" data-target="#exampleModal2"
                                color="primary" (click)="Reject(history.remarks)">
                                <mat-icon class="enabled_icon">visibility</mat-icon>
                            </button></td>
                    </tr>
                </table>
                <p style="text-align: center;" *ngIf="!data_found">No data Found...</p>
            </div>
            <div style="margin-bottom: 1%;font-size: small;text-align:right; border-radius: 40px;">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
                    Close
                </button>
                <button mat-icon-button [disabled]="hass_previous === false" color="primary" (click)="previoussClick()">
                    <mat-icon>arrow_back</mat-icon>
                </button> {{presentspage}}
                <button mat-icon-button [disabled]="hass_next === false" color="primary" (click)="nextsClick()">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 900px;">
            <div class="modal-header" style="width: 900px; ">
                <h5 class="modal-title" id="exampleModalLabel" style="text-align: center; font-size: large;">
                    <b>Remarks</b>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="Approve">
                    <div style="margin-left: 50px;width:90%;height: 100%;">
                        <div>
                            <div [ngxSummernote]="config" [ngxSummernoteDisabled]="editorDisabled" (blur)="onBlur()"
                                (mediaDelete)="onDelete($event)" (summernoteInit)="summernoteInit($event)"
                                formControlName="content">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 700px;">
            <div class="modal-header" style="width: 700px; ">
                <h5 class="modal-title" id="exampleModalLabel" style="text-align: left; font-size: large;"><b>Document
                        Details</b>

                </h5>
                <button type="button" class="close" data-dismiss="modal" #closepopup aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr style="background-color: #00800021">
                        <th>S.No</th>
                        <th>File Name</th>
                        <th>Action</th>
                    </tr>
                    <tr *ngFor="let document of document_list;let i=index">
                        <td>{{i + 1 }}</td>
                        <td>{{document.file_name}}</td>
                        <td>
                            <button type="button" mat-icon-button matTooltip="Download" class="iconbutton"
                                color="primary" (click)="downloadfiledocument(document,'download')"
                                style="border-radius:40px;">
                                <mat-icon class="enabled_icon">download</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="delete" class="iconbutton"
                                (click)="delete_document(document)">
                                <mat-icon class="enabled_icon">delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </table>
                <p style="text-align: center;" *ngIf="datanot_found">No data Found...</p>
            </div>
            <div>
                <button mat-icon-button [disabled]="hasdoc_previous === false" color="primary"
                    (click)="previousdocClick()">
                    <mat-icon>arrow_back</mat-icon>
                </button> {{presentdocpage}}
                <button mat-icon-button [disabled]="hasdoc_next === false" color="primary" (click)="nextsdocClick()">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>