.table-responsive {
    display: block;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

th, td{
    text-align:center;
  
}




thead,th{
    font-weight: bold;
}
.modal-dialog{
    max-width:fit-content;
    max-height: fit-content;
    overflow-y: hidden;
    overflow-x: hidden;
}
.modal-body{
max-height: calc(100vh - 200px);
min-height: fit-content;
overflow-y: auto;
overflow-x: auto;
}