<br>
<mat-card>
    <div class="mat-card">

<h2 style="margin-left: 30px;margin-top: 1%;"> Approved Premises </h2>

<mat-form-field style="width: 200px;margin-left: 5%;">
    <mat-label>Approved Premises</mat-label>
    <mat-select readonly="readonly" (selectionChange)="onChangeDropDown($event.value)" id="approved-identification-0004">
        <mat-option *ngFor="let approved of approvedFilterList" [value]="approved.id">
            {{approved.text}}
        </mat-option>
    </mat-select>
</mat-form-field>

<div class="table-responsive" style="margin-top: 2%;width: 92%; overflow-x: hidden;margin-left: 50px;">
    <table class="table table-bordered" fixed-header>
        <thead class="table_header">
            <tr>

                <th>Sl.No</th>
                <th>Premises Identification Code</th>
                <th>Proposed Location</th>
                <th>Proposed Premises Name</th>
                <th>Status</th>
                <th>Files</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of approvedList; index as i">
                <td> {{(paymentpresentpage - 1)*pagesizepayment +i+1 }} </td>
                <td style="cursor: pointer; color: #3684BF; " (click)="addPremises(list)">{{list.premiseidentification.code }}</td>
                <td>{{list.premiseidentification.name }}</td>
                <td>{{list.premiseidentificationname.name }}</td>
                <td>
                    <div *ngIf= "list.create_status == true">
                        {{ approved_Status1 }}
                    </div>
                    <div *ngIf= "list.create_status == false">
                        {{ approved_Status2  }}
                    </div>
                </td>
                <td style="font-size: small;width: 150px;cursor: pointer;">
                    <div data-target="#approved-identification-0002" data-toggle="modal"
                        *ngFor="let file of list.attachments ;index as i;" title="{{file.file_name }}"
                        (click)="commentPopup(file.id,file.file_name )" class=" btn-link"><i class="fa fa-download"></i>
                        {{i+1}}. {{file.file_name }}
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
    <div *ngIf="approvedList ?.length == 0" style="margin-left: 42%;">
        <h3>Sorry data not found!.. </h3>
    </div>
    <div class="row" *ngIf="ispaymentpage">
        <div class="col-sm-12" style="font-size: small;text-align: right; margin-bottom: 100px;">
            <button mat-icon-button [disabled]="has_paymentprevious === false" color="primary"
                (click)="previousClickPayment()" id="approved-identification-0005">
                <mat-icon>arrow_back</mat-icon>
            </button>
            {{paymentpresentpage}}
            <button mat-icon-button [disabled]="has_paymentnext === false" color="primary" (click)="nextClickPayment()" id="approved-identification-0006">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>
    <!-- <div *ngIf="showPopupImages" id="approved-identification-0001" class="modal fade" aria-labelledby="my-modalLabel" aria-hidden="true"
        tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" data-dismiss="modal" style="width: 60%;height: 80%;">
            <div class="modal-content">
               
                <div class="modal-body">
                    <img src="{{jpgUrls}}" class="img-responsive" style="width: 100%;">

                </div>
            </div>
        </div>
    </div> -->
    <div *ngIf="showPopupImages" id="approved-identification-0002" class="modal fade" aria-labelledby="exampleModalLabel" aria-hidden="true"
    tabindex="-1" role="dialog">
    <div class="modal-dialog"  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100" 
                    id="approved-identification-0003">
                  Attachment View
              </h5>
              
                <button type="button"
                        class="close"
                        data-dismiss="modal" 
                        aria-label="Close" id="approved-identification-0007">
                    <span aria-hidden="true">
                      ×
                  </span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{jpgUrls}}">

            </div>
            <div class="modal-footer">
                        
            </div>
        </div>
    </div>
</div>
</div>

</div>
</mat-card>