<div style="margin-left: 50px;margin-top:2%;">
    <span
        style="margin-left: 1px; font-family:'Times New Roman', Times, serif;font-size:25px;font-weight:lighter;"><b>Occupancy
            Details </b></span>
    <!-- <div style="margin-left: 1px;margin-top:2%;">
        <div *ngIf='abcd'>
            <span *ngIf="Status == 1 "> <button *ngIf="isclo"
                    style="margin-left:77%;margin-top: -4%;border-radius: 40px;" type="button"
                    class="btn btn-outline-danger" data-toggle="modal" data-target="#closuredetail" id="occupancy-view-0009"><span></span>
                    Occupancy close</button></span>
        </div>
    <div style="margin-left: 1px;margin-top:2%;">
        <span
            style="margin-left: 1px;margin-top:1%; font-family:'Times New Roman', Times, serif;font-size:25px;font-weight:lighter;"><b>Occupancy
                Details </b></span>
        <button type="button" class="btn btn-outline-primary" style="height: 60px;"
            style="border-radius: 40px;margin-left:50%;margin-top:-4.5%;" (click)="occupancyEdit()" id="occupancy-view-0010">Edit</button>

    </div>
    <div *ngIf="TerminalCount === 0 ; else shows">


    </div>
    <ng-template #shows>
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#rejectModal"
            style="margin-left:60%;margin-top:-8%;border-radius: 40px;" *ngIf="isTerminalCountButton"
            (click)="addterminal('')" id="occupancy-view-0011"><span class="fa fa-plus"></span> Terminal Count
        </button>
        <button type="submit" class="btn btn-outline-primary"
            style="margin-left:37%;margin-top:-5%;border-radius: 40px;" data-toggle="modal" data-target="#Terminalview"
            *ngIf="isTerminalSummaryButton" (click)="TerminalView()" id="occupancy-view-0012">
            View</button>
    </ng-template> -->

    <div>
        <div *ngIf='abcd'>
            <span *ngIf="occ_Status == 1 "> <button *ngIf="isclo" style=" float: right; border-radius: 40px;" type="button"
                    class="btn btn-outline-danger" data-toggle="modal" data-target="#occupancy-view-0008" id="occupancy-view-0013"><span></span>
                    Closure Details</button></span>
        </div>

        <!-- <button type="button" class="btn btn-outline-primary" style="height: 60px;"
            style=" float: right; border-radius: 40px;" (click)="occupancyEdit()" id="occupancy-view-0014">Edit</button> -->

    </div>
    <div *ngIf="TerminalCount === 0 ; else shows" style="float: left;">


    </div>
    <button class="btn btn-outline-primary" style="height: 60px;" style="float: right;border-radius:40px;margin-left: 10px;"
                (click)="backToRemsSummary()" id="occupancy-view-0015">Back</button>
    <ng-template #shows>
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#occupancy-view-0001"
            style="float: right;border-radius:40px ;margin-right:1%" *ngIf="isTerminalCountButton"
            (click)="addterminal('')" id="occupancy-view-0016"><span class="fa fa-plus"></span> Terminal Id
        </button>
        <button type="submit" class="btn btn-outline-primary" style="float: right;border-radius:40px;margin-right:1%"
            data-toggle="modal" data-target="#occupancy-view-0002" *ngIf="isTerminalSummaryButton" (click)="TerminalView()" id="occupancy-view-0017">
            View Terminal</button>
    </ng-template>


    <!-- <hr style="margin-top:1px"> -->

    <table width="100%">
        <tbody>
            <tr>

                <td width="20%" valign="top">
                    <table width="100%;" style="font-size:14px;">
                        <tbody>
                            <tr>
                                <!-- <p style="color: #808080; margin: 0px 0 4px;"> Occupancy ID: <span
                                        style="color: black;margin-left: 14%;"> {{ID}}</span></p> -->
                                    <p style="color: #808080; margin: 0px 0 4px;"> Occupancy Usage: <span
                                            style="color: black;margin-left:  49px;"> {{Usage}}</span></p>
                                    <p style="color: #808080; margin: 0px 0 4px;"> Occupancy Code: <span
                                            style="color: black;margin-left:  56px;"> {{Code}}</span></p>
                                    <p style="color: #808080; margin: 0px 0 4px;"> Occupancy Usage Code: <span
                                            style="color: black;margin-left: 12px;">
                                            {{usagecode}}-{{usagecode1}}</span></p>
                                    <p style="color: #808080; margin: 0px 0 4px;">Controlling office: <span
                                            style="color: black;margin-left: 60px;"> {{controlofz}}-{{controlofz1}}</span></p>
                                    <p style="color: #808080; margin: 0px 0 4px;">Rent Paying Office: <span
                                            style="color: black;margin-left: 48px;"> {{priofz}}-{{priofz1}}</span></p>
                                    <p style="color: #808080; margin: 0px 0 4px;"> Area Occupied: <span
                                            style="color: black;margin-left: 72px;"> {{AreaOccupied}}</span></p>
                                    <p style="color: #808080; margin: 0px 0 4px;"> Date Of Opening: <span
                                            style="color: black;margin-left: 59px;"> {{DateOfOpening |
                                            date:'dd-MMM-yyyy'}}</span></p>
                                    <p style="color: #808080; margin: 0px 0 4px;"> Floor Occupied: <span
                                            style="color: black;margin-left: 69px;"> {{FloorLocated}}</span></p>


                            </tr>
                        </tbody>
                    </table>
                </td>




                <td width="20%" valign="top">
                    <table width="100%;" style="font-size:14px; margin-left: 5px;">
                        <tbody>
                            <tr>

                                <p style="color: #808080; margin: 0px 0 4px;"> Branch Location: <span
                                    style="color: black;margin-left: 32px ;"> {{BranchLocation}}</span></p>
                            <p style="color: #808080; margin: 0px 0 4px;"> Saferoom Partion: <span
                                    style="color: black;margin-left:  24px;"> {{SafeRoomPartition}}</span></p>
                            <p style="color: #808080; margin: 0px 0 4px;"> Branch Window: <span
                                    style="color: black;margin-left: 35px ;"> {{BranchWindow}}</span></p>
                            <p style="color: #808080; margin: 0px 0 4px;"> Strong Room: <span
                                    style="color: black;margin-left: 51px ;"> {{StrongRoom}}</span></p>
                            <p style="color: #808080; margin: 0px 0 4px;"> Classification: <span
                                    style="color: black;margin-left: 12%;"> {{BranchClassification}}</span></p>
                            <p style="color: #808080; margin: 0px 0 4px;">Risk Category: <span
                                    style="color: black;margin-left: 45px;"> {{RiskCategory}}</span></p>
                            <p style="color: #808080; margin: 0px 0 4px;"> Terminal ID Count : <span
                                    style="color: black;margin-left: 17px;"> {{TerminalCount}}

                                </span>

                            </p>
                            <p style="color: #808080; margin: 0px 0 4px;"> Occupancy Status : <span
                                style="color: black;margin-left: 15px;"> {{Status}}

                            </span>

                            </p>
                                <!-- <p style="color: #808080; margin: 0px 0 4px;">Terminal ID Count</p> -->
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div *ngIf="terminalList?.length != 0">
                        <button   type="button"
                        class="btn btn-outline-success" data-toggle="modal" data-target="#rejectModal"
                        *ngIf="isTerminalCountButton" (click)="addterminal('')" id="occupancy-view-0018"><span class="fa fa-plus"></span> Add
                       </button>
                        <button type="submit" class="btn btn-outline-primary" style="margin-right:75%"
                            data-toggle="modal" data-target="#Terminalview" *ngIf="isTerminalSummaryButton"
                            (click)="TerminalView()" id="occupancy-view-0019">
                            View</button>
                    </div> -->


                <td width="20%" valign="top" style="margin-left:35%">
                    <table width="100%;" style="font-size:14px; margin-left: 5px;">
                        <tbody>
                            <tr>
                                <h3 style="margin-top: 0%;font-size:1.2vw;">Occupancy Address:</h3>

                                <p style="position:relative; top:1px; ">
                                    {{Line1}}, {{Line2}},<br>
                                    {{City}}, {{District}},<br>
                                    {{State}}<br>{{Pincode}}.
                                </p>

                            </tr>

                        </tbody>
                    </table>
                </td>

            </tr>
        </tbody>
    </table>






</div>

<!-- <hr> -->


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="occupancy-view-0001">
    <div class="modal-dialog modal-xl" style="width: 60%;">
        <div class="modal-content">
            <div class="modal-header" style="background:#DDEFDD;">
                <h2 class="modal-title" style="color:black ;">ATM Terminal</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="occupancy-view-0020">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div style="margin-left: 70px;margin-right: 80%;margin-top: 3%; width: 80%;">
                <div *ngIf="isTerminalForm">
                    <form [formGroup]="TerminalForm" (ngSubmit)="terminalCreateEditForm()">
                        <table>
                            <div>
                                <tr>
                                    <td>
                                        <mat-form-field style="width: 200px;">
                                            <mat-label>Terminal ID</mat-label>
                                            <input matInput placeholder="Terminal" formControlName="terminal_id"
                                                autocomplete="off" maxlength="" (keypress)="only_num($event)" required id="occupancy-view-0021">
                                        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </div>
                        </table>
                        <tr>
                            <button type="submit" style="float: left; " class="btn btn-outline-primary" [disabled]="TerminalButton" id="occupancy-view-0022">
                                Submit</button>
                            <button type="button" data-dismiss="modal" class="btn btn-outline-primary" id="occupancy-view-0023">
                                Cancel</button>
                        </tr>
                    </form>
                </div>

                <div class="table-responsive" style="width: 90%;margin-top:2%;overflow-x:hidden;">

                    <table class="table table-bordered" fixed-header>
                        <thead class="table_header">
                            <tr>
                                <th>S.no</th>
                                <th>Occpancy Code</th>
                                <th>Terminal ID</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let terminal of terminalList;index as i">
                                <td scope="row" style="vertical-align: middle;">
                                    {{(this.presentterminalpage - 1)*pageSizeterminal +i+1 }}</td>
                                <td style="vertical-align: middle;">{{terminal.occupancy_details.code}}</td>
                                <td style="vertical-align: middle;">{{terminal.terminal_id}}</td>
                                <td>
                                    <button mat-icon-button matTooltip=" Edit" class="iconbutton"
                                        (click)="TerminalEdit(terminal)" color="primary" id="occupancy-view-0024">
                                        <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                                    </button>
                                    <button mat-icon-button matTooltip=" Delete" class="iconbutton"
                                        (click)="TerminalDelete(terminal)" color="primary" id="occupancy-view-0025">
                                        <mat-icon style="color: gray;" aria-label="Delete">delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div *ngIf="terminalList?.length == 0" style="margin-left: 50%;">
                <h3>Sorry data not found!.. </h3>
            </div>
            <div class="row" *ngIf="is_terminal">
                <div class="col-sm-10" style="margin-bottom: 5%;font-size: small;text-align:right;">
                    <button mat-icon-button [disabled]="has_previousterminal === false" color="primary"
                        (click)="previousClickTerminal()" id="occupancy-view-0026">
                        <mat-icon>arrow_back
                        </mat-icon>
                    </button>
                    {{presentterminalpage}}
                    <button mat-icon-button [disabled]="has_nextterminal === false" color="primary"
                        (click)="nextClickTerminal()" id="occupancy-view-0027">
                        <mat-icon>arrow_forward
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<div style="margin-top: 5%;margin-top: 1%;">
    <span class="drop-down">

        <mat-form-field style=" float: right; margin-top: 3%;">


            <mat-select [(ngModel)]="dropDownTag" id="occupancy-view-0028">
                <!-- <mat-option value="terminal_count" *ngIf="TerminalCount !== 0">
                    Terminal</mat-option> -->
                <!-- <mat-option value="occupancy_map" (click)="getOccupancyMap()">
                    Landlord</mat-option> -->
                <mat-option *ngIf="this.Status==2 || !abcd " value="Closure_detail" (click)="getClosureDetail()">
                    Closure Detail</mat-option>
                <mat-option value="agreement" (click)="getagreementMap()">
                    Agreement</mat-option>
            </mat-select>
        </mat-form-field>

    </span>


    <span *ngIf="dropDownTag == 'terminal_count'" style="font-weight:normal;font: size 25px;">
        <div *ngIf="TerminalCount === 0 ; else show">
            <!-- <button style="margin-left:62%;border-radius: 40px;margin-top:4.5%" 
             type="button" disabled class="btn btn-outline-success" id="occupancy-view-0029"><span
                    class="fa fa-plus"></span> Terminal ID</button> -->
        </div>
        <ng-template #show>


            <!-- <button style="margin-left:62%;border-radius: 40px;margin-top:4.5%" type="button"
                class="btn btn-outline-success" data-toggle="modal" data-target="#rejectModal"
                *ngIf="isTerminalCountButton" (click)="addterminal('')" id="occupancy-view-0030"><span class="fa fa-plus"></span> Terminal
                ID</button> -->

        </ng-template>
    </span>


    <!-- <span *ngIf="dropDownTag == 'occupancy_map'" style="font-weight:normal;font: size 20px;">
        <p style="font-size:1.5vw;margin-left:20px">Landlord </p>
        <button style="margin-left:57%;border-radius: 40px;margin-top:1%" type="button" class="btn btn-outline-success"
            data-toggle="modal" data-target="#exampleModal" (click)="occupancyMapCreate()" id="occupancy-view-0031"><span
                class="fa fa-plus"></span> Landlord </button>
    </span> -->

    <!-- <span *ngIf="dropDownTag == 'Closure_detail'" style="font-weight:normal;font: size 20px;">
        <p style="font-size:1.5vw;margin-left:20px">Closure Details</p> -->

    <!-- <span *ngIf="Status == 1;">   <button *ngIf="isclo" style="margin-left:58%;margin-top: 1%;border-radius: 40px;"  type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#closuredetail"
                 id="occupancy-view-0032"><span class="fa fa-plus"></span> Occupancy close</button></span> -->


    <!-- </span> -->

    <!-- <span *ngIf="dropDownTag == 'agreement'" style="font-weight:normal;font: size 20px;">
        <p style="font-size:1.5vw;margin-left:20px">Agreement</p>

     


    </span> -->

    <!-- <span *ngIf="dropDownTag == 'agreement'" style="font-weight:normal;font: size 20px;">
        <p style="font-size:1.5vw;margin-left:20px">Agreement Mapping</p>
        <button style="margin-left:57%;border-radius: 40px;margin-top:1%" type="button" class="btn btn-outline-success"
            data-toggle="modal" data-target="#exampleModals" (click)="agreementMapCreate()" id="occupancy-view-0033"><span
                class="fa fa-plus"></span> Agreement Mapping</button>
    </span> -->





</div>
<!-- <div *ngIf=>

</div> -->

<!-- <div style="margin-top: 1%;"> -->

<!-- <span class="drop-down"> -->
<!--     
        <mat-form-field style=" float: right; margin-top: 3%;">
       
       
            <mat-select [(ngModel)]="dropDownTag" id="occupancy-view-0034">
                <mat-option value="terminal_count">
                    Terminal</mat-option>
                <mat-option value="occupancy_map" (click)="getOccupancyMap()">
                    Occupancy Mapping</mat-option>
                <mat-option value="Closure_detail" (click)="getClosureDetail()">
                    Closure Detail</mat-option>
            </mat-select>
        </mat-form-field> -->

<!-- </span> -->
<!-- <table>
        <tr>
            <td>
  
  
     <span *ngIf="dropDownTag == 'terminal_count'">
        <div *ngIf="TerminalCount === 0; else show">
            <button style=" margin-left: 750px;border-radius: 40px;" 
             type="button" disabled class="btn btn-outline-success" id="occupancy-view-0035"><span
                    class="fa fa-plus"></span> Terminal ID</button>
        </div>
        <ng-template #show>
        

            <button style=" margin-left: 750px;border-radius: 40px;"  type="button" class="btn btn-outline-success" data-toggle="modal"
                data-target="#rejectModal" *ngIf="isTerminalCountButton" (click)="addterminal('')" id="occupancy-view-0036"><span
                    class="fa fa-plus"></span> Terminal ID</button>
       
        </ng-template>
    </span> 
    
    <span *ngIf="dropDownTag == 'occupancy_map'">
        <button style=" margin-left: 550px;border-radius: 40px;"   type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal"
            (click)="occupancyMapCreate()" id="occupancy-view-0037"><span class="fa fa-plus"></span> Occupancy Mapping</button>
    </span>
    <span *ngIf="dropDownTag == 'Closure_detail'">
        <button style=" margin-left: 650px;border-radius: 40px;"  type="button" class="btn btn-outline-success" data-toggle="modal"
            data-target="#closuredetail" (click)="addclosuredetail('')" id="occupancy-view-0038"><span class="fa fa-plus"></span> Closure
            Details</button>
    </span>
</td> -->
<!-- <td style="float: right;margin-left:15% ;"> -->


<!-- </td> -->
<!-- </tr>
</table>
<mat-form-field style="float: right;margin-left:15% ;">
       
       
    <mat-select [(ngModel)]="dropDownTag" id="occupancy-view-0039">
        <mat-option value="terminal_count">
            Terminal</mat-option>
        <mat-option value="occupancy_map" (click)="getOccupancyMap()">
            Occupancy Mapping</mat-option>
        <mat-option value="Closure_detail" (click)="getClosureDetail()">
            Closure Detail</mat-option>
    </mat-select>
</mat-form-field>

   

</div> -->
<!-- LANDLORDMAPPING -->

<!-- <div *ngIf="dropDownTag == 'occupancy_map'" style="margin-left: 30px;margin-top: 5px;" class="center">
    <p style="font-size:1.5vw;margin-top: -3%;">Landlord</p>
    <div class="table-responsive">
        <table class="table table-bordered" fixed-header style="width: 90%;margin-top: 9px;">


            <thead class="table_header" style="text-align: left;">
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Pan No</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let occupancy of occupancyData; index as i">
                    <td> {{(presentOccupancyPage - 1)*pagesizeOccupancy +i+1 }} </td>
                    <td class="text-style">{{ occupancy.name}}</td>
                    <td class="text-style">{{ occupancy.panno }}</td>
                    <td class="text-style">{{occupancy.email }}</td>
                    <td>
                        <button mat-icon-button matTooltip="Remove" class="iconbutton" color="primary"
                            data-toggle="modal" data-target="#my-modal" (click)="occupancyMappingEdit(occupancy.id)">
                            <mat-icon style="color: gray;">delete_forever</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="occupancyData ?.length == 0" style="margin-left: 42%;">
            <h3>Sorry data not found!.. </h3>
        </div>
        <div class="row" *ngIf="isOccupancy">
            <div class="col-sm-12" style="font-size: small;text-align: right; margin-bottom: 100px;">
                <button mat-icon-button [disabled]="previousOccupancy === false" color="primary"
                    (click)="occupancyPrevious()" id="occupancy-view-0040">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                {{presentOccupancyPage}}
                <button mat-icon-button [disabled]="nextOccupancy === false" color="primary" (click)="occupancyNext()" id="occupancy-view-0041">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div> -->


<div *ngIf="dropDownTag == 'agreement'" style="margin-left: 30px;margin-top: 5px;" class="center">
    <p style="font-size:1.5vw;margin-top: 6%;">Agreement</p>

    <div class="table-responsive">
        <table class="table table-bordered" fixed-header style="width: 90%;margin-top: 9px;">


            <thead class="table_header" style="text-align: left;">
                <tr>
                    <th>S.No</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <!-- <th>New / Renewed Lease</th> -->
                    <th>Lease Period</th>
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let agreement of agreementData; index as i">
                    <td> {{(presentagreementPage - 1)*pagesizeAgreement +i+1 }} </td>
                    <td class="text-style">{{ agreement.start_date | date:'dd-MMM-yyyy'}}</td>
                    <td class="text-style">{{ agreement.end_date | date:'dd-MMM-yyyy' }}</td>
                    <td class="text-style">{{agreement.lease_period }}</td>
                    <!-- <td>
                        <button mat-icon-button matTooltip="Remove" class="iconbutton" color="primary"
                            data-toggle="modal" data-target="#my-modals" (click)="agreementMappingEdit(agreement.id)">
                            <mat-icon style="color: gray;">delete_forever</mat-icon>
                        </button>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <div *ngIf="agreementData ?.length == 0" style="margin-left: 42%;">
            <h3>Sorry data not found!.. </h3>
        </div>
        <div class="row" *ngIf="isAgreement">
            <div class="col-sm-11" style="font-size: small;text-align: right; margin-bottom: 100px;">
                <button mat-icon-button [disabled]="previousagreement === false" color="primary"
                    (click)="agreementPrevious()" id="occupancy-view-0042">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                {{presentagreementPage}}
                <button mat-icon-button [disabled]="nextagreement === false" color="primary" (click)="agreementNext()" id="occupancy-view-0043">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="occupancy-view-0002">
    <div class="modal-dialog modal-xl" style="width: 60%;">
        <div class="modal-content">
            <div class="modal-header" style="background:#DDEFDD;">
                <h2 class="modal-title" style="color:black ;">ATM Terminal Summary</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="occupancy-view-0044">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="table-responsive" style="width: 70%;margin-top:2%;overflow-x:hidden;margin-left:90px">

                <table style="margin-left:3%;" class="table table-bordered" fixed-header>
                    <thead class="table_header">
                        <tr>
                            <th>S.no</th>
                            <th>Occupancy ID</th>
                            <th>Terminal ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let terminal of terminalList;index as i">
                            <td scope="row" style="vertical-align: middle;">
                                {{(this.presentterminalpage - 1)*pageSizeterminal +i+1 }}</td>
                            <td style="vertical-align: middle;">{{terminal.occupancy_details.code}}</td>
                            <td style="vertical-align: middle;">{{terminal.terminal_id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Occupancy Popup -->
<div class="container text-center p-3">
    <div class="modal fade" id="occupancy-view-0003" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width: 40%;">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">LanLord Mapping</h4>
                    <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close" id="occupancy-view-0045">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="occupancyMapForm" (ngSubmit)="occupancyMapppingCreate()">
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="mapping-dropdown">
                                    <mat-label>Mapping </mat-label>
                                    <mat-chip-list #chipList>
                                        <mat-chip *ngFor="let land of chipSelectedOccupancy" [selectable]=true
                                            [removable]=true (removed)="removeCode(land)">
                                            {{land.name}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                        <input #mappingInput [formControl]="codeControl" formControlName="occupancy_id"
                                            [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]=true id="occupancy-view-0046">
                                    </mat-chip-list>
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="nameSelected($event)">
                                        <mat-option *ngFor="let map of occupancyMappingValue" [value]="map">
                                            {{map.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" style="border-radius: 40px;"
                                class="btn btn-outline-primary" id="occupancy-view-0047">Submit</button>
                            <button type="button" (click)="onCancelClick()" style="border-radius: 40px;"
                                class="btn btn-outline-primary" id="occupancy-view-0048">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Delete Popup -->
<div class="container d-flex justify-content-center">
    <div id="occupancy-view-0004" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0">
                <div class="modal-body p-0">
                    <div class="card border-0 p-sm-2 p-2 justify-content-center">
                        <div class="card-header pb-0 bg-white border-0 ">
                            <div class="row">
                                <div class="col ml-auto"><button type="button" #closebutton class="close"
                                        data-dismiss="modal" aria-label="Close" id="occupancy-view-0049"> <span aria-hidden="true">&times;</span>
                                    </button></div>
                            </div>
                            <p class="font-weight-bold mb-2"> Are you sure you wanna delete this ?</p>
                        </div>
                        <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                            <div class="row no-gutters">
                                <div class="col-auto"><button type="button" class="btn btn-danger px-4"
                                        data-dismiss="modal" (click)="occupancyMapDelete()" id="occupancy-view-0050">Delete</button></div>
                                <div class="col-auto"><button type="button" class="btn btn-light text-muted"
                                        data-dismiss="modal" id="occupancy-view-0051">Cancel</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- agreement mapping popup -->

<div class="container text-center p-3">
    <div class="modal fade" id="occupancy-view-0005" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="width: 40%;">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Agreement </h4>
                    <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close" id="occupancy-view-0052">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="agreementMapForm" (ngSubmit)="agreementMapppingCreate()">
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="mapping-dropdown">
                                    <mat-label>Mapping </mat-label>
                                    <mat-chip-list #chipList>
                                        <mat-chip *ngFor="let land of chipSelectedagreement" [selectable]=true
                                            [removable]=true (removed)="removesCode(land)">
                                            {{land.name}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                        <input #mappingInput [formControl]="codeControl"
                                            formControlName="leaseagreement_id" [matAutocomplete]="auto"
                                            [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]=true id="occupancy-view-0053">
                                    </mat-chip-list>
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="namesSelected($event)">
                                        <mat-option *ngFor="let map of agreementMappingValue" [value]="map">
                                            {{map.name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" style="border-radius: 40px;"
                                class="btn btn-outline-primary" id="occupancy-view-0054">Submit</button>
                            <button type="button" (click)="onCancelClick()" style="border-radius: 40px;"
                                class="btn btn-outline-primary" id="occupancy-view-0055">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- agreement delete popup -->

<div class="container d-flex justify-content-center">
    <div id="occupancy-view-0006" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0">
                <div class="modal-body p-0">
                    <div class="card border-0 p-sm-2 p-2 justify-content-center">
                        <div class="card-header pb-0 bg-white border-0 ">
                            <div class="row">
                                <div class="col ml-auto"><button type="button" #closebutton class="close"
                                        data-dismiss="modal" aria-label="Close" id="occupancy-view-0056"> <span aria-hidden="true">&times;</span>
                                    </button></div>
                            </div>
                            <p class="font-weight-bold mb-2"> Are you sure you wanna delete this ?</p>
                        </div>
                        <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                            <div class="row no-gutters">
                                <div class="col-auto"><button type="button" class="btn btn-danger px-4"
                                        data-dismiss="modal" (click)="agreementMapDelete()" id="occupancy-view-0057">Delete</button></div>
                                <div class="col-auto"><button type="button" class="btn btn-light text-muted"
                                        data-dismiss="modal" id="occupancy-view-0058">Cancel</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="occupancy-view-0007">
    <div class="modal-dialog-modal-xl"> 
        <div class="modal-content" >
            <div class="modal-header" style="background:#DDEFDD;">
                <h2 class="modal-title" style="color:black ;">Closure Details</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="occupancy-view-0059">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="margin-left: 50px;margin-right: 80%;margin-top: 3%; width: 80%;">
                <div *ngIf="isClosureSummary">
                    <form [formGroup]="ClosureDetailForm" (ngSubmit)="ClosureDetailCreateEditForm()">
                        <table>
                            <div>
                                <tr>
                                    <td>
                                        <mat-form-field style="width:200px;">
                                            <mat-label>Shifting Date</mat-label>
                                            <input matInput readonly [matDatepicker]="picker1"
                                                placeholder="Shifting Date" formControlName="shifting_date" id="occupancy-view-0060">
                                            <mat-datepicker-toggle matSuffix [for]="picker1">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td>
                                        <mat-form-field style="width:200px;">
                                            <mat-label>Shifting To</mat-label>
                                            <input matInput readonly [matDatepicker]="picker3" placeholder="Shifting To"
                                                formControlName="shifting_to" id="occupancy-view-0061">
                                            <mat-datepicker-toggle matSuffix [for]="picker3">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker3></mat-datepicker>
                                        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <mat-form-field style="width:200px;">
                                            <mat-label>Vacated Date</mat-label>
                                            <input matInput readonly [matDatepicker]="picker2"
                                                placeholder="Vacated Date" formControlName="vacated_date" id="occupancy-view-0062">
                                            <mat-datepicker-toggle matSuffix [for]="picker2">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td>
                                        <mat-form-field style="width: 200px;">
                                            <mat-label>Remarks</mat-label>
                                            <input matInput placeholder="Remarks" formControlName="remarks"
                                                autocomplete="off" required id="occupancy-view-0063">
                                        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </div>

                        </table>
                        <tr>
                            <button type="submit" style="float: left; " class="btn btn-outline-primary" id="occupancy-view-0064">
                                Submit</button>
                            <button type="button" data-dismiss="modal" style="float: left; "
                                class="btn btn-outline-primary" id="occupancy-view-0065">
                                Cancel</button>
                        </tr>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="closuredetailLabel" aria-hidden="true"
    id="occupancy-view-0008">
    <div class="modal-dialog modal-xl" style="width: 60%;">
        <div class="modal-content">
            <div class="modal-header" style="background:#DDEFDD;">
                <h2 class="modal-title" style="color:black ;">Closure Details</h2>
                <button type="button" #closebutton1 class="close" data-dismiss="modal" aria-label="Close" id="occupancy-view-0066">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="margin-left:20%;margin-top:4%" *ngIf="isClosureSummary">
                <form [formGroup]="ClosureDetailForm" (ngSubmit)="ClosureDetailCreateEditForm()">
                    <table>
                        <div>
                            <tr>
                                <td>
                                    <mat-form-field style="width:200px;">
                                        <mat-label>Shifting Date</mat-label>
                                        <input matInput readonly [matDatepicker]="picker1" placeholder="Shifting Date"
                                            formControlName="shifting_date" id="occupancy-view-0067">
                                        <mat-datepicker-toggle matSuffix [for]="picker1">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </td>
                                <!-- <td>
                                <mat-form-field style="width: 200px;margin-left:70px">
                                    <mat-label>Shifting To</mat-label>
                                    <input matInput placeholder="Shifting To" formControlName="shifting_to"
                                        autocomplete="off" required id="occupancy-view-0068">
                                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td> -->
                                <!-- <td>
                                    <mat-form-field style="width:200px;margin-left:70px">
                                        <mat-label>Shifting To</mat-label>
                                        <input matInput readonly [matDatepicker]="picker3" placeholder="Shifting To"
                                            formControlName="shifting_to" id="occupancy-view-0069">
                                        <mat-datepicker-toggle matSuffix [for]="picker3">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                </td> -->
                                <td>
                                    <mat-form-field style="width: 200px;margin-left:70px">
                                        <mat-label>Shifting To</mat-label>
                                        <input matInput placeholder="Shifting To" formControlName="shifting_to"
                                            autocomplete="off" required id="occupancy-view-0070">
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field style="width:200px;">
                                        <mat-label>Vacated Date</mat-label>
                                        <input matInput readonly [matDatepicker]="picker2" placeholder="Vacated Date"
                                            formControlName="vacated_date" id="occupancy-view-0071">
                                        <mat-datepicker-toggle matSuffix [for]="picker2">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field style="width: 200px;margin-left:70px">
                                        <mat-label>Remarks</mat-label>
                                        <input matInput placeholder="Remarks" formControlName="remarks"
                                            autocomplete="off" required id="occupancy-view-0072">
                                    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                        </div>

                    </table>
                    <tr style="margin-top:6%;margin-bottom: 5%;">
                        <button type="submit" style="float: left; " data-toggle="modal" data-target="#occupancy-view-0008" class="btn btn-outline-primary" [disabled]="ClosureButton" id="occupancy-view-0073">
                            Submit</button>
                        <button type="button" data-dismiss="modal" style="float: left; "
                            class="btn btn-outline-primary" id="occupancy-view-0074">
                            Cancel</button>
                    </tr>
                </form>
                <!-- <pre>{{ClosureDetailForm.value|json}}</pre> -->
            </div>

        </div>
    </div>
</div>
<div *ngIf="dropDownTag == 'Closure_detail'" style="margin-left: 30px;" class="center">
    <p style="font-size:1.5vw;margin-top:-7%">Closure Details</p>
    <div class="table-responsive">
        <table class="table table-bordered" fixed-header style="width: 90%;margin-top: 5px;">
            <thead class="table_header" style="text-align: left;">
                <tr>
                    <th>S.No</th>
                    <th>Shifting Date</th>
                    <th>Shifting To</th>
                    <th>Vacated Date</th>
                    <th>Remarks</th>
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let closure of closureData; index as i">
                    <td> {{(presentClosurePage - 1)*pagesizeClosure +i+1 }} </td>
                    <td class="text-style">{{ closure.shifting_date | date:'dd-MMM-yyyy'}}</td>
                    <td class="text-style">{{ closure.shifting_to}}</td>
                    <td class="text-style">{{closure.vacated_date | date:'dd-MMM-yyyy'}}</td>
                    <td class="text-style">{{closure.remarks }}</td>
                    <!-- <td>
                        <button mat-icon-button matTooltip=" Edit" class="iconbutton" data-toggle="modal"
                            data-target="#closuredetail" (click)="ClosureEdit(closure)" color="primary" id="occupancy-view-0075">
                            <mat-icon style="color: gray;" aria-label="Edit">edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip=" Delete" class="iconbutton" (click)="ClosureDelete(closure)"
                            color="primary" id="occupancy-view-0076">
                            <mat-icon style="color: gray;" aria-label="Delete">delete</mat-icon>
                        </button>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <div *ngIf="closureData ?.length == 0" style="margin-left: 42%;">
            <h3>Sorry data not found!.. </h3>
        </div>


        <div class="row" *ngIf="isClosure">
            <div class="col-sm-11" style="font-size: small;text-align: right; margin-bottom: 100px;">
                <button mat-icon-button [disabled]="previousClosure === false" color="primary"
                    (click)="ClosurePrevious()" id="occupancy-view-0077">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                {{presentClosurePage}}
                <button mat-icon-button [disabled]="nextClosure === false" color="primary" (click)="ClosureNext()" id="occupancy-view-0078">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>







</div>

<!-- <div *ngIf="dropDownTag == 'agreement" style="margin-left: 30px;margin-top: 5px;" class="center">
    <div class="table-responsive">
        <table class="table table-bordered" fixed-header style="width: 90%;margin-top: 9px;">


            <thead class="table_header" style="text-align: left;">
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Pan No</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let occupancy of occupancyData; index as i">
                    <td> {{(presentOccupancyPage - 1)*pagesizeOccupancy +i+1 }} </td>
                    <td class="text-style">{{ occupancy.name}}</td>
                    <td class="text-style">{{ occupancy.panno }}</td>
                    <td class="text-style">{{occupancy.email }}</td>
                    <td>
                        <button mat-icon-button matTooltip="Remove" class="iconbutton" color="primary"
                            data-toggle="modal" data-target="#my-modal" (click)="occupancyMappingEdit(occupancy.id)">
                            <mat-icon style="color: gray;">delete_forever</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="occupancyData ?.length == 0" style="margin-left: 42%;">
            <h3>Sorry data not found!.. </h3>
        </div>
        <div class="row" *ngIf="isOccupancy">
            <div class="col-sm-12" style="font-size: small;text-align: right; margin-bottom: 100px;">
                <button mat-icon-button [disabled]="previousOccupancy === false" color="primary"
                    (click)="occupancyPrevious()" id="occupancy-view-0079">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                {{presentOccupancyPage}}
                <button mat-icon-button [disabled]="nextOccupancy === false" color="primary" (click)="occupancyNext()" id="occupancy-view-0080">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div> -->