.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .edit:hover{
    background-color: green;
    color: green;
    border:2px solid blue;
  }
  .edit{
    border:2px solid rgb(71, 221, 57);
  }
  .edits:hover{
   
    background-color: green;
    color: green;
    border:2px solid blue;
  }
  .edits{
    margin-left: 50px;
    border:2px solid rgb(71, 221, 57);;
  }
  ::ng-deep .cdk-overlay-container {
    z-index: 99999;
}