* {
  font-family: "Poppins", sans-serif;
}
i {
  font-family: FontAwesome;
}
mat-icon {
  font-family: "Material Icons";
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.create {
  color: green;
}
.edit {
  color: orange;
}
.delete {
  color: red;
}
.size {
  color: #884545;
}
