
table {
    width: 100%;
  }
  
  .example-first-header-row th {
    border-bottom: none;
  }
  
  .example-second-header-row {
    font-style: italic;
  }
  
  .example-first-footer-row {
    font-weight: bold;
  }
  
  .example-second-footer-row td {
    color: #900000;
  }
  .td_design{
    text-align: center;
  }
  
  .example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .hide {
    display: none;
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  th{
    text-align:center;
    font-size: 15px;
  }
  tbody td {
    padding: 0.5em 0.1em 0.1em;
    font-size: 15px;
  }
  .w-25{
    width: 25px;
}