.input-style {
    width: 175px;
}

.btn-bottom {
    margin-bottom: 5%;
    margin-top: 2%;
}

.main-content {
    margin-left: 100px;
    margin-right: 80%;
    margin-top: 2%;
    width: 100%;
}
.input-style2 {
    width: 175px;
    margin-left: 80px;
}
