::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 20000 !important; } }
table tr{
    white-space: nowrap !important
  }
  .modal-header{
    background: #ddefdd;
  }
  .loc{
    margin-top: 12px;
  }
  .active{
    background-color: green;
    color: green;
  }

  ::ng-deep .cdk-overlay-container {
    z-index: 20000;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 20000 !important;
}
.cdk-overlay-connected-position-bounding-box {
  z-index: 20000 !important;
}
.mat-dialog-container {
  z-index: 10000; /* Adjust the value as needed */
}
.mat-select-panel {
  z-index: 10000; /* Adjust the value as needed */
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}