.choose-file {
    width: 57%;
}
.btn-bottom {
    margin-top: 10px;
    margin-left: 21%;
}
.modal-dialog{
    max-width:fit-content;
    max-height: fit-content;
    overflow-y: hidden;
    overflow-x: hidden;
}
.modal-body{
max-height: calc(100vh - 200px);
min-height: fit-content;
overflow-y: auto;
overflow-x: auto;
}
.table-bordered td,.table-bordered tr {
    border: 2px solid #bac2cd;
}
.table-bordered th{
    border: 2px solid #bac2cd;
}