.btn-bottom {
    margin-bottom: 5%;
    margin-top: 29px;
}
.btn-outline-primary {
    border-radius: 40px;
}
.btn-link {
    border-radius: 40px;
    margin-left: 10px;
}

.tdpad{
    padding: 10px;
}

.label-right {
  font-weight: bold;
//   text-align: right;
  white-space: nowrap;
  width: 150px; /* Fixed width for perfect alignment */
  padding-right: 5px;
}

.colon {
  width: 10px;
  text-align: center;
}

.value {
  white-space: nowrap;
  padding-left: 5px;
}
