<br>
<h2 style="margin-left: 40px;">
    Amenities
</h2>
<div class="main-content">

    <div>
        <form [formGroup]="amentiesForm" (ngSubmit)="amentiesFormCreate()">
            <table>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>ID Type</mat-label>
                            <mat-select formControlName="ref_type" (selectionChange)="getRefIdValue($event)" id="amenties-0001">
                                <mat-option *ngFor="let refType of refTypeData" [value]="refType.id">
                                    {{refType.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>ID</mat-label>
                            <mat-select formControlName="ref_id" id="amenties-0002">
                                <mat-option *ngFor="let refTypeId of refTypeIdData" [value]="refTypeId.id">
                                    {{refTypeId.code}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="input-style">
                            <mat-label>Amenities & Infrastructure Name</mat-label>
                            <mat-select formControlName="amenties_id" id="amenties-0003">
                                <mat-option *ngFor="let amenties of amentiesList" [value]="amenties.id">
                                    {{amenties.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="input-style2">
                            <mat-label>Remarks</mat-label>
                            <input matInput placeholder="Remarks" autocomplete="off" formControlName="remarks" required id="amenties-0004">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <div class="btn-bottom">
                <button type="submit" class="btn btn-outline-primary" [disabled]="AmenitiesButton" id="amenties-0005">Submit</button>&nbsp;&nbsp;&nbsp;
                <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary" id="amenties-0006">Cancel</button>
            </div>
        </form>
    </div>
</div>