// .mat-tab-label-active{
//     font-weight: bold;
//     opacity: 1 !important;
//   }
  ::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: x-large;
    color:black;
    
    font-family: 'Times New Roman', Times, serif;
  }
//   .modal-dialog { /* Width */
//     max-width: 100%;
//     width: auto !important;
   
// }
// @media (min-width: 1200px) {
//   .modal-xlg {
//      width: 90%; 
//   } // display: inline-block;
    // 1140px
// }