<div *ngIf="approverFlag == true" style="float: right;margin-right:17%;margin-top: 1%;">
      <!-- <button type="button" class="btn btn-outline-success" data-toggle="modal"
        data-target="#rejectModalForPremiseNameApproval" style="border-radius: 40px;margin-top:1%;" id="raisereq-view-0005"><span></span>
        APPROVE/REJECT</button> -->
  
        <button type="button" class="btn btn-outline-success" data-toggle="modal"
        data-target="#raisereq-view-0001" style="border-radius: 40px;margin-top:1%;" id="raisereq-view-0006"><span></span>
        APPROVE</button>
        <button type="button" class="btn btn-outline-danger" style="height: 60px;" data-toggle="modal"
        data-target="#raisereq-view-0002" style="border-radius: 40px;margin-left: 5px;" id="raisereq-view-0007">REJECT
        </button>
</div>

<button class="btn btn-outline-primary" (click)="backbutton()"
style="border-radius: 40px;margin-left: 50px;margin-top: 13px;" id="raisereq-view-0008">Back</button>
<div style="margin-left: 50px;">
    
    <table width="100%" style="margin-top: 2%;">
        <tbody>
            <tr>
                <td width="20%" valign="top">
                    <table width="100%;" style="font-size:14px;">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="color: #808080; margin: 0px 0 4px;">Premises Name : <span
                                            style="color: black;margin-left: 5%;">
                                            {{ raiseReqViewdata?.premise }}</span>
                                    </p>
                                </td>
                                <td>
                                    <p style="color: #808080; margin: 0px 0 4px;">Request Type : <span
                                            style="color: black;margin-left: 5%;">
                                            {{ raiseReqViewdata?.reqesttype.text }}</span>
                                    </p>
                                </td>
                                <td>
                                    <p style="color: #808080; margin: 0px 0 4px;">Status : <span
                                            style="color: black;margin-left: 5%;">
                                            {{ raiseReqViewdata?.status.text }}</span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="font-size:14px;">
        <!-- <p style="cursor: pointer;color: #808080;margin-top: 0%;width: 50%;">Attachments:<i
            class="fa fa-download"></i><br>
        <mat-chip *ngFor="let file of raiseReqViewdata?.files ;index as i;" title="{{file.file_name }}"
             class=" btn-btn-link">
            {{i+1}}. {{file.file_name }}<br>
        </mat-chip>
        </p> -->
        <span style="color: #808080;margin-top: 0%;width: 50%;">Attachments:<i class="fa fa-download"></i></span>
            <span style="cursor: pointer;color: #2b89d6;margin-top: 0%;" *ngFor="let file of raiseReqViewdata?.files ;index as i;" class="btn btn-link">
                <span data-target="#raisereq-view-0003" data-toggle="modal" (click)="raiseReqViewFile(file.id,file.file_name )">{{i+1}}.{{file.file_name }},</span>
                <button mat-icon-button style="color:gray;margin-right: 2px;"
                                    (click)="raiseReqViewfileDownload(file.id,file.file_name)">
                                    <mat-icon> get_app</mat-icon>,
                </button>
            </span>

        <p style="color: #808080; margin: 0px 0 4px;margin-top: 3px;">Note : <p style="margin-left: 52px;margin-top: -24px;" [innerHTML] ="raiseReqnote">
   
        </p> 
    </div>
    <h2 style="margin-top: 35px;">Raise Request Details</h2>
    <div class="table-responsive" style="width: 60%;margin-top: 10px;"class="center">
        <table class="table table-bordered" fixed-header>
            <thead class="table_header">
                    <tr>
                        <th>Sl.No</th>
                        <th>Type</th>
                        <th>SubType</th>
                    </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let details of raisereqdetailsList;index as i">
                    <td>{{i+1}}</td>
                    <td>{{ details.ref_type.text}}</td>
                    <!-- <td>{{ details.ref_id}}</td> -->
                    <td>
                        <div *ngIf="details.ref_id != null">
                            {{ subtype }}
                        </div>
                        <div *ngIf="details.ref_id == null">
                            {{ subtypeadd }}
                        </div>
                    </td>
                    <!-- <td>
                        <ol>
                            <li *ngFor="let ccbs of details.ccbs; index as i">{{ccbs.ccbs_id.name}}</li>
                        </ol>
                    </td>  -->
                </tr>
            </tbody>
        </table>
        <div *ngIf="raisereqdetailsList ?.length == 0" style="margin-left: 42%;">
            <h3>Sorry data not found!.. </h3>
        </div>
    </div>

    <div *ngIf="isShowComments" style="font-size:14px;margin-top: 25px;">
        <p style="color: #808080; margin: 0px 0 4px;">Comments : <span
            style="color: black;margin-left: 1%;">
            {{ approverComments }}</span>
        </p>
    </div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="raisereq-view-0001">
    <div class="modal-dialog modal-xl" style="width: 60%;">
        <div class="modal-content">
            <div class="modal-header" style="background:#DDEFDD;">
                <h2 class="modal-title" style="color:black ;">Approve</h2>
                <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close" id="raisereq-view-0009">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div style="margin-left: 70px;margin-right: 80%;margin-top: 3%; width: 80%;">
                <div>
                    <form [formGroup]="raiseReqApproveForm"
                        (ngSubmit)="SubmitRaiseReqApprove()">


                        <textarea class="form-control z-depth-1"  rows="3" style="width: 99%;" formControlName="remarks"
                                        placeholder="Approver's Remarks.." id="raisereq-view-0010"></textarea>

                        <button type="submit" style="float: left;border-radius: 40px;margin-top: 10px;margin-bottom: 6px;"
                         data-toggle="modal" data-target="#raisereq-view-0001" class="btn btn-outline-primary" id="raisereq-view-0011">
                            Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="raisereq-view-0002">
    <div class="modal-dialog modal-xl" style="width: 60%;">
        <div class="modal-content">
            <div class="modal-header" style="background:#DDEFDD;">
                <h2 class="modal-title" style="color:black ;">Reject</h2>
                <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close" id="raisereq-view-0012">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div style="margin-left: 70px;margin-right: 80%;margin-top: 3%; width: 80%;">
                <div>
                    <form [formGroup]="raiseReqRejectApproveForm"
                        (ngSubmit)="SubmitRaiseReqRejectApprove()">


                        <textarea class="form-control z-depth-1"  rows="3" style="width: 99%;" formControlName="remarks"
                                        placeholder="Approver's Remarks.." id="raisereq-view-0013"></textarea>

                        <button type="submit" style="float: left;border-radius: 40px;margin-top: 10px;margin-bottom: 6px;" data-toggle="modal"
                            data-target="#raisereq-view-0002" class="btn btn-outline-primary" id="raisereq-view-0014">
                            Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div *ngIf="showPopupImages" id="raisereq-view-0003" class="modal fade" aria-labelledby="exampleModalLabel" aria-hidden="true"
    tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered "  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- w-100 class so that header
        div covers 100% width of parent div -->
                <h5 class="modal-title w-100" 
                    id="raisereq-view-0004">
                  Attachment View
              </h5>
              
                <button type="button"
                        class="close"
                        data-dismiss="modal" 
                        aria-label="Close" id="raisereq-view-0015">
                    <span aria-hidden="true">
                      ×
                  </span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{jpgUrls}}">

            </div>
            <div class="modal-footer">
                        
            </div>
        </div>
    </div>
</div>


</div>