.modal-dialog-centered{
    max-width:fit-content;
    max-height: fit-content;
    overflow-y: hidden;
    overflow-x: hidden;
}
.modal-body{
max-height: calc(100vh - 200px);
min-height: fit-content;
overflow-y: auto;
overflow-x: auto;
}