<br>

<h2 style="margin-left: 40px; ">
    EB Details Edit
</h2>
<div style="margin-left: 100px;margin-right: 80%;margin-top: 2%; width: 100%;">

    <div>
        <form [formGroup]="ebdetailsEditForm" (ngSubmit)="submitForm()">
            <table>
                <div>
                    <tr>
                        <td>
                            <mat-form-field style="width: 250px;">
                                <mat-label>ID Type</mat-label>
                                <mat-select formControlName="ref_type" id="eb-details-edit-0001">
                                    <mat-option *ngFor="let ref of refTypeList" [value]="ref.id"
                                        (focusout)="dependentid(ref.id)">
                                        {{ref.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <mat-form-field style="width: 250px;margin-left: 60px;">
                                <mat-label>ID</mat-label>
                                <mat-select formControlName="ref_id" id="eb-details-edit-0002">
                                    <mat-option *ngFor="let refff of refidList" [value]="refff.id">
                                        {{refff.code}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <mat-form-field style="width: 250px;margin-left: 60px;">
                                <mat-label>EB Advance Borne By</mat-label>
                                <mat-select formControlName="borne_by" id="eb-details-edit-0003">
                                    <mat-option *ngFor="let Borne of BorneidList" [value]="Borne.id"
                                        (click)="DropDown(Borne)">
                                        {{Borne.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>

                    </tr>
                    <tr>
                        <td *ngIf="isECFno">
                            <mat-form-field style="width: 250px;margin-top: 20px">
                                <mat-label>ECF Ref No </mat-label>
                                <input matInput placeholder="ECF Ref No" maxlength="20" formControlName="ecf_no" autocomplete="off"
                                    (keypress)="omit_special_char($event)" id="eb-details-edit-0004">
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <!-- <td>
                            <mat-form-field style="width: 250px;">
                                <mat-label>EB Service Provider</mat-label>
                                <input matInput placeholder="Service Provider" formControlName="service_provider"
                                    autocomplete="off" (keypress)="only_char($event)" required id="eb-details-edit-0005">
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td> -->

                        <td>

                            <mat-form-field style="width: 250px;">
                                <mat-label>EB Consumer No </mat-label>
                                <input matInput placeholder="Consumer No"  maxlength="16"  formControlName="cosumer_number"
                                    autocomplete="off" (keypress)="omit_special_chars($event)" required id="eb-details-edit-0006">
                            </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <mat-form-field style="width: 250px;margin-top: 20px;margin-left: 60px;">
                                <mat-label>EB circle</mat-label>
                                <input #EBCircle placeholder="EB Circle Name" matInput formControlName="EB_circle_id"
                                    [matAutocomplete]="ebcirclename" (click)="clear()" id="eb-details-edit-0007">
                                <mat-autocomplete #ebcirclename="matAutocomplete" [displayWith]="displayFnebcircle">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let ebcircleid of ebdetailsidList" (focusout)="selectEBCircle(ebcircleid)"  [value]="ebcircleid">
                                            {{ebcircleid.circle_name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td>
                            <mat-form-field style="width: 250px;margin-top: 20px;margin-left: 60px;">
                                <mat-label>EB Service Provider</mat-label>
                                <input #serviceInput placeholder="Select EB Service Provider" matInput formControlName="service_provider"
                                    [matAutocomplete]="serviceprovider" id="eb-details-edit-0008">
                                <mat-autocomplete #serviceprovider="matAutocomplete" [displayWith]="displayFnserviceprovider">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let service of serviceproviderList" [value]="service">
                                            {{service.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                </div>
            </table>
            <button type="submit" style="border-radius: 40px;margin-left: 10px;"
                class="btn btn-outline-primary" [disabled]="EBEditBtn" id="eb-details-edit-0009">Submit</button>
            <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
                style="border-radius: 40px;margin-left: 10px;" id="eb-details-edit-0010">Cancel</button>
        </form>
    </div>
</div>