.btn-outline-primary {
    border-radius: 40px;
    margin-left: 20px;
}

.btn-outline-danger {
    margin-left: 20px;
    border-radius: 40px;
}

.input-style {
}
.input-style2 {
    margin-left: 35px;
}

.input-style3 {
    margin-left: 35px;
    width: 300px;
}