
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 70px;
}
.carousel .carousel-item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}
.carousel .carousel-item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel-control-prev, .carousel-control-next {
	width: 30px;
	height: 30px;
	margin-top: -20px;
	top: 50%;
	background: none;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 68px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 12px;
	height: 12px;
	margin: 1px 3px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}


.fixed-header1{
    position: sticky;
    left: 0;
    background-color: white;
    

}

.fixed-header2{
    position: sticky;
    left: 49.5px;
    background-color: white;

}
.fixed-header3{
    position: sticky;
    left: 136.3px;
    background-color: white;

}
.fixed-header4{
    position: sticky;
    left: 250.6px;
    background-color: white;

}
.fixed-header5{
    position: sticky;
    left: 318.5px;
    background-color: white;

}
.fixed-header6{
    position: sticky;
    left: 382.5px;
    background-color: white;

}

.lastfixed-header{
    position: sticky;
    right: 0;
    background-color: white;
}

.table th:first-child,
.table td:first-child {
  position: sticky;
  left: 0;
//   background-color: #ad6c80;
//   color: #373737;
}

.btns
{
	background-color: #01A85A;
	background-image: linear-gradient(
		-60deg,
		transparent,transparent 40%, 
		#ffffff44 40%, #ffffff44 60%,
		transparent 60%, transparent 100% 
	);
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position-x: 150%;
	border-radius: 25px;
}

.btns:hover
{
	background-position-x:  -150%;
	transform: 6s linear infinite;
	transition:  background-position-x 600ms;
}

table {
	width: 100%;
  }
  mat-header-cell, mat-cell {
	justify-content: left;
  }
  .left-text {
	text-align: left;
  }

  .mat-form-field {
	font-size: 14px;
	width: 100%;
  }

//   .mat-column-gl_date {
//     width: 40px;
// }

.mat-button-toggle{
    background-color: white;
    color: black;
	// line-height: 33px;
}

.mat-button-toggle:hover {
    background-color: transparent;
    color: #1100ff !important;    
}

.mat-button-toggle-checked {
    background-color: #00B080;
    color: black  !important;
}
.full-width {
    font-size: 12px;
    width: 100%;
	margin-left: 25px;
}
.date-block{
	display: flex;
  }
  .date-block__list{
	flex-basis: 250px;
	margin-right: 15px;
	margin-top: 10px;
	margin-left:15px;
  }

  .autoknockss .mat-expansion-panel-header-description {
	justify-content: space-between;
	align-items: center;
  }

  .mat-column-gl_date,.mat-column-line_description,.mat-column-debit_amount,.mat-column-credit_amount,.mat-column-select
  {
		font-size: 10px;
  }
  .mat-column-debit_amount,.mat-column-credit_amount
  {
	text-align: center;
  }

  .mat-column-description, .mat-column-transaction_date, .mat-column-debit_amount, .mat-column-credit_amount
  {
	font-size: 10px;
  }

  ::ng-deep .mat-button-toggle-label-content{
	line-height: 33px !important;
	
  }
  




  