<mat-dialog-content id="stylecontent">
<main style="margin-top:1%;margin-left:15px">
    <h2>Return Request</h2>
 </main>
 
 <form [formGroup]="archivalreqForm" id="stylecontent"> 
 
    <mat-horizontal-stepper [linear]="isLinear" #stepper id="stylecontent">
       <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup" class="reqForm">
             <ng-template matStepLabel>Archival Request Form</ng-template>
             <table class="max-widths">
                <tr>
                   <td>
                     
                      <mat-label>Doc Types</mat-label>
                      <mat-form-field class="max-widths">
                         
                         <mat-select matInput formControlName="doctype">
                            <mat-option>
    
                            </mat-option>
                         </mat-select>
                      </mat-form-field>
                   </td>
                   <td></td>
                   <td>
                      <mat-label>No. Of Boxes</mat-label>
                   <mat-form-field class="max-widths">
 
                      <input matInput formControlName="num_of_boxes" required>
                   </mat-form-field>
                   </td>
                </tr>
                <tr>
                   <td>
                      <mat-label>From Series</mat-label>
                      <mat-form-field class="max-widths">
    
                         <input matInput formControlName="fromSeries" required>
                      </mat-form-field>
                   </td>
                   <td></td>
                   <td>
                      <mat-label>To Series</mat-label>
                      <mat-form-field class="max-widths">
       
                         <input matInput formControlName="toSeries" required>
                      </mat-form-field>
                   </td>
                </tr>
                <tr>
                   <td>
                      <mat-label>Comments</mat-label>
                      <mat-form-field class="max-widths">
                         <textarea  style="max-height:100px; " rows="3" matInput formControlName="comments" required></textarea>
                      </mat-form-field>
                   </td>
                </tr>
 
             </table>
 
             <div>
                <button mat-button matStepperNext style="float: right;">Next</button>
             </div>
          </form>
       </mat-step>
       <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup" class="sform">
             <ng-template matStepLabel>PickUp Details</ng-template>
             
             <table class="max-widths" cellspacing="0">
                <tr>
                   <td>
                      <mat-label>Address</mat-label>
                      <mat-form-field class="max-widths" style="margin-left:40px;" >
                         <textarea  style="max-height:100px;width:150px;" rows="3" matInput formControlName="address" required></textarea>
                      </mat-form-field>
                   </td>
                </tr>
                <tr>
                   
                   <td>
                      <mat-label>Contact Person</mat-label>
                      <mat-form-field class="max-widths"  >
                            <input matInput formControlName="contacts">
                      </mat-form-field>
                   </td>
                </tr>
             </table>
             <div style="float:right;">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
             </div>
          </form>
       </mat-step>
       <mat-step>
          <ng-template matStepLabel>Upload</ng-template>
          <table class="mtable">
             <tr>
                <td>File Upload</td>
             </tr>
             <br><br>
             <tr>
                <td>
                   <input style="border-bottom-style:none;margin-left:30%;margin-top:3%" type="file"
                             accept=".xls, .xlsx, .xlsm, .csv" >
 
                </td>
                <td>
                   <button type="submit" mat-button style='margin-left:0px'  id="primarybtn"
                   class="btn btn-light">Upload
                   <mat-icon style="margin-bottom: 5px;margin-left: 5px;">upload
                   </mat-icon>
               </button>
                </td>
             </tr>
             <br><br><br>
             <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click here to download sample invoice format<button class="btn btn-light" matTooltip="Download Example Format"
                   matTooltipPosition="left" type="submit" style="border-radius:40px;margin-left:50px;"
                   color="primary" (click)="formatdownload()">
                   <i class="fa fa-download" aria-hidden="true"></i>
               </button></td>
             </tr>
          </table>
          
          <div style="float:right;">
             
             <button mat-button>Submit</button>
             <button mat-button mat-dialog-close="true" >Close</button>
          </div>
       </mat-step>
    </mat-horizontal-stepper>
 
 
 
 </form>

</mat-dialog-content>