.text-style {
    text-align: initial;
}

.drop-down {
    float: right;
    margin-right: 8%;
}
// .btn-outline-success {
//     margin-left: 588px;
//     border-radius: 40px;
//     margin-top: 1.5%;
// }

.center th,.center td
{
    text-align:center;


}

.center th{
font-weight: bold;
}

.edit-btn {
    color: grey;
    cursor: pointer;
}

.toolbar-icon-disabled {
    pointer-events: none;
}
.linkDisabled {
    cursor: not-allowed;
}