// .modal-dialog .modal-content {
//     width: 1116px !important;
//     margin-left: -213px !important;
// }
.modal-dialog .modal-content1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 

// .mat-form-field-appearance-legacy .mat-form-field-label{
//     // color: black;
//     // font-weight: 400;
//     // font-size: 18px;
// }

// .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after{
//     color:black;
// }
// .mat-form-field-underline{
//     background-color: black !important;
// }

// .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after{
//     color: rgba(0,0,0,.70);
// }
// }
// ::ng-deep .cdk-overlay-pane {
//     /* Do you changes here */
//       min-width:200px;
//       width: auto !important;
  }
  


// input[type=number]::-webkit-inner-spin-button, 
// input[type=number]::-webkit-outer-spin-button { 
//   -webkit-appearance: none; 
//   margin: 0; 
// }
::ng-deep .mat-tooltip {
  font-size: 13px;
}
 
