.box1{
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid black;
}
.box2{
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid black;
}
.box3{
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid black;
}
.con{
    background-color: lightblue;
}
.box{
    border: 2px solid black;
}
::ng-deep .cdk-overlay-container {
    z-index: 99999;
}
.able{
    color:grey;
}
.disable{
    color:purple;
}