// .center th,.center td
// {
//     text-align:center;
// }
// .float-child {
//     float: right;
// }
// .btn-outline-primary {
//     border-radius: 40px;
// }
// ::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }

.btn-outline-primary {
    border-radius: 40px;
}
.center th,.center td
{
    text-align:center;
}
.thread th
{
    text-align:center;
}
.float-child {
    float: right;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

th, td{
    text-align:center;
  
}
thead,th{
    font-weight: bold;
}
.enabled_icon{
    color:green;
}
::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }

.table-bordered td,.table-bordered tr {
    border: 2px solid #bac2cd;
}
.table-bordered th{
    border: 2px solid #bac2cd;
}
.my-custom-class .tooltip-inner {
    background-color: #28a745;
    font-size: 125%;
  }
  .my-custom-class .arrow::before {
    border-top-color: #28a745;
  }
