*,
h1,
h2,
h3,
h4,
p {
    font-family: "Poppins", sans-serif;
}

i {
    font-family: FontAwesome;
}

mat-icon {
    font-family: 'Material Icons';
}

.content-adjust {
    padding: 20px !important;
}

.content {
    margin-left: 20px
}

h3 {
    font-weight: 500;
}

.searchs-expand {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 0;
}

// thead tr th{
//     height: 20px;
// }
th,
td {

    white-space: nowrap;
    padding: 10px;
}

tbody td {
    padding: 0.5em 0.1em 0.1em;
    white-space: nowrap;
    // vertical-align: baseline;

}

// .aligncenterBased{
// 	// padding: 1.5em;
//     // vertical-align: baseline;
// }
.tableset {
    height: 60px;
}

.cursor {
    cursor: pointer;
}

.inward-details {
    margin-left: 25rem;
    font-size: 23px;
}

// input.inputStyle{
//     outline: 0;
//     border-width: 0 0 2px;
//     width:150px;
//     border-color: rgb(157, 154, 154)
// }
// input.inputStyle:focus{
//     border-color: blue
// }
// tbody td {
// 	padding: 0.5em 0.1em 0.1em;
// }
.cursor {
    cursor: pointer;
}

// th, td{
//     text-align:center;
// }

.commonbuttonstyle {
    background-color: white;
    border: None;
    color: #0275d8;

}


.commonbuttonstyledelete {
    background-color: white;
    border: None;
    color: #d9534f;
}


.choosefile {
    background-color: white;
    width: 105px;
    // display: none;
}

.filedesign {
    display: block;
    background-color: white;
    border: 1px solid black;
}

::ng-deep {

    .cdk-global-overlay-wrapper,
    .cdk-overlay-container {
        z-index: 9999 !important;
    }
}

.header-adjust {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid rgb(228, 228, 228);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        margin: 0 !important;
    }

    .btn-outline-success {
        border-radius: 40px;
        // padding: 0 10px !important;
    }

    .button-div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }
}

table {
    th {
      font-weight: 500 !important;
    }
}