@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$baseBg: #ddefdd;
$baseColor:  #000000;
$t-btn-bg: #01a85a;
$t-btn-txt: white;
@import "./../node_modules/@unnilouis.org/stylepkg/src/lib/scss/main.scss";
.mat-form-field-underline {
  background-color: lightgrey !important;
}
/* Importing Bootstrap SCSS file. */
// @import "~bootstrap/scss/bootstrap";

// KVB
:root {
  // Base
  --colour-dark: #01A85A;
  --colour-medium: #CCEACC;
  --colour-light: #DDEFDD;
  --colour-font: black;
 --primary-clr: #01A85A !important;
  // --------------------- General Colors
  --base-dark-color: #01a85a;
  --base-medium-color: #cceacc;
  --base-light-color: #ddefdd;
  --base-lightPlus-color: #f4f4f4;
  --base-dark-blue: #4270fa;
  --base-light-blue: #427cf8;
  --base-white-color: #ffffff;
  --base-black-font: black;
  --base-white-font: #ffffff;
  --base-font-family: "Poppins", sans-serif;
  --base-table-border: #bee1be;
  --base-table-borderBottom: rgb(229, 229, 229);
  // --------------------- Table Head
  --base-table-evens: none;
  --base-thead: var(--base-light-color);
  --base-table-theadTxt: var(--base-black-font);
  --base-border: none;
  --base-border-bottom: 1px solid var(--base-table-borderBottom);
  --base-thead-fontWeight: 500;
  --base-thead-fontSize: 14px;
  --base-body-fontSize: 14px;
  // --------------------- Btn Colors
  // Base Btn
  --btn-border: 1px solid var(--base-dark-color);
  --btn-txt-color: var(--base-dark-color);
  --btn-bg: transparent;
  --btn-txt-fontSize: 16px;
  --btn-icon-fontSize: 20px;
  // Btn Hover
  --btn-hover-bg: var(--base-dark-color);
  --btn-hover-txt-color: var(--base-white-font);
  // second Btn
  --btn-blue-border: 1px solid var(--base-dark-blue);
  --btn-gray-txt: var(--base-dark-blue);
  // Padding
  --btn-padding: 10px 14px;
  // Radius
  --btn-radius: 50px;
  --btn-txt-radius: 50px;
  // Shadow
  --btn-shadow: none;
  // --------------------- Pagination
  --pagination-border-btn: 1px solid var(--base-dark-color);
  --pagination-bg-btn: transparent;
  --pagination-btn-radius: 50px;
  --pagination-txt-color: none;
  --pagination-btn-hover: var(--base-dark-color);
  --pagination-btn-hover-txt: var(--base-white-color);

  // Base
  --colour-dark: #05A85A !important;
  --colour-medium: #BEE1BE !important;
  --colour-light: #BEE1BE !important;
  --colour-font: #000000 !important;
  // Font Family
  --font-family: Poppins, sans-serif;
  // Table
  --table-thead-clr: #DEF7DE !important;
  --table-thead-font-clr: #000000 !important;
  // Button
  --btn-clr: #05A85A !important;
  --btn-font-clr: #FFFFFF !important;
  // Nav Left
  --navleft-clr: #DCEEDC !important;
  --navleft-font-clr: #000000 !important;
  --navleft-active-clr: #05A85A !important;
  --navleft-active-font: #000000 !important;
  // Nav Top
  --navtop-clr: #2C2C84;
  --navtop-font-clr: #FFFFFF;
  --navtop-active-clr: #4545C8;
  --navtop-active-font: #FFFFFF;
}

.custom-tooltip {
  min-width: fit-content;
  background-color: #01a85a !important;
  color: white !important;
  min-height: fit-content;
  font-family: "Montserrat";
  font-size: 16px;
}
.custom-tooltipnew {
  min-width: fit-content;
  color: white !important;
  min-height: fit-content;
  font-family: "Montserrat";
  font-size: 16px;
}

.custom-tooltiplight {
  min-width: fit-content;
  background-color: #ddefdd !important;
  color: #000000 !important;
  border: 1px solid #01a85a  ;
  min-height: fit-content;
  font-family: "poppins";
  font-size: 14px;
  font-weight: 500;
}

.custom-tooltipdark {
  min-width: fit-content;
  background-color: #000000 !important;
  color: white !important;
  border: 1px solid #000000  ;
  min-height: fit-content;
  font-family: "poppins";
  font-size: 14px;
  font-weight: 500;
}
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #01a85a;
  color: #fff;
}

.package-grid-width {
  .mat-dates-form {
    gap: 50px !important;
  }
}

.package-grid-width-cus {
  .filter-div1 {
    mat-form-field {
      width: 200px !important;
    }
  }
}

.package-width-cus-full {
  mat-form-field {
    width: 410px !important;
  }
}
.package-grid-width-sep-dates {
  .mat-dates-form {
    gap: 37px !important;
  }
}

.main-nav {
  .nav-tabs {
    padding: 4px 20px;
  }
}

.screen-padding {
  padding: 20px;
}

.rmu-screen-padding{
  padding: 0 20px 20px 20px;
}

.screen-lm {
  margin-left: 10px !important;
}

.rmu_screen-lm {
  margin-left: -28px !important;
}

.ars_screen-lm{
  margin-left: 28px !important;
}

.formList-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .title-label {
    display: block;
    width: 300px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  mat-form-field {
    width: 300px !important;
  }

  .formList-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }

  .checkbox {
    margin-top: 10px;
  }
}

.search-summary {
  padding: 20px;

  .search-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
  }

  .unique-btn {
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
  }

  .unique-btn-txt {
    border: 1px solid #01a85a;
    height: 38px;
    padding: 10px;
    background-color: transparent;
    color: #01a85a;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.npm-mat-edit {
  .npm-search-container {
    .npm-actions-btn-div {
      display: flex;
      align-items: center;
      gap: 6px !important;

      button {
        margin: 0 !important;
      }
    }
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0 1em 0;
    height: 26px;
  }

  .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    position: relative;
    top: -12px;
  }

  .mat-form-field-label-wrapper {
    top: -20px;
  }

  .npm-actions-btn {
    padding: 6px !important;
  }

  .npm-actions-btn-div {
    gap: 0 !important;
  }

  mat-form-field mat-icon {
    color: #707070;
    position: relative;
    top: -10px;
  }

  .matIconPosition-css {
    top: 3px !important;
  }

  // .mat-form-field-appearance-outline .mat-form-field-wrapper {
  //   margin: 0 0 !important;
  // }

  .mat-form-field-appearance-outline.mat-form-field-disabled
    .mat-form-field-outline {
    color: #6f6f6f !important;
  }

  .mat-input-element:disabled,
  .mat-form-field-type-mat-native-select.mat-form-field-disabled
    .mat-form-field-infix::after {
    color: #6f6f6f !important;
  }

  .mat-form-field-appearance-outline.mat-form-field-disabled
    .mat-form-field-label {
    color: #6f6f6f !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(108, 108, 108) !important;
  }

  .mat-select {
    position: relative !important;
    top: -12px !important;
  }
}

.npm-matChip-edit {
  mat-form-field mat-icon {
    color: #707070;
  }

  // .mat-form-field-appearance-outline .mat-form-field-wrapper {
  //   margin: 0 0 !important;
  // }

  .mat-form-field-appearance-outline.mat-form-field-disabled
    .mat-form-field-outline {
    color: #6f6f6f !important;
  }

  .mat-input-element:disabled,
  .mat-form-field-type-mat-native-select.mat-form-field-disabled
    .mat-form-field-infix::after {
    color: #6f6f6f !important;
  }

  .mat-form-field-appearance-outline.mat-form-field-disabled
    .mat-form-field-label {
    color: #6f6f6f !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(108, 108, 108) !important;
  }
}

.footer-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.component-fltr {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  align-items: start;
  justify-content: start;
  gap: 10px;

  mat-form-field {
    width: 100% !important;
  }
}

.table-matFields {
  width: 700px !important;

  mat-form-field {
    width: 100%;
  }
}

.gridGroup-mFields {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 24px;
  row-gap: 8px;
  align-items: start;
  justify-content: start;

  mat-form-field {
    width: 300px;
  }
}

.gridGroup-mFields-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 24px;
  align-items: start;
  justify-content: start;
}

.title-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.radioBtn-flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.mat-250 {
  mat-form-field {
    width: 250px !important;
  }
}

.mat-350 {
  mat-form-field {
    width: 350px !important;
  }
}

.formArray-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;

  button {
    border: none;
    background-color: transparent;
    margin-top: 6px;
    font-size: 20px;
  }
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.flex-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.flex-btwn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  i {
    font-size: 28px;
  }
}

.remove-btn-style {
  border: none;
  background-color: transparent;
}

.dif-cards {
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.192);
  border-radius: 10px;
  padding: 16px;
}

.cardView-sm-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 220px));
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;

  .card-view-sm {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.172);
    background-color: white;

    i {
      color: #01a85a;
      font-size: 58px;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.comp-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 16px;

  .comp-header-p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
}

.filter-flex-wrap {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: start;
  justify-content: start;
  column-gap: 18px;

  mat-form-field {
    width: 250px !important;
  }
}

.expansion-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;

  h3 {
    margin-bottom: 0 !important;
    font-size: 18px;
  }

  p {
    margin-bottom: 0 !important;
  }
}

.table-badge {
  background-color:#ff758f;
  color: black;
  text-wrap: nowrap;
  padding: 2px 6px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  max-width: fit-content;
}


.table-badge2 {
  text-wrap: nowrap;
  background-color:#93ff96;
  color: black;
  padding: 2px 6px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  max-width: fit-content;
}

.table-badge3 {
  text-wrap: nowrap;
  background-color:#98f5e1;
  color: black;
  padding: 2px 6px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  max-width: fit-content;
}

.table-badge4 {
  text-wrap: nowrap;
  background-color:#7bdff2;
  color: black;
  padding: 2px 6px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  max-width: fit-content;
}

.table-badge5 {
  text-wrap: nowrap;
  background-color:#f9dcc4;
  color: black;
  padding: 2px 6px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  max-width: fit-content;
}

.table-badge6 {
  text-wrap: nowrap;
  background-color: #f9c784;
  color: black;
  padding: 2px 6px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  max-width: fit-content;
}


.table-badge7 {
  text-wrap: nowrap;
  background-color: #128baa;
  color: black;
  padding: 2px 6px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  max-width: fit-content;
}

.table-badge8 {
  text-wrap: nowrap;
  background-color: #adf7b6;
  color: black;
  padding: 2px 6px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  max-width: fit-content;
}

.table-badge9 {
  text-wrap: nowrap;
  background-color:  #b388eb;
  color: black;
  padding: 2px 6px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  max-width: fit-content;
}

.table-badge10 {
  text-wrap: nowrap;
  background-color: #fe6d73;
  color: black;
  padding: 2px 6px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  max-width: fit-content;
}

.table-badge11 {
  text-wrap: nowrap;
  background-color: #ffd6ba;
  color: black;
  padding: 2px 6px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  max-width: fit-content;
}

.back-button{
  cursor: pointer;
}

.npm-actions-btn {
  span {
    padding: 0 7px !important
  }
}

.button-alignment{
  margin-bottom: 22px;
}

.comp-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 16px;

  .comp-header-p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
}

.card-icon{
  color: #01a85a;
}
.success{
  color: #01a85a !important; 
}

.search-auto-fit {
  .btn-fill,
  .btn-line {
    margin-top: 6px;
  }
}
#matInput-size {
  mat-form-field,
  .mat-form-field {
    width: 250px;
  }
  .mat-form-field-flex {
    height: 44px !important;
  }
  .mat-form-field-empty.mat-form-field-label,
  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    position: relative;
    top: 16px;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    position: relative;
    top: -8px;
  }
  .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    font-size: 14px;
  }
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label,
  .mat-form-field-appearance-outline.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-1.2em) scale(0.75);
  }
  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(-2%);
  }
  .mat-form-field-appearance-outline .mat-form-field-prefix,
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -4px;
    mat-icon,
    .mat-icon {
      color: #757575 !important;
    }
  }
  .mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-suffix
    .mat-icon-button {
    top: 8px;
  }
}
#matTextarea-size {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .mat-form-field-flex {
    min-height: 44px;
  }
  .mat-form-field-empty.mat-form-field-label,
  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    position: relative;
    top: 8px;
  }
  .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    position: relative;
    top: 4px;
    font-size: 14px;
  }
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label,
  .mat-form-field-appearance-outline.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-1.2em) scale(0.75);
  }
  textarea {
    height: 24px;
    font-size: 14px;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-prefix,
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -4px;
    mat-icon,
    .mat-icon {
      color: #757575 !important;
    }
  }
}
#matCheckbox-size {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  row-gap: 0;
  column-gap: 10px;
  font-size: 14px;
  margin-top: 4px !important;
  .mat-checkbox-layout {
    color: #6e6e6e !important;
    text-wrap: nowrap;
    margin: 0 !important;
  }
  .matCheckbox-list {
    border: 1.4px solid #e0e0e0;
    background-color: white;
    width: fit-content;
    height: 100%;
    border-radius: 4px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}
#matRadio-size {
  border: 1.4px solid #e0e0e0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  width: fit-content;
  min-height: 40px;
  max-height: fit-content;
  border-radius: 4px;
  padding: 0 14px !important;
  margin-top: 4px !important;
  box-sizing: border-box;
  .mat-radio-label {
    margin: 0 !important;
    color: #6e6e6e !important;
  }
  .radio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 10px;
    row-gap: 0;
  }
}
#matChip-size {
  mat-form-field,
  .mat-form-field {
    width: 250px;
  }
  .mat-form-field-flex {
    height: auto;
    min-height: 44px;
  }
  .mat-form-field-empty.mat-form-field-label,
  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    position: relative;
    top: 8px;
  }
  .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    position: relative;
    top: -8px;
    font-size: 14px;
  }
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label,
  .mat-form-field-appearance-outline.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-1.2em) scale(0.75);
  }
  .mat-select {
    position: relative;
    top: -8px;
  }
  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(-2%);
  }
  .mat-form-field-appearance-outline .mat-form-field-prefix,
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -4px;
    mat-icon,
    .mat-icon {
      color: #757575 !important;
    }
  }
  .mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-suffix
    .mat-icon-button {
    top: 8px;
  }
  .mat-chip-list-wrapper .mat-standard-chip {
    margin: 0 !important;
  }
  .mat-standard-chip {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 28px;
    height: 1px;
  }
  .mat-chip-list-wrapper {
    gap: 4px;
  }
}

.t-branch-box {
  table {
    tr {
      td {
        border: none !important;
      }
    }
  }
}

.fileuploadinput{
  #matInput-size .mat-form-field {
    width: 100% !important;
}
}


.files-view-in-popup {
  display: flex;
  flex-direction: column;
  margin: 10px 0 8px 0;
  padding: 0 10px;

  code {
    margin-bottom: 4px;
    // font-weight: 600;
    // font-size: 16px;
    font-family: "poppins";
    color: black;
  }
}

.change-popup-downlaods {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
  cursor: pointer;
}

// .change-popup-chip {
//   border: 1px solid #b5cdd1;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 4px 10px;
//   border-radius: 50px;
//   font-size: 14px;
//   line-height: 16px;

//   &:hover {
//     // background-color: #78e382; // light green
//     // color: #007337; // dark green

//     background-color: #01a85a; 
//     color: #ffffff; 

//     mat-icon {
//       color: #ffffff; // icon color on hover
//     }
    
//   }

//   button {
//     background-color: transparent;
//     border: none;
//     margin-left: 8px;
//   }

// }

.change-popup-chip {
  border: 1px solid #b5cdd1;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  padding: 4px 10px;
  display: inline-block; // Ensures chips stay side-by-side
  max-width: 100%; // Prevent overflow

  .chip-content {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
  }

  .filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; // adjust as needed
  }

  .file-date {
    white-space: nowrap;
  }

  &:hover {
    background-color: #01a85a; 
    color: #ffffff;

    mat-icon {
      color: #ffffff;
    }
  }

  button {
    background-color: transparent;
    border: none;
    margin-left: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
.MarginLeftBottomprpoTotal{
  margin-left: 32px;
  margin-bottom: 20px;
}
// Package Overright
.filter-th-menu {
  text-wrap: nowrap !important;
}
// ::ng-deep .mat-form-field-wrapper {
//   padding-bottom: 1.25rem !important;
// }

.mat-form-field-wrapper {
  height: 70px !important;
}

.resize-table-inp {
  .mat-form-field-wrapper {
    height: 85px !important;
  }
}