.flex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4%;
}
.count_text{
    font-weight: 500;
    color: green;
    font-size: medium;
}
.count{
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: medium;
}
.text_center{
    text-align: center;
}
.text_right{
    text-align: right;
}