<div class="container" style="padding-top: 2%;">
    <h2 style="text-align: center;"> DSS Exception </h2>
    <div>
        <form [formGroup]="dssexception">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4" >
                        <mat-form-field class="example-full-width">
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="expdate" formControlName="excep_date" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="expdate">
                                <mat-icon  matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #expdate startView="multi-year" ></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2" >
                        <button type="submit" class="btn btn-outline-primary" (click)="dss_exception_summary(dssexception?.value)" style="border-radius:40px;height: 44px; margin-top: 12px;">
                            <i class="fa fa-search" aria-hidden="true">Search</i>
                        </button>
                    </div>
                    <div class="col-md-2" >
                        <button type="submit" class="btn btn-outline-primary" (click)="dss_exception_clear()" style="border-radius:40px;height: 44px; margin-top: 12px;">
                            Clear
                        </button>
                    </div>
                    <div class="col-md-2" style="    display: flex;
                    align-items: center;">
                        <button class="btn btn-outline-primary" matTooltip="Download" style="border-radius: 40px;" (click)="dss_exception_download(dssexception?.value)">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div style="padding-top: 2%;"  *ngIf="Excepition_table_hide">
        <div class="table-responsive" class="tablescroll" style="margin-top: 2%;width: 95%;margin-left: 10px;">
            <table class="table table scrolltable table-bordered">
                <thead class="table_header" style="text-align: center; background-color: #ddefdd;">
                    <tr style="white-space: nowrap;">
                        <th>S.No</th>
                        <th>GL.No</th>
                        <th>Description</th>
                        <th>Credit</th>
                        <th>Debit</th>
                        <th>Closing Balance</th>
                        <th>Opening Balance</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let excep of exp_data;let i=index">
                        <td>{{i + 1}}</td>
                        <td>{{excep.gl_no}}</td>
                        <td>{{excep.description}}</td>
                        <td style="text-align: end;">{{excep.credit | number : '1.2-2'}}</td>
                        <td style="text-align: end;">{{excep.debit | number :'1.2-2'}}</td>
                        <td  style="text-align: end;">{{excep.closing_balance | number:'1.2-2'}}</td>
                        <td  style="text-align: end;">{{excep.opening_balance | number :'1.2-2'}}</td>
                        <td>
                            <section class="example-section">
                                <mat-checkbox class="example-margin" (change)="edit_excep_data($event,excep)"></mat-checkbox>
                            </section>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <p style="text-align:center" *ngIf="show_button">No Data Found</p>
            </div>
        </div>
    </div>
    <div style="margin-left: 400px;padding-bottom: 2%;"  *ngIf="Excepition_table_hide">
        <button class="btn btn-outline-primary" style="border-radius: 40px;margin-left: 10px;" [hidden]="show_button" (click)="dss_exception_edit()">Submit</button>
    </div>
</div>