<div>
    <input style="padding:0" #fileinput class="fileinputbottom col-md-4" multiple (change)="fileget($event)" type="file"
        accept="image/*">
</div>

<br>

<table class="table table-bordered" id="rmutable" *ngIf="filedetailarray.length">
    <thead class="table_header">
        <th>S.No</th>
        <th>File Name</th>
        <th>View/Download</th>
        <th>Remove</th>
    </thead>
    <tbody *ngFor="let file of filedetailarray;index as ind">
        <td>{{ind+1}}</td>
        <td>{{file.name}}</td>
        <td>
            <button (click)="viewfile(ind)" id="rmubtn" mat-button data-toggle="modal" data-target="#fileview">
                <mat-icon>visibility</mat-icon>
            </button>

            <button id="rmubtn" mat-button>
                <mat-icon>download</mat-icon>
            </button>
        </td>
        <td>
            <button id="rmubtn" mat-button (click)="removefile(ind)">
                <mat-icon style="color:red">delete</mat-icon>
            </button>
        </td>
    </tbody>
</table>
<div class="modal fade" id="fileview" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header hdrclr">
                <h2 class="modal-title" id="exampleModalLongTitle">Attachment View</h2>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body">
                <h3>{{this.filename}}</h3>
                <br>
                <img *ngIf="!showpdf" [src]="fileSrc">
                <pdf-viewer *ngIf="showpdf" [src]="fileSrc" [original-size]="false" [render-text]='false'
                    [show-borders]="true" [fit-to-page]="true" [show-all]="true" style="display: block; height: 400px;"
                    [fit-to-page]="true">
                </pdf-viewer>
            </div>
            <div class="modal-footer">
                <button type="button" #actionclose id="rmubtn" class="btn btn-outline-secondary"
                    data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>