th{
    text-align:center;
    font-size: 15px;
  }
  tbody td {
    padding: 0.5em 0.1em 0.1em;
    font-size: 15px;
  }
  .text_key_color{
    font-weight: bold;
  }


.custom-modal-class .modal-dialog{
    max-width:fit-content;
    max-height: fit-content;
    overflow-y: hidden;
    overflow-x: hidden;
}
.custom-modal-class .modal-body{
max-height: calc(100vh - 200px);
min-height: fit-content;
overflow-y: auto;
overflow-x: auto;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}