<div class="container">
    <!-- <h3> Client Changes </h3> -->
    <div class="col-md-12 row">
        <div class=" col-md-5 ">
            <h3> Changes </h3>
        </div>
        <div class="col-md-7 text-right">
            <button type="button" class="btn btn-outline-primary" style="border-radius: 40px;margin-left: 10px;"
                (click)="Cancel()">Cancel</button>
        </div>
    </div>

    <body>

        <div class="timeline">
            <ul>
                <li>
                    <h3>New data</h3>
                </li>
                <li>
                    <h3>Old data</h3>
                </li>

                <li>
                    <div class="content">
                        <p><code>Policy No</code>:&nbsp;<span>{{ modificationdata.new_data.policy_no}}</span></p>
                                
                        <p><code>Start Date</code>:&nbsp;<span >{{ modificationdata.new_data.start_date}}</span></p>
                        <p><code>End Date</code>:&nbsp;<span >{{ modificationdata.new_data.end_date}}</span></p>
                        <p><code>Premium Amount</code>:&nbsp;<span >{{ modificationdata.new_data.premium_amount}}</span></p>
                        <p><code>Insured Value</code>:&nbsp;<span>{{ modificationdata.new_data.insurance_value}}</span></p>
                        <p><code>Vendor</code>:&nbsp;<span>{{ modificationdata.new_data.vendor_id.name}}</span></p>
                        
                    </div>

                </li>

                <li>
                    <div class="content" *ngIf="modificationdata.action==2">
                        <p><code>Policy No</code>:{{ modificationdata.old_data.policy_no}}</p>
                        <p><code>Start Date</code>:{{ modificationdata.old_data.start_date}}</p>
                        <p><code>End Date</code>:{{ modificationdata.old_data.end_date}}</p>
                        <p><code>Premium Amount</code>:{{ modificationdata.old_data.premium_amount}}</p>
                        <p><code>Insured Value</code>:{{ modificationdata.old_data.insurance_value}}</p>
                        <p><code>Vendor</code>:{{ modificationdata.old_data.vendor_id.name}}</p>
                        
                    </div>

                </li>


                <div style="clear:both;"></div>
            </ul>
        </div>
    </body>



    
</div>