::ng-deep .cdk-overlay-container {
    z-index: 1300 !important;
  }

::ng-deep .mat-chip-list-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  max-height: 65px;
  
  .mat-chip {
    flex: 0 0 auto;
  }
}