<h2 style="color: blueviolet;margin-left: 35px;;">FA-PV</h2>
<hr>
<form [formGroup]="assetgroupform" (ngSubmit)="finalSubmitted()">
    <div class="row">
        <div class="col-md-12">
                <mat-form-field style="width: 200px;margin-left: 25px;">
                    <mat-label>Asset ID Search</mat-label>
                    <input matInput placeholder="Asset" formControlName="Asset_id"  #assetidInput
                        autocomplete="off" [matAutocomplete]="autoasset" (keyup)='assetSearch()'>
                        <mat-autocomplete  #autoasset="matAutocomplete" #Asset_id>
                            <!-- <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let asset of listcomments"
                                        (focusout)="assetgrps_assetid(asset)" [value]="asset.barcode">
                                        {{asset.barcode}}
                                    </mat-option> -->
                                <!-- </ng-container> -->
                        </mat-autocomplete>
                </mat-form-field>
        <!-- </div> -->
    <!-- <div class="col-sm-3">
        <td>
            <mat-form-field style="width: 200px;margin-left: 25px;">
                <mat-label>Asset Edit Search</mat-label>
                <input matInput placeholder="Asset" formControlName="Asset_edit"  #assetideditInput
                    autocomplete="off" [matAutocomplete]="autoasset" (keyup)='assetEditSearch()'>
                    <mat-autocomplete  #autoasset="matAutocomplete" #Asset_id> -->
                        <!-- <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let asset of listcomments"
                                    (focusout)="assetgrps_assetid(asset)" [value]="asset.barcode">
                                    {{asset.barcode}}
                                </mat-option> -->
                            <!-- </ng-container> -->
                    <!-- </mat-autocomplete>
            </mat-form-field>
        </td>
    </div> -->
    <!-- <div class="col-sm-2">
            <mat-form-field (click)="asset_category()" style="width: 200px;margin-left: 25px;">
                <mat-label>Asset Category</mat-label>
                <input #categoryInput placeholder="Select Asset Category" matInput formControlName="asset_cat"
                    [matAutocomplete]="categoryAutoComplete">
                <mat-autocomplete #categoryAutoComplete="matAutocomplete" 
                    (opened)="autocompleteScrollcategory()">
                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let category of category" [value]="category.subcatname" (focusout)="categoryClick(category)">
                            {{category.subcatname}}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
    </div> -->
    <!-- <div class="col-sm-2"> -->
            <!-- <mat-form-field style="width: 200px;margin-left: 25px;">
                <mat-label>Product Search</mat-label>
                <input #inputproduct placeholder="Select Asset Category" matInput formControlName="product"
                    [matAutocomplete]="products">
                <mat-autocomplete #products="matAutocomplete"
                    (opened)="autocompletecommodityScroll_product()">
                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let d of product" [value]="d.name" (focusout)="product12(d)">
                            {{d.name}}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field> -->

            <mat-form-field style="width: 350px;margin-left: 25px;" (click)="productchip()">
                            <mat-label>Product</mat-label>
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let prod of chipSelectedproduct" [selectable]=true
                                    [removable]=true (removed)="removeproduct(prod)">
                                    {{prod.name}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input #productInput [formControl]="prod_Control" [matAutocomplete]="auto"
                                    [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]=true>
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="productSelected($event)">
                                <mat-option *ngFor="let product of allproductList" [value]="product">
                                    {{product.name}}
                                </mat-option>
                            </mat-autocomplete>
            </mat-form-field>
    <!-- </div> -->
    <!-- <div class="col-sm-2">
        <mat-form-field style="width: 200px;margin-left: 25px;">
            <mat-label>Asset Capdate</mat-label>
            <input matInput  [matDatepicker]="picker1" assetmakerplaceholder="Start Date" autocomplete="off"
                formControlName="invoicedate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div> -->
    <!-- <div class="col-sm-2"> -->
            <mat-form-field style="width: 200px;margin-left: 25px;">
                <mat-label>Asset Cost</mat-label>
                <input matInput placeholder="Asset" formControlName="asset_cost"  #assetidInput [step]="0.1"
                    autocomplete="off" [matAutocomplete]="autoasset" (keypress)="keyPressNumbers($event)">
                    <mat-autocomplete  #autoasset="matAutocomplete" #Asset_id>
                    </mat-autocomplete>
            </mat-form-field>
    <!-- </div>
    <div class="col-sm-2"> -->
            <mat-form-field style="width: 200px;margin-left: 25px;">
                <mat-label>CR No.</mat-label>
                <input matInput placeholder="Asset" formControlName="crno"  #assetidInput
                    autocomplete="off"  >
                    
            </mat-form-field>
    <!-- </div>
    <div class="col-sm-2" *ngIf="is_admin_branch"> -->
        <mat-form-field *ngIf="is_admin_branch" (click)="getbranchcode()" style="width: 200px;margin-left: 25px;">
            <mat-label>Branch</mat-label>
            <input #branchInput placeholder="Branch" matInput formControlName="branch_admin"
                (keyup)="getbranchcode()" [matAutocomplete]="is_branch">
            <mat-autocomplete #is_branch="matAutocomplete" [displayWith]="display_branch"
                    (opened)="autocompletebranchcodeScroll()">
                <mat-option *ngFor="let branch of branch_code_list" [value]="branch">
                    {{branch.code}}-{{branch.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field style="width:200px;margin-left:25px" (click)="itod_dropdown()">
            <mat-label>IT/OD</mat-label>
            <input type="text" #itodinput placeholder="IT/OD" matInput formControlName="itod" (keyup)="itod_dropdown()"[matAutocomplete]="is_itodauto">
            <mat-autocomplete #is_itodauto="matAutocomplete"[displayWith]="display_idod">
                <mat-option *ngFor="let list of itod_list" [value]="list">{{list.name}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field style="width:200px;margin-left:25px">
            <mat-label>Status</mat-label>
                <mat-select formControlName="fapvsts">
                    <mat-option *ngFor="let item of fapvstatus" [value]="item.value"> {{ item.name }}</mat-option>
                </mat-select>                 
         </mat-form-field>
    <!-- </div> -->
    <!-- </div>
    <div class="row"> -->
    
    
    
    <!-- <div class="col-sm-3">
        <td>

            <mat-form-field class="example-full-width">
                <mat-label>Branch</mat-label>
                <input class="toolbar-search" type="text" matInput autocomplete="off" matInput [matAutocomplete]="checkerbranch" [hidden]="hideBranch" #branchidInput formControlName="branch" style="width:250px">
                <mat-placeholder>Branch</mat-placeholder>
                <mat-autocomplete #checkerbranch="matAutocomplete" #branch (opened)="autocompleteScroll_branch()">
                    <mat-option *ngIf="isLoading">Loading..</mat-option>
                    <ng-container>
                        <mat-option *ngFor="let d of branchdata" [value]="d.name" (focusout)="checker_branchs(d)">
                            {{d.name}}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
        
        </td>
    </div> -->
    <!-- <div class="col-md-5"> -->
            <button
              mat-mini-fab
              color="success" matTooltip="Search" 
              aria-label="search icon" (click)="searchPV()"
              style="margin-left: 25px;background-color: rgb(82, 134, 86);">
              <mat-icon>search</mat-icon>
            </button>
            <button type="button" (click)="resetdata(fileinput)"  mat-raised-button color="success" style="margin-left: 10px;background-color: rgb(82, 134, 86);">Reset</button>
            <button
              mat-mini-fab
              color="success" matTooltip="Go Back" style="margin-left: 10px;background-color: rgb(82, 134, 86);"
              aria-label="arrow back icon" routerLink="/fa/fa"
            >
            <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-raised-button color="primary" style="margin-left: 10px;" [disabled]="addRowDisable==true || addRowOnce==true" matTooltip="Add Row" (click)="addItem()">Add</button> 
            <button type="button" (click)="pvreport_prepare()"  mat-raised-button color="success" style="margin-left: 10px;background-color: rgb(82, 134, 86);">FA-PV Report Prepare</button>
            <button type="button" (click)="Fapv_exceldownload()"  mat-raised-button color="success" style="margin-left: 10px;background-color: rgb(82, 134, 86);">Excel Download</button>
            <!-- <button type="button" (click)="Fapv_pdfdownload()"  mat-raised-button color="success" style="margin-left: 10px;background-color: rgb(82, 134, 86);">PDF Download</button> -->

            <!-- <button type="button"  mat-raised-button color="success" style="margin-left: 10px;background-color: rgb(82, 134, 86);"
             data-toggle="modal" data-target="fapvreportmodal">FA-PV Report</button> -->
      <!-- </div> -->
       </div>
    </div>
</form>
<br>
    <div class="Container" style="margin-left: 2%;">
        <h1 style="font-family: 'Times New Roman', Times, serif;color: blue;font-size: 15px;">FA-PV File Download And Upload</h1>
        <table class="table table-bordered">
            <tr>
                <th>S.No</th>
                <th>FA-PV File Prepare</th>
                <th>FA-PV File Download</th>
                <th>FA-PV File View   <button class="btn refresh_status" (click)="resfresh()"><mat-icon>refresh</mat-icon></button></th>
                <th>FA-PV File Select</th>
                <th>FA-PV FIle Upload</th>
            </tr>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" style="border-radius: 30px;" (click)="fapvfilepreparePV()" >FA-PV File Prepare 
                            <mat-icon *ngIf="first"><mat-spinner color="accent" diameter="20">
                            </mat-spinner></mat-icon>
                            <mat-icon *ngIf="!first" inline=true style="color:black" >download</mat-icon>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" style="border-radius: 30px;" (click)="fapvfiledownload()">FA-PV File Download</button>
                    </td>
                    <td>{{filedetails}}</td>
                    <td>
                        <input type="file" accept="xlsx" #fileinput (change)="fapvfileget($event)">
                    </td>
                    <td>
                        <button type="fapvfileafteruploadPV()"class="btn btn-outline-primary" style="border-radius: 30px;" (click)="fapvfileafterupload(fileinput)">Upload</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div  style="margin-left: 10px;">
    <div class="table-responsive" style="width:98%;">
    <form [formGroup]='assetsave' (ngSubmit)="savesub()">
       <table class="table table-bordered">
           <thead class="table_header" >
               <tr>
                   <th>S.No</th>
                   <th>Asset ID</th>
                   <th>Product Name</th>
                   <th>Branch Code</th>
                   <th>Branch Name</th>
                   <th>Asset Cost</th>
                   <th>Asset Value</th>
                   <th>Status</th>
                   <th>Asset Transfer To Branch</th>
                   <th>Asset Tag</th>
                   <th>Asset Make</th>
                   <th>Asset Model</th>
                   <th>Asset Specification</th>
                   <th>Serial NO</th>
                   <!-- <th>KVB Asset ID</th> -->
                   <th>CR Number</th>
                   <th>PV Status</th>
                   <th>Condition</th>
                   <th>Asset Used By</th>
                   <th>Employee Designation</th>
                   <th>Remarks</th>
                   <th>Image Upload</th>
                   <th>Document View</th>
                   <th>Action</th>
               </tr>
           </thead>
           <tbody formArrayName="listproduct">
            <tr  *ngFor="let assetcat of assetsave.controls.listproduct['controls']; index as listIndex" 
            [ngClass]="assetcat.is_Checked ? 'changeColor':''"  [formGroupName]="listIndex">
                <th scope="row"><div style="padding-top: 3vh;">{{ (presentpagebuk-1)*pageSize+listIndex+1 }}</div></th>
                        <td>
                            <!-- appearance="None" -->
                            <mat-form-field [ngClass]="dummyboolean?'form-field--read':''">
                                <input class="textstylenull" type="text" matInput autocomplete="off" [readonly]="readOnly" formControlName="barcode"  [value]=assetcat.barcode>
                            </mat-form-field>
                        </td>
                        <td>
                            <!-- <mat-form-field style="width:300px;" [ngClass]="dummyboolean?'form-field--read':''">
                                <input type="text" matInput autocomplete="off" [readonly]="readOnly" formControlName="product_name" [value]=assetcat.product_id>
                            </mat-form-field> -->
                             <mat-form-field style="width: 200px;margin-left: 25px;"(click)="get_productdatas(listIndex)">
                                <mat-label>Product </mat-label>
                                <input #inputproduct placeholder="Product" matInput formControlName="product" (keyup)="get_productdatas(listIndex)" [readonly]="readOnly" formControlName="product_name" [value]=assetcat.product_id [matAutocomplete]="products">
                                <mat-autocomplete #products="matAutocomplete" (opened)="autocompletecommodityScroll_product()">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                        <mat-option *ngFor="let d of product" [value]="d.name" (focusout)="product12(d)">
                                           {{d.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field> 
                        </td>
                        <td>
                            <mat-form-field [ngClass]="dummyboolean?'form-field--read':''">
                                <input type="text" matInput autocomplete="off" [readonly]="readOnly" formControlName="branch_code" [value]=assetcat?.branch_id?.code>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field [ngClass]="dummyboolean?'form-field--read':''">
                                <input type="text" matInput autocomplete="off" [readonly]="readOnly" formControlName="branch_name" [value]=assetcat?.branch_id?.name>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field [ngClass]="dummyboolean?'form-field--read':''">
                                <input type="number" style="text-align: right; float: inline-end;" matInput autocomplete="off" (keypress)="decimalFilter($event)" [readonly]="readOnly" formControlName="asset_cost" [value]=assetcat.assetdetails_cost>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field [ngClass]="dummyboolean?'form-field--read':''">
                                <input type="number" style="text-align: right; float: inline-end;" matInput autocomplete="off" (keypress)="decimalFilter($event)" [readonly]="readOnly" formControlName="asset_value" [value]=assetcat.assetdetails_value>
                            </mat-form-field>
                        </td>
                        <td>

                            <mat-form-field appearance="fill">
                                <mat-label>None</mat-label>
                                <mat-select formControlName="status">
                                  <mat-option *ngFor="let stat of status" [value]="stat.value" (click)="edit(stat.value,listIndex)">
                                    {{stat.viewValue}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
            
                        </td>
                        <td>
                            <mat-form-field (click)="get_transferbranch(listIndex)" style="width: 200px;">
                                <mat-label>Branch</mat-label>
                                <input #branchstsInput placeholder="Branch" matInput formControlName="asset_tfr_id"(keyup)="get_transferbranch(listIndex)"  [matAutocomplete]="is_branchsts">
                                <mat-autocomplete #is_branchsts="matAutocomplete" [displayWith]="display_assetbranch"
                                     (opened)="autocompletebranchtransfer_Scroll()">
                                    <mat-option *ngFor="let branch of branchlist_sts" [value]="branch">
                                     {{branch.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                        <td>
                            
                            <mat-form-field>
                            
                            <input type="text" matInput autocomplete="off" [readonly]='statusCheck' (keyup)='product1()' formControlName="asset_tag" required>
                            <button matSuffix type="button" class="close" (click)='asset_tag_remove(listIndex)' >X</button>
                            
                        </mat-form-field>
                        
                    </td>
                    <td>
                            
                        <mat-form-field>
                        
                        <input type="text" matInput autocomplete="off"  (keyup)="make1()" formControlName="make" required>
                        <!-- <button matSuffix type="button" class="close" (click)='make_remove(listIndex)' >X</button> -->
                        
                    </mat-form-field>
                    
                </td>
                <td>
                            
                    <mat-form-field>
                    
                    <input type="text"  matInput autocomplete="off"  formControlName="model" required>
                    <!-- <button matSuffix type="button" class="close"  >X</button> -->
                    
                </mat-form-field>
                
                </td>
                <td>
                    <mat-form-field>
                        <input type="text" matInput autocomplete="off" formControlName="product_spec" required >
                    </mat-form-field> 
                </td>
                <td>
                            
                    <mat-form-field>
                    
                    <input type="text" matInput autocomplete="off"  (keyup)="serial()" formControlName="serial_no" required>
                    <button matSuffix type="button" class="close" (click)='serial_no_remove(listIndex)' >X</button>
                    
                </mat-form-field>
                <button *ngIf="assetcat.value.serial_no_btn_enb" type="button" color="primary" mat-mini-fab style="float: right;" (click)="fa_serial_number_update(assetcat,listIndex)" matTooltip="Update Serial No"><mat-icon>check</mat-icon></button>
                
            </td>
            <!-- <td> -->
                            
                <!-- <mat-form-field style="width:250px;"> -->
                
                <!-- <input type="text" matInput autocomplete="off" [readonly]='readOnly' [value]=assetcat.description (keyup)="kvb_asset_id1()" formControlName="kvb_asset_id" required> -->
                <!-- <button matSuffix type="button" class="close" (click)='kvb_asset_id_remove(listIndex)' >X</button> -->
                
            <!-- </mat-form-field> -->

            <!-- </td> -->
            <td>
                            
                <mat-form-field>
                
                <input type="text" matInput autocomplete="off" [readonly]='readOnly' [value]=assetcat?.invoice_id?.ecfnum (keyup)="crnum1()" formControlName="crnum" required>
                <!-- <button matSuffix type="button" class="close" (click)='crnum_remove(listIndex)' >X</button> -->
                
            </mat-form-field>

            </td>
            <td>
                <mat-form-field>
                    <input type="text" matInput autocomplete="off" [readonly]='readOnly' [value]=assetcat?.pv_approved_status  formControlName="pvsts" required>
                </mat-form-field>
                <span><input type="text" matInput autocomplete="off" [readonly]='readOnly' [value]=assetcat?.pv_checker_date  formControlName="pvsts_date"></span>
            </td>
            <td>

                <mat-form-field appearance="fill">
                    <mat-label>None</mat-label>
                    <mat-select formControlName="condition">
                      <mat-option *ngFor="let con of conditions" [value]="con.value" [disabled]='statusCheck' (click)="condition()">
                        {{con.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

            </td>
            <td>
                <mat-form-field (click)="get_assetowner_employee(listIndex)" style="width: 200px;">
                    <mat-label>Employee</mat-label>
                    <input #assetownerInput placeholder="Employee" matInput formControlName="asset_owner"(keyup)="get_assetowner_employee(listIndex)"  [matAutocomplete]="is_assetowner">
                    <mat-autocomplete #is_assetowner="matAutocomplete" [displayWith]="display_assetowner"
                                     (opened)="autocompleteScroll_assetowner(listIndex)">
                    <mat-option *ngFor="let emp of assetowner_lists" [value]="emp" (click)="getassetownerdesg(emp,listIndex)">{{emp.full_name}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </td>
            <td>
                 <mat-form-field>
                    <input type="text" matInput autocomplete="off" [readonly]='readOnly'  formControlName="asset_owner_desg" required>
                </mat-form-field>
            </td>
            <td>
                            
                <mat-form-field>
                
                <input type="text" matInput autocomplete="off" (keyup)="remarks1()" formControlName="remarks" required>
                <button matSuffix type="button" class="close" (click)='remarks_remove(listIndex)' >X</button>
                
            </mat-form-field>
            
        </td>
        <td >
                                    
            <ng-container>
                <input #fileInput type="file" formControlName="images" multiple (change)="getFileDetails(listIndex,$event,fileInput.value)"
                    [disabled]="assetcat.billChecked" style="width: 250px;" >

        </ng-container>
    

    <div *ngFor="let file of assetcat.files; index as fileIndex">
        <div><a data-toggle="modal" data-dismiss="modal" data-target="#exampleModal" (click)="imagess(assetcat['images'][fileIndex])">* {{file}}</a>
        <button type="button" (click)="deleteRow(listIndex, fileIndex); fileInput.value = ''"
            class="btn btn-primary" style="height:30px">X</button>
        </div>
    </div>

</td>
 <!-- (click)="assetcat?.documents_data === '' ? documents(assetcat?.documents_data) : ''" -->
<td>
  <i class="material-icons"
     matTooltip="Document"
     data-toggle="modal"
     data-target="#exampleModal1"
    (click)="assetcat?.value?.documents_data === '' ? '' : documents(assetcat?.value?.documents_data)"
   [ngStyle]="{color: assetcat?.value?.documents_data == '' ? 'gray' : 'green',
      cursor: assetcat?.value?.documents_data == '' ? 'not-allowed' : 'pointer',
      'margin-left': '10%'}">
    description
  </i>
</td>

    <td><!--[disabled]="!statusCheck" -->
        <div *ngIf='save_btn==false'>
            <button mat-raised-button color="primary"  (click)="savePV(assetcat,listIndex)" >Save</button>
            <button mat-icon-button color="warn" [hidden]="addrowRemove" matTooltip="Remove" style="align-items: center;" (click)="remove(assetcat,listIndex)" >
                <mat-icon>remove_circle_outline</mat-icon>
            </button>
        </div>
        <div *ngIf='save_btn==true'>
            <button mat-raised-button color="accent"  (click)="update(assetcat,listIndex)" >Update</button>
            <button mat-icon-button color="warn" [hidden]="addrowRemove" matTooltip="Remove" style="align-items: center;" (click)="remove(assetcat,listIndex)" >
                <mat-icon>remove_circle_outline</mat-icon>
            </button>
        </div>
    </td>
    </tbody>
       <tfoot>
            <td class="text-left" colspan="2">
                <span>Total Count:<br/> <b
                        class="text-centre"> {{pageLength_popup}}</b></span>
            </td>
        </tfoot>
        </table>
    </form>
        <div class="row">
        <div class="col-sm-12" style="font-size: small;text-align: right;margin-bottom: 100px;">
                    <button mat-icon-button [disabled]="has_previousbuk === false" color="primary"
                        (click)=" bukpreviousClick()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    {{presentpagebuk}}
                    <button mat-icon-button [disabled]="has_nextbuk === false" color="primary" (click)=" buknextClick()">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
        <!-- <pagination-controls  id="listing_pagination" maxSize="9" directionLinks="true" (pageChange)="page = $event"></pagination-controls> -->
        <!-- <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls> -->
                    </div>
                </div>
                </div>
    <!-- </div> -->
    </div>
    <ngx-spinner
    bdOpacity = 0.9
    bdColor = "rgba(51,51,51,0.8)"
    size = "default"
    color = "#fff"
    type = "ball-scale-multiple"
    [fullScreen] = "false">
    <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    <br>
    <br> 

      <!-- <div class="modal fade" id="fapvreportmodal"  role="dialog" tabindex="-5" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:rgb(62,178,113)">
                        <h2 style="margin-left: 32%;">FA-PV Report Download</h2>
                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body"></div>
            
                    <div class="modal-footer">
                        <button class="btn btn-outline-danger"
                            style="border-radius: 40px;height: 40px;margin-left: 50px;"
                            data-dismiss="modal">Back</button>
                    </div>
                </div>
            </div>
        </div> -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 700px;">
            <div class="modal-header" style="width: 700px; ">
                <h5 class="modal-title" id="exampleModalLabel" style="text-align: left; font-size: large;"><b>Document View</b></h5>
                <button type="button" class="close" data-dismiss="modal" #closepopup aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr style="background-color: #00800021">
                        <th>S.No</th>
                        <th>File Name</th>
                        <th>Action</th>
                    </tr>
                    <tr *ngFor="let document of document_list;let i=index">
                        <td>{{i + 1 }}</td>
                        <td>{{document.file_name}}</td>
                        <td>
                            <button type="button" mat-icon-button matTooltip="Download" class="iconbutton"
                                color="primary" (click)="downloadfiledocument(document)"
                                style="border-radius:40px;">
                                <mat-icon class="enabled_icon">download</mat-icon>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>