.mat-fab.mat-success {
    color: #f0fff3;
    background-color: #56aa6a;
  }

  .highlighted {
    animation: highlight 3s;
}

@keyframes highlighted {
    0% {
        background: red
    }
    100% {
        background: none;
    }
}

::ng-deep .colorRed{
    color:red
}

.changeColor{
    background-color: rgb(104, 194, 104);
}

.addbtn{
    top: 10px;
}

// .textstylenull {
//     border: none;
//     background-color: transparent;
//     resize: none;
//     outline: none;
// }

.textstylenull {
    background-color: transparent;
    border: none;
    height: 20px;
    width: 160px;
}

.floatright{
    float:right;
}

::ng-deep .form-field--read .mat-form-field-underline {
    display: none;
}