<div class="modal-body">
  <!-- <h3>Client Edit Form</h3> -->

  <form
    [formGroup]="clientEditForm"
    autocomplete="off"
    class="d-flex flex-column"
  >
  <div id="matInput-size">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
        type="text"
        (keypress)="addressvalidation($event)"
        autocomplete="off"
        required
      />
    </mat-form-field>
  </div>

    <h3>Address</h3>
    <div [formGroup]="clientEditForm.controls.address" class="flex-for-sepDate">
      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Address 1</mat-label>
          <input
            matInput
            formControlName="line1"
            type="text"
            (keypress)="addressvalidation($event)"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </div>

      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Address 2</mat-label>
          <input
            matInput
            formControlName="line2"
            type="text"
            (keypress)="addressvalidation($event)"
            autocomplete="off"
          />
        </mat-form-field>
      </div>

      <div id="matInput-size">
        <mat-form-field appearance="outline">
          <mat-label>Address 3</mat-label>
          <input
            matInput
            formControlName="line3"
            type="text"
            (keypress)="addressvalidation($event)"
            autocomplete="off"
          />
        </mat-form-field>
      </div>

      <lib-vs-dynamicform-cmp
        class="package-width"
        [formGroup]="clientEditForm.controls.address"
        [InputFields]="pincodeeditfield"
        (dataEvent)="pincodeeditdata($event)"
      ></lib-vs-dynamicform-cmp>
      <!-- <mat-form-field (click)="pincodename()" appearance="outline">
                                    <mat-label>Pin Code</mat-label>
                                    <input #pinCodeInput matInput maxlength="6"
                                        formControlName="pincode_id" autocomplete="off" [matAutocomplete]="pintype" required>
                                    <mat-autocomplete #pintype="matAutocomplete" [displayWith]="displayFnpin"
                                        (opened)="pinCodeScroll()">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let pin of pinCodeList" (focusout)="pinCode(pin)"
                                                [value]="pin">
                                                {{pin.no}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field> -->

      <lib-vs-dynamicform-cmp
        class="package-width"
        [formGroup]="clientEditForm.controls.address"
        [InputFields]="cityeditfield"
        (dataEvent)="cityeditdata($event)"
      ></lib-vs-dynamicform-cmp>
      <!-- <mat-form-field  (click)="cityname()" appearance="outline">
                                    <mat-label>City</mat-label>
                                    <input #cityInput matInput formControlName="city_id" autocomplete="off" maxlength="6"
                                        [matAutocomplete]="autocit" required>
                                    <mat-autocomplete #autocit="matAutocomplete" [displayWith]="displaycit"
                                        (opened)="cityScroll()">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let city of cityList" (focusout)="citys(city)"
                                                [value]="city">{{city.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field> -->

      <lib-vs-dynamicform-cmp
        class="package-width"
        [formGroup]="clientEditForm.controls.address"
        [InputFields]="districteditfield"
        (dataEvent)="districteditdata($event)"
      ></lib-vs-dynamicform-cmp>
      <!-- <mat-form-field (click)="districtname()" appearance="outline">
                                    <mat-label>District</mat-label>
                                    <input #districtInput matInput formControlName="district_id"
                                        autocomplete="off" [matAutocomplete]="autodis" required>
                                    <mat-autocomplete #autodis="matAutocomplete" [displayWith]="displaydis"
                                        (opened)="districtScroll()">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let district of districtList" (focusout)="districts(district)" [value]="district">
                                                {{district.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field> -->

      <!-- <mat-form-field (client)="statename()" appearance="outline">
                                    <mat-label>State</mat-label>
                                    <input #stateInput matInput formControlName="state_id"
                                        autocomplete="off" [matAutocomplete]="statetype" required>
                                    <mat-autocomplete #statetype="matAutocomplete" [displayWith]="displayFnstate"
                                        (opened)="stateScroll()">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let state of stateList" (focusout)="states(state)" [value]="state">
                                                {{state.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field> -->

      <lib-vs-dynamicform-cmp
        class="package-width"
        [formGroup]="clientEditForm.controls.address"
        [InputFields]="stateeditfield"
        (dataEvent)="stateeditdata($event)"
      ></lib-vs-dynamicform-cmp>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="onCancelClick()"
  >
    Cancel
  </button>
  <button type="submit" class="btn btn-outline-primary"
  (click)="clientEditForm_()">Submit</button>
</div>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  [fullScreen]="true"
  type="ball-spin-clockwise"
>
  <p>Please Wait.</p>
</ngx-spinner>
