.headertitle{
    margin-left: 3%;
} 

.spacebtwfield{
    margin-left: 20px;
}

.buttonsize{
    border-radius:40px;
    margin-left: 50px;
}

.radiobtnwdth{
    margin-left: 10px;
}

.plusreset{
    margin-top: -4%;
    margin-left: 80%;
}

tbody td {
	padding: 0.5em 0.1em 0.1em;
}
.cursor{
    cursor: pointer;
}
th, td{
    text-align:center;
}
.NodataAlign{
    text-align: center;
}

.table td.rightalign {
    text-align: right;
}

.table td.leftalign {
    text-align: left;
}

// .block1, .plusreset
// {
//     display:inline;
// }
// #block_container {
//     display: flex;
//     justify-content: center;
// }

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
  }
  
.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  .mat-slider-horizontal {
    width: 200px;
  }
  
  .mat-slider-vertical {
    height: 200px;
  }

 ::ng-deep { .cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } }
//.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 

  .buttonsizeScrollTop{
    border-radius:25px;
}
.buttonsizeTC{
    border-radius:40px;
    margin-left: 26px;
    height:37px
}

.none{
    border: none !important;
    background: transparent !important;
    margin-right: 15px;
    font-size: 20px;
    margin-top: 15px;
}
button[disabled]{
    cursor: not-allowed
}
::ng-deep .note-editor .note-editing-area .note-editable table td, .note-editor .note-editing-area .note-editable table th{
    // border: 1px solid black !important;
    // padding: 5px 3px !important;
    border: '1' !important;
    border-color: black !important;
}
::ng-deep .note-editor .note-editing-area .note-editable table td, 
::ng-deep .note-editor .note-editing-area .note-editable table th {
  /* Only for visual purposes inside the editor */
  border: 1px solid black !important;
  padding: 5px 3px !important;
}
.tableStyle{
    max-height: 430px !important;
    width: 96%;
    text-align: center;
    // margin-left: 27px;
    font-size: 14px;
    // padding: 25px;
  }
  .table_header{
    position: sticky;
    top: -1px;
    z-index: 10;
    font-weight: 600;
  }
  input[readonly]{
    cursor: not-allowed;
  }
  input[disabled]{
    cursor: not-allowed;
  }
  .tableStyle::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .tableStyle::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .tableStyle::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: transparent;
  }
  
  .tableStyle:hover::-webkit-scrollbar-thumb {
    background: #a6a6a6;
    cursor: pointer;
  }
  // button{
  //   border-radius: 40px;
  // }
  .desc{
    width: 200px !important;
  }
  mat-card-title{
    font-size: 17px;
  }
  ::ng-deep .mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
  }
  ::ng-deep .mat-tab-label, .mat-tab-link {
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    // opacity: -17;
}

// .mat-menu-item {
//   height: inherit;
//   width: inherit;
// }
.custom-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 998; /* Ensure it's above everything except menu */
}
.custom-list {
  list-style-type: none; /* Removes default bullets */
  // padding: 0;
  margin-top: 10px;

}
::ng-deep .mat-menu-panel {
  width: 470px !important;
  min-width: 112px;
  /* max-width: 280px; */
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
}
.custom-list li {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
}
// li {
//   list-style-type: square;
// }
/* Custom mat-menu width */
// ::ng-deep .custom-mat-menu .mat-menu-panel {
//   width: 400px !important; /* Adjust width */
//   // max-width: 600px !important; /* Optional max width */
// }
.icons{
  font-size: 18px;
  margin-top: 11px;
  margin-left: 2px;

}
.input-wrapper {
  display: flex;
  align-items: center; 
}
.cancel{
  margin-left: 8px;
  color: gray;
  cursor: pointer;
  font-size: 19px;
  margin-top: -5px;
}
.AmountInput{
  outline: none !important;
  width: 50px !important;
  border-bottom: 2px solid #80808087;
  // padding-bottom: 0px;
  margin-bottom: 4px;
}
.DisplayNone{
  display: none;
}
.linestyle{
  font-size: 17px;
  font-weight: bold;
}
.DisplayLines{
  display: flex;
  
}
.PointereventsNoneDisabled{
  pointer-events: none;
  opacity: 0.5;
}

