// .btn-outline-success {

//     border-radius: 40px;
//     margin-top: 6%;
    
// }

.drop-down {
    float: right;
    margin-right: 15px;
}

.main-content {
    margin-left: 50px;
}
.input-style {
    width: 250px;
}
.input-style2 {
    width: 250px;
    margin-left: 60px;
}
.input-style3 {
    width: 200px;
}

.btn-outline-primary {
    border-radius: 40px;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 14px;
}
.btn-outline-danger {
    border-radius: 40px;
    float: right;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 14px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }


.iconbutton:hover{
    background-color: lightblue;
}
.center th,.center td
{
    text-align:center;
}
.modal-dialog-centered{
    max-width:fit-content;
    max-height: fit-content;
    overflow-y: hidden;
    overflow-x: hidden;
}
.modal-body{
max-height: calc(100vh - 200px);
min-height: fit-content;
overflow-y: auto;
overflow-x: auto;
}

// .comment-box {
//     width: 50%;
//     height: 50%;
//     // float: ;
//     margin-bottom: 15px;
//     border-radius: 5px;
// }

// .float-child {
//     float: left;
// } 

// .foo {
//     // width: 96%;
//     margin-top: 2%;
//     width: 100%;
//     border: 1px solid black;
//      padding: 25px;
// }
// .foo p {
//     display: inline-block;
//     width: 35%;

// }